<app-inner-header-center [page_title]="'MERAVIGLIOSO MEDITERRANEO'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<div>
<section id="preventiv" *ngIf="detailsPreventiv">
	<div class="container">

		<!-- ITENERARY TABLE -->
		<div class="row extra-top">
			<div class="col-lg-6">
				<div class="image-info text-center">
					<hr>
					<h2>il tuo preventivo  <br><span>n {{detailsPreventiv.preventiv_nr}}</span> </h2>
					<img src="../../assets/img/small.png">
				</div>
				<div class="next-offer">
					<p>TOTAL  <strong>{{detailsPreventiv.total_price}} €</strong></p>
				</div>
			</div>
			<div class="col-lg-6">
				<table class="all-in-price">
					<tr>
						<td><img src="../../assets/img/icons/ship.png" alt=""> Compagnia</td>
						<td class="bg">{{detailsPreventiv.company}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/speranc.png" alt=""> Nave</td>
						<td class="bg">{{detailsPreventiv.ship}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/extra.png" alt=""> Formula</td>
						<td class="bg">{{detailsPreventiv.formula}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/time.png" alt=""> Data Di Partenza</td>
						<td class="bg">{{detailsPreventiv.departure_date}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/begin.png" alt=""> Data Di Rientro</td>
						<td class="bg">{{detailsPreventiv.data_di_rientro}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/calendar.png" alt=""> Durata</td>
						<td class="bg">{{detailsPreventiv.duration}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/light.png" alt=""> Porto Di Partenza</td>
						<td class="bg">{{detailsPreventiv.port}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/user.png" alt=""> Passeggeri</td>
						<td class="bg">{{detailsPreventiv.passengers}}</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- ITINERARY DETAILS -->
		<div class="row extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">ITINERARY DETAILS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<table class="ItinerarioTable">
					<tbody>
						<tr>
							<th>Giorni</th>
							<th>Porto</th>
							<th>Arrivo</th>
							<th>Partenza</th>
						</tr>
						<tr data-elid="149918" *ngFor="let single of detailsPreventiv.itinerary">
							<td class="bg">{{single.day}}</td>
							<td>{{single.port}}</td>
							<td class="bg">{{single.arrival}}</td>
							<td>{{single.departure}}</td>
						</tr>
					</tbody>
				</table> 
				<button type="button" class="btn btn-blue" (click)="resize()"  data-toggle="modal" data-target="#myModal">Open itinerary map</button>
				 <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
						        <div class="modal-header">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h4 class="modal-title">Itinerario Map</h4>
						        </div>
						        <div class="modal-body">
						          	<agm-map #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" (mapClick)="mapClicked($event)">
									 	<agm-marker *ngFor="let m of markers; let i = index"
					          						[latitude]="m.lat" [longitude]="m.lng"  [title]="m.title" [label]="m.description" [openInfoWindow]="false">
					          				<agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
										      <ng-template>
										        <div [innerHTML]="snazzy_info[i].content"></div>
										      </ng-template>
										    </agm-snazzy-info-window>
					          			</agm-marker>
									 	<agm-polyline [geodesic]=true [strokeWeight]="7">
									 		<div *ngFor="let m of markers; let i = index" >
									 			<agm-polyline-point  [latitude]="m.lat" [longitude]="m.lng"></agm-polyline-point>
									 		</div>
									 	</agm-polyline>
									 </agm-map>
						        </div>
						        <div class="modal-footer">
						          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
					      </div>
					      
					    </div>
				  </div>
			</div>
			<div class="col-lg-5">
				<div class="ItinerarioImage">
					<img src="{{detailsPreventiv.cabine_image}}" alt="cruisetopic">
					<div class="blue-bg-caption">
						<p>LA TUA CABINA</p>
					</div>
				</div>
			</div>
		</div>

		<!-- IL TUO PREVENTIVO -->
		<div class="row  extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">IL TUO PREVENTIVO</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form id="LinesForm" method="post" action="">
					<table class="TuoPreventivoTable">
						<tbody>
							<tr>
								<th>DESCRIZIONE</th>
								<th>QUANTITA</th>
								<th>PREZZO UNITARIO</th>
								<th>PREZZO</th>
							</tr>
							<tr>
								<td>Prezzo per adulto in Cabina <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_adult_cabina_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_adult_cabina_price}}</td>
								<td  class="bg text-center"><span class="PriceSpan" id="Adults_Price_Res">€ {{detailsPreventiv.price_per_adult_cabina_total_price}}</span></td>
							</tr>
							<tr>
								<td>Prezzo per adulto in terzo letto <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_adult_bed_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_adult_bed_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="DC_Adults_Price_Res">€ {{detailsPreventiv.price_per_adult_bed_total_price}}</span></td>
							</tr>
							<tr>
								<td>Prezzo per bambino (&lt;12) in Cabina <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_child_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_child_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="DC_Childrens_Price_Res">€ {{detailsPreventiv.price_per_child_total_price}}</span></td>
							</tr>
							<tr>
								<td>Tasse portuali</td>
								<td class="bg text-center">{{detailsPreventiv.port_taxes_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.port_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="PortualTax_Price_Res">€ {{detailsPreventiv.port_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Asscurazione Multirischi Filo Diretto</td>
								<td class="bg text-center">{{detailsPreventiv.insurance_taxes_quantity}}</td>
								<td class=" text-center">{{detailsPreventiv.insurance_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="IncuranceTotal_Price_Res">€ {{detailsPreventiv.insurance_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Animazione e spettacoli a bordo inclusi</td>
								<td class="bg text-center">{{detailsPreventiv.entertainment_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.entertainment_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Animazione_Price_Res">€ {{detailsPreventiv.entertainment_total_price}}</span></td>
							</tr>
							<tr>
								<td>Tasse di soggiorno o mance non incluse - da pagare a fine crociera</td>
								<td class="bg text-center">{{detailsPreventiv.tourist_taxes_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.tourist_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Soggiorno_Price_Res">€ {{detailsPreventiv.tourist_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Spase di aperatura pratica gratis</td>
								<td class="bg text-center">{{detailsPreventiv.free_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.free_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Spase_Price_Res">€ {{detailsPreventiv.free_total_price}}</span></td>
							</tr>
							<tr class="ColoredRow">
								<th>TOTALE DELA CROCIERA</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.total_cruise_price}}</span></th>
							</tr>
							<tr>
								<th>ACCONTO DA PAGARE ALLA CONFERMA</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.confirm_price}}</span></th>
							</tr>
							<tr>
								<th>SALDO DA PAGARE PRIMA DEL 27-12-2016</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.balance_price}}</span></th>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<!-- INPUT INSERT PREVENTIVO -->
		<div class="row extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">INSERISCI IL TUOI DATI </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 remove-padding">
				<form id="PreventivoInformationForm" action="javascript:void(0);" novalidate="novalidate">
				   <h3 class="col-lg-12  details-title">DATI PERSONALI</h3>
				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivile">Stato Civile</label>
				      <select class="form-control" id="StatoCivile" name="StatoCivile">
				         <option value="SIG.">SIG.</option>
				         <option value="SIG.RA">SIG.RA</option>
				         <option value="SIG.NA">SIG.NA</option>
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Cognome">Cognome</label>
				      <input type="text" class="form-control" id="Cognome" placeholder="" name="Cognome" value="dfg">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Nome">Nome</label>
				      <input type="text" class="form-control" id="Nome" placeholder="" name="Nome" value="dfgdfg">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="Email">E-mail</label>
				      <input type="email" class="form-control" id="Email" placeholder="" name="Email" value="dfgdf@sdf.al">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Telefono">Telefono</label>
				      <input type="text" class="form-control" id="Telefono" placeholder="" name="Telefono" value="456546">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="Indirizzo">Indirizzo</label>
				      <input type="text" class="form-control" id="Indirizzo" placeholder="" name="Indirizzo" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NCivico">N Civico</label>
				      <input type="text" class="form-control" id="NCivico" placeholder="" name="NCivico" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CodicePostale">Codice Postale</label>
				      <input type="text" class="form-control" id="CodicePostale" placeholder="" name="CodicePostale" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Citta">Citta</label>
				      <input type="text" id="Citta"  class="form-control" name="Citta" placeholder="" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Nazionalita">Nazionalità</label>
				      <select class="form-control" id="Nazionalita" name="Stato">
				         <option value=""> Nazionalità...</option>
				         <option value="Italy">Italy</option>
				         <option value="Afganistan">Afghanistan</option>
				         <option value="Albania">Albania</option>
				         <option value="Algeria">Algeria</option>
				         
				      </select>
				   </fieldset>

				   <h3 class=" col-lg-12  details-title">INFORMAZIONI PASSEGGERI</h3>

				   <h4 class="col-md-12 PassengerNumber">Passeggero 1</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP1">Stato Civile</label>
				      <select class="form-control" id="StatoCivileP1" name="StatoCivileP[]">
				         <option value="SIG.">SIG.</option>
				         <option value="SIG.RA">SIG.RA</option>
				         <option value="SIG.NA">SIG.NA</option>
				      </select>
				      <input type="hidden" name="PassangerP[]" value="11953">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP1">Cognome</label>
				      <input type="text" class="form-control" id="CognomeP1" placeholder="" name="CognomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP1">Nome</label>
				      <input type="text" class="form-control" id="NomeP1" placeholder="" name="NomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">D</label>
				      <select class="form-control" id="DataP1" name="DataP[]">
				         <option value="">D</option>
				         <option value="1">1</option>
				         <option value="2">2</option>
				         <option value="3">3</option>
				         <option value="4">4</option>
				         <option value="5">5</option>
				         <option value="6">6</option>
				         <option value="7">7</option>
				        
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">M</label>
				      <select class="form-control" id="MonthP1" name="MonthP[]">
				         <option value="">M</option>
				         <option value="1">Gennaio</option>
				         <option value="2">Febbraio</option>
				         <option value="3">Marzo</option>
				        
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Y</label>
				      <select class="form-control" id="YearP1" name="YearP[]">
				         <option value="">Y</option>
				         <option value="2016">2016</option>
				         <option value="2015">2015</option>
				         <option value="2014">2014</option>
				         <option value="2013">2013</option>
				         <option value="2012">2012</option>
				         <option value="2011">2011</option>
				         <option value="2010">2010</option>
				         <option value="2009">2009</option>
				         <option value="2008">2008</option>
				       
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Luogo</label>
				      <input type="text" id="LuogoP1"  class="form-control" name="LuogoP[]" placeholder="" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP1">Nazionalità</label>
				      <select class="form-control" id="NazionalitaP1" name="NazionalitaP[]">
				         <option selected="" value=""> Nazionalità...</option>
				         <option value="Italy">Italy</option>
				         <option value="Afganistan">Afghanistan</option>
				         <option value="Albania">Albania</option>
				         <option value="Algeria">Algeria</option>
				         <option value="American Samoa">American Samoa</option>
				         <option value="Andorra">Andorra</option>
				        
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP1">Tipo documento</label>
				      <select class="form-control" id="TipoDocumenteP1" name="TipoDocumenteP[]" value="">
				         <option value="Passaporto">Passaporto</option>
				         <option value="Carta di identità">Carta di identità</option>
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP1">Numero</label>
				      <input type="text" class="form-control" id="DocumentoNumeroP1" placeholder="" name="DocumentoNumeroP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP1">Scadenza</label>
				      <input type="text" class="form-control datepicker" id="DocumentoScadenzaP1" name="DocumentoScadenzaP[]" value="">
				   </fieldset>


				   <h4 class="col-md-12 PassengerNumber">Passeggero 2</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP3">Stato Civile</label>
				      <select class="form-control" id="StatoCivileP3" name="StatoCivileP[]">
				         <option value="SIG.">SIG.</option>
				         <option value="SIG.RA">SIG.RA</option>
				         <option value="SIG.NA">SIG.NA</option>
				      </select>
				      <input type="hidden" name="PassangerP[]" value="11955">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP3">Cognome</label>
				      <input type="text" class="form-control" id="CognomeP3" placeholder="" name="CognomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP3">Nome</label>
				      <input type="text" class="form-control" id="NomeP3" placeholder="" name="NomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP3">D</label>
				      <select class="form-control" id="DataP3" name="DataP[]">
				         <option value="">D</option>
				         <option value="1">1</option>
				         <option value="2">2</option>
				         <option value="3">3</option>
				         <option value="4">4</option>
				         <option value="5">5</option>
				         <option value="6">6</option>
				         <option value="7">7</option>
				         <option value="8">8</option>
		
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP3">M</label>
				      <select class="form-control" id="MonthP3" name="MonthP[]">
				         <option value="">M</option>
				         <option value="1">Gennaio</option>
				         <option value="2">Febbraio</option>
				         <option value="3">Marzo</option>
				    
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP3">Y</label>
				      <select class="form-control" id="YearP3" name="YearP[]">
				         <option value="">Y</option>
				         <option value="2016">2016</option>
				         <option value="2015">2015</option>
				         <option value="2014">2014</option>
				         <option value="2013">2013</option>
				         <option value="2012">2012</option>
				         <option value="2011">2011</option>
				         <option value="2010">2010</option>
				   
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP3">Luogo</label>
				      <input type="text" id="LuogoP3"  class="form-control" name="LuogoP[]" placeholder="" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP3">Nazionalità</label>
				      <select class="form-control" id="NazionalitaP3" name="NazionalitaP[]">
				         <option selected="" value=""> Nazionalità...</option>
				         <option value="Italy">Italy</option>
				         <option value="Afganistan">Afghanistan</option>
				         <option value="Albania">Albania</option>
				         <option value="Algeria">Algeria</option>
				         <option value="American Samoa">American Samoa</option>
				         <option value="Andorra">Andorra</option>
				  
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP3">Tipo documento</label>
				      <select class="form-control" id="TipoDocumenteP3" name="TipoDocumenteP[]" value="">
				         <option value="Passaporto">Passaporto</option>
				         <option value="Carta di identità">Carta di identità</option>
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP3">Numero</label>
				      <input type="text" class="form-control" id="DocumentoNumeroP3" placeholder="" name="DocumentoNumeroP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP3">Scadenza</label>
				      <input type="text" class="form-control datepicker" id="DocumentoScadenzaP3" name="DocumentoScadenzaP[]" value="">
				   </fieldset>

				   <h4 class="col-md-12 PassengerNumber">Bambini 1</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP4">Stato Civile</label>
				      <select class="form-control" id="StatoCivileP4" name="StatoCivileP[]">
				         <option value="SIG.">SIG.</option>
				         <option value="SIG.RA">SIG.RA</option>
				         <option value="SIG.NA">SIG.NA</option>
				      </select>
				      <input type="hidden" name="PassangerP[]" value="11956">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP4">Cognome</label>
				      <input type="text" class="form-control" id="CognomeP4" placeholder="" name="CognomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP4">Nome</label>
				      <input type="text" class="form-control" id="NomeP4" placeholder="" name="NomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP4">D</label>
				      <select class="form-control" id="DataP4" name="DataP[]">
				         <option value="">D</option>
				         <option value="1">1</option>
				         <option value="2">2</option>
				         <option value="3">3</option>
				         <option value="4">4</option>
	
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP4">M</label>
				      <select class="form-control" id="MonthP4" name="MonthP[]">
				         <option value="">M</option>
				         <option value="1">Gennaio</option>
				         <option value="2">Febbraio</option>
				         <option value="3">Marzo</option>
				
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP4">Y</label>
				      <select class="form-control" id="YearP4" name="YearP[]">
				         <option value="">Y</option>
				         <option value="2016">2016</option>
				         <option value="2015">2015</option>
				         <option value="2014">2014</option>
				         <option value="2013">2013</option>
				         <option value="2012">2012</option>
				         <option value="2011">2011</option>
				         <option value="2010">2010</option>
				         <option value="2009">2009</option>
				 
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP4">Luogo</label>
				      <input type="text" id="LuogoP4"  class="form-control" name="LuogoP[]" placeholder="" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP4">Nazionalità</label>
				      <select class="form-control" id="NazionalitaP4" name="NazionalitaP[]">
				         <option selected="" value=""> Nazionalità...</option>
				         <option value="Italy">Italy</option>
				         <option value="Afganistan">Afghanistan</option>
				         <option value="Albania">Albania</option>
				         <option value="Algeria">Algeria</option>
				         <option value="American Samoa">American Samoa</option>
				      
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP4">Tipo documento</label>
				      <select class="form-control" id="TipoDocumenteP4" name="TipoDocumenteP[]" value="">
				         <option value="Passaporto">Passaporto</option>
				         <option value="Carta di identità">Carta di identità</option>
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP4">Numero</label>
				      <input type="text" class="form-control" id="DocumentoNumeroP4" placeholder="" name="DocumentoNumeroP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP4">Scadenza</label>
				      <input type="text" class="form-control datepicker" id="DocumentoScadenzaP4" name="DocumentoScadenzaP[]" value="">
				   </fieldset>

				   <h4 class="col-md-12 PassengerNumber">Bambini 2</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP5">Stato Civile</label>
				      <select class="form-control" id="StatoCivileP5" name="StatoCivileP[]">
				         <option value="SIG.">SIG.</option>
				         <option value="SIG.RA">SIG.RA</option>
				         <option value="SIG.NA">SIG.NA</option>
				      </select>
				      <input type="hidden" name="PassangerP[]" value="11957">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP5">Cognome</label>
				      <input type="text" class="form-control" id="CognomeP5" placeholder="" name="CognomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP5">Nome</label>
				      <input type="text" class="form-control" id="NomeP5" placeholder="" name="NomeP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP5">D</label>
				      <select class="form-control" id="DataP5" name="DataP[]">
				         <option value="">D</option>
				         <option value="1">1</option>
				         <option value="2">2</option>
				         <option value="3">3</option>
				         <option value="4">4</option>
				         <option value="5">5</option>
				         <option value="6">6</option>
				         <option value="7">7</option>
				         <option value="8">8</option>

				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP5">M</label>
				      <select class="form-control" id="MonthP5" name="MonthP[]">
				         <option value="">M</option>
				         <option value="1">Gennaio</option>
				         <option value="2">Febbraio</option>
				         <option value="3">Marzo</option>
		
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP5">Y</label>
				      <select class="form-control" id="YearP5" name="YearP[]">
				         <option value="">Y</option>
				         <option value="2016">2016</option>
				         <option value="2015">2015</option>
				         <option value="2014">2014</option>
				         <option value="2013">2013</option>
				         <option value="2012">2012</option>
				         <option value="2011">2011</option>
				         <option value="2010">2010</option>
				         <option value="2009">2009</option>					
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP5">Luogo</label>
				      <input type="text" id="LuogoP5"  class="form-control" name="LuogoP[]" placeholder="" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP5">Nazionalità</label>
				      <select class="form-control" id="NazionalitaP5" name="NazionalitaP[]">
				         <option selected="" value=""> Nazionalità...</option>
				         <option value="Italy">Italy</option>
				         <option value="Afganistan">Afghanistan</option>
				         <option value="Albania">Albania</option>
				         <option value="Algeria">Algeria</option>
				         <option value="American Samoa">American Samoa</option>
				         <option value="Andorra">Andorra</option>
				         <option value="Angola">Angola</option>
				         <option value="Anguilla">Anguilla</option>
				         
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP5">Tipo documento</label>
				      <select class="form-control" id="TipoDocumenteP5" name="TipoDocumenteP[]" value="">
				         <option value="Passaporto">Passaporto</option>
				         <option value="Carta di identità">Carta di identità</option>
				      </select>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP5">Numero</label>
				      <input type="text" class="form-control" id="DocumentoNumeroP5" placeholder="" name="DocumentoNumeroP[]" value="">
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP5">Scadenza</label>
				      <input type="text" class="form-control datepicker" id="DocumentoScadenzaP5" name="DocumentoScadenzaP[]" value="">
				   </fieldset>

				   

				   <fieldset class="form-group col-md-4">
				      <h3 class="details-title">Scelta del servizio</h3>
				      <label class="text-muted"  for="Serviso">Turno cena*</label>
				      <select class="form-control" id="Serviso" name="Serviso">
				         <option value="Primo Turno">Primo Turno</option>
				         <option value="Secondo Turno">Secondo Turno</option>
				      </select>
				      <small class="text-muted">*Informazioni obbligatorie</small>
				   </fieldset>

				   <div class="col-md-8 remove-padding">

				      <h3 class="details-title">Contatto d'emergenza</h3>
				      <fieldset class="form-group col-md-4">
				         <label for="CognomeEmergenza">Cognome</label>
				         <input type="text" class="form-control" id="CognomeEmergenza" placeholder="" name="CognomeEmergenza" value="">
				      </fieldset>
				      <fieldset class="form-group col-md-4">
				         <label for="NomeEmergenza">Nome</label>
				         <input type="text" class="form-control" id="NomeEmergenza" placeholder="" name="NomeEmergenza" value="">
				         <small class="text-muted">*Inserie il nome di una persona che non viaggia</small>
				      </fieldset>
				      <fieldset class="form-group col-md-4">
				         <label for="TelefonoEmergenza">Telefono</label>
				         <input type="text" class="form-control" id="TelefonoEmergenza" placeholder="" name="TelefonoEmergenza" value=""> 
				      </fieldset>
				   </div>

				</form>
			</div>
		</div>	

		<!-- AFTER PRENOTA BUTON CLICKED-->
		<div  *ngIf="onSubmit">
			<div class="row extra-padding">
				<div class="col-lg-12">
					<div class="thanks-msg grey">
						<h4>Grazie di aver scelto Cruisetopic.net per la tua prossima crociera. Hai firmato il contratto di viaggio.</h4>
						<p>Per procedere alla conferma della tua crociera potrai:<br>
							-Effettuare il pagamento con Carta di credito.<br>
							-Procedere al pagamento con un bonifico o bollettino postale.<br>
							In entrambi I casi uno dei nostri TopCruiser si mettera in contatto con te per procedere alla conferma definitiva.</p>						
						<div class="termsandconditions text-center">
							<p>La tua firma elettronica sarà registrata sotto l'IP 77.242.25.43. A nome di abi  il 15/12/2016.
							Per questa pratica accetto di pagare la somma di € 2.367
							</p>
						</div>

						<button type="button" class="btn btn-blue" data-toggle="modal" data-target="#myModal1">INCLUSO/NON INCLUSO NEL PREZZO</button>
						 <!-- Modal -->
						  <div class="modal fade" id="myModal1" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
								        <!-- <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <h4 class="modal-title">Itinerario Map</h4>
								        </div> -->
								        <div class="modal-body">
								          <div class="conditions">
												<div class="col-md-6 block remove-padding grey">
													<h3>INCLUSO NEL PREZZO</h3>
													<ul>
														<li>Cabine prescelta, aria condizionata, armadio, bagno privato con doccia e/o vasca, TV, telefono, minibar e cassaforte</li>
														<li>Pensione completa (colazione - pranzo - cena - spuntini e merende)</li>
														<li>Tutte le attività di intrattenimento: giochi, gare, concorsi, feste a tema e spettacoli teatrali, accesso alle piscine, vasche idromassaggio, sala relax, attività di intrattenimento per bambini </li>
														<li>Acqua, caffè e succhi di frutta disponibili a dispenser nelle zone ristoro (buffet) </li>
														<li>Mini club per bambini e ragazzi</li>
														<li>Spettacoli diversi, stile Broadway</li>
														<li>Accesso ai Bar con musica dal vivo e discoteca</li>
														<li>Palestra Piscine coperte e scoperte</li>
														<li>Accesso al Casinò</li>
													</ul>
												</div>
												<div class="col-md-6 block remove-padding">
													<h3>NON INCLUSO NEL PREZZO</h3>
													<ul>
														<li>Quota di Servizio (Mance) </li>
														<li> Accesso ad internet</li>
														<li>Bevande</li>
														<li>Assistenza medica</li>
														<li>Ristoranti tematici</li>
														<li>Escursioni</li>
														<li>Assicurazioni</li>
														<li>I trasporti no al porto d imbarco </li>
														<li>Spese personali</li>
														<li>Tutto cio non riportato alla voce "cosa è incluso nella crociera"</li>
													</ul>
												</div>
											</div>
								        </div>
								        <div class="modal-footer">
								          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        </div>
							      </div>
							      
							    </div>
						  </div>
					</div>
				</div>
			</div>	
			<div class="row dynamic-content  extra-padding">
						<div class="col-lg-12">
							<h2 class="skin-title">DETTAGLIO DEL TUO PAGAMENTO</h2>
						</div>
			</div>	
			<div class="row dynamic-content">
				<div class="col-lg-4">
					<div class="price-info text-center">
						<p>Importo tota le della tua crociera: </p>
						<h3 class="blue">€ 732</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="price-info text-center">
						<p>ACCONTO DA PAGARE ALLA CONFERMA </p>
						<h3 class="skin">€ 220</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="price-info text-center">
						<p>SALDO DA PAGARE PRIMA DEL 26-12-2016  </p>
						<h3 class="skin">€ 512</h3>
					</div>
				</div>
			</div>
		</div>

		<!--CHECKBOX MODALITA' DI PAGAMENTO -->
		<div class="row extra-padding">
			<div class="col-lg-12">
				   <h2 class="skin-title">MODALITA' DI PAGAMENTO</h2>
			</div>
		</div>	
		<div class="row text-center grey padd-top-bott">
		   	<div class="col-md-4">
		   		<label class="img-label" for="CC_PaymentType"> <img src="../../assets/img/chekc1.png"><br> CARTA DI CREDITO</label><br>
		         <input name="PaymentType" type="radio" value="CC" id="CC_PaymentType"  [(ngModel)]="onCarta" (ngChecked)="show()" >
		          <!-- <input name="PaymentType" type="radio"  id="CC_PaymentType"  [(ngModel)]="show" value="{{onCarta}}"> -->
		   	</div>
		   	<div class="col-md-4">
		   		<label class="img-label" for="BB_PaymentType"><img src="../../assets/img/check2.png"><br>BONFICO BANCARIO</label><br>
		         <input name="PaymentType" type="radio" value="BB" id="BB_PaymentType"  [(ngModel)]="onBonifico" (ngChecked)="show()">
		   	</div>
		   	<div class="col-md-4">
		   		<label  class="img-label" for="BO_PaymentType"><img src="../../assets/img/check3.png"><br>BOLLETINO</label><br>
		         <input name="PaymentType" type="radio" value="BO" id="BO_PaymentType"  [(ngModel)]="onBolletino" (ngChecked)="show()">
		   	</div>
		</div>	



		<!-- IF THE CHECKBOX CARTA IS CLICKED -->
		<div class="option" *ngIf="onCarta&&onSubmit">
			<div class="row dynamic-content  extra-padding">
				<div class="col-lg-12">
					<h2 class="blue-title">PAGAMENTO CON CARTA DI CREDITO</h2>
				</div>
			</div>	
			<div class="row dynamic-content">
				<div class="col-lg-12">
					<div class="payment-details">
						<p>Con il pagamento tramite carta di credito, il saldo della tua crociera sarà prelevato automaticamente il <strong>attenzione prima di effettuare il tuo pagamento, verifica con la tua banca che l'importo da addebitare non sia superiore al limite autorizzato.</strong>
						</p>
					<form method="post" id="CreditCard" novalidate="novalidate">
					   <div class="row">
					      
					      <fieldset class="form-group col-md-4">
					         <label for="CCCardType">Tipo di carta</label>
					         <input name="CCCardType" type="radio" value="Visa" id="CCCardTypeVisa">
					         <label for="CCCardTypeVisa">
					         	<img class="setwidth" src="../../assets/img/cards/visa.png">
					         </label>
					         <input name="CCCardType" type="radio" value="MasterCard" id="CCCardTypeMaster">
					         <label for="CCCardTypeMaster">
					         	<img class="setwidth" src="../../assets/img/cards/mastercard.png">
					         </label>
					         <input name="CCCardType" type="radio" value="CsfsdfC" id="CCCardTypeAmerican">
					         <label for="CCCardTypeAmerican">
								<img class="setwidth" src="../../assets/img/cards/american.jpg">
							 </label>
					      </fieldset>
					      <fieldset class="form-group col-md-8">
					         <label for="CCValue">Importo da prelevare</label>
					         <select id="CCValue" name="CCValue">
					            <option value="219.60">€ 220</option>
					         </select>
					      </fieldset>
					   </div>
					   <div class="row">
					      <fieldset class="form-group col-md-4">
					         <label for="CCName">Titolare della carta:</label>
					         <input type="text" id="CCName" name="CCName">
					      </fieldset>
					      <fieldset class="form-group col-md-8">
					         <label for="CCNumber1">Numero di carta:</label>
					         <div class="row">
					            <div class="col-md-3">
					               <input type="text" id="CCNumber1" name="CCNumber1">
					            </div>
					            <div class="col-md-3">
					               <input type="text" id="CCNumber2" name="CCNumber2">
					            </div>
					            <div class="col-md-3">
					               <input type="text" id="CCNumber3" name="CCNumber3">
					            </div>
					            <div class="col-md-3">
					               <input type="text" id="CCNumber4" name="CCNumber4">
					            </div>
					         </div>
					      </fieldset>
					   </div>
					   <div class="row">
					      <fieldset class="form-group col-md-4">
					         <label for="CCDate1">Data di scadenza:</label>
					         <div class="row">
					            <div class="col-md-6">
					               <select id="CCDate1" name="CCDate1" >
					                  <option value="1">01</option>
					                  <option value="2">02</option>
					                  <option value="3">03</option>
					               </select>
					            </div>
					            <div class="col-md-6">
					               <select id="CCDate2" name="CCDate2" >
					                  <option value="2016">2016</option>
					                  <option value="2017">2017</option>
					                  <option value="2018">2018</option>
					                  <option value="2019">2019</option>
					               </select>
					            </div>
					         </div>
					      </fieldset>
					      <fieldset class="form-group col-md-8">
					         
					         <div class="row">
					         	<div class="col-md-12">
						         	<label for="CCS">CCV:</label>
						            <input type="text" id="CCS" name="CCS">
					            </div>
					         </div>
					      </fieldset>
					   </div>
					   <input class="submit-input" id="ConfirmCreditCardPayment" value="conferma il tuo pagamento" type="submit">
					</form>
					</div>
				</div>
			</div>
		</div>

		
		<!-- IF THE CHECKBOX  BONIFICO BANCARIO IS CLICKED -->
		<div class="option"  *ngIf="onBonifico&&onSubmit">
			<div class="row dynamic-content  extra-padding">
				<div class="col-lg-12">
					<h2 class="blue-title">PAGAMENTO CON BOLLETTINO POSTALE</h2>
				</div>
			</div>
			<div class="row dynamic-content">
				<div class="col-lg-12">
					<div class="bill-info">
						<p><strong>Gentile SIG. ghffgh ghfvghfgh </strong><br>
							Grazie per aver confermato la tua crociera. La tua pratica è stata registrata con il seguente numero: n° 14009 e con pagamento tramite bolettino postale. </p>
						<p>Stampa il bollettino compila la parte dell'importo e della causale indicando il numero di pratica e effettua il pagamento presso lo sportello postale più vicino a casa tua. 
						Effettuato il pagamento inviaci copia della ricevuta via mail conferme@cruisetopic.net oppure con whats up al seguente numero 392-1255525.</p>

						<p>Qui di seguito puoi scaricare il bollettino postale</p>
						<div class="bank-info grey">
							<h4>COORDINATE BANCARIE NAZIONALI</h4>
							<p>Indirizzo banca: <strong>Intesa San Paolo Spa - Monza - Via Ramazzotti 22 </strong></p>
							<p>Titolare del conto: <strong>I Viaggi come vuoi</strong></p>
							<p>Codice BIC/SWIFT: <strong>bcititmmxxx</strong></p>
							<table border="0" id="BonificoTable">
								<tbody>
									<tr>
										<td>Paese</td>
										<td>CinEu</td>
										<td>CIN</td>
										<td>ABI</td>
										<td>CAB</td>
										<td>Conto</td>
									</tr>
									<tr>
										<td>IT</td>
										<td>86</td>
										<td>Q</td>
										<td>03069</td>
										<td>20403</td>
										<td>100000006399</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- IF THE CHECKBOX BOLLETTINO POSTALE IS CLICKED -->
		<div class="option"  *ngIf="onBolletino&&onSubmit">
			<div class="row dynamic-content  extra-padding">
				<div class="col-lg-12">
					<h2 class="blue-title">PAGAMENTO CON BOLLETTINO POSTALE</h2>
				</div>
			</div>
			<div class="row dynamic-content">
				<div class="col-lg-6">
					<div class="bill-info">
						<p><strong>Gentile SIG. ghffgh ghfvghfgh </strong><br>
							Grazie per aver confermato la tua crociera. La tua pratica è stata registrata con il seguente numero: n° 14009 e con pagamento tramite bolettino postale. </p>
						<p>Stampa il bollettino compila la parte dell'importo e della causale indicando il numero di pratica e effettua il pagamento presso lo sportello postale più vicino a casa tua. 
						Effettuato il pagamento inviaci copia della ricevuta via mail conferme@cruisetopic.net oppure con whats up al seguente numero 392-1255525.</p>

						<p>Qui di seguito puoi scaricare il bollettino postale</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="bill-image">
						<img src="../../assets/img/bill.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="row dynamic-content">
				<div class="col-lg-12">
					<input class="submit-input" id="ConfirmCreditCardPayment" value="stampa il bollettino postale" type="submit">
				</div>
			</div>
		</div>


		<!-- SUBMIT BUTON -->
		<div class="row "  *ngIf="!onSubmit">	
			<div class="col-lg-12">
				<div class="accept-terms">
					<div class="termsandconditions text-center">
						<p>La tua firma elettronica sarà registrata sotto l'IP 77.242.25.43. A nome di abi  il 15/12/2016.
						Per questa pratica accetto di pagare la somma di € 2.367
						</p>
					</div>
					<input type="radio" name="termsandconditions"  checked="checked">
					<a class="termsandconditions" href="https://cruisetopic.net/CondizioniGenerali" target="_blank">Si accetto le condizioni generali di vendita. </a>
				</div>
				<input (click)="onClicked()" class="submit-input" value="Prenota" type="submit">
			</div>
		</div>


		<!-- EXTRA INFO -->
		<div *ngIf="onSubmit">
			<div class="row">
				<div class="col-lg-12  extra-padding">
					<h2 class="skin-title">I PROSSIMI PASSI PRIMA DI PARTIRE IN CROCIERA</h2>
				</div>
				<div class="col-lg-8 col-lg-offset-2 text-center col-md-12">
					<p class="after-description">Grazie. La tua prenotazione verrà verificata dal nostro servizio clienti e nelle prossime 48 ore riceverai la nostra conferma con tutti i dati della tua prossima crociera.</p>
				</div>
			</div>
			<div class="row">
				<div class="after-preventiv">
					<div class="col-md-6">
						<p class="after-description">La tua partenza in crociera é prevista il 25-Jan-2017. Nel caso in cui tu abbia scelto di pagare con la carta di credito, provvederemo all'addebito di tale saldo in automatico. Se invece hai scelto il bonifico bancario o il bollettino postale, 10 gg. prima ti manderemo una mail per ricordarti di effettuare il pagamento.</p>
						<p class="after-description">Se siete cittadini dell'Unione Europea, una carta d'identità o un passaporto in corso di validità saranno sufficienti per viaggiare all'interno dei paesi dell'Unione Europea. In caso contrario, dovete essere in possesso di un pas- saporto valido sei mesi dopo la data di rientro dal viaggio e in regola con eventuali visti necessari.</p>
						<p class="after-description">Entro 7 giorni dalla partenza riceverai i documenti per il tuo imbarco. A seconda della compagnia con la quale viaggerai, i documenti ti verranno spediti.</p>
					
					</div>
					<div class="col-md-6">
						<p class="after-description">direttamente dall'armatore, in altri casi il nostro servizio clienti ti manderà tutto il necessario via mail. In caso di mancata ricezione dopo tale termine ti preghiamo di contattare il nostro servizio clienti al numero 392-1255525</p>
						<p class="after-description">La vostra crociera inizierà il 25-Jan-2017, quindi stampate i biglietti di viaggio necessari all'imbarco. Recativi al porto 2/3 ore prima della partenza, l'imbar- co chiuderà 1 ora prima. Terminato il 'Check in' otterrete la carta d'imbarco e sarete pronti a salpare.... Buon viaggio da Cruisetopic.net</p>
						<p class="after-description">Scatta tante fote e ricorda di tornare sulle nostre pagine per scrivere la tua recensione e guadagnare un buono sconto per la tua prossima crociera. http://cruisetopic.net/review/add_review</p>
						
					</div>
				</div>
			</div>
		</div>

		<!-- TERMS AND CONDITIONS -->
		<div class="row  extra-padding">
			<div class="col-lg-12">
				<div class="attention grey">
					<p>Attenzione: Il contratto sottoscritto in maniera elettronica, avrà effettivo valore solo dopo che il cliente ricevrà la conferma di prenotazione via email. Prima della riconferma da parte di Cruisetopic, gli importi relativi a tutte le singole voci del contratto saranno soggette a riconferma. Sarà responsabilità di ogni singolo passeggero partecipante alla crociera, verificare per tempo ed essere in regola con i documenti necessari (inclusi eventuali visti) per singole destinazioni della crociera selezionata. in caso di volo negli Stati Uniti va richiesto l'Esta al seguente link: https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1 Le informazioni relative ai dettagli di tutti i servizi collegati alla crociera (voli, trasferimenti, hotel, orari, scali...ecc) verranno comunicati dopo la conferma della prenotazione. Tali informazioni inoltre potrebbero subire delle variazioni. Tutte le comunicazioni saranno inviate a mezzo email, all'inidirizzo dell'intestatario del contratto, non oltre 3 giorni dalla data di partenza. Eventuali richieste specifiche (compagnia aerea, hotel, orari, scali) dovranno essere comunicate in sede di prenotazione. Le modifiche richieste successive alla conferma che prevedano un cambio tariffario, saranno a totale carico del cliente. Per tutte le variazioni apportate ai contratti gia sottoscritti causeranno un addebito di 50
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
</div>