<app-inner-header-center [page_title]="'MERAVIGLIOSO MEDITERRANEO'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<div>
<section id="preventiv" *ngIf="detailsPreventiv">
	<div class="container">

		<!-- ITENERARY TABLE -->
		<div class="row extra-top">
			<div class="col-lg-6">
				<div class="image-info text-center">
					<hr>
					<h2>il tuo preventivo  <br><span>n {{detailsPreventiv.preventiv_nr}}</span> </h2>
					<img src="../../assets/img/small.png">
				</div>
				<div class="next-offer">
					<p>TOTAL  <strong>{{detailsPreventiv.total_price}} €</strong></p>
				</div>
			</div>
			<div class="col-lg-6">
				<table class="all-in-price">
					<tr>
						<td><img src="../../assets/img/icons/ship.png" alt=""> Compagnia</td>
						<td class="bg">{{detailsPreventiv.company}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/speranc.png" alt=""> Nave</td>
						<td class="bg">{{detailsPreventiv.ship}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/extra.png" alt=""> Formula</td>
						<td class="bg">{{detailsPreventiv.formula}}</td>
					</tr>

					<tr>
						<td><img src="../../assets/img/icons/time.png" alt=""> Data Di Partenza</td>
						<td class="bg">{{detailsPreventiv.departure_date}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/begin.png" alt=""> Data Di Rientro</td>
						<td class="bg">{{detailsPreventiv.data_di_rientro}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/calendar.png" alt=""> Durata</td>
						<td class="bg">{{detailsPreventiv.duration}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/light.png" alt=""> Porto Di Partenza</td>
						<td class="bg">{{detailsPreventiv.port}}</td>
					</tr>
					<tr>
						<td><img src="../../assets/img/icons/user.png" alt=""> Passeggeri</td>
						<td class="bg">{{detailsPreventiv.passengers}}</td>
					</tr>
					<tr>
						<td>    N°prenotazione</td>
						<td class="bg">{{detailsPreventiv.prenotation_nr}}</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- ITINERARY DETAILS -->
		<div class="row extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">ITINERARY DETAILS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<table class="ItinerarioTable">
					<tbody>
						<tr>
							<th>Giorni</th>
							<th>Porto</th>
							<th>Arrivo</th>
							<th>Partenza</th>
						</tr>
						<tr data-elid="149918" *ngFor="let single of detailsPreventiv.itinerary">
							<td class="bg">{{single.day}}</td>
							<td>{{single.port}}</td>
							<td class="bg">{{single.arrival}}</td>
							<td>{{single.departure}}</td>
						</tr>
					</tbody>
				</table> 
				<button type="button" class="btn btn-blue" data-toggle="modal" data-target="#myModal">Open itinerary map</button>
				 <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
						        <div class="modal-header">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h4 class="modal-title">Itinerario Map</h4>
						        </div>
						        <div class="modal-body">
						          <div id="map"></div>
						        </div>
						        <div class="modal-footer">
						          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
					      </div>
					      
					    </div>
				  </div>
			</div>
			<div class="col-lg-5">
				<div class="ItinerarioImage">
					<img src="{{detailsPreventiv.cabine_image}}" alt="cruisetopic">
					<div class="blue-bg-caption">
						<p>LA TUA CABINA</p>
					</div>
				</div>
			</div>
		</div>

		<!-- IL TUO PREVENTIVO -->
		<div class="row  extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">IL TUO PREVENTIVO</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form id="LinesForm" method="post" action="">
					<table class="TuoPreventivoTable">
						<tbody>
							<tr>
								<th>DESCRIZIONE</th>
								<th>QUANTITA</th>
								<th>PREZZO UNITARIO</th>
								<th>PREZZO</th>
							</tr>
							<tr>
								<td>Prezzo per adulto in Cabina <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_adult_cabina_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_adult_cabina_price}}</td>
								<td  class="bg text-center"><span class="PriceSpan" id="Adults_Price_Res">€ {{detailsPreventiv.price_per_adult_cabina_total_price}}</span></td>
							</tr>
							<tr>
								<td>Prezzo per adulto in terzo letto <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_adult_bed_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_adult_bed_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="DC_Adults_Price_Res">€ {{detailsPreventiv.price_per_adult_bed_total_price}}</span></td>
							</tr>
							<tr>
								<td>Prezzo per bambino (&lt;12) in Cabina <strong>ESTERNA BASIC</strong></td>
								<td class="bg text-center">{{detailsPreventiv.price_per_child_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.price_per_child_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="DC_Childrens_Price_Res">€ {{detailsPreventiv.price_per_child_total_price}}</span></td>
							</tr>
							<tr>
								<td>Tasse portuali</td>
								<td class="bg text-center">{{detailsPreventiv.port_taxes_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.port_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="PortualTax_Price_Res">€ {{detailsPreventiv.port_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Asscurazione Multirischi Filo Diretto</td>
								<td class="bg text-center">{{detailsPreventiv.insurance_taxes_quantity}}</td>
								<td class=" text-center">{{detailsPreventiv.insurance_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="IncuranceTotal_Price_Res">€ {{detailsPreventiv.insurance_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Animazione e spettacoli a bordo inclusi</td>
								<td class="bg text-center">{{detailsPreventiv.entertainment_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.entertainment_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Animazione_Price_Res">€ {{detailsPreventiv.entertainment_total_price}}</span></td>
							</tr>
							<tr>
								<td>Tasse di soggiorno o mance non incluse - da pagare a fine crociera</td>
								<td class="bg text-center">{{detailsPreventiv.tourist_taxes_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.tourist_taxes_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Soggiorno_Price_Res">€ {{detailsPreventiv.tourist_taxes_total_price}}</span></td>
							</tr>
							<tr>
								<td>Spase di aperatura pratica gratis</td>
								<td class="bg text-center">{{detailsPreventiv.free_quantity}}</td>
								<td class=" text-center">€ {{detailsPreventiv.free_price}}</td>
								<td class="bg text-center"><span class="PriceSpan" id="Spase_Price_Res">€ {{detailsPreventiv.free_total_price}}</span></td>
							</tr>
							<tr class="ColoredRow">
								<th>TOTALE DELA CROCIERA</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.total_cruise_price}}</span></th>
							</tr>
							<tr>
								<th>ACCONTO DA PAGARE ALLA CONFERMA</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.confirm_price}}</span></th>
							</tr>
							<tr>
								<th>SALDO DA PAGARE PRIMA DEL 27-12-2016</th>
								<th colspan="3" class="PriceSpan"><span>€ {{detailsPreventiv.balance_price}}</span></th>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<!-- INPUT INSERT PREVENTIVO -->
		<div class="row extra-padding">
			<div class="col-lg-12">
				<h2 class="blue-title">INSERISCI IL TUOI DATI </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 remove-padding">
				<form id="PreventivoInformationForm" action="javascript:void(0);" novalidate="novalidate">
				   <h3 class="col-lg-12  details-title">DATI PERSONALI</h3>
				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivile">Stato Civile</label>
				      <label class="form-control"> {{detailsPreventiv.user.civile_state}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Cognome">Cognome</label>
				      <label class="form-control"> {{detailsPreventiv.user.surname}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Nome">Nome</label>
				      <label class="form-control"> {{detailsPreventiv.user.name}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="Email">E-mail</label>
				      <label class="form-control"> {{detailsPreventiv.user.email}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Telefono">Telefono</label>
				      <label class="form-control"> {{detailsPreventiv.user.telephone}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="Indirizzo">Indirizzo</label>
				      <label class="form-control"> {{detailsPreventiv.user.address}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NCivico">N Civico</label>
				      <label class="form-control"> {{detailsPreventiv.user.nr}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CodicePostale">Codice Postale</label>
				      <label class="form-control"> {{detailsPreventiv.user.postal_code}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Citta">Citta</label>
				      <label class="form-control"> {{detailsPreventiv.user.city}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="Nazionalita">Nazionalità</label>
				      <label class="form-control"> {{detailsPreventiv.user.nationality}}</label>
				   </fieldset>

				   <h3 class=" col-lg-12  details-title">INFORMAZIONI PASSEGGERI</h3>
				   <div *ngFor="let passanger of detailsPreventiv.user.passangers; let i = index ">
				   <h4 class="col-md-12 PassengerNumber">Passeggero {{i+1}}</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP1">Stato Civile</label>
				      <label class="form-control"> {{passanger.civile_state}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP1">Cognome</label>
				      <label class="form-control"> {{passanger.surname}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP1">Nome</label>
				      <label class="form-control"> {{passanger.name}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">D</label>
				      <label class="form-control"> {{passanger.D}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">M</label>
				      <label class="form-control"> {{passanger.M}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Y</label>
				      <label class="form-control"> {{passanger.Y}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Luogo</label>
				      <label class="form-control"> {{passanger.address}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP1">Nazionalità</label>
				      <label class="form-control"> {{passanger.nationality}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP1">Tipo documento</label>
				      <label class="form-control"> {{passanger.doc_type}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP1">Numero</label>
				      <label class="form-control"> {{passanger.doc_number}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP1">Scadenza</label>
				      <label class="form-control"> {{passanger.expires}}</label>
				   </fieldset>
				   </div>


				   <div *ngFor="let baby of detailsPreventiv.user.babies; let i = index ">
				   <h4 class="col-md-12 PassengerNumber">Bambini {{i+1}}</h4>

				   <fieldset class="form-group col-md-2">
				      <label for="StatoCivileP1">Stato Civile</label>
				      <label class="form-control"> {{baby.civile_state}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="CognomeP1">Cognome</label>
				      <label class="form-control"> {{baby.surname}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NomeP1">Nome</label>
				      <label class="form-control"> {{baby.name}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">D</label>
				      <label class="form-control"> {{baby.D}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">M</label>
				      <label class="form-control"> {{baby.M}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Y</label>
				      <label class="form-control"> {{baby.Y}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-1">
				      <label for="DataP1">Luogo</label>
				      <label class="form-control"> {{baby.address}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-2">
				      <label for="NazionalitaP1">Nazionalità</label>
				      <label class="form-control"> {{baby.nationality}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="TipoDocumenteP1">Tipo documento</label>
				      <label class="form-control"> {{baby.doc_type}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoNumeroP1">Numero</label>
				      <label class="form-control"> {{baby.doc_number}}</label>
				   </fieldset>
				   <fieldset class="form-group col-md-4">
				      <label for="DocumentoScadenzaP1">Scadenza</label>
				      <label class="form-control"> {{baby.expires}}</label>
				   </fieldset>
				   </div>
				   <div class="col-md-8 remove-padding">

				      <h3 class="details-title">Contatto d'emergenza</h3>
				      <fieldset class="form-group col-md-4">
				         <label for="CognomeEmergenza">Cognome</label>
				         <label class="form-control"> {{detailsPreventiv.user.address_chosed.surname}}</label>
				      </fieldset>
				      <fieldset class="form-group col-md-4">
				         <label for="NomeEmergenza">Nome</label>
				         <label class="form-control"> {{detailsPreventiv.user.address_chosed.name}}</label>
				         <small class="text-muted">*Inserie il nome di una persona che non viaggia</small>
				      </fieldset>
				      <fieldset class="form-group col-md-4">
				         <label for="TelefonoEmergenza">Telefono</label>
				         <label class="form-control"> {{detailsPreventiv.user.address_chosed.telephone}}</label>
				      </fieldset>
				   </div>

				</form>
			</div>
		</div>	
			<div>
				<div class="row">
					<div class="col-lg-12  extra-padding">
						<h2 class="skin-title">I PROSSIMI PASSI PRIMA DI PARTIRE IN CROCIERA</h2>
					</div>
					<div class="col-lg-8 col-lg-offset-2 text-center col-md-12">
						<p class="after-description">Grazie. La tua prenotazione verrà verificata dal nostro servizio clienti e nelle prossime 48 ore riceverai la nostra conferma con tutti i dati della tua prossima crociera.</p>
					</div>
				</div>
				<div class="row">
					<div class="after-preventiv">
						<div class="col-md-6">
							<p class="after-description">La tua partenza in crociera é prevista il 25-Jan-2017. Nel caso in cui tu abbia scelto di pagare con la carta di credito, provvederemo all'addebito di tale saldo in automatico. Se invece hai scelto il bonifico bancario o il bollettino postale, 10 gg. prima ti manderemo una mail per ricordarti di effettuare il pagamento.</p>
							<p class="after-description">Se siete cittadini dell'Unione Europea, una carta d'identità o un passaporto in corso di validità saranno sufficienti per viaggiare all'interno dei paesi dell'Unione Europea. In caso contrario, dovete essere in possesso di un pas- saporto valido sei mesi dopo la data di rientro dal viaggio e in regola con eventuali visti necessari.</p>
							<p class="after-description">Entro 7 giorni dalla partenza riceverai i documenti per il tuo imbarco. A seconda della compagnia con la quale viaggerai, i documenti ti verranno spediti.</p>
						
						</div>
						<div class="col-md-6">
							<p class="after-description">direttamente dall'armatore, in altri casi il nostro servizio clienti ti manderà tutto il necessario via mail. In caso di mancata ricezione dopo tale termine ti preghiamo di contattare il nostro servizio clienti al numero 392-1255525</p>
							<p class="after-description">La vostra crociera inizierà il 25-Jan-2017, quindi stampate i biglietti di viaggio necessari all'imbarco. Recativi al porto 2/3 ore prima della partenza, l'imbar- co chiuderà 1 ora prima. Terminato il 'Check in' otterrete la carta d'imbarco e sarete pronti a salpare.... Buon viaggio da Cruisetopic.net</p>
							<p class="after-description">Scatta tante fote e ricorda di tornare sulle nostre pagine per scrivere la tua recensione e guadagnare un buono sconto per la tua prossima crociera. http://cruisetopic.net/review/add_review</p>
							
						</div>
					</div>
				</div>
			</div>

		<!-- TERMS AND CONDITIONS -->
		<div class="row  extra-padding">
			<div class="col-lg-12">
				<div class="attention grey">
					<p>Attenzione: Il contratto sottoscritto in maniera elettronica, avrà effettivo valore solo dopo che il cliente ricevrà la conferma di prenotazione via email. Prima della riconferma da parte di Cruisetopic, gli importi relativi a tutte le singole voci del contratto saranno soggette a riconferma. Sarà responsabilità di ogni singolo passeggero partecipante alla crociera, verificare per tempo ed essere in regola con i documenti necessari (inclusi eventuali visti) per singole destinazioni della crociera selezionata. in caso di volo negli Stati Uniti va richiesto l'Esta al seguente link: https://esta.cbp.dhs.gov/esta/application.html?execution=e1s1 Le informazioni relative ai dettagli di tutti i servizi collegati alla crociera (voli, trasferimenti, hotel, orari, scali...ecc) verranno comunicati dopo la conferma della prenotazione. Tali informazioni inoltre potrebbero subire delle variazioni. Tutte le comunicazioni saranno inviate a mezzo email, all'inidirizzo dell'intestatario del contratto, non oltre 3 giorni dalla data di partenza. Eventuali richieste specifiche (compagnia aerea, hotel, orari, scali) dovranno essere comunicate in sede di prenotazione. Le modifiche richieste successive alla conferma che prevedano un cambio tariffario, saranno a totale carico del cliente. Per tutte le variazioni apportate ai contratti gia sottoscritti causeranno un addebito di 50
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
</div>