<app-inner-header-center [page_title]="'Footer template'"></app-inner-header-center>

<section class="privacy_policy">
	<div class="container">
		<div class="row">
			<h1 class="text-center skin-title2">Condizioni Generali di vendita</h1>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="skin-title">Premessa</h2>
				<p>Cruisetopic.net marchio Digitaltrend SRL (di seguito Cruisetopic.net) che in opera ed agisce in qualità di Intermediario tra il Cliente e la Compagnia di Navigazione o Tour Operator e Agenzia di viaggio. Per questo motivo, le Condizioni Generali applicate alla crociera da te prenotata possono variare in base alla specifica Compagnia di Navigazione. Nell’esecuzione di questa attività si avvale di un partner tecnico di prenotazione e incasso utilizzando la licenza di agenzia “Iviaggichevuoi” registrata: REP_PROV_MB/MB-SUPRO/0022333 del 13/06/2016. Nel caso in cui Cruisetopic.net operi in qualità di Tour Operator (ad esempio nella prenotazione di pacchetti per/post crociera) saranno applicate le condizioni generali di vendita dei pacchetti turistici approvate FIAVET.</p>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="skin-title">Condizioni di utilizzo del sito</h2>
				<p>L'accesso a questo sito Internet implica, da parte dell'utente, l'accettazione senza riserva dei termini e delle condizioni qui di seguito enunciati senza alcuna eccezione. La mancata accettazione di una qualsiasi delle presenti Condizioni Generali determina il divieto di utilizzare il Sito Internet. Il sito è di proprietà di Cruisetopic.net Le immagini, il marchio ed il logo che appaiono nel sito sono stati depositati. Il logo relativo ad ogni prodotto e/o società citati nel sito Cruisetopic.net sono di proprietà esclusiva dei loro autori e depositanti. L'accesso al sito Cruisetopic.net è esclusivamente riservato all'impiego personale degli utenti in attesa di ottenere informazioni relative a crociere. Le informazioni fornite in questo sito possono essere teletrasmesse, riprodotte o stampate soltanto a fini personali. È formalmente vietato modificare, riprodurre, copiare o sfruttare dal punto di vista commerciale il sito Cruisetopic.net. Qualsiasi utilizzo di una o più parti del sito deve essere oggetto di autorizzazione scritta da parte del proprietario del marchio. </p>
				<p>Tutte le descrizioni ed informazioni fornite nel sito non sono da considerarsi definitive, le fotografie esposte non costituiscono elemento contrattuale e sono puramente decorative, non possono perciò impegnare la nostra responsabilità. Per verificare nel dettaglio le caratteristiche della cabina da voi prenotata, vi invitiamo a consultare direttamente il sito della compagnia marittima. Cruisetopic.net non garantisce l'esattezza delle informazioni fornite dalle Compagnie di navigazione, non è responsabile dei cambiamenti che possono intervenire rispetto alle fotografie, ai prezzi, alle tasse, ai termini e alle condizioni. La presenza di offerte speciali sul sito non garantisce la disponibilità né la fruizione delle stesse, che è di sola competenza della compagnia di navigazione. Cruisetopic.net può, a sua sola discrezione, senza preavviso e per qualsiasi ragione, modificare le informazioni contenute nel sito. Nonostante la nostra vigilanza, errori e/o omissioni possono essere presenti all'interno del sito ma non possono in nessun caso esserci attribuiti. Cruisetopic.net e tutti coloro che sono citati su questo sito, declinano qualsiasi responsabilità per i danni, qualunque ne sia la natura, che possono derivare dall'utilizzo dei dati del nostro sito; l'utente è dunque interamente responsabile dell'utilizzo che fa di queste informazioni. </p>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="skin-title">Condizioni generali di vendita</h2>
				<h4>1) Conferma della Crociera</h4>
				<p>Per ogni crociera proposta l'accettazione dell'offerta e soggetta a: Per il compratore dalla conferma effettuata tramite l’accettazione delle condizioni generali di vendita apposta sul contratto on line e all’invio del saldo o acconto riportato sul contratto di viaggio e correttamente inserito tutti i dati necessari di tutti i passeggeri. Da parte del venditore è soggetta all’invio via mail della conferma di prenotazione. Le tariffe relative ai prezzi di tutte le singole voci del preventivo/contratto saranno soggetta a riconferma fino a che Cruisetopic.net non invierà la conferma di prenotazione. I prezzi pubblicati sono aggiornati direttamente dal Database delle compagnie di navigazione, per mezzo di integrazioni xml, e si riferiscono al prezzo per due Adulti paganti in cabina doppia. A causa di problemi di aggiornamento o del continuo aggiornarsi delle tariffe i prezzi pubblicati devono necessariamente essere riconfermati da uno dei nostri operatori. Per completare la prenotazione è necessario firmare il contratto di viaggio ed eseguire il pagamento dell'acconto o il saldo ove previsto. Genericamente le prenotazioni saranno confermate tramite il pagamento di un acconto del 35% all’atto della prenotazione e un saldo a del 65% entro 35 giorni prima della data partenza della crociera. Tale generica consuetudine po’ variare in funzione delle singole compagnie di crociera e in funzione delle tariffe applicate alla prenotazione. In ogni caso in qualsiasi momento tale consuetudine potrà essere soggetta a variazione a discrezione unica di Cruisetopic.net </p>
				<p>Cruisetopic.net non è in alcun modo responsabile dell’assegnazione di cabine. La cabina è assegnata dall'ufficio preposto dell'armatore, Cruisetopic.net non ha facoltà di modificare o intervenire nel processo di assegnazione. Il numero di cabina preso in fase di opzione non può essere garantito in quanto l'armatore ha facoltà di modificarlo in qualunque momento. Per le cabine multiple garantite è possibile che l'armatore assegni più cabine doppie. </p>
				<p>I prezzi pubblicati sulle offerte Medio e Lungo raggio si riferiscono generalmente al solo prezzo cabina, voli, tasse ed assicurazioni escluse. La fruizione delle stesse potrebbe essere vincolato all'acquisto del volo charter messo a disposizione dell'armatore E fatto obbligo al compratore di verificare prima della partenza di essere in possesso del documento di identità (nonché visti eventualmente necessari) richiesto per la crociera scelta e di controllarne la scadenza. Nel caso in cui un ospite non sia in possesso del documento richiesto, non potrà infatti imbarcarsi e non avrà diritto al rimborso del biglietto di crociera. Cruisetopic.net e “I viaggi che vuoi” saranno manlevata da ogni qualsivoglia mancanza da parte del cliente nel controllo dei documenti di identità necessari.</p>
				<h4>2)Pagamento della Crociera</h4>
				<p>Sono accettate le seguenti forme di pagamento:</p>
				<ul>
					<li>Bonifico Bancario</li>
					<li>Carta di credito</li>
					<li>Bollettino postale</li>
				</ul>
				<p>Se il pagamento viene effettuato tramite bonifico bancario o bollettino postale è necessario inviare via fax o mail la ricevuta di pagamento.</p>
				<p>Se il pagamento viene effettuato con carta di credito dopo aver confermato la richiesta di prenotazione inserendo tutti i dati richiesti nell’apposita pagina del sito riceverà una e-mail con un numero di prenotazione. Successivamente, si provvederà a controllare la Sua prenotazione e che il pagamento possa essere elaborato correttamente. Il nostro obbligo di confermare la crociera sarà soggetto al regolare pagamento dell’effettiva disponibilità/costo della cabina prescelta. Nel caso in cui venga utilizzata una carta di credito con fondi insufficienti e/o una carta di credito che viene respinta dalla banca a causa di altri motivi a Lei imputabili, Cruisetopic.net Le fornirà le istruzioni per finalizzare il pagamento della prenotazione (fino a quando non sarà effettivo il pagamento completo, non potrà ricevere conferma della prenotazione da Lei richiesta e la tariffa della compagnia). </p>
				<p>Se la Sua prenotazione viene pagata con una carta di credito appartenente a terzi, ci riserviamo la possibilità di richiedere l'autorizzazione scritta a cura del titolare della carta. Tutti gli indirizzi e-mail utilizzati devono essere validi al momento della prenotazione.</p>
				<p>Nel tentativo di ridurre al minimo gli effetti delle frodi con carta di credito, Cruisetopic.net si riserva il diritto di effettuare controlli a campione, e di chiedere prova del Suo indirizzo e/o una copia della carta di credito prima di emettere la conferma di prenotazione. </p>
				<p>Al fine di fornire una maggiore sicurezza, Le verrà chiesto di inserire tutte le informazioni che si trovano sulla vostra carta per ogni acquisto effettuato per tramite del sito Cruisetopic.net. Lei autorizza la società Cruisetopic.netad utilizzare le informazioni sulla carta di credito da Lei fornita, anche in data successiva alla richiesta di prenotazione:</p>
				<ol>
					<li>Al fine di rendere il pagamento dei servizi richiesti e delle quote di agenzia,</li>
					<li>per il pagamento del premio dell’eventuale assicurazione,</li>
					<li>per il trattamento di eventuali rimborsi</li>
					<li>per il pagamento delle quote di agenzia dovute per servizi richiesti post- intermediazione.</li>
				</ol>

				per il pagamento delle quote a saldo della crociera prenotata nel caso in cui sia previsto un acconto e un saldo successivo alla data di prenotazione.
				<h4>3) Annullamento o modifica della crociera</h4>
				<p>La possibilità di cancellare o di modificare un prodotto o un servizio prenotato, e le relative modalità, dipenderanno esclusivamente dalle condizioni e dai termini specifici del Fornitore ovvero dalle Compagnie di navigazione, compagnie aeree in caso di voli o Tour Operator in caso di acquisto pacchetti pre/post Crociera. Nella sezione "Condizioni Generali Compagnie di Crociere" sono riportate le condizioni di vendita delle compagnie. Alcune tariffe speciali e promozionali come ad esempio non esaustivo "MSC Provaci", "MSC Scoprici", "Risparmia Subito Costa Crociere", "Formula Roulette/Parti Subito Costa Crociere", "Pronti Via Costa Crociere" “Costa tariffa basic” hanno condizioni di vendita differenti da quelle generali riportate sul nostro portale. Tali condizioni di vendita sono riportate in file separati e consultabili sul sito dell'armatore. Potrebbe pertanto rivelarsi impossibile cancellare o modificare taluni prodotti o servizi, senza l'applicazione di una penale. In caso di annullamento o di modifica dell'avvenuta prenotazione, Cruisetopic.net applicherà 50.00 euro a passeggero a titolo di "spese di gestione pratica amministrativa" da sommarsi alle penali previste dalle Compagnie. </p>
				<p>In caso di servizio prenotazione voli effettuato da parte di Cruisetopic.netsarà richiesta una commissione di emissione di 20,00 € per biglietto e saranno applicate le condizioni di vendita dettate da ogni compagnia aerea in funzione del tipo di biglietto. Prima di stipulare la prenotazione della crociera, potrai verificare le Condizioni Generali esatte relative alla Compagnia di Navigazione specifica alla tua prenotazione tramite i link pubblicati on line </p>
				<p>Su richiesta del cliente, Cruisetopic.net mette a disposizione i termini e le condizioni di vendita dei vari armatori che rappresenta alla pagina termini e condizioni generali . L'acquirente si impegna a leggere questi documenti e dichiara, con la firma del contratto di acquisto, di avere preso conoscenza del testo integrale dei termini e condizioni di vendita di ogni società di crociera e di accettarla. </p>
				<p>Non è previsto diritto di recesso. Il diritto di recesso si esercita ai sensi e per gli effetti dell’art. 64 e ss. del D.Lgs. 206/05 (codice del consumo). Al di là della sua generica e consolidata natura civilistica, il Codice del Consumo ha riconosciuto al consumatore, per i contratti conclusi a distanza e fuori dai locali commerciali, il diritto di recedere unilateralmente dal contratto stipulato per l'acquisto di beni e servizi. Però, il diritto di recesso, non può essere esercitato dal consumatore, tra l'altro, ai servizi relativi all’alloggio, ai trasporti, alla ristorazione, al tempo libero, quando è prevista una data o un periodo determinato per la fornitura (per esempio con prenotazione), a condizione che tali disposizioni vengano scritte sul contratto e, quindi, il consumatore ne sia a conoscenza. A maggior ragione non è previsto il diritto di recesso, da parte del consumatore, secondo il coordinato disposto dell'articolo 55 comma 1, lettera b) e del successivo comma 2 lettera a) del codice del consumo ( contratti last minute e last second in quanto si rientra nel limite dei 10 giorni).</p>
				<h4>4) Invio dei documenti di viaggio</h4>
				<p>Cruisetopic.netconfida nell'accuratezza delle informazioni fornite dal cliente; non può pertanto essere ritenuta responsabile nei confronti dello stesso né per la perdita di documenti cartacei causata da un indirizzo non corretto né per la mancata consegna di e-ticket dovuta all'inesattezza dell'indirizzo di posta elettronica, all'installazione non corretta del programma di posta elettronica, all'azione di filtri antispam o a disservizi della rete Internet. È dovere del cliente comunicare tempestivamente ogni eventuale variazione di indirizzo di posta elettronica o di recapito telefonico. I clienti sono inoltre pregati di verificare che il nome riportato su passaporti o carte di identità corrisponda a quello riportato sul biglietto di viaggio. È responsabilità del cliente notificare per tempo a Cruisetopic.netl'eventuale mancato ricevimento dei biglietti. Nel caso in cui la mancata consegna dei documenti dei clienti non venga segnalata con largo anticipo, e comunque non prima di sette giorni rispetto alla data di partenza, Cruisetopic.net non potrà in alcun modo garantire una puntuale consegna dei biglietti sostitutivi</p>
				<h4>5) Autorizzazione all’utilizzo dei dati</h4>
				<p>I dati degli utenti possono essere utilizzati per offrire agli stessi il più elevato livello di servizio possibile e per contattarli in caso di variazioni apportate al programma di viaggio acquistato, ad esempio cambi di orario di un volo, ritardi, ecc.; 
				Inoltre l'utilizzo dei dati degli utenti può avvenire al fine di aggiornare in merito ai nostri prodotti e servizi, alle nostre offerte speciali e alle nostre promozioni, nonché per inviare del materiale informativo che potrebbe risultare di qualche interesse. Comunicazioni commerciali potranno essere inviate mediante e-mail, telefax, Mms o Sms solo previo consenso degli utenti. Anche se tali comunicazioni potrebbero includere, di quando in quando, informazioni relative a prodotti di terzi, detti terzi NON Vi contatteranno direttamente (a meno che non siano invitati espressamente a farlo) 
				Cruisetopic.netsi impegna a non divulgare i dati dei suoi utenti a terzi, tranne che nei casi in cui ciò si riveli necessario ai fini del perfezionamento di una prenotazione, di un acquisto o di una qualsivoglia richiesta effettuata tramite sito web, ovvero nei casi previsti nella presente informativa. Siamo inoltre tenuti a divulgare i dati personali degli utenti in tutti i casi previsti dalla legge, e questi dati potranno altresì essere comunicati a terze parti e consulenti professionali che agiscono per nostro conto e che hanno comunque l'obbligo di preservarne la segretezza. 
				Cruisetopic.netutilizza anche i "cookie" per raccogliere informazioni in merito alle modalità di utilizzo del sito web da parte degli utenti. I cookie sono dei file di testo che vengono utilizzati per uso statistico senza alcun intento di danneggiare o violare la privacy e che permettono di immagazzinare temporaneamente informazioni all'interno del Vostro PC: ciò ci consente di riconoscere il computer utilizzato per accedere al sito web www.Cruisetopic.net. Tutte le informazioni contenute nei Cookie non verranno utilizzate per un uso diverso da quello sopra indicato. La maggior parte dei PC accettano automaticamente i cookie: Voi potete comunque cancellare i cookie già esistenti nel Vostro PC. Potete anche modificare le opzioni, così da non ricevere più cookie in futuro</p>
				<h4>6) Normative del contratto on line</h4>
				<p>Gli articoli di legge specifici, relativi alla vendita "on line", estratti dal "Codice del turismo". 
				Decreto legislativo del 23 maggio 2011 n. 79 (codice del turismo) ART. 32 (Ambito di applicazione) 2011 n. 79 (codice del turismo) ART. 32 (Ambito di applicazione) </p>
				<p>Le disposizioni del presente capo di applicano ai pacchetti turistici definiti dall’articolo 34, venduti od offerti in vendita a chiunque nel territorio nazionale dall’organizzatore o dall’intermediario, di cui all’articolo 33. 2. Il presente capo si applica altresì ai pacchetti turistici negoziati al di fuori dai locali commerciali o a distanza. Restano ferme le disposizioni previste negli articoli da 64 a 67 del decreto legislativo 6 settembre 2005, n. 206 (Codice del consumo). Il tale caso il professionista è obbligato a comunicare per iscritto l’esclusione del diritto di recesso. L’omessa comunicazione in merito all’inesistenza del diritto di recesso determina l’applicabilità degli articoli 64, 65, 66 e 67 del decreto legislativo 6 settembre 2005, n. 206. 3. Per quanto non previsto dal presente capo, si applicano le disposizioni del decreto legislativo 6 settembre 2005, n. 206 (Codice del consumo). </p>
				<p>Il diritto di recesso si esercita ai sensi e per gli effetti dell’art. 64 e ss. del D.Lgs. 206/05 (codice del consumo). Al di là della sua generica e consolidata natura civilistica, il Codice del Consumo ha riconosciuto al consumatore, per i contratti conclusi a distanza e fuori dai locali commerciali, il diritto di recedere unilateralmente dal contratto stipulato per l'acquisto di beni e servizi. Però, il diritto di recesso, non può essere esercitato dal consumatore, tra l'altro, ai servizi relativi all’alloggio, ai trasporti, alla ristorazione, al tempo libero, quando e’ prevista una data o un periodo determinato per la fornitura (per esempio con prenotazione), a condizione che tali disposizioni vengano scritte sul contratto e, quindi, il consumatore ne sia a conoscenza. A maggior ragione non é previsto il diritto di recesso, da parte del consumatore, secondo il coordinato disposto dell'articolo 55 comma 1, lettera b) e del successivo comma 2 lettera a) del codice del consumo ( contratti last minute e last second - in quanto si rientra nel limite dei 10 giorni). </p>
				<p>Elenco Condizioni generali di vendita delle singole compagnie sono visibili ai seguenti siti internet:</p>
				<ul>
					<li>Costa: www.costa.it</li>
					<li>Msc: www.msccrociere.it</li>
					<li>Ncl: it.ncl.eu</li>
					<li>Royal Caribbean: www.royalcarebbean.com</li>
					<li>Carnival: www.carnival.com</li>
					<li>Holland America: www.hollandamerica.com</li>
				</ul>						
			</div>
			
			<div class="col-md-12 col-sm-12 col-xs-12 margin-top">
				<img src="../assets/img/baner.png" class="img-responsive" alt="Banner">
			</div>
		</div>	
	</div>
</section>
      