<app-inner-header-left [page_title]="'MEDITERRANEAN'"></app-inner-header-left>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<div id="search_form" >
		<div class="login-buttons">
			<p><i class="fa fa-phone" aria-hidden="true"></i><strong> 893.444.93</strong></p>
			<br>
			<a href="javascript:;" (click)="openRegister()" [ngClass]="registerOpen ? 'active' : ''">iscriviti</a>
			<a href="javascript:;" (click)="openLogin()" [ngClass]="loginOpen ? 'active' : ''" >login</a>
		</div>
		<form *ngIf="!loginOpen && !registerOpen" id="formsearchtravel" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" >
			<select name="destinazione">
				<option value="ALL">Seleziona la destinazione</option>
				<optgroup label="AFRICA">
					<option value="1">Africa del Sud</option>
				</optgroup>
				<optgroup label="AMERICA">
					<option value="SUBAmerica del Nord">America del Nord</option>
					<option value="2">&nbsp;&nbsp;&nbsp;-Alaska</option>
					<option value="3">&nbsp;&nbsp;&nbsp;-America del Nord</option>
					<option value="6">&nbsp;&nbsp;&nbsp;-Canada - Bermuda</option>

					<option value="SUBCentro - Sud America">Centro - Sud America</option>
					<option value="4">&nbsp;&nbsp;&nbsp;-America del sud</option>
					<option value="5">&nbsp;&nbsp;&nbsp;-Brasile</option>
					<option value="7">&nbsp;&nbsp;&nbsp;-Canale di Panama</option>
				</optgroup>
				<optgroup label="CARAIBI">
					<option value="8">Caraibi - Antille</option>
					<option value="9">Caraibi - Bahamas</option>
					<option value="10">Caraibi - Messico - Giamaica</option>
				</optgroup>
				<optgroup label="EUROPA">
					<option value="SUBEuropa del Nord">Europa del Nord</option>
					<option value="12">&nbsp;&nbsp;&nbsp;-Europa del Nord</option>
					<option value="13">&nbsp;&nbsp;&nbsp;-Fiordi e Scandinavia</option>
					<option value="17">&nbsp;&nbsp;&nbsp;-Mar Baltico</option>
					<option value="SUBMediterraneo">Mediterraneo</option>
					<option value="14">&nbsp;&nbsp;&nbsp;-Isole Baleari - Spagna - Francia</option>
					<option value="16">&nbsp;&nbsp;&nbsp;-Isole Greche - Grecia - Turchia</option>
					<option value="SUBAtlantico">Atlantico</option>
					<option value="15">&nbsp;&nbsp;&nbsp;-Isole Canarie</option>
					<option value="11">&nbsp;&nbsp;&nbsp;-Portogallo - Azzore</option>
				</optgroup>
				<optgroup label="GIRO DEL MONDO">
					<option value="19">Giro del Mondo</option>
				</optgroup>
				<optgroup label="MARI ORIENTALI">
					<option value="20">Asia</option>
					<option value="21">Medio Oriente - Emirati</option>
					<option value="22">Oceano Indiano</option>
				</optgroup>
				<optgroup label="PACIFICO">
					<option value="23">Australia / Nuova Zelanda</option>
					<option value="24">Canale di Panama</option>
					<option value="25">Galapagos</option>
					<option value="26">Hawai - Isole del Pacifico - Gappone</option>
					<option value="27">Riviera Messicana</option>
				</optgroup>
				<optgroup label="TRANSOCEANICHE">
					<option value="28">Transatlantico</option>
					<option value="29">Transpacifico</option>
				</optgroup>
			</select>

			<select name="month">
				<option value="ALL" > Seleziona il mese</option>
				<optgroup label="2016">
					<option value="11_2016">Novembre</option>
					<option value="12_2016">Dicembre</option>
				</optgroup>
				<optgroup label="2017">
					<option value="1_2017">Gennaio</option>
					<option value="2_2017">Febbraio</option>
					<option value="3_2017">Marzo</option>
					<option value="4_2017">Aprile</option>
					<option value="5_2017">Maggio</option>
					<option value="6_2017">Giugno</option>
					<option value="7_2017">Luglio </option>
					<option value="8_2017">Agosto</option>
					<option value="9_2017">Settembre</option>
					<option value="10_2017">Ottobre</option>
					<option value="11_2017">Novembre</option>
					<option value="12_2017">Dicembre</option>
				</optgroup>
			</select>

			<select name="company" >
				<option value="ALL" selected="selected"> Seleziona la Compagnia </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<select name="port">
				<option value="ALL"> Seleziona il PORTO </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<!-- <button type="submit" id="SubmitSearch" class="btn btn-default">Cerca la tua crociera</button> -->
			<input value="Cerca la tua crociera" type="submit" id="SubmitSearch">
		</form>
		<form *ngIf="loginOpen" id="login-form" (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <input type="email" name="email" ngModel  class="form-control" placeholder="Username">
            <input type="password" name="password" ngModel  class="form-control" placeholder="Password">
            <a href="#">Hai dimenticato la password?</a>
            <button type="submit"  class="btn btn-default btn-block">Entra</button>
            <h3><a href="#">or registrati</a></h3>
            <div class="row social-login">
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/facebook-login.png" alt=""></a></div>
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/gplus-login.png" alt=""></a></div>
            </div>
        </form>
        <form *ngIf="registerOpen" id="login-form" class="register" (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
            <input type="email" name="email" ngModel class="form-control" placeholder="Username">
            <input type="text" name="name" ngModel class="form-control" placeholder="Name">
            <input type="text" name="surname" ngModel class="form-control" placeholder="Cognome">
            <h2>Politica di Privacy</h2>
            <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
            <ol>
                <li>
                    <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Invio di questionari di soddisfazione, attività di customer care ed attività di profilazione nominativa per sviluppare, fornire e migliorare i servizi e renderli più rispondenti alle esigenze dei clienti, nonché per inviare informazioni e offerte più mirate e di maggior interesse.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Comunicare i suoi dati a società del gruppo di Cruisetopic.net, per l’invio, da parte di questi, di materiale informativo e/o pubblicitario sui propri prodotti e servizi.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
            </ol>
            <button class="btn btn-default btn-block">Iscriviti</button>
        </form>
</div>

<app-link-bar></app-link-bar>

<section class="destination-info">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="grey-block">
							<h3>I  CARAIBI</h3>
							<p class="mar50">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
							<p id="demo" class="collapse">
							    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							  </p>
							<div class="red-button">
								<button type="button" data-toggle="collapse" data-target="#demo">read more</button>
							</div>						
						</div>
					</div>
					<div class="col-md-6">
						<!-- <div class="image-info text-center">
							<hr>
							<h2>Destinazione</h2>
							<img src="../assets/img/small.png">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
						</div> -->
						<div class="image-container">
							<img src="../assets/img/greece.jpg">
						</div>
					</div>
				</div>
			</div>
</section>


<section class="ports-on-destination">
	<div class="container">
		<div class="row extra-padding">
			<div class="col-md-12">
				<h2 class="skin-title">CONSIGLIATI  DA  NOI</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				 <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" (mapClick)="mapClicked($event)">
				 	<agm-marker *ngFor="let m of markers; let i = index"
          						[latitude]="m.lat" [longitude]="m.lng">
          			</agm-marker>
				 	<agm-polyline [geodesic]=true [strokeWeight]="7">
				 		<div *ngFor="let m of markers; let i = index" >
				 			<agm-polyline-point  [latitude]="m.lat" [longitude]="m.lng"></agm-polyline-point>
				 		</div>
				 	</agm-polyline>
				 </agm-map>
				 
			</div>
		</div>
	</div>
</section>


<section class="related-offers">
	<div class="container">
		<div class="row extra-padding">
			<div class="col-md-12">
				<h2 class="skin-title">ALTRE   OFFERTE </h2>
			</div>
		</div>

		<div class="row add-margin-bottom-30">
			<div class="col-md-4"  *ngFor="let offer_single of offerBlock">
				<div class="single-related">
					<!-- <div class="image-id text-center">
						<h3>{{offer_single.destination}}</h3>
					</div> -->
					<div class="add-to-wishlist">
						<input class="add-wishlist" id="{{offer_single.wishlist_id}}" type="checkbox" value="0" name="add to wishlist" checked="{{offer_single.checked}}">
                        <label class="add-wishlist" for="{{offer_single.wishlist_id}}"></label>
					</div>
					<div class="image-container">
						<img src="{{offer_single.background}}">
					</div>
					<a href="">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png">
							<p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>	
					</a>					
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="red-button right">
						<a href="search.html">VEDI TUTTE LE OFFERTE </a>
				</div>
			</div>
		</div>
	</div>
</section>