<app-inner-header-center [page_title]="'single blog'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<!-- Blog Part1 Tao -->
<section class="blog-part1"  *ngIf="singleBlog">
  <div class="container">
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-div">
        <h1>{{singleBlog.title}}</h1>
        <h4>Date : {{singleBlog.date}}</h4>
        <p>{{singleBlog.p_1}}</p>
       </div>
       <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-div">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom">
              <img src="../assets/img/gall1.jpg" class="img-responsive" alt="Image">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <p>{{singleBlog.p_2}}</p>
            </div>
        </div>
       </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
        <p>{{singleBlog.p_3}}</p>
       </div>
    </div>
  </div>
</section>
<!-- End Blog Part1 Tao -->



<!-- Blog Part2 Tao -->
<section class="blog-part2"  *ngIf="singleBlog">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12 skin-img">
          <img src="../assets/img/shirit.png">
        <h1>Other from the blog</h1>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div role="tabpanel" class="tab-pane" id="blog-carousel">
              <div class="blog-carousel" *ngIf="singleBlog.similar">

                <div class="item"  *ngFor="let single of singleBlog.similar">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-bottom">
                        <img src="{{single.news_image}}" alt="Image">
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-bottom">
                          <h4>{{single.news_title}}</h4>
                          <p>{{single.news_excerpt}}</p>
                          <a href="{{single.news_link}}" class="btn btn-default">Read More</a>
                      </div>
                    </div>
                </div>

            </div>
        </div>
      </div>

    </div>
  </div>  
</section>
<!-- End Blog Part2 Tao -->

