<app-inner-header-center [page_title]="'SUBSCRIbE'"></app-inner-header-center>

 <!--  Subscription 1 Tao -->
<section class="sub-part1">
      <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-x-12 text-center skin-img">
                    <img src="../assets/img/shiritskin.png" alt="banner">
                	<h2>Iscriviti per ricevere offerte e news</h2>
                </div>
                <div class="col-md-12 col-sm-12 col-x-12">
                <p>I campi contrassegnati con * sono obbligatori</p>
                	<form>
                	  	<div class="row">
                    		<div class="col-md-12 col-sm-12 col-x-12 margin-bottom">
                    			<label for="email">E-mail<span class="required">*</span></label>
                                <input type="text" id="email" name="email" placeholder="someone@mail.com" aria-required="true" required>
                    		</div>
                    		<div class="col-md-6 col-sm-6 col-x-12 margin-bottom">
                    			<label for="nome">Nome</label>
                    			<input type="text" id="nome" name="email" aria-required="true">
                    		</div>
                    		<div class="col-md-6 col-sm-6 col-x-12">
                    			<label for="cognome">Cognome</label>
                    			<input type="text" id="cognome" name="email" aria-required="true">
                    		</div>
                		</div>
                	</form>
                </div>
            </div>
      </div>
</section>
<!-- End  Subscription 1 Tao -->



<!--  Subscription 2 Tao -->
<section class="sub-part2">
      <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-x-12">
               	  	<h4>La tua recensione</h4>
               	  	<p>
						DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei
						dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di
						gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che
						possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome,
						cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl
						garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto
						della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA
						PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL
						COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di
						condivisione delle informazioni che DigitlTrend Srl adotterà.
				  	</p>
               </div>
            </div>
      </div>
</section>
<!-- End  Subscription 2 Tao -->



<!--  Subscription 3 Tao -->
<section class="sub-part3">
      <div class="container">
            <div class="row">
               <div class="col-md-8 col-sm-8 col-xs-12 margin-bottom">
               	 <p>1. Invio da parte di Cruisetopic.net di comunicazioni aventi contenuto promozionale, informativo, ivi incluse manifestazioni a premio, inviti, sconti dedicati, annunci sulle ultime novità di prodotti e servizi.</p>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom">
               	 <div class="row">
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>Si</label>
               	 		<input type="radio" value="1" name="accept1" required>
               	 	</div>
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>No</label>
               	 		<input type="radio" value="2" name="accept1" required>
               	 	</div>
               	 </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 col-sm-8 col-xs-12 margin-bottom">
               	 <p>2. Invio di questionari di soddisfazione, attività di customer care ed attività di profilazione nominativa per sviluppare, fornire e migliorare i servizi e renderli più rispondenti alle esigenz e dei clienti, nonché per inviare informazioni e offerte più mirate e di maggior interesse.</p>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom">
               	 <div class="row">
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>Si</label>
               	 		<input type="radio" value="1" name="accept2" required>
               	 	</div>
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>No</label>
               	 		<input type="radio" value="2" name="accept2" required>
               	 	</div>
               	 </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 col-sm-8 col-xs-12 margin-bottom">
               	 <p>3. Comunicare i suoi dati a società del gruppo di Cruisetopic.net, per l’invio, da parte di questi, di materiale informativ e/o pubblicitario sui propri prodotti e servizi.</p>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-12 margin-bottom">
               	 <div class="row">
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>Si</label>
               	 		<input type="radio" value="1" name="accept3" required>
               	 	</div>
               	 	<div class="col-md-3 col-sm-4 col-xs-12 padding-left">
               	 		<label>No</label>
               	 		<input type="radio" value="2" name="accept3" required>
               	 	</div>
               	 </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
               	 <button type="button" class="btn btn-default btn-block">Iscriviti</button>
               </div>
            </div>
      </div>
</section>
<!-- End  Subscription 3 Tao -->