

/******************************   Subscription Stylesheet ******************************/


/**************************************
01.Subscription-part1
**************************************/
section.sub-part1 {
    padding-top: 60px;
}
.sub-part1 .skin-img img {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
.sub-part1 h2 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 25px;
   color: #02012D;
   letter-spacing: 0.02em;
   display: inline-block;
   margin: 0;
}
.sub-part1 p {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   color: #02012D;
   letter-spacing: 0.02em;
   margin: 30px 0;
   text-align: center !important;
}
.sub-part1 .margin-bottom {
  margin-bottom: 25px;
}
.sub-part1 label {
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 400;*/
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #02012D;
  margin-bottom: 10px;
}
.sub-part1 input {
   width: 100%;
   height: 45px; 
   padding: 10px; 
}


/**************************************
02.Subscription-part2
**************************************/
.sub-part2 {

}
.sub-part2 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02012D;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
.sub-part2 p {
    margin: 0;
}


/**************************************
03.Subscription-part3
**************************************/
.sub-part3 {

}
.sub-part3 p {
    margin: 0;
}
.sub-part3 .margin-bottom {
    margin-bottom: 40px;
}
.sub-part3 label {
  font-family: 'Open Sans', sans-serif;
  /*font-weight: 400;*/
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #02012D;
}
.sub-part3 .btn {
    width: 480px;
    height: 45px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #15ABC8;
    color: #fff;
    border-radius: 0;
    border: 1px solid #15ABC8;
}
.sub-part3 .btn:focus,
.sub-part3 .btn:hover {
    background-color: #15ABC8;
    color: #fff;
    border: 1px solid #15ABC8;
}

/**************************************
04.General 
**************************************/
.sub-part1 p,
.sub-part2 p,
.sub-part3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}



/************************************
05. Media Queries
*************************************/


 /*==========  Non-Mobile First Method  ==========*/
    
   
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
       .sub-part1 p,
       .sub-part2 p,
       .sub-part3 p {
           text-align: justify;
       }
       section {
            padding: 25px 0;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) { 
        .sub-part1 .margin-bottom {
            margin-bottom: 25px;
        }
        .sub-part3 .margin-bottom {
            margin-bottom: 25px;
        }
        .sub-part3 .padding-left {
            padding-left: 25px
        }
        .sub-part3 input {
            float: left;
        }
        .sub-part3 label {
            margin-left: 5px;
        }

    }
    @media only screen and (max-width : 550px) {
        .sub-part3 .btn {
            width: 100%;
        }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        section.sub-part1 {
            padding-top: 50px;
        }
        .sub-part1 .margin-bottom {
            margin-bottom: 20px;
        }
        .sub-part1 .skin-img img {
            display: none
        }
    }
    @media only screen and (max-width : 360px) {
       .sub-part1 h2 {
        font-size: 22px;
       }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .sub-part1 h2 {
        font-size: 20px;
       }
    }

