/*tao stylesheet*/
/************************************
01. Company_List
*************************************/
.company_list {

    position: relative;
    padding-bottom: 0px;
    -webkit-background-image: url(/assets/img/companie-list-bg.png);
    -webkit-background-position: 100% 85%;
    -webkit-background-repeat: no-repeat;
    background-image: url(/assets/img/companie-list-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 70%;
    padding-top: 0px;
}
 .company_list.recensioni-filter{
    background-image: url(/assets/img/recensioni.png);
    background-size: 50%;
 }
.company_list figure.effect-bubba p {
    opacity: 1;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.06em;
        padding: 20px 2.5em;
}
.company_list figure.effect-bubba:hover h2, figure.effect-bubba:hover p {
	-webkit-transform: translate3d(0, 20px, 0) !important;
    transform: translate3d(0, 20px, 0) !important;
} 
.company_list figure.effect-bubba p img{
    opacity: 1;
}
figure.effect-bubba figcaption::before {
    border-top: none;
    border-bottom: none;
}
figure.effect-bubba figcaption::after {
    border-right: none;
    border-left: none;
}

/**************************************
04.Nave Recensioni / Part4
**************************************/
.div-bg-color {
    background-color: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 25px;
    border: 1px solid #f0f0f0;
}
.recensioni-slider {
   padding-bottom: 100px;
}
.recensioni-slider p{
   font-family: 'Open Sans', sans-serif;
   color: #101322;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   padding: 0 50px;
   margin: 0;
   margin-bottom: 55px;
}
.recensioni-slider .testimonial-user {
  margin-top: 0;
  margin-bottom: 30px;
}
.nave-comment {
  color: #0b0f1a;
  font-weight: bold;
  text-transform: uppercase;
}
.recensioni-slider .btn-000 {
   margin-top: 40px;
}
.rating {
    float: right;
}
.margin-a1 a {
    margin-left: -3px;
    margin-top: -4px;
}
.margin-a2 a {
    margin-left: -35px;
    margin-top: -4px;
}
.recensioni-slider .owl-prev {
    position: absolute;
    right: 0;
    top: 42%;
}
.recensioni-slider .owl-next {
    position: absolute;
    left: 0;
    top: 42%;
}

.martop30{
    margin-top: 30px;
}


/************************************
02. Media Queries
*************************************/

/*==========  Non-Mobile First Method  ==========*/
   
    /* Large Devices, Wide Screens */
    @media (max-width: 1920px) {
           .company_list figure.effect-bubba p {
    		top: 35%;
    		left: 30%;
			}
    }
    @media (max-width: 1300px) {
           .company_list figure.effect-bubba p {
    	    top: 24%;
    		left: 16%;
			}  
    }
    @media (max-width: 1200px) {
           .company_list figure.effect-bubba p {
    	    top: 25%;
    		left: 15%;
        }
        .company_list{
            background-size: 50%;
        }
    }
    @media (max-width: 1180px) {
    	.company_list figure.effect-bubba p {
    	    top: 33%;
    		left: 28%;
        }
         .company_list.recensioni-filter{
            background-size: 40%;
         }
    }
    
    /* Medium Devices, Desktops */
    @media (max-width: 992px) {
        .company_list figure.effect-bubba p {
    	    top: 27%;
    		left: 21%;
        }
    }
    @media ( min-width: 992px) {

    }
    /* Small Devices, Tablets */
    @media (max-width: 768px) {
        .company_list.recensioni-filter{
            background-image: none;
         }
    	 .company_list figure.effect-bubba p {
             top: 35%;
    		 left: 28%;
    	 }
    	 .company_list figure.effect-bubba figcaption img {
   			 width: 250px;
		 }
         .margin-b {
		 	margin-bottom: 15px;
		 }
          .company_list{
            background-image: none;
        }
    }
    @media (min-width: 768px) {
    	.company_list .company_list .col-md-4, .company_list .col-sm-6 {
            padding-left: 0;
            padding-right: 0;
		}
    }
    /* Extra Small Devices, Phones */ 
    @media (max-width: 480px) {
        .recensioni-slider p{
         padding: 0px 15px;  
        }
        .div-bg-color{
            padding: 15px 0px;
        }
         .company_list figure.effect-bubba p {      
            top: 23%;
    		left: 18%;
    	 }
    	 .company_list figure.effect-bubba figcaption img {
   			 width: 220px;
		 }
    }
    @media (max-width: 420px) {
		.company_list figure.effect-bubba p {
    		top: 17%;
    		left: 13%;
		}
	}
    @media (max-width: 400px) {
         .company_list figure.effect-bubba p {      
             top: 13%;
             left: 8%;
    	 }
    }
     @media (max-width: 350px) {
         .company_list figure.effect-bubba p {      
            top: 9%;
    	    left: 6%;
    	 }
    	 .company_list figure.effect-bubba figcaption img {
    	 	width: 70%;
    	 }
    }
    /* Custom, iPhone Retina */ 
    @media (max-width: 320px) {
           .company_list figure.effect-bubba p {
              top: 14%;
    		  left: 0%;
    	 }
    }
    

/******************************   Recensioni Nave Stylesheet ******************************/


/**************************************
01.MSC
**************************************/
.msc-armonia {
  background-color: #ededed;
  padding: 110px 0;
}
.msc-armonia h1 {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 35px;
 color: #12afd0;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 margin: 0;
}




/**************************************
02.Part1
**************************************/
.part1-rec {
  padding-top: 150px;
}
.part1-rec img {
    width: 100%;
    display: block;
    height: 515px;
    object-fit: cover;
}
.part1-rec .div-color-block {
    background-color: #f2f2f2;
    padding: 50px 60px 55px 60px;
}
.part1-rec h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #2f3a56;
    text-transform: uppercase;
    /*letter-spacing: 0.07em;*/
    margin-top: 0;
    margin-bottom: 50px;
}
.part1-rec p {
    margin-bottom: 90px;
    color: #101322;
    font-size: 18px;
}
.part1-rec .btn-000 {
    background-image: url(/assets/img/buton-red.png);
    background-size: contain;
    display: inline-block;
    width: 261px;
    height: 73px;
    background-repeat: no-repeat;
    padding-top: 28px;
    padding-left: 65px;
}
.part1-rec .btn-000 button {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    background-color: transparent;
    border: none;
    margin-left: -9px;
    margin-top: -3px;
}



/**************************************
03.Part2
**************************************/
.nostra-rec {

}
.nostra-rec h2 {
    color: #2f3a50;
}
.nostra-rec p {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.table>tbody>tr>td {
    border: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #2f3a50;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}
.table {
    border: 2px solid #e2dbd3;
}
.color-td {
    background-color: #ece5db;
    border-left: 2px solid #e8e5dc;
}



/**************************************
04.Part3
**************************************/
.client-rec {

}
.client-rec h2 {
  color: #2f3a50;
}
.client-rec .border-bottom {
  border-bottom: 1px solid #b6b6b6;
}
.client-rec .div-padding {
  padding: 60px 0;
}
.clinet-rec p {
    font-weight: 400;
    color: #656565;
}
.client-rec h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
}
p.rate01 {
    color: #c5cace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 25px;
}
.img-dimension {
    float: left;
}
.img-dimension img{
    height: 95px;
    width: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.testimon {
    margin-left: 120px;
}
.testimon .btn {
   background-color: transparent;
   border-bottom: 1px solid #25253f;
   border-radius: 0;
   color: #6c6c6c;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   padding: 5px 0;
   text-transform: uppercase;
}
.testimon .btn:focus ,
.testimon .btn:hover {
    color: #25253f;
}


/**************************************
05.General Things
**************************************/
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #2f3a56;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 70px;
}
p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-weight: 400;
}
.skin-img img {
    display: inline-block !important;
    margin-right: 20px;
    margin-bottom: 25px;
  
}
.skin-img h2 {
    display: inline-block;
}



/************************************
06. Media Queries
*************************************/


 /*==========  Non-Mobile First Method  ==========*/
    
    @media only screen and (max-width : 1699px) {
      .part1-rec p  {
        margin-bottom: 42px;
      }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    }
    @media only screen and (max-width : 1199px) {
      .part1-rec img {
        height: 571px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .part1-rec {
        padding-top: 110px;
      }
      .part1-rec .margin-bottom {
        margin-bottom: 15px;
      }
      .part1-rec img {
        height: 500px;
      }
      .nostra-rec p {
        margin-bottom: 30px
      }
    }
    @media only screen and (max-width : 848px) {
       .skin-img img {
            display: none !important;
       }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       .msc-armonia {
            padding: 75px 0;
        }
       .msc-armonia h1{
            font-size: 25px;
       }
       .part1-rec img {
            height: 450px;
        }
       .part1-rec h3 {
            font-size: 22px;
            margin-bottom: 35px;
        }
       .part1-rec .div-color-block {
            padding: 40px 60px 45px 60px;
        }
       .rating01 {
            margin-bottom: 15px;
       }
       .rating01 img, 
       .rating01 p{
           display: inline;
       }
       .rating01 p {
            vertical-align: middle;
            margin-left: 15px;
       }
       .img-dimension {
            float: none;
            margin-bottom: 20px;
       }
       .img-dimension img {
            margin: 0 auto;
       }
       .testimon {
            margin: 0;
       }
       .testimon h4 {
            text-align: center;
            margin-bottom: 25px;
       }
       .skin-img h2 {
            font-size: 32px;
            margin-bottom: 55px;
       }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .part1-rec img {
            height: 400px;
        }
        .part1-rec .div-color-block {
            padding: 40px 15px;
        }
        .part1-rec h3 {
            font-size: 18px;
            margin-bottom: 25px;
        }
        .skin-img h2 {
            font-size: 23px;
            margin-bottom: 40px;
        }
        .table>tbody>tr>td {
            font-size: 15px;
        }
    }
    @media only screen and (max-width : 420px) {
       .msc-armonia {
            padding: 60px 0;
        }
       .msc-armonia h1{
            font-size: 21px;
       }
       .part1-rec {
            padding-top: 65px;
       }
       .part1-rec img {
            height: 360px;
       }

    }
    @media only screen and (max-width : 360px) {
        .skin-img h2 {
            font-size: 20px;
        }
        .table>tbody>tr>td {
            font-size: 13px;
        }
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
       
    }