	<div id="fotorama_slider"  *ngIf="sliders"  class="fotorama" data-width="100%" data-height="740" data-fit="cover" data-autoplay="true"  data-loop="true" data-arrows="false">
	<div id="video">
		<video class="video" data-video="true"  autoplay = true loop="true">
		  <source src="./assets/video.mp4" type="video/mp4">
		</video>
	</div>
		<img *ngFor="let slide of sliders" src="{{slide.src}}" [attr.data-caption]="slide.caption" alt="" >
	</div> 
	
	<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
	
	<div id="search_form" >
		<div class="login-buttons">
			<p><i class="fa fa-phone" aria-hidden="true"></i><strong> 893.444.93</strong></p>
			<br>
			<a href="javascript:;" (click)="openRegister()" [ngClass]="registerOpen ? 'active' : ''">iscriviti</a>
			<a href="javascript:;" (click)="openLogin()" [ngClass]="loginOpen ? 'active' : ''" >login</a>
		</div>
		<form *ngIf="!loginOpen && !registerOpen" id="formsearchtravel" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" >
			<select name="destinazione">
				<option value="ALL">Seleziona la destinazione</option>
				<optgroup label="AFRICA">
					<option value="1">Africa del Sud</option>
				</optgroup>
				<optgroup label="AMERICA">
					<option value="SUBAmerica del Nord">America del Nord</option>
					<option value="2">&nbsp;&nbsp;&nbsp;-Alaska</option>
					<option value="3">&nbsp;&nbsp;&nbsp;-America del Nord</option>
					<option value="6">&nbsp;&nbsp;&nbsp;-Canada - Bermuda</option>

					<option value="SUBCentro - Sud America">Centro - Sud America</option>
					<option value="4">&nbsp;&nbsp;&nbsp;-America del sud</option>
					<option value="5">&nbsp;&nbsp;&nbsp;-Brasile</option>
					<option value="7">&nbsp;&nbsp;&nbsp;-Canale di Panama</option>
				</optgroup>
				<optgroup label="CARAIBI">
					<option value="8">Caraibi - Antille</option>
					<option value="9">Caraibi - Bahamas</option>
					<option value="10">Caraibi - Messico - Giamaica</option>
				</optgroup>
				<optgroup label="EUROPA">
					<option value="SUBEuropa del Nord">Europa del Nord</option>
					<option value="12">&nbsp;&nbsp;&nbsp;-Europa del Nord</option>
					<option value="13">&nbsp;&nbsp;&nbsp;-Fiordi e Scandinavia</option>
					<option value="17">&nbsp;&nbsp;&nbsp;-Mar Baltico</option>
					<option value="SUBMediterraneo">Mediterraneo</option>
					<option value="14">&nbsp;&nbsp;&nbsp;-Isole Baleari - Spagna - Francia</option>
					<option value="16">&nbsp;&nbsp;&nbsp;-Isole Greche - Grecia - Turchia</option>
					<option value="SUBAtlantico">Atlantico</option>
					<option value="15">&nbsp;&nbsp;&nbsp;-Isole Canarie</option>
					<option value="11">&nbsp;&nbsp;&nbsp;-Portogallo - Azzore</option>
				</optgroup>
				<optgroup label="GIRO DEL MONDO">
					<option value="19">Giro del Mondo</option>
				</optgroup>
				<optgroup label="MARI ORIENTALI">
					<option value="20">Asia</option>
					<option value="21">Medio Oriente - Emirati</option>
					<option value="22">Oceano Indiano</option>
				</optgroup>
				<optgroup label="PACIFICO">
					<option value="23">Australia / Nuova Zelanda</option>
					<option value="24">Canale di Panama</option>
					<option value="25">Galapagos</option>
					<option value="26">Hawai - Isole del Pacifico - Gappone</option>
					<option value="27">Riviera Messicana</option>
				</optgroup>
				<optgroup label="TRANSOCEANICHE">
					<option value="28">Transatlantico</option>
					<option value="29">Transpacifico</option>
				</optgroup>
			</select>

			<select name="month">
				<option value="ALL" > Seleziona il mese</option>
				<optgroup label="2016">
					<option value="11_2016">Novembre</option>
					<option value="12_2016">Dicembre</option>
				</optgroup>
				<optgroup label="2017">
					<option value="1_2017">Gennaio</option>
					<option value="2_2017">Febbraio</option>
					<option value="3_2017">Marzo</option>
					<option value="4_2017">Aprile</option>
					<option value="5_2017">Maggio</option>
					<option value="6_2017">Giugno</option>
					<option value="7_2017">Luglio </option>
					<option value="8_2017">Agosto</option>
					<option value="9_2017">Settembre</option>
					<option value="10_2017">Ottobre</option>
					<option value="11_2017">Novembre</option>
					<option value="12_2017">Dicembre</option>
				</optgroup>
			</select>

			<select name="company" >
				<option value="ALL" selected="selected"> Seleziona la Compagnia </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<select name="port">
				<option value="ALL"> Seleziona il PORTO </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<!-- <button type="submit" id="SubmitSearch" class="btn btn-default">Cerca la tua crociera</button> -->
			<input value="Cerca la tua crociera" type="submit" id="SubmitSearch">
		</form>
		<form *ngIf="loginOpen" id="login-form" (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <input type="email" name="email" ngModel  class="form-control" placeholder="Username">
            <input type="password" name="password" ngModel  class="form-control" placeholder="Password">
            <a href="#">Hai dimenticato la password?</a>
            <button type="submit"  class="btn btn-default btn-block">Entra</button>
            <h3><a href="#">or registrati</a></h3>
            <div class="row social-login">
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/facebook-login.png" alt=""></a></div>
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/gplus-login.png" alt=""></a></div>
            </div>
        </form>
        <form *ngIf="registerOpen" id="login-form" class="register" (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
            <input type="email" name="email" ngModel class="form-control" placeholder="Username">
            <input type="text" name="name" ngModel class="form-control" placeholder="Name">
            <input type="text" name="surname" ngModel class="form-control" placeholder="Cognome">
            <h2>Politica di Privacy</h2>
            <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
            <ol>
                <li>
                    <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Invio di questionari di soddisfazione, attività di customer care ed attività di profilazione nominativa per sviluppare, fornire e migliorare i servizi e renderli più rispondenti alle esigenze dei clienti, nonché per inviare informazioni e offerte più mirate e di maggior interesse.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Comunicare i suoi dati a società del gruppo di Cruisetopic.net, per l’invio, da parte di questi, di materiale informativo e/o pubblicitario sui propri prodotti e servizi.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
            </ol>
            <button class="btn btn-default btn-block">Iscriviti</button>
        </form>
	</div>
	<div id="link-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="dropdown">
						<button class="btn btn-nav dropdown-toggle" type="button" data-toggle="dropdown">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>Le destinazioni</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Mediterraneo</a></li>
							<li><a href="#">Isole Baleari</a></li>
							<li><a href="#">Emirati Arabi</a></li>
							<li><a href="#">Caraibi</a></li>
							<li><a href="#">Nord Europa</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="dropdown">
						<button class="btn btn-nav dropdown-toggle" type="button" data-toggle="dropdown">
							<i class="fa fa-building" aria-hidden="true"></i>
							<span>Le Compagnie</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Msc</a></li>
							<li><a href="#">Costa</a></li>
							<li><a href="#">Royal Carebbean</a></li>
							<li><a href="#">ncl</a></li>
							<li><a href="#">carnival</a></li>
							<li><a href="#">holland america</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="dropdown">
						<button class="btn btn-nav dropdown-toggle" type="button" data-toggle="dropdown"> 
							<i class="fa fa-ship" aria-hidden="true"></i>
							<span>Le Navi</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Msc Fantasia</a></li>
							<li><a href="#">Msc Preziosa</a></li>
							<li><a href="#">Msc Splendida</a></li>
							<li><a href="#">Costa Diadema</a></li>
							<li><a href="#">Costa Fascinosa</a></li>
							<li><a href="#">Costa Favolosa</a></li>
							<li><a href="#">Rccl Serenade</a></li>
							<li><a href="#">Rccl Vision</a></li>
							<li><a href="#">Rccl Jawel</a></li>
							<li><a href="#">Ncl Getaway</a></li>
							<li><a href="#">Ncl Epic</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="dropdown">
						<button class="btn btn-nav  dropdown-toggle" type="button" data-toggle="dropdown"> 
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>Last Minute </span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">gennaio</a></li>
							<li><a href="#">Febbraio</a></li>
							<li><a href="#">Aprile </a></li>
							<li><a href="#">Maggio </a></li>
							<li><a href="#">Giugno </a></li>
							<li><a href="#">Luglio</a></li>
							<li><a href="#">Agosto</a></li>
							<li><a href="#">Settembre</a></li>
							<li><a href="#">Ottobre</a></li>
							<li><a href="#">Novembre</a></li>
							<li><a href="#">Dicembre</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="offer-results">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-12 col-sm-12 remove-padding">
					<app-sidebar-search></app-sidebar-search>
				</div>	
				<div class="new-padding">
					<div class="col-sm-5">
                        <h2 *ngIf="singleOffer">{{singleOffer.title}}</h2>
                        <p *ngIf="singleOffer">{{singleOffer.description}}</p>
                    </div>
                      <div class="col-md-4 add-margin-bottom" *ngIf="singleShip">
                       <div role="tabpanel" class="tab-pane gallery" >
                        <div  *ngIf="singleShip.cabins">
                          <owl-carousel [options]= "shipOptions">
                            <div class="item"  *ngFor="let single_img of singleShip.cabins">
                               <div class="kabin01">
                                    <img src="{{single_img.picture}}" alt="{{single_img.title}}">
                               </div>
                            </div>
                          </owl-carousel>
                        </div>
                      </div>
                     </div>	
				</div>
				<app-offer-single-search></app-offer-single-search>
                      

			</div>
		</div>	    
	</section>
