<header class="inner-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="page-title"> {{page_title}} </h1>
				<hr class="white">
			</div>
		</div>
	</div>
</header>