<form class="form-horizontal" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" >
  <div class="form-group">
	    <div class="btn-group-justified">
	        <a href="javascript:;" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Login con Facebook</a>
	    </div>
	</div>
	<div class="form-group">
	    <div class="btn-group-justified">
	        <a href="javascript:;" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Login con Google</a>
	    </div>
	</div>
	<div class="signOr">Oppure</div>
	<div class="form-group">
	    <input type="email" name="email" placeholder="Indirizzo email" ngModel class="form-control">
	</div>
	<div class="form-group">
	    <input type="password" name="password" placeholder="Password" ngModel class="form-control">
	</div>
	<div class="form-group">
	    <div class="row">
	        <div class="col-xs-6">
	            <div class="checkbox custom-checkbox"><label><input type="checkbox" name="checkbox"><span class="fa fa-check"></span> Ricordati di me</label></div>
	        </div>
	        <div class="col-xs-6 align-right">
	            <p class="help-block"><a href="#" class="text-green">Dimenticato password?</a></p>
	        </div>
	    </div>
	</div>
	<div class="form-group">
	    <div class="btn-group-justified">
	        <button class="btn btn-lg btn-green">Login</button>
	    </div>
	</div>
	<p class="help-block">Non sei Iscrito? <a href="javascript:;" data-dismiss="modal"  data-toggle="modal" data-target="#register-modal" class="text-green">Inscriviti</a></p>
</form>

