/*input{
	color : #000000;
}*/
.btn-group-justified{
	display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-green {
    background-color: #1F2644;
    color: #fff;
}
.form-group{
	font-family: 'open_sansregular', sans-serif, Arial;
	padding-left: 10px;
	padding-right: 10px;
}
.checkbox.custom-checkbox span, .radio.custom-radio span {
    background-color: #fff;
    border: 1px solid #999;
    font-size: 10px;
    line-height: 10px;
    padding: 3px;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-facebook {
    background-color: #43609c;
    color: #fff;
}
.text-green {
    color: #1F2644;
}
.btn-google {
    background-color: #dd4b39;
    color: #fff;
}
.signOr {
    padding-bottom: 10px;
    text-align: center;
}
.checkbox.custom-checkbox input[type="checkbox"], .radio.custom-radio input[type="radio"], .checkbox.switch input[type="checkbox"] {
    position: absolute;
    left: -9999em;
}
.checkbox.custom-checkbox input:checked+span, .radio.custom-radio input:checked+span {
    background-color: #1F2644;
    border-color: #1F2644;
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
    width: 100%;
}

.form-control {
    border-radius: 2px;
}
.btn{
    
    border-radius: 2px;
}