<header class="inner-page with-searchbar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<h1 class="page-title">{{ page_title }} </h1>
				<hr class="white">
			</div>
		</div>
	</div>
</header>