/*!
 * Start Bootstrap
 * Author, Abbybased.
 */
 /*FONT*/
@thin:'azo_sansthin';
@light: 'azo_sanslight';
@regular: 'azo_sansregular';
@medium:'azo_sansmedium';
@bold:'azo_sansbold';
@black: 'azo_sansblack';
@open:'Open Sans', sans-serif;

.grid {
/*  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;*/
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
/*  margin: 10px 1%;*/
  min-width: 300px;
/*  max-width: 480px;*/
  max-height: 500px;
  width: 50%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: @open;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #13192C;
}

figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-bubba h2 {
  padding-top: 25%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.offer-category{
  padding: 0px;
}
.with-searchbar{
min-height: 740px;
}
.inner-page.with-searchbar .page-title{
  padding-top: 200px;
}


.details_head{
  background-color: #EDEDED;
  color:#1A2542;
  font-family: @open;
  letter-spacing: 0.06em;
  h2{ 
    letter-spacing: 0.2em;
   font-size: 35px;  
   font-weight: 900; 
   text-transform: uppercase;   
  }
  p{
  font-size: 17px;
  font-style: italic;
  }
  h3{
  font-size: 24px;
  text-transform: uppercase;
  margin:0px;
  }
}
.details-title{
  color:#02012D;
  font-family: @open;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.cabine-details{
/*  background-image:-webkit-gradient(linear, top, rgba(0,0,0,0.5), rgba(200,20,200,0.5)),  url('../img/kabin.jpg');*/

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color:white;

  font-family: @open;
  h4{
    padding: 130px 0px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0px;
    font-size: 36px;
   /* min-height: 300px;*/
  }
  .price-tick{
    background-color: rgba(31, 38, 68, 0.8);
    padding: 20px;
    p{
      margin:0px;
      font-family: @open;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 600;
      span{
        font-size: 30px;
      }
    }
  }
}

#details_preventiv a:hover{
border:5px solid #15ABC8;
}

#details_preventiv a {
    border: 5px solid white;
    width: 100%;
    height: 100%;
    display: block;
      margin-bottom: 30px;
}

.form-fields{
  input{
    width: 100%;
    background-color: #EDEDED;
    border:none;
    color:#5C6477;
    font-family: @open;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin:10px 0px;
  }
  .submit-input{
    background-color: #15ABC8;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 20px;
  }
  .submit-input:hover{
    background-color:  rgba(31, 38, 68, 1);
  }
}
.submit-input{
  width: 100%;
    background-color: #EDEDED;
    border:none;
    color:#5C6477;
    font-family: @open;
    font-size: 17px;
    font-weight: 400;
    padding: 15px;
    margin:10px 0px;
    background-color: #15ABC8;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 20px;

  }
  .submit-input:hover{
    background-color:  rgba(31, 38, 68, 1);
  }
#details_preventiv .owl-next {
    position: absolute;
    left: 0px;
    top: 45%;
}
#details_preventiv .owl-prev {
    position: absolute;
    right: 0px;
    top: 45%;
}
#details_preventiv {
  .listing, .gallery, .conditions,.itinerary{
    margin: 15px 0px;
  }
}





























@media only screen and (max-width: 992px) {
 .grid figure{
  width: 100%;
 } 
}
@media only screen and (max-width: 420px) {
  .grid figure h2{
    font-size: 25px;
  }
}
@media only screen and (max-width: 330px) {
  .grid figure h2{
    font-size: 20px;
  }
  .offer-category{
  overflow-x: hidden;
  }
}