/*!
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
.inner-page {
  background-image: url(../img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.search_number h2 {
  color: #19204C;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
.search_number h2 span {
  font-weight: 800;
  border-bottom: 4px solid #15ABC8;
}
/*aside,article
 {
  margin: 0 1.5% 24px 1.5%;
}*/
aside {
  float: left;
  width: 20%;
}
article {
  float: right;
  width: 80%;
  padding: 0px 15px;
}
footer {
  clear: both;
  margin-bottom: 0;
}
.sidebar_search {
  background-color: #1A2542;
  color: white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
}
.sidebar_search h3 {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar_search button,
.sidebar_search select,
.sidebar_search textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
}
.sidebar_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-image: url(http://localhost/cruisetopic/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 45px;
}
.sidebar_search option,
.sidebar_search optgroup {
  background-color: #101523;
}
.sidebar_search .compagnia,
.sidebar_search .nave,
.sidebar_search .durata,
.sidebar_search .budget {
  position: relative;
}
.sidebar_search .compagnia:before {
  content: url('../img/sn.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .nave:before {
  content: url('../img/ss.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .durata:before {
  content: url('../img/sd.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .budget:before {
  content: url('../img/sb.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search input[type=checkbox]:not(old),
.sidebar_search input[type=radio]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.sidebar_search input[type=checkbox]:not(old) + label,
.sidebar_search input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('../img/checks.png') no-repeat 0 0;
  line-height: 24px;
}
.sidebar_search input[type=checkbox]:not(old):checked + label {
  background-position: 0 -24px;
}
.sidebar_search input[type=radio]:not(old):checked + label {
  background-position: 0 -48px;
}
.sidebar_search .radio-filter {
  padding-bottom: 30px;
}
.sidebar_search .radio-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
.sidebar_search .radio-filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.search_offer {
  margin-bottom: 40px;
}
.search_offer .nav-pills > li {
  background-color: #1A2542;
  background-image: url(http://localhost/cruisetopic/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
}
.search_offer .nav-pills > li > a {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0;
  padding: 20px 75px;
  background-position: 95% 52%;
}
.search_offer .nav-pills > li.active > a,
.search_offer .nav-pills > li.active > a:focus,
.search_offer .nav-pills > li.active > a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
  font-weight: 600;
  background-image: url(http://localhost/cruisetopic/img/arrblue.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
}
.search_offer .nav > li > a:focus,
.search_offer .nav > li > a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.content-offer {
  padding: 10px 20px;
}
.content-offer table,
.content-offer th,
.content-offer td {
  border: 1px solid #e8e8e8;
  padding: 24px 30px;
}
.content-offer .grey {
  background-color: #F2F2F2;
}
.content-offer table {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.content-offer table .price {
  text-align: center;
}
.content-offer table .price a {
  color: #15ABC8;
  font-weight: 700;
  font-size: 19px;
  padding: 15px;
  /* border:2px solid #F2F2F2;*/
}
.content-offer table .price a:hover {
  border: 1px solid #15ABC8;
}
.content-offer table .title {
  color: #1A2542;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}
.content-offer table .date {
  font-weight: 900;
  font-size: 17px;
  color: #1A2542;
}
.about-offer {
  border: 1px solid #e8e8e8;
}
.about-offer .banner-image {
  position: relative;
}
.about-offer .banner-image .red {
  position: absolute;
  top: 143px;
  left: 20px;
  z-index: 99;
  width: auto;
}
.about-offer .rating_company {
  float: right;
  padding: 10px;
}
.about-offer .rating_company img {
  width: 120px;
}
.about-offer .offer-image {
  width: 100%;
  position: relative;
}
.about-offer .info {
  float: left;
  padding: 10px;
}
.about-offer .info h3 {
  text-transform: uppercase;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  color: #1A2542;
  font-weight: 900;
  margin: 0px;
}
.about-offer .info p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  color: #1A2542;
  padding: 0px;
}
.about-offer .info h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2em;
}
.itinerary {
  padding: 0px 15px;
}
.itinerary .day {
  border: 1px solid #e8e8e8;
  padding: 20px 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.itinerary .day h3 {
  color: #1A2542;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}
.itinerary .day h4 {
  color: #1A2542;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}
.itinerary .day h5 {
  color: #1A2542;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.itinerary .day h5 span {
  font-weight: 600;
}
.itinerary .day p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #1A2542;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.itinerary .day p span {
  color: #15ABC8;
  font-weight: 700;
}
.search_offer .owl-next {
  position: absolute;
  left: 15px;
  top: 53%;
}
.search_offer .owl-prev {
  position: absolute;
  right: 15px;
  top: 53%;
}
.gallery {
  padding: 0px 15px;
}
.listing {
  border: 1px solid #e8e8e8;
}
.listing ul {
  padding-left: 0px;
}
.listing li {
  list-style: none;
  margin: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.listing li img {
  width: 80px;
}
.listing li h4 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.listing li p {
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}
.listing li h5 {
  margin: 0px;
  float: right;
  font-size: 14px;
  color: black;
}
.conditions {
  padding: 0px 15px;
}
.conditions h3 {
  color: #15ABC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 30px;
}
.conditions li {
  list-style: none;
}
.conditions .block {
  border: 1px solid #e8e8e8;
  padding: 10px 25px 30px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
button#btnClick,
button#btnClick1,
button#btnClick2 {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 47%;
  right: 15px;
}
.write-review {
  padding: 5px 10px 15px 10px;
}
.write-review a {
  background-color: #1A2542;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width: 1912px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 66px;
  }
  .content-offer table,
  .content-offer th,
  .content-offer td {
    padding: 23px;
  }
}
@media only screen and (max-width: 1800px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 60px;
  }
}
@media only screen and (max-width: 1730px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 56px;
  }
  .content-offer table,
  .content-offer th,
  .content-offer td {
    padding: 20px;
  }
  .about-offer .rating_company img {
    width: 90px;
  }
}
@media only screen and (max-width: 1680px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 50px;
  }
  .content-offer table,
  .content-offer th,
  .content-offer td {
    padding: 15px;
  }
  .sidebar_search .radio-filter label {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1600px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 45px;
  }
}
@media only screen and (max-width: 1530px) {
  .search_offer .nav-pills > li > a {
    font-size: 15px;
  }
  .about-offer .info h3 {
    font-size: 30px;
  }
  .about-offer .info p {
    font-size: 14px;
  }
  .about-offer .info h4 {
    font-size: 13px;
  }
  .about-offer .banner-image .red {
    top: 132px;
  }
  .sidebar_search h3 {
    font-size: 20px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 15px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 16px;
  }
  .sidebar_search .radio-filter label {
    font-size: 12px;
  }
  .content-offer table .date {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1470px) {
  .content-offer table .price a {
    padding: 5px;
  }
  aside,
  article {
    width: 100%;
  }
  .sidebar_search {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 35px;
  }
  .search_offer .nav-pills > li,
  .search_offer .nav-pills > li.active > a,
  .search_offer .nav-pills > li.active > a:focus,
  .search_offer .nav-pills > li.active > a:hover {
    background-size: 20px;
  }
  .nav-pills > li {
    float: none;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
}

@media only screen and (max-width: 768px) {
  .content-offer table .date,
  .content-offer table .title {
    font-size: 12px;
  }
  .content-offer table .price a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 710px) {
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 12px;
    padding: 10px;
  }
  .sidebar_search h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .sidebar_search select {
    background-size: 15px;
    padding-left: 30px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sidebar_search .radio-filter {
    padding-bottom: 10px;
  }
  section#offer-results {
    padding-top: 0px;
  }
  .sidebar_search .compagnia:before {
    background-image: url(http://localhost/cruisetopic/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .nave:before {
    background-image: url(http://localhost/cruisetopic/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .durata:before {
    background-image: url('http://localhost/cruisetopic/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .budget:before {
    background-image: url('http://localhost/cruisetopic/img//sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 600px) {
  .content-offer table,
  .content-offer th,
  .content-offer td {
    padding: 5px;
  }
  .conditions .block {
    padding: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .about-offer .rating_company img {
    width: 50px;
  }
  .content-offer {
    padding: 5px 0px;
  }
  .content-offer .col-lg-8.col-md-12,
  .content-offer .col-lg-4.col-md-12 {
    padding: 0px;
    margin-bottom: 40px;
  }
  button#btnClick,
  button#btnClick1,
  button#btnClick2 {
    top: 100%;
    right: 0px;
  }
}
@media only screen and (max-width: 450px) {
  .about-offer .info h4 {
    font-size: 12px;
  }
  .about-offer .info p {
    font-size: 12px;
  }
  .about-offer .banner-image .red {
    top: 127px;
  }
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
}
@media only screen and (max-width: 380px) {
  .about-offer .rating_company {
    display: none;
  }
}
