/*!
 * Start Bootstrap
 * Author, Abbybased.
 */
 /*FONT*/
@thin:'azo_sansthin';
@light: 'azo_sanslight';
@regular: 'azo_sansregular';
@medium:'azo_sansmedium';
@bold:'azo_sansbold';
@black: 'azo_sansblack';
@open:'Open Sans', sans-serif;

.inner-page{
  background-image: url(../img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .page-title{
    font-family: @open;
    font-weight: 600;
    font-size: 48px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  hr.white{
    border-color: white;
    max-width: 100px;
  }
}

.search_number{
   h2{
    color:#19204C;
    font-family: @open;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.7;
    span{
      font-weight: 800;
      border-bottom: 4px solid #15ABC8;
    }
   }
}



.sidebar_search{
  background-color: #1A2542;
  color:white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
    h3{
      opacity: 0.7;
      font-weight: 700;
      letter-spacing: 0.2em;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    button, select, textarea{
        background-color: rgba(255, 255, 255, 0) !important;
        border:1px solid white;
        color: white;
        padding: 15px 10px;
        text-transform: uppercase;
        margin-bottom: 30px;
        width: 100%;
        font-size: 18px;
        font-family: @open;
        font-weight: 600;
        letter-spacing: 0.2em;
          text-align: center;
      }
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: currentColor;
        background-image: url(http://localhost/cruisetopic/img/arr.png);
        background-position: 95% 52%;
        background-repeat: no-repeat;
        position: relative;
        padding-left: 45px;
      }
      option, optgroup {
          background-color: #101523;
      }
      .compagnia, .nave, .durata, .budget{
        position: relative;
      }
      .compagnia:before{
        content: url('../img/sn.png');
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 5px;
      }
      .nave:before{
        content: url('../img/ss.png');
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 5px;
      }
      .durata:before{
        content: url('../img/sd.png');
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 5px;
      }
      .budget:before{
        content: url('../img/sb.png');
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 5px;
      }
      input[type=checkbox]:not(old),
      input[type=radio   ]:not(old){
        width   : 28px;
        margin  : 0;
        padding : 0;
        opacity : 0;
      }

      input[type=checkbox]:not(old) + label,
      input[type=radio   ]:not(old) + label{
        display      : inline-block;
        margin-left  : -28px;
        padding-left : 28px;
        background   : url('../img/checks.png') no-repeat 0 0;
        line-height  : 24px;
      }

      input[type=checkbox]:not(old):checked + label{
        background-position : 0 -24px;
      }

      input[type=radio]:not(old):checked + label{
        background-position : 0 -48px;
      }
      .radio-filter{
        padding-bottom: 30px;
        h4{
          font-weight: 600;
          letter-spacing: 0.2em;
          font-family: @open;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        label{
          font-family: @open;
          font-size: 14px;
          letter-spacing: 0.1em;
        }
      }
      .link-filter{
        padding-bottom: 30px;
        h4{
          font-weight: 600;
          letter-spacing: 0.2em;
          font-family: @open;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        a{
          font-family: @open;
          font-weight: 500;
          color: white;
          font-size: 14px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        a:hover{
          color: #D8CDBA;
        }
        .rouge{
          font-weight: 700;
        }
      }

}
.nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}

.single-offer-tabs{
  padding-left:15px;
  padding-right: 15px;
  margin-bottom: 20px;
  ul.nav-single-offer{
    text-align: center;
    background-color: #1A2542;
    margin-bottom: 10px;
    li.active{
      background-color: #D8CDBA;

      a{
        color: #1A2542;
        background-image: url(http://localhost/cruisetopic/img/arrblue.png); 
      }
    }
    li{
      list-style: none;
      display: inline-block;
      background-position: 95% 52%;
      width: 19.82%;
      a{
                color: white;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 0.2em;
                border-radius: 0;
                padding: 10px 35px;
                background-image: url(http://localhost/cruisetopic/img/arr.png);
                background-position: 95% 57%;
                background-repeat: no-repeat;
                background-size: 24px;
                width: 100%;
                display: block;
     
        i{
          padding-right: 5px;
        }
      }
      a:hover{
        background-image: url(http://localhost/cruisetopic/img/arrblue.png);
      }
    } 
    li a:hover{
        background-color: #D8CDBA;
        color: #1A2542; 
      }
  }
}

.conditions{
  padding: 0px;
/*  background-color: #F2F2F2;*/
  h3{
    color: #15ABC8;
    font-family: @open;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 30px;
  }
  li{
    list-style: none;
  }
  .block{
    border:1px solid #e8e8e8;
    padding: 10px 25px 30px 55px;
    font-family: @open;
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    display: table-cell;
    vertical-align: top;
    float: none;

  }
}
.grey {
    background-color: #F2F2F2;
}
.border-grey{
  border:1px solid #e8e8e8;
}
.listing{
  border:1px solid #e8e8e8;

  ul{
    padding-left: 0px;
  }
   li{
    list-style: none;
    margin: 5px 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    img{
      width:80px; 
    }
    h4{
            margin-top: 0px;
            color: black;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            font-weight: 600;
            margin-bottom: 5px;
    }
    p{
      color:#606060;
      font-family:@open;
      font-weight: 400;
      font-size: 14px;
      margin:0px;
      height: 30px;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    h5{
      margin:0px;
      float: right;
      font-size: 14px;
      color: black
    }
   }
}
.about-offer{
  border: 1px solid #e8e8e8;
  .banner-image{
    position: relative;
    .red{
      position: absolute;
      top: 143px;
      left:20px;
      z-index: 99;
      width: auto;
    }
  }
  .rating_company{
    float: right;
    padding: 10px;
    img{
      width:120px;
    }
  }
  .offer-image{
    width: 100%;
    position: relative;
  }
  .info{
    float: left;
    padding: 10px;
    h3{
     text-transform: uppercase;
     font-size: 34px;
     font-family: @open;
     letter-spacing: 0.2em; 
     color:#1A2542;
     font-weight: 900;
     margin:0px;
    }
    p{
      font-size: 16px;
      font-family: @open;
      font-style: italic;
      font-weight: 400;
      margin:0px;
      color:#1A2542;
      padding:0px;
    }
    h4{
      text-transform: uppercase;
      color:#000000;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.2em;
    }
  }
}
.write-review{
  padding: 5px 10px 15px 10px;
  margin-bottom: 30px;
  a{
    background-color: #1A2542;
    color: white;
    text-transform: uppercase;
    font-family: @open;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding:10px 20px;
  }
  a:hover{
    background-color: #D8CDBA;
    color: #1A2542;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}
.itinerary {
 /* padding: 0px 15px;*/
  .day{
    border:1px solid #e8e8e8;
    padding: 20px 0px;
    margin-top: 0px;
    font-family: @open;
    h3{
      color:#1A2542;
      font-weight: 900;
      font-size: 33px;
      text-transform: uppercase;
      font-family: @open;
      letter-spacing: 0.2em;
      margin-bottom: 5px;
      margin-top: 0px;
    }
    h4{
      color:#1A2542;
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
      font-family: @open;
      letter-spacing: 0.2em;
      margin-bottom: 5px;
    }
    h5{
      color:#1A2542;
      font-size: 20px;
      text-transform: uppercase;
      font-family: @open;
      font-weight: 400;
      margin-bottom: 30px;
      span{
        font-weight: 600;
      }
    }
    p{
         text-transform: uppercase;
          font-family: @open;
          color:#1A2542;
          font-weight: 400;
          font-size: 17px;
          margin-bottom: 5px;
          span{
            color:#15ABC8;
            font-weight: 700;
          }
      }
  }
}
.single-offer-tabs{
   .owl-next {
    position: absolute;
    left: 0px;
    top: 45%;
  }
   .owl-prev {
    position: absolute;
    right: 0px;
    top: 45%;
  }
}
button.btn-abi{
    font-family: 'azo_sansmedium';
    font-weight: 700;
    letter-spacing: 0.2em;
 /*   margin-bottom: 30px;*/
    background-color: rgb(91, 196, 216);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px 30px 20px;
    background-image: url(http://localhost/cruisetopic/img/arr.png);
    background-position: center 80%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
}
button.btn.btn-abi:focus, button.btn.btn-abi:active, button.btn.btn-abi:hover{
   color: white;
}
button.btn-blue{
  background-color: #15ABC8;
  width: 100%;
  color: white;
  font-family: @open;
  font-weight: 600;
  border-radius: 0px;
  border:none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;

}
form#formsearchtravel {
    text-align: left;
}

.emtooltip-content {
      border:2px solid #e8e8e8;
      width: 300px;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
      position: absolute;
      top: 58px;
      left:100%;
      z-index: 999999;

}

.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}
.right{
  float: right;
}
.left{
  float: left;
}



















/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width : 1700px){
  .about-offer .offer-image {
      max-height: 215px;
      object-fit: cover;
  }
  .listing li img {
    width: 53px;
  }
 
}  
@media only screen and (max-width : 1912px){
  .search_offer .nav-pills > li > a{
        padding: 20px 66px;
  }

}
@media only screen and (max-width : 1847.5px){
  .single-offer-tabs ul.nav-single-offer li{
        width: 19.815%;
  }
}
@media only screen and (max-width : 1800px){
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.810%;
  }
}
@media only screen and (max-width : 1803px){
  .search_offer .nav-pills > li > a{
        padding: 20px 60px;
  }
  .single-offer-tabs ul.nav-single-offer li{
    padding: 9px;
  }
  .sidebar_search .radio-filter label{
    font-size: 12px;
  }
  .sidebar_search .radio-filter h4{
    font-size: 14px;
  }
  .sidebar_search h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button, .sidebar_search select, .sidebar_search textarea{
    font-size: 14px;
  }
}
@media only screen and (max-width : 1753px){
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.800%;
  }
}
@media only screen and (max-width : 1730px){
  .search_offer .nav-pills > li > a{
        padding: 20px 56px;
  }

}
@media only screen and (max-width : 1672px){
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.700%;
  }
}
@media only screen and (max-width : 1680px) {  
  .search_offer .nav-pills > li > a{
          padding: 20px 50px;
}
  
}
@media only screen and (max-width : 1600px) {  
  .search_offer .nav-pills > li > a{
          padding: 15px 45px;
    }
.single-offer-tabs ul.nav-single-offer li a{
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width : 1530px) { 
  .search_offer .nav-pills > li > a{
    font-size: 15px;
  }

}
@media only screen and (max-width : 1470px) { 
  .about-offer .info h4{
    font-size: 12px;
  }
  .about-offer .banner-image .red{
    top: 134px;
  }
  .cd-products-comparison-table{
    padding: 0px;
  }
  .about-offer .info p{
  font-size: 14px;  
  }
  .sidebar_search{
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3{
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button, .sidebar_search select, .sidebar_search textarea{
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .single-offer-tabs ul.nav-single-offer li a, .single-offer-tabs ul.nav-single-offer li a:hover,.single-offer-tabs ul.nav-single-offer li.active a{
    background-image: none;
  }

}
@media only screen and (max-width : 1400px){
.single-offer-tabs ul.nav-single-offer li a{
    font-size: 14px;
  }
}
@media only screen and (max-width : 1387px) {  
   .single-offer-tabs ul.nav-single-offer li a i {
    display: block;
  }
  .about-offer .rating_company img {
    width: 80px;
  }
}
@media only screen and (max-width : 1250px){
  /*.single-offer-tabs ul.nav-single-offer li a{
        padding: 9px 30px 9px 20px;
  }*/
 
}
@media only screen and (max-width : 1200px) {  
  .prezzi .col-lg-8.col-md-12.remove-padding-right{
    padding-left: 0px;
    padding-top: 10px;
  }
  .search_offer .nav-pills > li > a {
      padding: 15px 35px;
  }
  .search_offer .nav-pills > li, .search_offer .nav-pills > li.active > a, .search_offer .nav-pills > li.active > a:focus, .search_offer .nav-pills > li.active > a:hover {
      background-size: 20px;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
  .hide-mobile{
    display: none;
  }
  .show-mobile{
    display: block;
  }
  .single-offer-tabs ul.nav-single-offer{
    margin-top: 20px;
  }
  section.search_number{
    padding-bottom: 0px;
  }
}
@media only screen and (min-width : 1200px){
  .hide-mobile{
     display: block;
  }
  .show-mobile{
   display: none;
  }
}
@media only screen and (max-width : 996px) {
.single-offer-tabs ul.nav-single-offer span{
  display: none;
 }
 .single-offer-tabs ul.nav-single-offer li{
      background-color: #1A2542;
 }
 .single-offer-tabs ul.nav-single-offer{
  background-color: white;
 }
/* .single-offer-tabs ul.nav-single-offer li a {
    padding: 9px 40px 10px 30px;
}*/
}
@media only screen and (max-width : 993px){
  .conditions .block{
      display: block;
      vertical-align: top;
      float: none;
      width: 100%;
      padding: 20px;
  }
  .reviews .col-md-8.remove-padding-right{
    padding-left: 0px;
  }
}
@media only screen and (max-width : 945px) {
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.600%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }

}
@media only screen and (max-width : 721px) {
.single-offer-tabs ul.nav-single-offer li {
    width: 19.500%;
}
.single-offer-tabs ul.nav-single-offer li a i {
      padding-right: 0px;
  }
    .single-offer-tabs ul.nav-single-offer li a{
    padding: 10px;
  }
}
@media (min-width: 768px){
  .modal-dialog {
      width: 80%;
      margin: 5% auto;
  }

}
@media only screen and (max-width : 710px) {
.sidebar_search button, .sidebar_search select, .sidebar_search textarea {
    font-size: 12px;
    padding:10px;
}
.sidebar_search h3{
  padding-bottom: 20px;
  font-size: 15px;
}
.sidebar_search select{
  background-size: 15px;
  padding-left: 30px;
}
.sidebar_search .radio-filter h4{
  font-size: 14px;
  margin-bottom: 5px;
}
.sidebar_search .radio-filter{
  padding-bottom: 10px;
}

.sidebar_search .compagnia:before{
      background-image: url(http://localhost/cruisetopic/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
}
.sidebar_search .nave:before{
  background-image: url(http://localhost/cruisetopic/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat; 
}
.sidebar_search .durata:before{
 background-image: url('http://localhost/cruisetopic/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;  
}
.sidebar_search .budget:before{
   background-image: url('http://localhost/cruisetopic/img//sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat; 
}
}
@media only screen and (max-width : 600px){


}
@media only screen and (max-width : 586px) {
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.400%;
  }
}
@media only screen and (max-width : 580px){

}
@media only screen and (max-width : 495px) {
.single-offer-tabs ul.nav-single-offer li {
      width: 19.300%;
  }
}
@media only screen and (max-width : 450px) {
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.200%;
  }  
}
@media only screen and (max-width : 385px) {
  .single-offer-tabs ul.nav-single-offer li {
      width: 19.100%;
  }
  .write-review a{
    padding: 10px;
  }
  .about-offer .rating_company img {
      width: 60px;
  }
  .about-offer .info {
    padding-right: : 5px;
    display: block;
    width: 76%;
  }
  .about-offer .banner-image .red {
    top: 155px;
    width: 30px;
  }
}
@media only screen and (max-width : 350px) { 
   .single-offer-tabs ul.nav-single-offer li {
      width: 19.0%;
  }

  .about-offer .rating_company img {
      width: 45px;
  }
}
@media only screen and (max-width : 340px) {
  .single-offer-tabs ul.nav-single-offer li {
      width: 18%;
      padding: 0px;
  }
  .about-offer .info{
    width: 70%;
  }
  .about-offer .banner-image .red {
    top: auto;
    width: 30px;
    bottom: 33%;
    left: 0px;
}
}