/*!
 * Start Bootstrap
 * Author, Abbybased.
 */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
  @font-face {
  font-family: 'Quarto-Black';
  src: url('../fonts/Quarto/Quarto-Black.eot');
  src: url('../fonts/Quarto/Quarto-Black.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Quarto/Quarto-Black.woff2') format('woff2'), 
  url('../fonts/Quarto/Quarto-Black.woff') format('woff'), 
  url('../fonts/Quarto/Quarto-Black.ttf') format('truetype'), 
  url('../fonts/Quarto/Quarto-Black.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quarto-Light';
  src: url('../fonts/Quarto/Quarto-Light.eot');
  src: url('../fonts/Quarto/Quarto-Light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Quarto/Quarto-Light.woff2') format('woff2'), 
  url('../fonts/Quarto/Quarto-Light.woff') format('woff'), 
  url('../fonts/Quarto/Quarto-Light.ttf') format('truetype'), 
  url('../fonts/Quarto/Quarto-Light.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansblack';
  src: url('../fonts/AzoSans/azosans-black-webfont.eot');
  src: url('../fonts/AzoSans/azosans-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-black-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-black-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-black-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-black-webfont.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansblack_italic';
  src: url('../fonts/AzoSans/azosans-blackitalic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-blackitalic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-blackitalic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-blackitalic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-blackitalic-webfont.svg#azo_sansblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansbold';
  src: url('../fonts/AzoSans/azosans-bold-webfont.eot');
  src: url('../fonts/AzoSans/azosans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-bold-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-bold-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-bold-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-bold-webfont.svg#azo_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansbold_italic';
  src: url('../fonts/AzoSans/azosans-bolditalic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-bolditalic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-bolditalic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-bolditalic-webfont.svg#azo_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansitalic';
  src: url('../fonts/AzoSans/azosans-italic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-italic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-italic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-italic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-italic-webfont.svg#azo_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sanslight';
  src: url('../fonts/AzoSans/azosans-light-webfont.eot');
  src: url('../fonts/AzoSans/azosans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-light-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-light-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-light-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-light-webfont.svg#azo_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sanslight_italic';
  src: url('../fonts/AzoSans/azosans-lightitalic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-lightitalic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-lightitalic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-lightitalic-webfont.svg#azo_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansmedium';
  src: url('../fonts/AzoSans/azosans-medium-webfont.eot');
  src: url('../fonts/AzoSans/azosans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-medium-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-medium-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-medium-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-medium-webfont.svg#azo_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansmedium_italic';
  src: url('../fonts/AzoSans/azosans-mediumitalic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-mediumitalic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-mediumitalic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-mediumitalic-webfont.svg#azo_sansmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansregular';
  src: url('../fonts/AzoSans/azosans-regular-webfont.eot');
  src: url('../fonts/AzoSans/azosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-regular-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-regular-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-regular-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-regular-webfont.svg#azo_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansthin';
  src: url('../fonts/AzoSans/azosans-thin-webfont.eot');
  src: url('../fonts/AzoSans/azosans-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-thin-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-thin-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-thin-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-thin-webfont.svg#azo_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansthin_italic';
  src: url('../fonts/AzoSans/azosans-thinitalic-webfont.eot');
  src: url('../fonts/AzoSans/azosans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/AzoSans/azosans-thinitalic-webfont.woff2') format('woff2'), url('../fonts/AzoSans/azosans-thinitalic-webfont.woff') format('woff'), url('../fonts/AzoSans/azosans-thinitalic-webfont.ttf') format('truetype'), url('../fonts/AzoSans/azosans-thinitalic-webfont.svg#azo_sansthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
text-rendering: optimizeLegibility !important;
text-rendering: geometricPrecision !important;
font-smooth: always !important;
font-smoothing: antialiased !important;
-moz-font-smoothing: antialiased !important;
-webkit-font-smoothing: antialiased !important;
-webkit-font-smoothing: subpixel-antialiased !important;
}
body {
  padding:0px !important;
  margin:0px !important;
  text-rendering:optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'azo_sansregular';
}

hr {
  border-color: #f05f40;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

hr.style-two { 
  border: 0; 
  height: 2px; 
  border-color: #F9C3B6;
  background-image: linear-gradient(to right, rgba(249, 195, 182, 0), rgba(249, 195, 182, 0.75), rgba(249, 195, 182, 0)); 
}

a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0;
}

a:hover,
a:focus { 
  color: #eb3812; 
}

a, 
a:hover, 
a:active, 
a:focus {
  text-decoration:none; 
  outline: 0; 
}


/*Overwrite CSS*/
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[readonly="readonly"] { 
  background-color: #fff !important; 
  cursor: pointer;
}

/*Hide HTML5 Spinners*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance: textfield;
}

input::-moz-focus-inner { 
  border: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'azo_sansmedium';
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #f05f40;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

section {
  padding: 35px 0;
  background-color: white;
}


::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

/*Remove Padding*/
.remove-padding{padding:0}
.remove-padding-top{padding-top:0}
.remove-padding-right {padding-right:0}
.remove-padding-bottom{padding-bottom:0} 
.remove-padding-left{padding-left:0}

/*Add padding*/
.add-padding{padding:5px}
.add-padding-top{padding-top:5px}
.add-padding-right{padding-right:5px}
.add-padding-bottom{padding-bottom:5px} 
.add-padding-left{padding-left:5px}

/*Remove Margin*/
.remove-margin{margin:0}
.remove-margin-top{margin-top:0}
.remove-margin-right{margin-right:0}
.remove-margin-bottom{margin-bottom:0} 
.remove-margin-left{margin-left:0}

/*Add Margin*/
.add-margin{margin:5px}
.add-margin-top{margin-top:5px}
.add-margin-right{margin-right:5px}
.add-margin-bottom{margin-bottom:5px} 
.add-margin-left{margin-left:5px}



/*COLORS*/
@darkblue: #313b56;
@blue: #15AAC8;
@milk:#D8CDBA;

/*PADDING*/
@pad-0:0px;
@pad-10:10px;
@pad-20:20px;
@pad-30:30px;
@pad-40:40px;
@pad-50:50px;
@pad-60:60px;
@pad-70:70px;
@pad-80:80px;
@pad-90:90px;
@pad-100:100px;
@pad-150:150px;
@pad-200:200px;

/*MARGIN*/
@mar-0:0px;
@mar-10:10px;
@mar-20:20px;
@mar-30:30px;
@mar-40:40px;
@mar-50:50px;
@mar-60:60px;
@mar-100:100px;
@mar-150:150px;
@mar-200:200px;

/*FONT*/
@thin:'azo_sansthin';
@light: 'azo_sanslight';
@regular: 'azo_sansregular';
@medium:'azo_sansmedium';
@bold:'azo_sansbold';
@black: 'azo_sansblack';
@open:'Open Sans', sans-serif;


@media (min-width: 1700px){
  .container {
      width: 1470px;
  }

}

/* Side Menu */
.logo{
    position: absolute;
    z-index: 999;
    left: 100px;
    top: 30px;
    height: 50px;
}

#sidebar-wrapper {
    z-index: 999999;
    position: fixed;
    left: -500px;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background-color: rgba(16, 21, 35, 1);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: @open;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    color:white;
}

#sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}
.fotorama__nav-wrap{
  display: none;
}
.fotorama__caption__wrap {
    background-color: rgba(16, 21, 35, 0);
    padding: 5px 10px;
    color: white;
    font-size: 65px;
    font-family: 'Quarto-Light';
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 85px;
}
.fotorama__caption__wrap span{
  padding:10px 0px;
  background-color: rgba(16, 21, 35, 0.7);
}
.fotorama__caption{
  top: 30%;
  left: 12%;
}
#search_form{
      padding: 0px 20px;
    background-color: rgba(16, 21, 35, 0.7);
    position: absolute;
    z-index: 99;
    right: 12%;
    top: 0;
    width: 590px;
    height: 740px;
  button, select, textarea{
      background-color: rgba(255, 255, 255, 0) !important;
      border:1px solid white;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      color: white;
      padding: 15px 10px;
      text-transform: uppercase;
      margin-bottom: 30px;
      width: 100%;
      font-size: 23px;
      font-family: @open;
      font-weight: 600;
      letter-spacing: 0.06em;
        text-align: center;
    }
  #SubmitSearch{
    background-color: #D8CDBA;
    border:1px solid #D8CDBA;
    color:#19204C;
    width: 100%;
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Quarto-Light';
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  #SubmitSearch:hover{
    background-color: rgba(216, 205, 186, 0.75);
  }
  option, optgroup{
    background-color: rgba(16, 21, 35, 1); 
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: currentColor;
    -webkit-background-image: url(http://localhost/cruisetopic/img/arr.png);
    -webkit-background-position: 95% 52%;
    -webkit-background-repeat: no-repeat;
    background-image: url(http://localhost/cruisetopic/img/arr.png);
    background-position: 95% 52%;
    background-repeat: no-repeat;
  }
  #formsearchtravel{
      padding: 55px 20px 0px 20px;
  }
}
.login-buttons{
  padding: 10px 0px;
  padding-top: 50px;
  text-align: right;
  p{
     font-family: @open;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    color:white;
    letter-spacing: 0.06em;
    padding: 10px;
    margin: 0px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
  }
  a{
    font-family: @open;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color:white;
    letter-spacing: 0.06em;
    padding: 10px;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
  }
  a:hover{
    border-bottom: 4px solid #15AAC8;
  }
}






/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #13192C;
  text-align: center;
}
figure.effect-bubba img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
  opacity: 0.4;
}
figure.effect-bubba figcaption img{
  width: 200px;
}
figure.effect-bubba p {
  position: absolute;
  top: 40%;
  left: 34%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}


figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba:hover p img {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.campagnia{
  padding-top: 50px;
  -webkit-background-image: url('../img/companie.png');
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: 60%;
  -webkit-background-position: bottom left;
  background-image: url('../img/companie.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom left;
  position: relative;
}
.campagnia-info{
  .full{
    width: 100%;
  }
  h3{
    font-family: @open;
    font-size: 24px;
    color: #2D2D2C;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
  hr{
    border-color: #D8CDBA;
    max-width: 70px;
    border-width: 3px;
  }
  p{
    color: #4C4C4C;
    font-size: 17px;
    font-family: @open;
    font-weight: 400;
  }
}
.campaign-block{
  border:2px solid #D8CDBA;
  padding: 10px;
  margin-top: 30px;
  h3{
    font-family: @open;
    font-weight: 600;
    font-size: 20px;
    color: #2D2D2C;
    letter-spacing: 0.06em;
    margin: 0px;
    text-transform: uppercase;
     min-height: 40px;

  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #2D2D2C;
    font-size: 14px;
    min-height: 45px;
    margin-bottom: 0px;
  }
  td.title{
    font-size: @open;
    color: #1F2644;
    font-size: 18px;
    font-weight: 400;
  }
  td.info{
    color: #6D6D6D;
    font-family: @open;
    font-size: 18px;
    font-weight: 400;
  }
  td{
    padding: 10px;
  }
  h4{
    text-align: right;
    color: #2D2D2C;
    font-family: @open;
    font-weight: 600;
    font-size: 30px;
    padding-right: 10px;
  }
  .offer-company{
    height: 50px;
    padding: 5px;
    float: left;
  }
}
.select-company{
  padding: 50px 0px;
}
.companies{
  position: relative;
  img{
    height: 75px;
    object-fit: contain;
    border:1px solid #D1D1D1;
    width: auto;
    background-color: white;
  }
  .owl-prev{
    position: absolute;
    right: -30px;
    top: 15px;
    i{
     color: rgb(48, 66, 102);
     font-size: 40px; 
    }
  }
  .owl-next{
    position: absolute;
    left: -30px;
    top: 15px;
    i{
     color: rgb(48, 66, 102);
     font-size: 40px; 
    }
  }
}

.recensioni{
  background-image: url('../img/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-image: url('../img/bg2.jpg');
  -webkit-background-position: center center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
  -webkit-background-size: cover;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 100px;
  position: relative;
  .translate-rec{
    -ms-transform:translateY(150px);
    -webkit-transform:translateY(150px);
    transform:translateY(150px);
  }
  .recension-block{

    background-color: white;
    padding: 20px;
    .rating{
      display: inline-block;
    }
    .compani{
      display: inline-block;
      float: right;
      img{
        width: 120px;
      }
    }
    .info{
      clear: both;
      h3{
        font-family: @open;
        font-size: 20px;
        font-weight: 600;
        color: #2D2D2C;
        letter-spacing: 0.06em;
      }
      p{
        color: #606060;
        font-size: 16;
        font-family: @open;
        font-weight: 400;
      }
      a{
        color: #6D6D6D;
        font-size: 18px;
        font-family: @open;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 2px solid #6D6D6D;

      }
    }
  }
  .moved-img{
    -ms-transform:translateY(-200px);
    -webkit-transform:translateY(-200px);
    transform:translateY(-200px);
    img{
      height: 450px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.offerte{
  position: relative;
  padding-bottom: 70px;
  -webkit-background-image: url('../img/offerte.png');
  -webkit-background-position: 81% 56%;
  -webkit-background-repeat: no-repeat;
  background-image: url('../img/offerte.png');
  background-position: 81% 56%;
  background-repeat: no-repeat;
  padding-top: 60px;
}
.image-info{
  -webkit-background-image: url('../img/oferte.jpg');
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-image: url('../img/oferte.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding:70px 50px;
  hr{
    border-color: white;
    max-width: 40px;
  }
  h2{
    font-size: 40px;
    font-family: 'Quarto-Light';
    text-transform: uppercase;
  }
  p{
    font-size: 18px;
    font-family: @open;
    font-weight: 600;
  }
  img{
    margin-bottom: 20px;
  }
}
.next-offer{
  -ms-transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    transform:translateY(-20px);
  -webkit-background-image: url('../img/iii.png');
  -webkit-background-size: contain;
  background-image: url('../img/iii.png');
  background-size: contain;
  display: block;
  width: 345px;
  height: 100px;
  float: right;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 65px;
  a{
    color: white;
    font-family: 'Quarto-Light';
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.06em;
    width: 100%;
    height: 100%;
    display: block;
  }
}
.offer-carousel{
  padding-left: 15px;
  padding-right: 15px;
  img{
    width: 18px !important;
    display: inline-block !important;
    margin-right: 10px;
  }
  h5{
    display: inline-block;
    color: #2D2D2C;
    font-family: @open;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
}
h3.offer-carousel{
    font-family: 'Quarto-Light';
    text-transform: uppercase;
    font-size: 33px;
    letter-spacing: 0.06em;
    color: #00133E;
}
div.offer-carousel{
  border:2px solid #D8CDBA;
  padding: 20px 10px;
  margin-left: 15px;
  margin-right: 15px;
}





.blog{
/*  background-image: url('../img/blog.jpg');*/

  -webkit-background-image: url('../img/news.png'), url('../img/blog.jpg');
  -webkit-background-position:left bottom, center center;
  -webkit-background-repeat: no-repeat, no-repeat;
  -webkit-background-size: 42%, cover;
  -webkit-background-attachment:scroll, fixed;
  background-image: url('../img/news.png'), url('../img/blog.jpg');
  background-position:left bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 42%, cover;
  background-attachment:scroll, fixed;
  position: relative;
  padding: 100px 0px;
  color: white;
  .single-blog{
    border:1px solid white;
    padding: 50px 10px 60px 10px;
    margin-bottom: 10px;
  }
    img{
      width: 320px;
      height: 200px;
      object-fit: cover;
      float: left;
      padding:0px 10px;
    }
    .author-time{
      font-family: @open;
      font-weight: 600;
      font-size: 16px;
    }
    .blog-title{
      font-family: @open;
      font-weight: 700;
      font-size: 29px;
    }
    .blog-desc{
      font-family: @open;
      font-weight: 400;
      font-size: 15px;
      line-height: 35px;
    }
    .blog-info{
      a{
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
      }
    }

}











#footer{
  background-color: @darkblue;
  -webkit-background-image: url('../img/footer.jpg');
  -webkit-background-size: contain;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: top;
  background-image: url('../img/footer.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 200px;
  color: white;
  a{
    color: white;
  }
  p{
    font-family: @regular;
    font-size: 17px;
  }
  h4{
    font-family: @medium;
    font-size: 17px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  ul{
    padding-left: 0px;
  }
  li{
    list-style: none;
    padding-bottom: 5px;
    font-family: @regular;
    font-size: 17px;
    img{
      width: 18px;
    }
  }
  li a{
    font-family: @regular;
    font-size: 17px;
  }
  li i {
    font-size: 20px;
    padding-right: 5px;
  }
  input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    margin-bottom: 5px;
    padding: 0;
    color:white;
  }
  input::-webkit-input-placeholder,
  input:-moz-placeholder,
  input::-moz-placeholder,
  input:-ms-input-placeholder {
     color: white;
  }
  input[type="submit"]{
    border:1px solid white;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .social-icons li{
    display: inline-block;

  }
  .social-icons li i{
    background-color: #D8CDBA;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 12px;
  }
  .social-icons li i.fa.fa-google-plus{
    padding: 5px 4px;
  }
  #copyright{
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 10px;
    .footer-copyright-el{
      font-size: 16px;
      opacity: 0.7;
      font-family: @regular;
      margin-bottom: 5px;
    }
  }
}
#footer h4:after {
    content: '';
    display: block;
    background: white;
    height: 3px;
    max-width: 25px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
#footer h4.social:after{
  margin-bottom: 10px;
  margin-top: 10px;
}



.perchenoi{
  padding: 120px 0px 150px 0px;
  position: relative;
}
h2.vertical-title{
    font-family: 'Quarto-Light';
    text-transform: uppercase;
    font-size: 65px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left:-4%;
    top: 44%;
}
h2.vertical-right{
  font-family: 'Quarto-Light';
    text-transform: uppercase;
    font-size: 65px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    color: white;
    right: 2%;
    top: 44%;
}
.recensioni h2.vertical-right{
  top:30%;
  right: -4%;
}
h2.vertical-title:before{
    content: url('../img/shirit.png');
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -100px;
}
h2.vertical-right:after{
    content: url('../img/shirit2.png');
    display: inline-block;
    opacity: 0.7;
    position: absolute;
    right: -50%;
    /*position: absolute;
    top: 5px;
    left: -100px;*/
}
.recensioni  h2.vertical-right:after{
  right: -25%;
}
.icon-block{
  border:2px solid #D8CDBA;
  padding:50px 10px 10px 10px;
  margin-bottom: 20px;
  h4{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a{
    color:#868989;
  }
  p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 00px;
    min-height: 110px;
  }
  img{
    width: 90px;
    padding: 10px;
  }
}
.first a img{
  -webkit-background-image: url(../img/1.png);
  background-image: url(../img/1.png);
}
.second a img{
  -webkit-background-image: url(../img/2.png);
  background-image: url(../img/2.png);
}
.third a img{
  -webkit-background-image: url(../img/3.png);
  background-image: url(../img/3.png);
}
.fourth a img{
  -webkit-background-image: url(../img/4.png);
  background-image: url(../img/4.png);
}
.icon-block a img{
  background-repeat: no-repeat;
  background-position:top center;
  background-size: contain;
}
.first a:hover img{
  -webkit-background-image: url(../img/11.png);
  background-image: url(../img/11.png);
}
.second a:hover img{
  -webkit-background-image: url(../img/21.png);
  background-image: url(../img/21.png);
}
.third a:hover img{
  -webkit-background-image: url(../img/31.png);
  background-image: url(../img/31.png);
}
.fourth a:hover img{
  -webkit-background-image: url(../img/41.png);
  background-image: url(../img/41.png);
}


#link-bar{
  background-color: #1F2644;
  z-index: 99999;
  color:white;
  padding: 25px 0px;
  position: relative;
  .btn-nav{
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    font-size: 20px;
    font-family: @open;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: left;
    -webkit-background-image: url(http://localhost/cruisetopic/img/arr.png);
    -webkit-background-position: 95% 52%;
    -webkit-background-repeat: no-repeat;
    background-image: url(http://localhost/cruisetopic/img/arr.png);
    background-position: 95% 52%;
    background-repeat: no-repeat;
    padding: 10px 10px;
  }
  .btn.focus, .btn:focus, .btn:hover, .btn:active{
    color:white;
    border-color: #D8CDBA;
  }
  .btn .caret{
    display: none;
  }
  .dropdown-menu{
    color: white;
    width: 100%;
    background-color: #1F2644;
  }
  .dropdown-menu>li>a{
    color:white;
    font-size: 16px;
    font-family: @open;
    font-weight: 400;
    text-transform: uppercase;
  }
  .dropdown-menu>li>a:hover{
  color: #1F2644;
  }
  i{
   color:#D8CDBA; 
   padding-right: 5px;
  }
}
.read-all{
  a{
    background-color: #D8CDBA;
    border: 1px solid #D8CDBA;
    color: #19204C;
    width: 100%;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Quarto-Light';
    font-weight: 600;
    letter-spacing: 0.1em;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  a:hover{
    background-color: rgba(216, 205, 186, 0.75);
  }
}














































/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width : 1700px){
  #footer{
    padding-top: 260px;
  }
}  
@media only screen and (max-width : 1800px){
  h2.vertical-title{
    left: -6%;
  }
  h2.vertical-right{
    right: 0px;
  }
  .offerte h2.vertical-title {
      left: -2%;
  }
}
@media only screen and (max-width : 1700px){
  .icon-block p {
    min-height: 155px;
  }
  .campaign-block td.title{
    padding: 5px;
  }
  .campaign-block p{
    min-height: 60px;
  }
  .campaign-block td {
      padding: 5px;
  }
  h2.vertical-title{
    left: -8%;
  }
  .blog img{
    width: 100%;
    float: none;
  }
  .blog-info{
    padding: 10px;
  }
  .blog .single-blog{
    padding-bottom: 40px;
  }
  #link-bar .btn-nav{
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width : 1630px) {  
  h2.vertical-title{
    left: -5%;
  }
  #search_form{
    width: 500px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1470px) { 
  h2.vertical-title{
    left: -10%;
  } 
  h2.vertical-right {
      right: -2%;
  }
  .offerte h2.vertical-title {
    left: -6%;
  }
  #search_form{
    right: 0px;
  }
  .fotorama__caption{
    left: 25px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1340px) {  
    h2.vertical-title,h2.vertical-right  {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      position: static;
      text-align: center;
  }
  h2.vertical-title:before {
    position: relative;
    float: left;
    left: 30%;
  }
  h2.vertical-right:after{
    right: 35%;
  }
  .recensioni .translate-rec, .recensioni .moved-img{
    -ms-transform: translateY(0px);
     -webkit-transform: translateY(0px); 
     transform: translateY(0px); 
  }
  .recensioni h2.vertical-right:after {
    right: 25%;
  }
  .recensioni{
    padding-bottom: 100px;
  }
  .recensioni .moved-img img{
    height: 350px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {  
  .icon-block p {
    min-height: 100px;
  }
  h2.vertical-title:before {
    left: 27%;
  }
  h2.vertical-right:after{
    right: 30%;
  }
  .recensioni h2.vertical-right:after {
    right: 22%;
  }
  .fotorama__caption__wrap{
    font-size: 55px;
  }
  .image-info{
    margin:15px;
  }
  #link-bar .btn-nav{
    font-size: 16px;
  }
  .campagnia{
    overflow-x: hidden;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  figure.effect-bubba p{
    opacity: 1;
    left: 30%;
  }
  .icon-block p {
      min-height: 110px;
  }
  #link-bar{
    background-color: white;
    .btn-nav{
      border-color:#D8CDBA;
      color: #19204C;
      background-image: url(http://localhost/cruisetopic/img/arrblue.png);
      background-size: 20px;
    }
    .dropdown{
      margin-bottom: 10px;
    }

  }
  #link-bar .btn.focus, #link-bar .btn:focus, #link-bar .btn:hover, #link-bar .btn:active{
    color:#19204C;
  }
  #menu-toggle{
    z-index: 99999;
  }
  .login-buttons{
    padding-top: 10px;
  }
  .fotorama{
    display: none;
  }
  #search_form {
    padding: 30px 20px;
    background-color: rgb(27, 36, 60);
    position: static;
    height: auto;
     width: 100%; 
}
  h2.vertical-title:before {
    left: 20%;
  }
  h2.vertical-right:after{
    right: 27%;
  }
  .blog .single-blog{
    margin-bottom: 30px;
  }
  .campagnia-info .full {
      width: 50%;
  }
  .recensioni h2.vertical-right:after {
    right: 18%;
  }
}
@media only screen and (max-width : 848px) {
 .recensioni h2.vertical-right:after {
    right: 15%;
  }
  h2.vertical-title, h2.vertical-right{
    font-size: 45px;
  }
  h2.vertical-title:before,h2.vertical-right:after,.recensioni h2.vertical-right:after {
    display: none;
  } 
  .offerte {
    background-image: none;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
/*  h2.vertical-title:before {
    left: 17%;
  }
  h2.vertical-right:after{
    right: 25%;
  }*/
  .owl-controls{
    display: none;
  }
  .icon-block p {
    min-height: 70px;
  }
  .login-buttons a:hover {
    border-bottom-color: #1b243c;
  }
  .next-offer{
    float: none;
    margin-left: 15px;
  }
}

@media only screen and (max-width : 710px) {


}
@media only screen and (max-width : 600px){
  .logo{
    display: block;
    width: 99%;
    right: auto;
    left: auto;
    height: auto;
    top: 10px;
  }
  #search_form #formsearchtravel{
    padding-top: 15px;
  }
  #menu-toggle{
    top: 100px;
  }
  .login-buttons {
    padding-top: 100px;
  }
}
@media only screen and (max-width : 580px) {
/*  h2.vertical-title:before {
    left: 7%;
  }*/
  #search_form select {
    font-size: 20px;
  }
  figure.effect-bubba p{
    left: 26%;
    top:28%;
  }
}
@media only screen and (max-width : 580px){
 .next-offer{
    width: 245px;
    height: 69px;
    padding-top: 17px;
    padding-left: 15px;
 } 
 div.offer-carousel{
  margin: 0px;
 }
 .offerte{
  padding-bottom: 0px;
 }
 .blog{
  padding: 65px 0px;
 }
 .perchenoi{
  padding-top: 50px;
 }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #search_form select,#search_form #SubmitSearch {
    font-size: 18px;
  }
}
@media only screen and (max-width : 450px) {
  #search_form select,#search_form #SubmitSearch {
    font-size: 15px;
  }
  .image-info h2{
    font-size: 30px;
  }
  figure.effect-bubba p{
    left: 24%;
    top:25%;
  }
  /*.login-buttons a{
    display: block;
  }*/
  .login-buttons {
    padding-top: 40px;
  }
 /* .login-buttons a:hover {
    border-bottom-width: 0px;
  }*/
}
@media only screen and (max-width : 380px) {
  #search_form select,#search_form #SubmitSearch {
    font-size: 12px;
  }
  .image-info h2 {
    font-size: 25px;
  }
  figure.effect-bubba p{
    left: 20%;
    top:20%;
  }
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 340px) { 
 figure.effect-bubba p{
    left: 18%;
    top:20%;
  }
}