.offer-gall img {
    height: 240px;
    object-fit: cover;
    padding-right: 2px;
}
/*.about-offer .info{
    width: 70%;
}*/

.banner-image{
	position: relative;
}
.add-to-wishlist{
	position: absolute;
	right: 0;
	top:-10px;
}
label.add-wishlist {
    padding: 0;
    font-size: 35px;
    float: right;
    font-weight: 500;
}
label.add-wishlist:before {
    content: "\f097";
    font-family: FontAwesome;
    color:#C90A0A;
}
input.add-wishlist {
    display: none;
}
input.add-wishlist:checked ~ label.add-wishlist:before {
    content: "\f02e";
    color: #C90A0A;
}
.price-loading{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    background-color: #000;
    height: 100%;
    z-index: 9;
    text-align: center;
    vertical-align: middle; 
    display: flex;
    justify-content: center;
    align-items:center;
}
.img-price{
    max-width: 320px;
}
@media (max-width: 425px) {
    .img-price{
        max-width: 250px;
    }
}