	<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
	<div class="col-lg-10 col-md-12 col-sm-12 ">			
	<div class="single-offer-tabs" *ngFor="let single of singleOffers;let i = index">
		<div class="row">
		  <ul class="nav-single-offer" role="tablist">
			    <li role="presentation" class="active">
				    <a href="#prices_{{ single.id }}" aria-controls="prices" role="tab" data-toggle="tab">
				    	<i class="fa fa-eur" aria-hidden="true"></i>
				    	<span>prezzi</span>
				    </a>
			    </li>
			    <li role="presentation">
				    <a href="#times_{{ single.id }}" aria-controls="times" role="tab" data-toggle="tab" data-name="itinerary">
				    	<i class="fa fa-map-marker" aria-hidden="true"></i>
				    	<span>ITINERARIO</span>
				    </a>
			    </li>
			    <li role="presentation">
			    	<a href="#gallery_{{ single.id }}" aria-controls="gallery" role="tab" data-toggle="tab" data-name="gallery">
					    <i class="fa fa-camera" aria-hidden="true"></i>
					    <span>Galeria</span>
				    </a>
			    </li>
			    <li role="presentation">
			    	<a href="#reviews_{{ single.id }}" aria-controls="reviews" role="tab" data-toggle="tab">
				    	<i class="fa fa-commenting-o" aria-hidden="true"></i>
				    	<span>Recensioni</span>
				    </a>
			    </li>
			    <li role="presentation">
			    	<a href="#conditions_{{ single.id }}" aria-controls="conditions" role="tab" data-toggle="tab">
				    	<i class="fa fa-file-text-o" aria-hidden="true"></i>
				    	<span>Condizioni</span>
				    </a>
			    </li>
		  </ul>
		</div>
		<div class="row">
		 	<div class="tab-content arrow-poz">
			    <div role="tabpanel" class="tab-pane active" id="prices_{{ single.id }}">
					<div class="prezzi">
						<div class=" col-lg-4 col-md-12 remove-padding">
							<div class="about-offer">

						    	<div class="info">
						    		<h3>{{single.prices.details.destination}}</h3>
						    		<p>{{single.prices.details.destination_description}}</p>	
						    		<h4>NAVE : {{single.prices.details.ship}}</h4>
						    		<h4>PORTO  : {{single.prices.details.port}}</h4>
						    	</div>

								<div class="rating_company">
									<img class="add-padding-bottom" src="{{single.prices.details.company_thumb}}" alt="cruisetopic"><br>
									<img class="add-padding-top" src="{{single.prices.details.rating_thumb}}" alt="cruisetopic">
								</div>

								<div class="banner-image">
									<div class="add-to-wishlist">
										<input class="add-wishlist" id="{{single.prices.details.wishlist_id}}" type="checkbox" value="0" name="add to wishlist" checked="{{single.prices.details.checked}}">
                                        <label class="add-wishlist" for="{{single.prices.details.wishlist_id}}"></label>
									</div>
									<img class="offer-image" src="{{single.prices.details.destination_thumb}}" alt="cruisetopic">
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-12 remove-padding-right">
							<div class="cd-products-comparison-table">
								<div class="cd-products-table">

									<div class="features">
										<div class="top-info">DATA   DI  PARTENZA </div>
										<ul class="cd-features-list">
											<li data-emtoggle="emtooltip" class="emtooltip" 
											data-emcontent="./../../../assets/img/kompani/1.jpg">CABINA    INTERNA</li>
											<li data-emtoggle="emtooltip" class="emtooltip" 
											data-emcontent="./../../../assets/img/kompani/1.jpg">CABINA   ESTERNA</li>
											<li data-emtoggle="emtooltip" class="emtooltip" 
											data-emcontent="./../../../assets/img/kompani/1.jpg">CON   BALCONE</li>
											<li data-emtoggle="emtooltip" class="emtooltip" 
											data-emcontent="./../../../assets/img/kompani/1.jpg">SUITE</li>
										</ul>
									</div> <!-- .features -->
									<div *ngIf="dataLoader" class="price-loading"><img src="/assets/img/loading.gif" class="img-price"></div>
									<div class="cd-products-wrapper">
										<ul *ngIf="single?.departure_date">
											<owl-carousel [options]="getOptions(single?.departure_date)">
											     <li class="item" *ngFor="let single_prices of single.departure_date;let i = index">
											         <div class="top-info">
														<h3>{{single_prices.date}}</h3>
													</div> <!-- .top-info -->
												<!-- cmimit me te ulet i shton li klasen class="lower-price -->
													<ul class="cd-features-list">
														<li><a href="{{single_prices.cabina_interna.link}}">${{single_prices.cabina_interna.price}}</a></li>
														<li><a href="{{single_prices.cabina_interna.link}}">${{single_prices.cabina_esterna.price}}</a></li>
														<li><a href="{{single_prices.cabina_interna.link}}">${{single_prices.cabina_balcone.price}}</a></li>
														<li><a href="{{single_prices.cabina_interna.link}}">
														${{single_prices.suite.price}}</a></li>
													</ul>
											     </li>
											 </owl-carousel>
										</ul> <!-- .cd-products-columns -->
									</div> <!-- .cd-products-wrapper -->					
									<ul class="cd-table-navigation" >
										<!-- <li><a href="javascript:;"  class="prev inactive">Prev</a></li>
										<li><a href="javascript:;" (click)="nextClicked(i)" class="next">Next</a></li> -->
									</ul>
								</div> <!-- .cd-products-table -->
							</div> <!-- .cd-products-comparison-table -->
						</div>
					</div>
			    </div>

				<!-- ITINERARY TAB -->
			    <div role="tabpanel" class="tab-pane" id="times_{{ single.id }}">
					<div class="itinerary text-center"  *ngIf="single?.itinerary">
						<owl-carousel [options]= "options">
						     <div class="item"  *ngFor="let single_day of single.itinerary">
								<div class="remove-padding">
							<!-- 	per te shtuar nje grey background shton klasen grey -->
									<div class="day {{single_day.class}}">
										<h3>day<br>{{single_day.day_nr}}</h3>
										<h4>{{single_day.date_nr}}</h4>
										<h5>PORTO<br><span>{{single_day.port}}</span></h5>
										<p>ARRIVO <span>{{single_day.arrival}}</span></p>
										<p>ARRIVO <span>{{single_day.parture}}</span></p>
									</div>
								</div>
							</div>			
						</owl-carousel>						
					</div>

					 <!-- Trigger the modal with a button -->
					  <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#myModal">apri la Mappa degli itinerari</button>

					  <!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						    
						      <!-- Modal content-->
						      <div class="modal-content">
							        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Itinerario Map</h4>
							        </div>
							        <div class="modal-body">
							          	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" (mapClick)="mapClicked($event)">
										 	<agm-marker *ngFor="let m of markers; let i = index"
						          						[latitude]="m.lat" [longitude]="m.lng">
						          			</agm-marker>
										 	<agm-polyline [geodesic]=true [strokeWeight]="7">
										 		<div *ngFor="let m of markers; let i = index" >
										 			<agm-polyline-point  [latitude]="m.lat" [longitude]="m.lng"></agm-polyline-point>
										 		</div>
										 	</agm-polyline>
										 </agm-map>
							        </div>
							        <div class="modal-footer">
							          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        </div>
						      </div>
						      
						    </div>
					  </div>
			    </div>

				<!-- GALLERY TAB -->
			    <div role="tabpanel" class="tab-pane" id="gallery_{{ single.id }}">
					<div class="gallery"  *ngIf="single?.gallery">
						<owl-carousel [options]= "options" [items]="images">
							<div class="item"  *ngFor="let single_picture of single.gallery">
								<div class="offer-gall"><img src="{{single_picture.picture}}" alt="{{single_picture.title}}"></div>
							</div>
						</owl-carousel>
					</div>
			    </div>
			    
				<!-- REVIEWS PANEL -->
			    <div role="tabpanel" class="tab-pane" id="reviews_{{ single.id }}">
					<div class="reviews">
						<div class="col-md-4 remove-padding">
								<div class="about-offer">
							    	<div class="info">
							    		<h3>{{single.prices.details.destination}}</h3>
							    		<p>{{single.prices.details.destination_description}}</p>	
							    		<h4>NAVE : {{single.prices.details.ship}}</h4>
							    		<h4>PORTO  : {{single.prices.details.port}}</h4>
							    	</div>
									<div class="rating_company">
										<img class="add-padding-bottom" src="{{single.prices.details.company_thumb}}" alt="cruisetopic">
										<br>
										<img class="add-padding-top" src="{{single.prices.details.rating_thumb}}" alt="cruisetopic">
									</div>
									<div class="banner-image">
										<img class="offer-image" src="{{single.prices.details.destination_thumb}}" alt="cruisetopic">
									</div>
								</div>
						</div>
						<div class="col-md-8 remove-padding-right">
							<div class="listing">
								<ul  *ngIf="single?.review">
									<li  *ngFor="let single_review of single.review">
										<img class="add-padding-top" src="{{single_review.thumb}}" alt="cruisetopic">
										<h4>{{single_review.title}}</h4>
										<p>{{single_review.description}}</p>
										<h5>{{single_review.date}}</h5>
									</li>
								</ul>
								<div class="write-review">
									<a class="left" href="{{single.read_more_link}}">Read More</a>
									<a class="right" href="">Write a riview</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- STATIC INFO -->
			    <div role="tabpanel" class="tab-pane" id="conditions_{{ single.id }}">
			    	<div class="conditions">
						<div class="col-md-6 block remove-padding grey">
							<h3>INCLUSO NEL PREZZO</h3>
							<ul>
								<li>Cabine prescelta, aria condizionata, armadio, bagno privato con doccia e/o vasca, TV, telefono, minibar e cassaforte</li>
								<li>Pensione completa (colazione - pranzo - cena - spuntini e merende)</li>
								<li>Tutte le attività di intrattenimento: giochi, gare, concorsi, feste a tema e spettacoli teatrali, accesso alle piscine, vasche idromassaggio, sala relax, attività di intrattenimento per bambini </li>
								<li>Acqua, caffè e succhi di frutta disponibili a dispenser nelle zone ristoro (buffet) </li>
								<li>Mini club per bambini e ragazzi</li>
								<li>Spettacoli diversi, stile Broadway</li>
								<li>Accesso ai Bar con musica dal vivo e discoteca</li>
								<li>Palestra Piscine coperte e scoperte</li>
								<li>Accesso al Casinò</li>
							</ul>
						</div>
						<div class="col-md-6 block remove-padding">
							<h3>NON INCLUSO NEL PREZZO</h3>
							<ul>
								<li>Quota di Servizio (Mance) </li>
								<li> Accesso ad internet</li>
								<li>Bevande</li>
								<li>Assistenza medica</li>
								<li>Ristoranti tematici</li>
								<li>Escursioni</li>
								<li>Assicurazioni</li>
								<li>I trasporti no al porto d imbarco </li>
								<li>Spese personali</li>
								<li>Tutto cio non riportato alla voce "cosa è incluso nella crociera"</li>
							</ul>
						</div>
					</div>
			    </div>

			</div>
		</div>
	</div>		
</div>	