/*!
CUSTOM STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  /*  margin: 10px 1%;*/
  min-width: 300px;
  /*  max-width: 480px;*/
  max-height: 500px;
  width: 50%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  background: #13192C;
}
figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
  opacity: 0.4;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
figure.effect-bubba h2 {
  padding-top: 25%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.offer-category {
  padding: 0px;
}
.with-searchbar {
  min-height: 740px;
}
.inner-page.with-searchbar .page-title {
  padding-top: 200px;
}
.details_head {
  background-color: #EDEDED;
  color: #1A2542;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
}
.details_head h2 {
  letter-spacing: 0.2em;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.details_head p {
  font-size: 17px;
  font-style: italic;
}
.details_head h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px;
}
.details-title {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}
#details_preventiv {
  padding: 0px;
}
#details_preventiv a:hover {
  border: 5px solid #15ABC8;
}
#details_preventiv a {
  border: 5px solid white;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 30px;
}
.form-fields input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
}
.form-fields .submit-input {
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.form-fields .submit-input:hover {
  background-color: #1f2644;
}
.submit-input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.submit-input:hover {
  background-color: #1f2644;
}
#details_preventiv .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
#details_preventiv .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
#details_preventiv .listing,
#details_preventiv .gallery,
#details_preventiv .conditions,
#details_preventiv .itinerary {
  margin: 15px 0px;
}
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cabin1 {
  background-image: url(/assets/img/kabin1.jpg);
}
.cabin2 {
  background-image: url(/assets/img/kabin.jpg);
}
.cabin3 {
  background-image: url(/assets/img/kabin2.jpg);
}
.cabin4 {
  background-image: url(/assets/img/kabin3.jpg);
}
.cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 400px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  margin-bottom: 0px;
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.price-tick {
  background-color: #1f2644;
  color: white;
  padding: 20px;
  margin-top: -5px;
}
.price-tick p {
  margin: 0px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.price-tick p.title {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
}
.price-tick p.title span {
  font-size: 30px;
}
.cabina-desc {
  padding-right: 145px;
}
.read-more {
  background-color: #15ABC8;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.map-img {
  width: 100%;
}
h3.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 14px;
  text-transform: uppercase;
  color: #1A2542;
}
.gm-style-iw {
  max-width: 250px;
}
h4.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  text-transform: uppercase;
  color: #1A2542;
}
#details_preventiv a.map-title {
  padding: 10px;
  text-align: center;
  background-color: #C90A0A;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  border: none;
}
#details_preventiv a:hover.map-title {
  background-color: #1A2542;
}
.ItinerarioTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.ItinerarioTable tr,
.ItinerarioTable td,
.ItinerarioTable th {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.ItinerarioTable th {
  background-color: #D8CDBA;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-transform: uppercase;
}
.ItinerarioTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.ItinerarioImage img {
  width: 100%;
  min-height: 420px;
  object-fit: cover;
  /*    transition: all .2s ease-in-out; */
}
.ItinerarioImage img:hover {
  /*   transform: scale(1.1);*/
}
.ItinerarioImage .price-tick {
  background-color: #1F2644;
  margin-top: 0px;
}
.all-in-price {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.all-in-price tr,
.all-in-price td {
  /* border:1px solid black;*/
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.all-in-price tr img,
.all-in-price td img {
  width: 35px;
  padding-right: 10px;
}
.all-in-price .bg {
  background-color: #fbfaf8;
  text-align: center;
  color: #6D6D6D;
}
#preventiv .next-offer p {
  color: white;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
  display: block;
}
#preventiv .next-offer p strong {
  font-family: 'Open Sans', sans-serif;
}
#preventiv .next-offer {
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-background-image: url(/assets/img/iii.png);
  -webkit-background-size: contain;
  background-image: url(/assets/img/iii.png);
  background-size: contain;
  display: block;
  width: 345px;
  height: 100px;
  float: right;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 65px;
}
h2.blue-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.blue-title:before {
  content: "";
  background-image: url(/assets/img/shiritblu.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
h2.skin-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.skin-title:before {
  content: "";
  background-image: url(/assets/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
.TuoPreventivoTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.TuoPreventivoTable th {
  background-color: #D8CDBA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.TuoPreventivoTable tr,
.TuoPreventivoTable td {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.TuoPreventivoTable .PriceSpan {
  text-align: right;
}
.TuoPreventivoTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.extra-padding {
  padding-top: 40px;
  padding-bottom: 20px;
}
.lil-extra-padding {
  padding-top: 30px;
  padding-bottom: 10px;
}
.extra-top {
  padding-top: 30px;
}
.extra-bottom {
  padding-bottom: 30px;
}
.padd-top-bott {
  padding: 50px 0px;
  margin: 10px 0px;
}
.termsandconditions p {
  font-size: 16px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px;
  font-weight: 600;
}
.accept-terms {
  margin: 0px 0px 00px 0px;
}
a.termsandconditions {
  color: #15ABC8;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h4.PassengerNumber {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
#preventiv .form-control {
  border-radius: 0;
  border-color: #DBDBDB;
  box-shadow: none;
  height: 45px;
}
#preventiv label {
  font-family: 'Open Sans', sans-serif;
  color: #5D687C;
  font-size: 12px;
  font-weight: 400;
}
#preventiv label.img-label {
  font-size: 18px;
  color: #02012D;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#preventiv label.img-label img {
  width: 125px;
}
.text-muted {
  color: #15ABC8;
}
#map:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0001);
  content: '';
  z-index: 9;
}
.price-info {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 20px 0px;
  margin-bottom: 30px;
}
.price-info p {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.price-info h3 {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.blue {
  color: #15ABC8;
}
.skin {
  color: #D8CDBA;
}
.setwidth {
  height: 50px;
}
.payment-details input[type="text"],
.payment-details select {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  border: 1px solid #DBDBDB;
}
.payment-details p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  /*    padding-top: 30px;*/
}
.bill-info p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
}
.bank-info {
  padding: 30px 20px;
}
.bank-info h4 {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0px;
}
.bank-info p {
  margin-bottom: 0px;
  /*  font-weight: 700; */
}
.bank-info table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.bank-info tr,
.bank-info td,
.bank-info th {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1F2644;
  border: 1px solid rgba(119, 119, 119, 0.2);
}
.bill-image img {
  width: 100%;
}
.after-preventiv .after-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
.after-description {
  font-weight: 600;
}
.attention p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  margin: 0px;
}
.attention {
  padding: 20px;
  text-align: center;
}
.image-info {
  min-height: 340px;
  background-position: center;
}
.thanks-msg {
  padding: 20px;
}
.thanks-msg h4 {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.thanks-msg p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
@media only screen and (max-width: 1700px) {
  h2.skin-title,
  h2.blue-title {
    font-size: 30px;
    letter-spacing: 0.06em;
    padding-left: 40px;
  }
  .setwidth {
    height: 40px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .thanks-msg h4 {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 368px;
  }
  .image-info {
    min-height: 300px;
  }
  h2.skin-title:before,
  h2.blue-title:before {
    width: 30px;
    height: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .details_head h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .grid figure {
    width: 100%;
  }
  .image-info {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .details_head .text-left,
  .details_head .text-right {
    text-align: center;
  }
  .details_head h2 {
    margin-top: 0px;
  }
  .price-tick p.title {
    font-size: 20px;
  }
  .price-tick p {
    font-size: 14px;
  }
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .TuoPreventivoTable th,
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th {
    padding: 5px;
  }
  .bank-info {
    padding: 10px;
  }
  .padd-top-bott {
    padding: 10px 0px;
  }
  #preventiv label.img-label img {
    width: 100px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 14px;
  }
  .inner-page .page-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 580px) {
  .price-tick p span {
    font-size: 20px;
    font-weight: 900;
  }
  .drinkcard-cc {
    height: 300px;
  }
  .conditions ul {
    padding-left: 0px;
  }
  .price-tick p.title span {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .all-in-price tr,
  .all-in-price td {
    padding: 10px;
  }
  section#preventiv {
    padding: 0px;
  }
  .price-tick p,
  .read-more {
    font-size: 12px;
  }
  .drinkcard-cc {
    height: 250px;
  }
  .conditions ul li,
  .submit-input,
  .form-fields .submit-input {
    font-size: 14px;
  }
  h2.skin-title,
  h2.blue-title {
    font-size: 26px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 12px;
  }
  .price-info {
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  .price-info h3 {
    margin: 0px;
  }
  .price-info p {
    margin-bottom: 10px;
  }
  #preventiv .next-offer {
    width: 345px;
    height: 65px;
    padding-top: 15px;
    padding-left: 25px;
  }
  #preventiv .next-offer p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 420px) {
  .inner-page {
    padding-bottom: 50px;
  }
  .grid figure h2 {
    font-size: 25px;
  }
  .inner-page .page-title {
    font-size: 28px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 10px;
  }
  .all-in-price tr,
  .all-in-price td {
    padding: 5px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .price-tick p {
    letter-spacing: 0.06em;
  }
  .price-tick p span {
    font-size: 16px;
  }
  .conditions ul li {
    font-size: 12px;
  }
  #preventiv .next-offer {
    width: 100%;
    margin: 0px;
  }
  .attention {
    overflow: hidden;
  }
}
@media only screen and (max-width: 330px) {
  .grid figure h2 {
    font-size: 20px;
  }
  .offer-category {
    overflow-x: hidden;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    font-size: 10px;
  }
}
/******************************   Single Blog Stylesheet ******************************/
/**************************************
01.Blog Part1
**************************************/
.blog-part1 {
  padding-top: 125px;
}
.blog-part1 img {
  width: 100%;
  display: block;
  height: 450px;
  object-fit: cover;
}
.blog-part1 .margin-bottom-div {
  margin-bottom: 85px;
}
/**************************************
02.Blog Part2
**************************************/
.skin-img img {
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 30px;
}
.skin-img h1 {
  display: inline-block;
}
.blog-part2 .owl-prev {
  position: absolute;
  right: 0;
  top: 42%;
}
.blog-part2 .owl-next {
  position: absolute;
  left: 0;
  top: 42%;
}
.blog-part2 .item img {
  width: 100%;
  display: block;
  height: 310px;
  object-fit: cover;
}
.blog-part2 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2f3a56;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.blog-part2 p {
  margin-bottom: 30px;
}
.blog-part2 .btn {
  border-radius: 0;
  color: #f7fdff;
  background-color: #1a2543;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 20px 40px;
  border-color: #1a2543;
}
/**************************************
03.General
**************************************/
.blog-part1 p,
.blog-part2 p {
  font-family: 'Open Sans', sans-serif;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  /*margin-bottom: 50px;*/
}
.blog-part1 h1,
.blog-part2 h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #2f3a56;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 75px;
}
/**************************************
04.Media Queries
**************************************/
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog-part2 .margin-bottom {
    margin-bottom: 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 40px;
  }
  .skin-img img {
    margin-bottom: 25px;
  }
  .blog-part1 .margin-bottom {
    margin-bottom: 15px;
  }
  .blog-part2 .owl-prev {
    position: absolute;
    right: 0;
    top: 24%;
  }
  .blog-part2 .owl-next {
    position: absolute;
    left: 0;
    top: 24%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .blog-part1 {
    padding-top: 100px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .skin-img img {
    display: none !important;
  }
  .blog-part1 .margin-bottom-div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .blog-part1 img {
    height: 400px;
  }
  .blog-part2 .item img {
    height: 280px;
  }
}
@media only screen and (max-width: 490px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 26px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blog-part1 img {
    height: 360px;
  }
  .blog-part2 .item img {
    height: 250px;
  }
}
@media only screen and (max-width: 420px) {
  .blog-part1 img {
    height: 330px;
  }
  .blog-part1 {
    padding-top: 80px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 25px;
  }
  .blog-part2 .item img {
    height: 220px;
  }
}
@media only screen and (max-width: 360px) {
  .blog-part1 img {
    height: 300px;
  }
  .blog-part2 .item img {
    height: 190px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .blog-part1 img {
    height: 260px;
  }
}
/*!
NEW CSS
 * Start Bootstrap
 * Author, Abbybased.
 */
/*GENERAL STYLE*/
.martop30 {
  margin-top: 30px;
}
.page-description {
  font-size: 34px;
  color: white;
}
.grey-block {
  padding: 30px;
  background-color: #f2f2f2;
}
.grey-block h3 {
  font-family: 'Quarto-Light';
  color: #19204C;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.grey-block p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.grey-block p.mar50 {
  margin-bottom: 50px;
}
.grey-block .red-button {
  width: 230px;
  background-image: url(/assets/img/buton-red.png);
  background-color: rgba(201, 10, 10, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.grey-block .red-button button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: #c90a0a;
  border: none;
}
.red-button {
  width: auto;
  background-image: url(/assets/img/buton-red.jpg);
  background-size: contain;
  background-color: #c90a0a;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.red-button a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.cd-more-info .red-button {
  padding: 10px;
}
.cd-more-info .red-button a {
  font-size: 12px;
}
.category-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.category-title {
  font-size: 30px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
}
.list.single-related {
  border-bottom: 0px solid #d8cdba;
}
.list.single-related .content-id {
  border-bottom: 2px solid #d8cdba;
}
.skin-img h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
  margin-top: 0;
  display: inline-block;
}
.single-related {
  border: 2px solid #d8cdba;
}
.single-related .image-id {
  background-image: url(/assets/img/oferte.jpg);
  background-size: cover;
  color: white;
  min-height: 300px;
  padding: 120px 30px;
}
.single-related .image-id h3 {
  font-family: 'Quarto-Light';
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.single-related a .content-id {
  padding: 10px;
}
.single-related a .content-id h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 19px;
  text-transform: uppercase;
  color: #2d2d2c;
      text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.single-related .image-container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.single-related a .content-id .company {
  height: 45px;
  float: left;
}
.single-related a .content-id .icon {
  float: left;
  height: 32px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.single-related a .content-id h5 {
  text-align: right;
  color: #2D2D2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-right: 10px;
}
.single-related a .content-id p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.add-margin-bottom-30 {
  margin-bottom: 30px;
}
.right {
  float: right;
}
/*SINGLE DESTINATION*/
.destination-info {
  padding: 120px 0px 70px 0px;
}
.related-offers .extra-padding,
.ports-on-destination .extra-padding,
.related-offers .extra-padding {
  padding-top: 0px;
  padding-bottom: 40px;
}
.company_list.no-bg {
  background-image: none;
}
@media only screen and (max-width: 1200px) {
  .inner-page.with-searchbar .page-title {
    padding-top: 135px;
  }
}
@media only screen and (max-width: 992px) {
  .single-related {
    margin-bottom: 20px;
  }
  .with-searchbar {
    min-height: 540px;
  }
  /*    .inner-page {
      display: none;
    }*/
  .destination-info {
    padding: 50px 0px 70px 0px;
  }
  .image-info {
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 380px) {
  .single-related .image-id h3 {
    font-size: 20px;
  }

  .grey-block {
    padding: 15px;
  }
  .grey-block p {
    font-size: 16px;
  }
  .single-related .image-id {
    min-height: 200px;
  }
}
/*page for destination-list*/
.background-section {
  background-image: url(/assets/img/head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.background-section h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
}
.background-section p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.background-section h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.absolute-title {
  position: absolute;
  width: 100%;
  z-index: 9;
}
.absolute-title h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
  letter-spacing: 0.2em;
  margin-top: 40px;
}
.absolute-title h1::before {
  content: "";
  background-image: url(/assets/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 22%;
}
.number {
  position: absolute;
  z-index: 9;
  right: 50px;
  top: 30px;
  height: 50px;
}
.number p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  letter-spacing: 0.06em;
  padding: 10px;
  margin: 0px;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  /*  width: 90%;
  max-width: 1170px;
  margin: 0 auto;*/
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}
.cd-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* -------------------------------- 

Main components 

-------------------------------- */
.cd-product {
  text-align: center;
  width: 100%;
}
.cd-product-wrapper {
  display: inline-block;
  position: relative;
  /*  margin: 0 auto;
  width: 100%;
  max-width: 100%;*/
  width: 100%;
}
.cd-product-wrapper > img {
  display: block;
  width: 100%;
}
.cd-single-point {
  position: absolute;
  border-radius: 50%;
}
.cd-single-point > a {
  position: relative;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background: #c90a0a
  ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-single-point > a::after,
.cd-single-point > a:before {
  /* rotating plus icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-single-point > a::after {
  height: 2px;
  width: 12px;
}
.cd-single-point > a::before {
  height: 12px;
  width: 2px;
}
.cd-single-point::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}
.cd-single-point:nth-of-type(1) {
  bottom: 40%;
  right: 30%;
}
.cd-single-point:nth-of-type(2) {
  bottom: 24%;
  right: 46%;
}
.cd-single-point:nth-of-type(3) {
  top: 28%;
  left: 20%;
}
.cd-single-point:nth-of-type(4) {
  top: 20%;
  right: 22%;
}
.cd-single-point.is-open > a {
  background-color: #475f74;
}
.cd-single-point.is-open > a::after,
.cd-single-point.is-open > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after {
  /* remove pulse effect */
  display: none;
}
.cd-single-point.is-open .cd-more-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point.visited > a {
  background-color: #475f74;
}
.cd-single-point.visited::after {
  /* pulse effect no more active on visited elements */
  display: none;
}
@media only screen and (min-width: 600px) {
  .cd-single-point.is-open .cd-more-info.cd-left {
    right: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-right {
    left: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-top {
    bottom: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-bottom {
    top: 140%;
  }
}
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
.cd-single-point .cd-more-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em 1em 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point .cd-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}
.cd-single-point .cd-more-info h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: .6em;
}
.cd-single-point .cd-more-info p {
  color: #758eb1;
}
@media only screen and (min-width: 600px) {
  .cd-single-point .cd-more-info {
    position: absolute;
    width: 220px;
    height: 240px;
    padding: 1em;
    overflow-y: visible;
    line-height: 1.4;
    border-radius: 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .cd-single-point .cd-more-info::before {
    display: block;
  }
  .cd-single-point .cd-more-info.cd-left,
  .cd-single-point .cd-more-info.cd-right {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left::before,
  .cd-single-point .cd-more-info.cd-right::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left {
    right: 160%;
    left: auto;
  }
  .cd-single-point .cd-more-info.cd-left::before {
    border-left-color: rgba(255, 255, 255, 0.95);
    left: 100%;
  }
  .cd-single-point .cd-more-info.cd-right {
    left: 160%;
  }
  .cd-single-point .cd-more-info.cd-right::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .cd-single-point .cd-more-info.cd-top,
  .cd-single-point .cd-more-info.cd-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top::before,
  .cd-single-point .cd-more-info.cd-bottom::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top {
    bottom: 160%;
    top: auto;
  }
  .cd-single-point .cd-more-info.cd-top::before {
    border-top-color: rgba(255, 255, 255, 0.95);
    top: 100%;
  }
  .cd-single-point .cd-more-info.cd-bottom {
    top: 160%;
  }
  .cd-single-point .cd-more-info.cd-bottom::before {
    border-bottom-color: rgba(255, 255, 255, 0.95);
    bottom: 100%;
  }
  .cd-single-point .cd-more-info h2 {
    font-size: 20px;
    /*    font-size: 1.25rem;*/
    margin-bottom: 0;
  }
  .cd-single-point .cd-more-info p {
    font-size: 13px;
    /*    font-size: 0.875rem;*/
  }
}
/* close the interest point description - only on mobile */
.cd-close-info {
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}
.cd-close-info::after,
.cd-close-info:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #475f74;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-close-info::after {
  height: 2px;
  width: 16px;
}
.cd-close-info::before {
  height: 16px;
  width: 2px;
}
@media only screen and (min-width: 600px) {
  .cd-close-info {
    display: none;
  }
}
#single-number {
  position: relative;
}
/*
SINGLE COMPANY*/
.info-company .campagnia-info {
  padding: 40px;
}
img.margin-image-head {
  margin-top: 30%;
}
/*LAST OFFER*/
.last-offer {
  margin-top: 30px;
}
.last-offer img {
  opacity: 0.7;
  margin-bottom: 30px;
}
.last-offer p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1740px) {
  .absolute-title h1::before {
    left: 19%;
  }
}
@media only screen and (max-width: 1550px) {
  .absolute-title h1::before {
    left: 17%;
  }
}
@media only screen and (max-width: 1470px) {
  .absolute-title h1::before {
    left: 15%;
  }
}
@media only screen and (max-width: 1370px) {
  .absolute-title h1::before {
    left: 14%;
  }
  .absolute-title h1 {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1::before {
    content: none;
  }
  #map-pins {
    padding-top: 100px;
    background-color: #27364b;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #single-number,
  .absolute-title h1 {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .skin-img h2 {
    font-size: 25px;
  }
  .background-section h2{
    font-size: 35px;
  }
}
@media only screen and (max-width: 400px) {
  #map-pins {
    padding-top: 150px;
  }
  .background-section p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
