<app-destinations-head></app-destinations-head>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>

<section class="related-offers">
	<div class="container">
		<div class="row extra-padding">
			<div class="col-md-12">
				<h2 class="skin-title">TOP DESTINATIONS</h2>
			</div>
		</div>
		<div class="row add-margin-bottom-30">
			<div class="col-md-4"  *ngFor="let offer_single of offerBlock">
				<div class="single-related">
					<!-- <div class="image-id text-center">
						<img src="../assets/img/greece.jpg">
						<h3>{{offer_single.destination}}</h3>
					</div> -->
					<div class="add-to-wishlist">
						<input class="add-wishlist" id="{{offer_single.wishlist_id}}" type="checkbox" value="0" name="add to wishlist" checked="{{offer_single.checked}}">
                        <label class="add-wishlist" for="{{offer_single.wishlist_id}}"></label>
					</div>
					<div class="image-container">
						<img src="{{offer_single.background}}">
						
					</div>
					<a href="">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png">
							<p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>	
					</a>					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="background-section  add-margin-bottom-30">
	<div class="container">
		<div class="row extra-padding">
			<div class="col-md-10 col-md-offset-1 remove-padding text-center">
			<h2 class="">DESTINATIONS</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
				<h4>lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod </p>
			</div>
		</div>
	</div>
</section>

<section class="related-offers">
	<div class="container">
		<div class="row extra-padding">
			<div class="col-md-12">
				<h2 class="skin-title  add-margin-bottom-30">ALTRE   OFFERTE </h2>
			</div>
		</div>

		<div class="row add-margin-bottom-30">
			<div class="col-md-4"  *ngFor="let offer_single of offerBlock">
				<div class="single-related">
					<!-- <div class="image-id text-center">
						<h3>{{offer_single.destination}}</h3>
					</div> -->
					<div class="add-to-wishlist">
						<input class="add-wishlist" id="{{offer_single.wishlist_id}}" type="checkbox" value="0" name="add to wishlist" checked="{{offer_single.checked}}">
                        <label class="add-wishlist" for="{{offer_single.wishlist_id}}"></label>
					</div>
					<div class="image-container">
						<img src="{{offer_single.background}}">
					</div>
					<a href="">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png">
							<p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>	
					</a>					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="red-button right">
						<a href="">VEDI TUTTE LE OFFERTE </a>
				</div>
			</div>
		</div>
	</div>
</section>