.offer-gall img {
    height: 240px;
    object-fit: cover;
    padding-right: 2px;
}
.banner-image{
	position: relative;
}
.add-to-wishlist{
	position: absolute;
	right: 0;
	top:-10px;
}
label.add-wishlist {
    padding: 0;
    font-size: 35px;
    float: right;
    font-weight: 500;
}
label.add-wishlist:before {
    content: "\f097";
    font-family: FontAwesome;
    color:#C90A0A;
}
input.add-wishlist {
    display: none;
}
input.add-wishlist:checked ~ label.add-wishlist:before {
    content: "\f02e";
    color: #C90A0A;
}
agm-map {
   width: 100%;
   height: 500px;
}
