<app-red-wishlist-banner></app-red-wishlist-banner>
<app-inner-header-center [page_title]="'PREVENTIVO'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>

<div  *ngIf="offerPreventiv">
	<section class="details_head" >
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>{{offerPreventiv.destination}}</h2>
					<p>{{offerPreventiv.destination_description}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-xs-12 text-left">
					<h3>NAVE   : {{offerPreventiv.ship}}</h3>
					<h3>PORTO   :  {{offerPreventiv.port}}  </h3>
				</div>
				<div class="col-lg-6 col-sm-6 col-xs-12 text-right">
					<h3>DATA DI PARTENCA : {{offerPreventiv.departure_date}}   </h3>
					<h3>DURATA :{{offerPreventiv.duration}} GIORNI </h3>
				</div>
			</div>
		</div>
	</section>

	<section id="details_preventiv">
		<div class="container">
			<div class="row lil-extra-padding">
				<div class="col-lg-12">
					<h3 class="details-title">SCEGLI LA TUA CABINA</h3>
				</div>
			</div>
			   		   				
			<form>
			    <div class="cc-selector">
			    		<div class="row">	 
							<div class="col-lg-6">
						        <input id="cabin1" type="radio" name="credit-card" value="Cabina Interna" checked="{{offerPreventiv.intern_checked}}"/>
						        <label class="drinkcard-cc cabin1" for="cabin1"></label> 
						    </div>
						    <div class="col-lg-6">
						        <div class="price-tick">
	    							<p class="title">{{offerPreventiv.intern_cabin_name}}<span class="right">{{offerPreventiv.intern_cabin_price}}€</span></p>
	    							<div class="cabina-desc">
	    								<p>{{offerPreventiv.intern_cabin_description}}</p>
	    								<p id="demo1" class="collapse standart">{{offerPreventiv.intern_cabin_description_more}}</p>
	    							</div>
	    								<div class="text-right">
	    									<button type="button" class="read-more" data-toggle="collapse" data-target="#demo1">read more</button>
	    								</div>
	    						</div>
					       	</div>
				        </div>
				        <div class="row">
				        	<div class="col-lg-6">
						        <input id="cabin2" type="radio" name="credit-card" value="Cabina Esterna" checked="{{offerPreventiv.extern_checked}}" />
						        <label class="drinkcard-cc cabin2" for="cabin2"></label>
						    </div>    
						    <div class="col-md-6">
						        <div class="price-tick">
	    							<p class="title">{{offerPreventiv.extern_cabin_name}}<span class="right">{{offerPreventiv.extern_cabin_price}}€</span></p>
	    							<div class="cabina-desc">
		    							<p>{{offerPreventiv.extern_cabin_description}} </p>
		    							<p id="demo2" class="collapse standart">{{offerPreventiv.extern_cabin_description_more}}</p>
	    							</div>
	    							<div class="text-right">
	    								<button type="button" class="read-more" data-toggle="collapse" data-target="#demo2">read more</button>
	    							</div>
	    						</div>
					        </div>
				        </div>
				        <div class="row">	
				        	<div class="col-lg-6">
						        <input id="cabin3" type="radio" name="credit-card" value="Cabina con balcone" checked="{{offerPreventiv.balcony_checked}}"/>
						        <label class="drinkcard-cc cabin3" for="cabin3"></label>
					        </div>
					        <div class="col-lg-6">
					        	<div class="price-tick">
	    							<p class="title">{{offerPreventiv.balcony_cabin_name}}<span class="right">{{offerPreventiv.balcony_cabin_price}}€</span></p>
	    							<div class="cabina-desc">
		    							<p> {{offerPreventiv.balcony_cabin_description}}</p>
		    							<p id="demo3" class="collapse standart">{{offerPreventiv.balcony_cabin_description_more}}</p>
	    							</div>
	    							<div class="text-right">
	    								<button type="button" class="read-more" data-toggle="collapse" data-target="#demo3">read more</button>
	    							</div>
	    						</div>
					        </div>				      							
			    		</div>
			    		<div class="row">
			    			<div class="col-lg-6">
						        <input id="cabin4" type="radio" name="credit-card" value="Suite" checked="{{offerPreventiv.suite_checked}}"/>
						        <label class="drinkcard-cc cabin4" for="cabin4"></label>
					        </div>
					        <div class="col-lg-6">
					        	<div class="price-tick">
	    							<p class="title">{{offerPreventiv.suite_name}}<span class="right">{{offerPreventiv.suite_price}}€</span></p>
	    							<div class="cabina-desc">
		    							<p>{{offerPreventiv.suite_description}} </p>
		    							<p id="demo4" class="collapse standart">{{offerPreventiv.suite_description_more}}</p>
	    							</div>
	    							<div class="text-right">
	    								<button type="button" class="read-more" data-toggle="collapse" data-target="#demo4">read more</button>
	    							</div>
	    						</div>
					        </div>
			    		</div>
			    </div>
			</form>	    			

			<div class="row lil-extra-padding">
				<div class="col-lg-12">
					<h3 class="details-title">INSERISCI IL TUO PREVENTIVO GRATUITO</h3>
				</div>
			</div>
			<div class="row form-fields">
				<form >
					<div class="col-lg-4">	
		  					<input id="adults" name="adulti" placeholder="Adulti" type="text">
		  					<input id="children7" name="children7" placeholder="Bambini (0-7)" type="number">
		  					<input id="name" name="name" placeholder="Nome" type="text">
					</div>
					<div class="col-lg-4">	
		  					<input id="phone" name="phone" placeholder="Phone number" type="text">
		  					<input id="children15" name="last_name" placeholder="Bambini (8-15)" type="number">
		  					<input id="lastname" name="lastname" placeholder="Cognome" type="text">
					</div>
					<div class="col-lg-4 ">	
		  					<input id="date" name="date" placeholder="dd/mm/yy" type="date">
		  					<input id="country" name="country" placeholder="Country" type="text">
		  					<input id="email" name="email" placeholder="Email" type="email">
					</div>
					<div class="col-lg-12">
						<input class="submit-input" value="apri il tuo preventivo" type="submit">
					</div>
				</form>
			</div>
			<div class="row lil-extra-padding">
				<div class="col-lg-12">
					<h3 class="details-title">ITINERARIO CROCIERA</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 add-padding-bottom">
					<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" (mapClick)="mapClicked($event)">
					 	<agm-marker *ngFor="let m of markers; let i = index"
	          						[latitude]="m.lat" [longitude]="m.lng"  [title]="m.title" [label]="m.description" [openInfoWindow]="false">
	          				<agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
						      <ng-template>
						        <div [innerHTML]="snazzy_info[i].content"></div>
						      </ng-template>
						    </agm-snazzy-info-window>
	          			</agm-marker>
					 	<agm-polyline [geodesic]=true [strokeWeight]="7">
					 		<div *ngFor="let m of markers; let i = index" >
					 			<agm-polyline-point  [latitude]="m.lat" [longitude]="m.lng"></agm-polyline-point>
					 		</div>
					 	</agm-polyline>
					 </agm-map>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
	    			<div class="itinerary text-center"  *ngIf="offerPreventiv.itinerary">
		    			<owl-carousel [options]= "options">
							<div class="item"  *ngFor="let single_day of offerPreventiv.itinerary">
								<div class="remove-padding">
									<div class="day {{single_day.class}}">
										<h3>day<br>{{single_day.day_nr}}</h3>
										<h4>{{single_day.date_nr}}</h4>
										<h5>PORTO<br><span>{{single_day.port}}</span></h5>
										<p>ARRIVO <span>{{single_day.arrival}}</span></p>
										<p>ARRIVO <span>{{single_day.parture}}</span></p>
									</div>
								</div>
							</div>		
						</owl-carousel>					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
	    			<div class="conditions">
						<div class="col-md-6 block remove-padding grey">
							<h3>INCLUSO NEL PREZZO</h3>
							<ul>
								<li>Cabine prescelta, aria condizionata, armadio, bagno privato con doccia e/o vasca, TV, telefono, minibar e cassaforte</li>
								<li>Pensione completa (colazione - pranzo - cena - spuntini e merende)</li>
								<li>Tutte le attività di intrattenimento: giochi, gare, concorsi, feste a tema e spettacoli teatrali, accesso alle piscine, vasche idromassaggio, sala relax, attività di intrattenimento per bambini </li>
								<li>Acqua, caffè e succhi di frutta disponibili a dispenser nelle zone ristoro (buffet) </li>
								<li>Mini club per bambini e ragazzi</li>
								<li>Spettacoli diversi, stile Broadway</li>
								<li>Accesso ai Bar con musica dal vivo e discoteca</li>
								<li>Palestra Piscine coperte e scoperte</li>
								<li>Accesso al Casinò</li>
							</ul>
						</div>
						<div class="col-md-6 block remove-padding">
							<h3>NON INCLUSO NEL PREZZO</h3>
							<ul>
								<li>Quota di Servizio (Mance) </li>
								<li> Accesso ad internet</li>
								<li>Bevande</li>
								<li>Assistenza medica</li>
								<li>Ristoranti tematici</li>
								<li>Escursioni</li>
								<li>Assicurazioni</li>
								<li>I trasporti no al porto d imbarco </li>
								<li>Spese personali</li>
								<li>Tutto cio non riportato alla voce "cosa è incluso nella crociera"</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
	    			<div class="gallery" *ngIf="offerPreventiv.gallery">
		    			<owl-carousel [options]= "options">
							<div class="item" *ngFor="let single_day of offerPreventiv.gallery">
								<div class="offer-gall"><img src="{{single_day.picture}}" alt="{{single_day.title}}"></div>
							</div>
						</owl-carousel>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<input class="submit-input" value="apri il tuo preventivo" type="submit">
				</div>
			</div>
		</div>
	</section>

	<section id="similar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="skin-title">SIMILAR  CRUISES </h2>
				</div>
			</div>
			<div class="row"  *ngIf="offerPreventiv.related_offer">
				<div class="col-lg-4" *ngFor="let single of offerPreventiv.related_offer">
					<div class="about-offer">
				    	<div class="info">
				    		<h3 >{{single.destination}}</h3>
				    		<p>{{single.destination_description}}</p>	
				    		<h4>{{single.ship}} </h4>
				    		<h4>{{single.port}} </h4>
				    	</div>
						<div class="rating_company">
							<img class="add-padding-bottom" src="{{single.company_thumb }}" alt="cruisetopic"><br>
							<img class="add-padding-top" src="{{single.rating_thumb}}" alt="cruisetopic">
						</div>
						<div class="banner-image">
							<div class="add-to-wishlist">
								<input class="add-wishlist" id="{{single.wishlist_id}}" type="checkbox" value="0" name="add to wishlist" checked="{{single.checked}}">
                                <label class="add-wishlist" for="{{single.wishlist_id}}"></label>
							</div>
							<img class="offer-image" src="{{single.destination_thumb}}" alt="cruisetopic">
						</div>
					</div>
				</div>
			<!-- 	<div class="col-lg-4">
					<div class="about-offer">
				    	<div class="info">
				    		<h3 >cuba</h3>
				    		<p>Cuba, Belize, Honduras, Messico</p>	
				    		<h4>NAVE : MSC    ARMONIA </h4>
				    		<h4>PORTO  : LA  HABANA </h4>
				    	</div>
						<div class="rating_company">
							<img class="add-padding-bottom" src="../../assets/img/kompani/3.jpg" alt="cruisetopic"><br>
							<img class="add-padding-top" src="../../assets/img/rate4.png" alt="cruisetopic">
						</div>
						<div class="banner-image">
							<img  class="red" src="../../assets/img/red.png" alt="cruisetopic">
							<img class="offer-image" src="../../assets/img/ofert1.jpg" alt="cruisetopic">
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about-offer">
				    	<div class="info">
				    		<h3 >cuba</h3>
				    		<p>Cuba, Belize, Honduras, Messico</p>	
				    		<h4>NAVE : MSC    ARMONIA </h4>
				    		<h4>PORTO  : LA  HABANA </h4>
				    	</div>
						<div class="rating_company">
							<img class="add-padding-bottom" src="../../assets/img/kompani/3.jpg" alt="cruisetopic"><br>
							<img class="add-padding-top" src="../../assets/img/rate4.png" alt="cruisetopic">
						</div>
						<div class="banner-image">
							<img  class="red" src="../../assets/img/red.png" alt="cruisetopic">
							<img class="offer-image" src="../../assets/img/ofert1.jpg" alt="cruisetopic">
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</section>
</div>
