#saved-cruises-banner {
  display: block;
  background-image: url(/assets/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#saved-cruises-banner p {
  color: white;
  text-transform: uppercase;
}
.nr{
  margin-top: 10px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 768px;){
  #saved-cruises-banner {
    width: 45px !important;
    height: 55px !important;
  }
}