	<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
	<div id="saved-cruises-banner">
	<a href="">
		<div class="text-center">
			<p class="nr">(3)</p>
			<p class="hidden-xs">Saved</p>
		</div>
	</a>
</div>