	<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
	<cookie-law>
		Continuando a sfogliare il sito, accetti l'utilizzo dei cookie.
  		<a href="/#/cookie-policy">Read more</a>
  </cookie-law>
	<!-- Navigation -->
    <a id="menu-toggle" href="javascript:;" class="btn btn-dark btn-lg toggle" (click)="toggleMenu()">
    	<img src="./../assets/img/menu.png">
    </a>

    <img class="logo" src="./../assets/img/logo-white.png">
	<nav id="sidebar-wrapper" [ngClass]="{'active': isActive}">
        <ul class="sidebar-nav">
            <a (click)="toggleMenu()" id="menu-close" href="javascript:;" class="btn btn-light btn-lg pull-right toggle">
            	<img src="./../assets/img/x.png">
            </a>
            <li class="sidebar-brand">
                <a href="javascript:;" routerLink="/"  (click)="toggleMenu()">CruiseTopic</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Home</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/offerte-crociere" routerLinkActive="active" (click)="toggleMenu()">Offerte</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/search-result" routerLinkActive="active" (click)="toggleMenu()">Search</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/preventive-details" routerLinkActive="active" (click)="toggleMenu()">Preventiv Details</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/make-preventiv" routerLinkActive="active" (click)="toggleMenu()">Make preventiv</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/preventive-after" routerLinkActive="active" (click)="toggleMenu()">Preventive After</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/wishlist" routerLinkActive="active" (click)="toggleMenu()">Wishlist</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/companies-list" routerLinkActive="active" (click)="toggleMenu()">Company list</a>
            </li> 
            <li>
                <a href="javascript:;" routerLink="/single-company" routerLinkActive="active" (click)="toggleMenu()">Single Company</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/destination-list" routerLinkActive="active" (click)="toggleMenu()">DESTINATION LIST</a>
            </li> 
            <li>
                <a href="javascript:;" routerLink="/single-destination" routerLinkActive="active" (click)="toggleMenu()">SINGLE DESTINATION</a>
            </li>
             <li>
                <a href="javascript:;" routerLink="/single-ship" routerLinkActive="active" (click)="toggleMenu()">SINGLE SHIP</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/last-min-offer" routerLinkActive="active" (click)="toggleMenu()">LAST MINUTE OFFERS</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/blog" routerLinkActive="active" (click)="toggleMenu()">BLOG LIST</a>
            </li>
             <li>
                <a href="javascript:;" routerLink="/single-blog" routerLinkActive="active" (click)="toggleMenu()">SINGLE BLOG</a>
            </li>
             <li>
                <a href="javascript:;" routerLink="/ship-review" routerLinkActive="active" (click)="toggleMenu()">SHIP REVIEW</a>
            </li>
             <li>
                <a href="javascript:;" routerLink="/add-review" routerLinkActive="active" (click)="toggleMenu()">ADD REVIEWS</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/page-footer" routerLinkActive="active" (click)="toggleMenu()">Footer page</a>
            </li>
            <li>
                <a href="javascript:;" routerLink="/subscribe" routerLinkActive="active" (click)="toggleMenu()">Subscribe</a>
            </li>
        </ul>
    </nav>
	<!-- <app-menu [@slideInOut]="menuState"></app-menu> -->

	<!--
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" id="sidebar">
		<div class="list-group">
			<a routerLink="/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let genre of genres">{{genre.name}}</a>
		</div>
	</div>
	-->

	<router-outlet></router-outlet>

	<!--Why us SECTION -->
	<section class="perchenoi">
		<h2 class="vertical-title"> PERCHE NOI</h2>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="icon-block text-center first">
						<a href="">
							<img alt="" src="./../../../assets/img/empty.png">
							<h4>ASSISTENZA SPECIALIZZATA</h4>
							<p>I nostri operatori li chiamiamo TOP CRUISER. Sono agenti di viaggio specializzati in crociere e offrono ai nostri clienti tutta l’assistenza possibile per prenotare una crociera. Chatta con un TopCruiser.
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="icon-block text-center second">
						<a href="">
							<img alt="" src="./../../../assets/img/empty.png">
							<h4>La Tua Crociera </h4>
							<p>Tutto quello che devi sapere su una crociera, come sceglierla, come imbarcarsi fino a cosa fare a bordo. Leggi la nostra guida per il crocierista.
							</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="icon-block text-center third">
						<a href="">
							<img alt="" src="./../../../assets/img/empty.png">
							<h4>Assicurazione</h4>
							<p>Cruisetopic, in collaborazione con Filo diretto mette a dispozione dei propri Clienti un assicurazione Multirischi Annullamento pensata per I viaggi in crociera. Leggi la polizza.
							</p>
						</a>
					</div>
				</div>
				<div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="icon-block text-center fourth">
						<a href="">
							<img alt="" src="./../../../assets/img/empty.png">
							<h4>ORARI</h4>
							<p>I nostri uffici sono aperti :
							Lunedi – Venerdi  dalle ore 9 alle 18
							Chat always on
							Whats UP 0039-392-1255525
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- footer SECTION -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h4>Informazioni utili</h4>
					<ul>
						<li><a href="">Chi siamo</a></li>
						<li><a href="">Come prenotare e Pagare</a></li>
						<li><a href="">I nostri Partner</a></li>
						<li><a href="">Assistenza Post vendita</a></li>
						<li><a href="">Condizioni generali di vendita</a></li>
						<li><a href="">Assicurazione</a></li>
						<li><a href="">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h4>La Mia Crociera</h4>
					<ul>
						<li><a href="">Come scegliere la crociera</a></li>
						<li><a href="">Biglietti e check in online</a></li>
						<li><a href="">Come ci si imbarca</a></li>
						<li><a href="">Incluso e non incluso nel prezzo</a></li>
						<li><a href="">Da sapere</a></li>
						<li><a href="">Assistenza medica</a></li>
						<li><a href="">Escursioni</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h4>CONTATTI</h4>
					<ul>
						<li>Info e Booking<br>
							<i class="fa fa-phone" aria-hidden="true"></i>893.444.93</li>
						<li>What’s Up <br>
							<img src="./../assets/img/whatsup.png"> +39-392-12.55.525</li>
						<li>Mail<br>
							<i class="fa fa-envelope" aria-hidden="true"></i>info@cruisetopic.net</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<h4>ISCRIVITI ALL NEWSLETTER</h4>
					<form role="form" class="form-inline" action="" method="POST">       			
	        			<input type="text" class="form-control" name="subscribe-name" placeholder="Name">
	        			<input type="text" class="form-control" name="subscribe-email" placeholder="Email">
	        			<input type="submit" value="ISCRIVITI">
	              </form>
	              <h4 class="social">Seguici</h4>
	              <ul class="social-icons">
	              	<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	              	<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	              	<li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
	              </ul>
				</div>
			</div>
			<div id="copyright" class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 footer-copyright-text text-center">
							<p class="footer-copyright-el">CRUISETOPIC © 2016. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>