<app-inner-header-left [page_title]="'msc cruises'"></app-inner-header-left>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<div id="search_form" >
		<div class="login-buttons">
			<p><i class="fa fa-phone" aria-hidden="true"></i><strong> 893.444.93</strong></p>
			<br>
			<a href="javascript:;" (click)="openRegister()" [ngClass]="registerOpen ? 'active' : ''">iscriviti</a>
			<a href="javascript:;" (click)="openLogin()" [ngClass]="loginOpen ? 'active' : ''" >login</a>
		</div>
		<form *ngIf="!loginOpen && !registerOpen" id="formsearchtravel" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" >
			<select name="destinazione">
				<option value="ALL">Seleziona la destinazione</option>
				<optgroup label="AFRICA">
					<option value="1">Africa del Sud</option>
				</optgroup>
				<optgroup label="AMERICA">
					<option value="SUBAmerica del Nord">America del Nord</option>
					<option value="2">&nbsp;&nbsp;&nbsp;-Alaska</option>
					<option value="3">&nbsp;&nbsp;&nbsp;-America del Nord</option>
					<option value="6">&nbsp;&nbsp;&nbsp;-Canada - Bermuda</option>

					<option value="SUBCentro - Sud America">Centro - Sud America</option>
					<option value="4">&nbsp;&nbsp;&nbsp;-America del sud</option>
					<option value="5">&nbsp;&nbsp;&nbsp;-Brasile</option>
					<option value="7">&nbsp;&nbsp;&nbsp;-Canale di Panama</option>
				</optgroup>
				<optgroup label="CARAIBI">
					<option value="8">Caraibi - Antille</option>
					<option value="9">Caraibi - Bahamas</option>
					<option value="10">Caraibi - Messico - Giamaica</option>
				</optgroup>
				<optgroup label="EUROPA">
					<option value="SUBEuropa del Nord">Europa del Nord</option>
					<option value="12">&nbsp;&nbsp;&nbsp;-Europa del Nord</option>
					<option value="13">&nbsp;&nbsp;&nbsp;-Fiordi e Scandinavia</option>
					<option value="17">&nbsp;&nbsp;&nbsp;-Mar Baltico</option>
					<option value="SUBMediterraneo">Mediterraneo</option>
					<option value="14">&nbsp;&nbsp;&nbsp;-Isole Baleari - Spagna - Francia</option>
					<option value="16">&nbsp;&nbsp;&nbsp;-Isole Greche - Grecia - Turchia</option>
					<option value="SUBAtlantico">Atlantico</option>
					<option value="15">&nbsp;&nbsp;&nbsp;-Isole Canarie</option>
					<option value="11">&nbsp;&nbsp;&nbsp;-Portogallo - Azzore</option>
				</optgroup>
				<optgroup label="GIRO DEL MONDO">
					<option value="19">Giro del Mondo</option>
				</optgroup>
				<optgroup label="MARI ORIENTALI">
					<option value="20">Asia</option>
					<option value="21">Medio Oriente - Emirati</option>
					<option value="22">Oceano Indiano</option>
				</optgroup>
				<optgroup label="PACIFICO">
					<option value="23">Australia / Nuova Zelanda</option>
					<option value="24">Canale di Panama</option>
					<option value="25">Galapagos</option>
					<option value="26">Hawai - Isole del Pacifico - Gappone</option>
					<option value="27">Riviera Messicana</option>
				</optgroup>
				<optgroup label="TRANSOCEANICHE">
					<option value="28">Transatlantico</option>
					<option value="29">Transpacifico</option>
				</optgroup>
			</select>

			<select name="month">
				<option value="ALL" > Seleziona il mese</option>
				<optgroup label="2016">
					<option value="11_2016">Novembre</option>
					<option value="12_2016">Dicembre</option>
				</optgroup>
				<optgroup label="2017">
					<option value="1_2017">Gennaio</option>
					<option value="2_2017">Febbraio</option>
					<option value="3_2017">Marzo</option>
					<option value="4_2017">Aprile</option>
					<option value="5_2017">Maggio</option>
					<option value="6_2017">Giugno</option>
					<option value="7_2017">Luglio </option>
					<option value="8_2017">Agosto</option>
					<option value="9_2017">Settembre</option>
					<option value="10_2017">Ottobre</option>
					<option value="11_2017">Novembre</option>
					<option value="12_2017">Dicembre</option>
				</optgroup>
			</select>

			<select name="company" >
				<option value="ALL" selected="selected"> Seleziona la Compagnia </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<select name="port">
				<option value="ALL"> Seleziona il PORTO </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<!-- <button type="submit" id="SubmitSearch" class="btn btn-default">Cerca la tua crociera</button> -->
			<input value="Cerca la tua crociera" type="submit" id="SubmitSearch">
		</form>
		<form *ngIf="loginOpen" id="login-form" (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <input type="email" name="email" ngModel  class="form-control" placeholder="Username">
            <input type="password" name="password" ngModel  class="form-control" placeholder="Password">
            <a href="#">Hai dimenticato la password?</a>
            <button type="submit"  class="btn btn-default btn-block">Entra</button>
            <h3><a href="#">or registrati</a></h3>
            <div class="row social-login">
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/facebook-login.png" alt=""></a></div>
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/gplus-login.png" alt=""></a></div>
            </div>
        </form>
        <form *ngIf="registerOpen" id="login-form" class="register" (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
            <input type="email" name="email" ngModel class="form-control" placeholder="Username">
            <input type="text" name="name" ngModel class="form-control" placeholder="Name">
            <input type="text" name="surname" ngModel class="form-control" placeholder="Cognome">
            <h2>Politica di Privacy</h2>
            <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
            <ol>
                <li>
                    <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Invio di questionari di soddisfazione, attività di customer care ed attività di profilazione nominativa per sviluppare, fornire e migliorare i servizi e renderli più rispondenti alle esigenze dei clienti, nonché per inviare informazioni e offerte più mirate e di maggior interesse.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Comunicare i suoi dati a società del gruppo di Cruisetopic.net, per l’invio, da parte di questi, di materiale informativo e/o pubblicitario sui propri prodotti e servizi.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
            </ol>
            <button class="btn btn-default btn-block">Iscriviti</button>
        </form>
	</div>

<app-link-bar></app-link-bar>

<div  *ngIf="singleCompanyPage">
<section class="info-company">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="campagnia-info text-center">
					<img src="./../../../assets/img/baner.png"><br>
					<img class="full" src="{{singleCompanyPage.scetch_img}}">
					<h3>{{singleCompanyPage.title}}</h3>
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="grey-block">
					<p>{{singleCompanyPage.description}}</p>
					<p id="demo" class="collapse">{{singleCompanyPage.description_more}}</p>
					<div class="red-button ">
					<!-- 	<a href="">read more</a> -->
					<button type="button" data-toggle="collapse" data-target="#demo">read more</button>
					</div>			
								
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row dynamic-content  extra-padding">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="skin-title">TUTTI   NAVI   MSC </h2>
			</div>
		</div>
	</div>
</section>

<section class="company_list no-bg">
	<div class="container-fluid">
		<div class="row" *ngIf="singleCompanyPage.ships">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-b"  *ngFor="let single_ship of singleCompanyPage.ships">
				<a href="#">
					<figure class="effect-bubba">
						<img src="{{single_ship.image}}" alt="img01">
						<figcaption>
							<p>
								<i class="fa {{single_ship.rating1}}" aria-hidden="true"></i>
								<i class="fa {{single_ship.rating2}}" aria-hidden="true"></i>
								<i class="fa {{single_ship.rating3}}" aria-hidden="true"></i>
								<i class="fa {{single_ship.rating4}}" aria-hidden="true"></i>
								<i class="fa {{single_ship.rating5}}" aria-hidden="true"></i><br>
								{{single_ship.name}}<br>
								{{single_ship.comment_no}} <i class="fa fa-comment-o" aria-hidden="true"></i>
							</p>
							
						</figcaption>
					</figure>
				</a>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="col-md-12">
				<div class="red-button right martop30">
						<a href="{{singleCompanyPage.read_review_link}}">leggi recensioni </a>
				</div>
			</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row dynamic-content  extra-padding">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="skin-title">RECENSIONI</h2>
			</div>
		</div>
	</div>
</section>


<!-- Nave-Part4 Tao-->
<section class="recensioni-slider">
	<div class="container">
		<div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">
        		<div id="testimonial-carousel" class="owl-carousel owl-theme"  *ngIf="singleCompanyPage.reviews">
	            	<div class="col-md-12 col-sm-12 col-xs-12 div-bg-color"  *ngFor="let single_review of singleCompanyPage.reviews"> 
	            	  	<div class="item">
	                	   <p class="testimonial-user"><span class="nave-comment">{{single_review.writer}}  Says</span> : 
	                	   {{single_review.date}}  {{single_review.hour}}</p>
	                	   <p>{{single_review.comment}} </p>
	                	   <div class="rating p1-000">
	                	   	 <img src="{{single_review.rate_img}} " class="img-responsive" alt="Image">
	                	   </div>
	            	  	</div>
	            	</div>
        		</div>
            </div>
            <div class="col-md-12">
				<div class="red-button right martop30">
						<a href="{{singleCompanyPage.write_review}}">scrivi recensione </a>
				</div>
			</div>
		</div>	
	</div>
</section>
<!-- End Nave-Part4 Tao-->
</div>