<app-inner-header-center [page_title]="'blog'"></app-inner-header-center>
	<div *ngIf="loader" style="position: fixed;width: 100%;height: 1000px;top:0;left:0; background-color:#000;opacity: 0.7;z-index: 999999"><img src="/assets/img/loading.gif" style="position: fixed;top: 25%;left: 40%; opacity:1;"></div>

<section class="news_feed">
	<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12 border-bottom div-padding"   *ngFor="let single of singleNews">
			  <div class="row">
			  	<div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
			  	  <img src="{{single.news_image}}" class="img-responsive" alt="Image">
			  	</div>
			  	<div class="col-md-8 col-sm-6 col-xs-12">
			  	  <h4>{{single.news_title}}</h4>
			  	  <p>{{single.news_excerpt}}</p>
                  <a class="btn btn-default" href="{{single.news_link}}">Read more</a>
			  	</div>
			  </div>
			</div>			
	</div>
</section>