/*!
CUSTOM STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  /*  margin: 10px 1%;*/
  min-width: 300px;
  /*  max-width: 480px;*/
  max-height: 500px;
  width: 50%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  background: #13192C;
}
figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
  opacity: 0.4;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
figure.effect-bubba h2 {
  padding-top: 25%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.offer-category {
  padding: 0px;
}
.with-searchbar {
  min-height: 740px;
}
.inner-page.with-searchbar .page-title {
  padding-top: 200px;
}
.details_head {
  background-color: #EDEDED;
  color: #1A2542;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
}
.details_head h2 {
  letter-spacing: 0.2em;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.details_head p {
  font-size: 17px;
  font-style: italic;
}
.details_head h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px;
}
.details-title {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}
#details_preventiv {
  padding: 0px;
}
#details_preventiv a:hover {
  border: 5px solid #15ABC8;
}
#details_preventiv a {
  border: 5px solid white;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 30px;
}
.form-fields input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
}
.form-fields .submit-input {
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.form-fields .submit-input:hover {
  background-color: #1f2644;
}
.submit-input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.submit-input:hover {
  background-color: #1f2644;
}
#details_preventiv .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
#details_preventiv .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
#details_preventiv .listing,
#details_preventiv .gallery,
#details_preventiv .conditions,
#details_preventiv .itinerary {
  margin: 15px 0px;
}
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cabin1 {
  background-image: url(/img/kabin1.jpg);
}
.cabin2 {
  background-image: url(/img/kabin.jpg);
}
.cabin3 {
  background-image: url(/img/kabin2.jpg);
}
.cabin4 {
  background-image: url(/img/kabin3.jpg);
}
.cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 400px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  margin-bottom: 0px;
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.price-tick {
  background-color: #1f2644;
  color: white;
  padding: 20px;
  margin-top: -5px;
}
.price-tick p {
  margin: 0px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.price-tick p.title {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
}
.price-tick p.title span {
  font-size: 30px;
}
.cabina-desc {
  padding-right: 145px;
}
.read-more {
  background-color: #15ABC8;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.map-img {
  width: 100%;
}
h3.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 14px;
  text-transform: uppercase;
  color: #1A2542;
}
.gm-style-iw {
  max-width: 250px;
}
h4.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  text-transform: uppercase;
  color: #1A2542;
}
#details_preventiv a.map-title {
  padding: 10px;
  text-align: center;
  background-color: #C90A0A;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  border: none;
}
#details_preventiv a:hover.map-title {
  background-color: #1A2542;
}
.ItinerarioTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.ItinerarioTable tr,
.ItinerarioTable td,
.ItinerarioTable th {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.ItinerarioTable th {
  background-color: #D8CDBA;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-transform: uppercase;
}
.ItinerarioTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.ItinerarioImage img {
  width: 100%;
  min-height: 420px;
  object-fit: cover;
  /*    transition: all .2s ease-in-out; */
}
.ItinerarioImage img:hover {
  /*   transform: scale(1.1);*/
}
.ItinerarioImage .price-tick {
  background-color: #1F2644;
  margin-top: 0px;
}
.all-in-price {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.all-in-price tr,
.all-in-price td {
  /* border:1px solid black;*/
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.all-in-price tr img,
.all-in-price td img {
  width: 35px;
  padding-right: 10px;
}
.all-in-price .bg {
  background-color: #fbfaf8;
  text-align: center;
  color: #6D6D6D;
}
#preventiv .next-offer p {
  color: white;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
  display: block;
}
#preventiv .next-offer p strong {
  font-family: 'Open Sans', sans-serif;
}
#preventiv .next-offer {
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-background-image: url(http://localhost/cruisetopic/img/iii.png);
  -webkit-background-size: contain;
  background-image: url(http://localhost/cruisetopic/img/iii.png);
  background-size: contain;
  display: block;
  width: 345px;
  height: 100px;
  float: right;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 65px;
}
h2.blue-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.blue-title:before {
  content: "";
  background-image: url(/img/shiritblu.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
h2.skin-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.skin-title:before {
  content: "";
  background-image: url(/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
.TuoPreventivoTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.TuoPreventivoTable th {
  background-color: #D8CDBA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.TuoPreventivoTable tr,
.TuoPreventivoTable td {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.TuoPreventivoTable .PriceSpan {
  text-align: right;
}
.TuoPreventivoTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.extra-padding {
  padding-top: 40px;
  padding-bottom: 20px;
}
.lil-extra-padding {
  padding-top: 30px;
  padding-bottom: 10px;
}
.extra-top {
  padding-top: 30px;
}
.extra-bottom {
  padding-bottom: 30px;
}
.padd-top-bott {
  padding: 50px 0px;
  margin: 10px 0px;
}
.termsandconditions p {
  font-size: 16px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px;
  font-weight: 600;
}
.accept-terms {
  margin: 0px 0px 00px 0px;
}
a.termsandconditions {
  color: #15ABC8;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h4.PassengerNumber {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
#preventiv .form-control {
  border-radius: 0;
  border-color: #DBDBDB;
  box-shadow: none;
  height: 45px;
}
#preventiv label {
  font-family: 'Open Sans', sans-serif;
  color: #5D687C;
  font-size: 12px;
  font-weight: 400;
}
#preventiv label.img-label {
  font-size: 18px;
  color: #02012D;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#preventiv label.img-label img {
  width: 125px;
}
.text-muted {
  color: #15ABC8;
}
#map:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0001);
  content: '';
  z-index: 9;
}
.price-info {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 20px 0px;
  margin-bottom: 30px;
}
.price-info p {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.price-info h3 {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.blue {
  color: #15ABC8;
}
.skin {
  color: #D8CDBA;
}
.setwidth {
  height: 50px;
}
.payment-details input[type="text"],
.payment-details select {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  border: 1px solid #DBDBDB;
}
.payment-details p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  /*    padding-top: 30px;*/
}
.bill-info p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
}
.bank-info {
  padding: 30px 20px;
}
.bank-info h4 {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0px;
}
.bank-info p {
  margin-bottom: 0px;
  /*  font-weight: 700; */
}
.bank-info table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.bank-info tr,
.bank-info td,
.bank-info th {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1F2644;
  border: 1px solid rgba(119, 119, 119, 0.2);
}
.bill-image img {
  width: 100%;
}
.after-preventiv .after-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
.after-description {
  font-weight: 600;
}
.attention p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  margin: 0px;
}
.attention {
  padding: 20px;
  text-align: center;
}
.image-info {
  min-height: 340px;
  background-position: center;
}
.thanks-msg {
  padding: 20px;
}
.thanks-msg h4 {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.thanks-msg p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
@media only screen and (max-width: 1700px) {
  h2.skin-title,
  h2.blue-title {
    font-size: 30px;
    letter-spacing: 0.06em;
    padding-left: 40px;
  }
  .setwidth {
    height: 40px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .thanks-msg h4 {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 368px;
  }
  .image-info {
    min-height: 300px;
  }
  h2.skin-title:before,
  h2.blue-title:before {
    width: 30px;
    height: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .details_head h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .grid figure {
    width: 100%;
  }
  .image-info {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .details_head .text-left,
  .details_head .text-right {
    text-align: center;
  }
  .details_head h2 {
    margin-top: 0px;
  }
  .price-tick p.title {
    font-size: 20px;
  }
  .price-tick p {
    font-size: 14px;
  }
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .TuoPreventivoTable th,
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th {
    padding: 5px;
  }
  .bank-info {
    padding: 10px;
  }
  .padd-top-bott {
    padding: 10px 0px;
  }
  #preventiv label.img-label img {
    width: 100px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 14px;
  }
  .inner-page .page-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 580px) {
  .price-tick p span {
    font-size: 20px;
    font-weight: 900;
  }
  .drinkcard-cc {
    height: 300px;
  }
  .conditions ul {
    padding-left: 0px;
  }
  .price-tick p.title span {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .all-in-price tr,
  .all-in-price td {
    padding: 10px;
  }
  section#preventiv {
    padding: 0px;
  }
  .price-tick p,
  .read-more {
    font-size: 12px;
  }
  .drinkcard-cc {
    height: 250px;
  }
  .conditions ul li,
  .submit-input,
  .form-fields .submit-input {
    font-size: 14px;
  }
  h2.skin-title,
  h2.blue-title {
    font-size: 26px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 12px;
  }
  .price-info {
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  .price-info h3 {
    margin: 0px;
  }
  .price-info p {
    margin-bottom: 10px;
  }
  #preventiv .next-offer {
    width: 345px;
    height: 65px;
    padding-top: 15px;
    padding-left: 25px;
  }
  #preventiv .next-offer p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 420px) {
  .inner-page {
    padding-bottom: 50px;
  }
  .grid figure h2 {
    font-size: 25px;
  }
  .inner-page .page-title {
    font-size: 28px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 10px;
  }
  .all-in-price tr,
  .all-in-price td {
    padding: 5px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .price-tick p {
    letter-spacing: 0.06em;
  }
  .price-tick p span {
    font-size: 16px;
  }
  .conditions ul li {
    font-size: 12px;
  }
  #preventiv .next-offer {
    width: 100%;
    margin: 0px;
  }
  .attention {
    overflow: hidden;
  }
}
@media only screen and (max-width: 330px) {
  .grid figure h2 {
    font-size: 20px;
  }
  .offer-category {
    overflow-x: hidden;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    font-size: 10px;
  }
}
/******************************   Single Blog Stylesheet ******************************/
/**************************************
01.Blog Part1
**************************************/
.blog-part1 {
  padding-top: 125px;
}
.blog-part1 img {
  width: 100%;
  display: block;
  height: 450px;
  object-fit: cover;
}
.blog-part1 .margin-bottom-div {
  margin-bottom: 85px;
}
/**************************************
02.Blog Part2
**************************************/
.skin-img img {
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 30px;
}
.skin-img h1 {
  display: inline-block;
}
.blog-part2 .owl-prev {
  position: absolute;
  right: 0;
  top: 42%;
}
.blog-part2 .owl-next {
  position: absolute;
  left: 0;
  top: 42%;
}
.blog-part2 .item img {
  width: 100%;
  display: block;
  height: 310px;
  object-fit: cover;
}
.blog-part2 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2f3a56;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.blog-part2 p {
  margin-bottom: 30px;
}
.blog-part2 .btn {
  border-radius: 0;
  color: #f7fdff;
  background-color: #1a2543;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 20px 40px;
  border-color: #1a2543;
}
/**************************************
03.General
**************************************/
.blog-part1 p,
.blog-part2 p {
  font-family: 'Open Sans', sans-serif;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  /*margin-bottom: 50px;*/
}
.blog-part1 h1,
.blog-part2 h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #2f3a56;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 75px;
}
/**************************************
04.Media Queries
**************************************/
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog-part2 .margin-bottom {
    margin-bottom: 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 40px;
  }
  .skin-img img {
    margin-bottom: 25px;
  }
  .blog-part1 .margin-bottom {
    margin-bottom: 15px;
  }
  .blog-part2 .owl-prev {
    position: absolute;
    right: 0;
    top: 24%;
  }
  .blog-part2 .owl-next {
    position: absolute;
    left: 0;
    top: 24%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .blog-part1 {
    padding-top: 100px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .skin-img img {
    display: none !important;
  }
  .blog-part1 .margin-bottom-div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .blog-part1 img {
    height: 400px;
  }
  .blog-part2 .item img {
    height: 280px;
  }
}
@media only screen and (max-width: 490px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 26px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blog-part1 img {
    height: 360px;
  }
  .blog-part2 .item img {
    height: 250px;
  }
}
@media only screen and (max-width: 420px) {
  .blog-part1 img {
    height: 330px;
  }
  .blog-part1 {
    padding-top: 80px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 25px;
  }
  .blog-part2 .item img {
    height: 220px;
  }
}
@media only screen and (max-width: 360px) {
  .blog-part1 img {
    height: 300px;
  }
  .blog-part2 .item img {
    height: 190px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .blog-part1 img {
    height: 260px;
  }
}
/*!
INNER STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
.inner-page {
  background-image: url(/img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.search_number h2 {
  color: #19204C;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
.search_number h2 span {
  font-weight: 800;
  border-bottom: 4px solid #15ABC8;
}
.sidebar_search {
  background-color: #1A2542;
  color: white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
}
.sidebar_search h3 {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar_search button,
.sidebar_search select,
.sidebar_search textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
}
.sidebar_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-image: url(http://localhost/cruisetopic/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 45px;
}
.sidebar_search option,
.sidebar_search optgroup {
  background-color: #101523;
}
.sidebar_search .compagnia,
.sidebar_search .nave,
.sidebar_search .durata,
.sidebar_search .budget {
  position: relative;
}
.sidebar_search .compagnia:before {
  content: url('/img/sn.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .nave:before {
  content: url('/img/ss.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .durata:before {
  content: url('/img/sd.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .budget:before {
  content: url('/img/sb.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search input[type=checkbox]:not(old),
.sidebar_search input[type=radio]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.sidebar_search input[type=checkbox]:not(old) + label,
.sidebar_search input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('/img/checks.png') no-repeat 0 0;
  line-height: 24px;
}
.sidebar_search input[type=checkbox]:not(old):checked + label {
  background-position: 0 -24px;
}
.sidebar_search input[type=radio]:not(old):checked + label {
  background-position: 0 -48px;
}
.sidebar_search .radio-filter {
  padding-bottom: 30px;
}
.sidebar_search .radio-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .radio-filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.sidebar_search .link-filter {
  padding-bottom: 30px;
}
.sidebar_search .link-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .link-filter a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sidebar_search .link-filter a:hover {
  color: #D8CDBA;
}
.sidebar_search .link-filter .rouge {
  font-weight: 700;
}
.nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}
.single-offer-tabs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.single-offer-tabs ul.nav-single-offer {
  text-align: center;
  background-color: #1A2542;
  margin-bottom: 10px;
}
.single-offer-tabs ul.nav-single-offer li.active {
  background-color: #D8CDBA;
}
.single-offer-tabs ul.nav-single-offer li.active a {
  color: #1A2542;
  background-image: url(http://localhost/cruisetopic/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li {
  list-style: none;
  display: inline-block;
  background-position: 95% 52%;
  width: 19.82%;
}
.single-offer-tabs ul.nav-single-offer li a {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0;
  padding: 10px 35px;
  background-image: url(http://localhost/cruisetopic/img/arr.png);
  background-position: 95% 57%;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 100%;
  display: block;
}
.single-offer-tabs ul.nav-single-offer li a i {
  padding-right: 5px;
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-image: url(http://localhost/cruisetopic/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.conditions {
  padding: 0px;
  /*  background-color: #F2F2F2;*/
}
.conditions h3 {
  color: #15ABC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 30px;
}
.conditions li {
  list-style: none;
}
.conditions .block {
  border: 1px solid #e8e8e8;
  padding: 10px 25px 30px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  display: table-cell;
  vertical-align: top;
  float: none;
}
.grey {
  background-color: #F2F2F2;
}
.border-grey {
  border: 1px solid #e8e8e8;
}
.listing {
  border: 1px solid #e8e8e8;
}
.listing ul {
  padding-left: 0px;
}
.listing li {
  list-style: none;
  margin: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.listing li img {
  width: 80px;
}
.listing li h4 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.listing li p {
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.listing li h5 {
  margin: 0px;
  float: right;
  font-size: 14px;
  color: black;
}
.about-offer {
  border: 1px solid #e8e8e8;
}
.about-offer .banner-image {
  position: relative;
}
.about-offer .banner-image .red {
  position: absolute;
  top: 143px;
  left: 20px;
  z-index: 99;
  width: auto;
  background-image: url(/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 65px;
}
.about-offer .banner-image .red span {
  color: white;
  text-transform: uppercase;
  padding: 8px;
  font-size: 11px;
}
.about-offer .rating_company {
  float: right;
  padding: 10px;
}
.about-offer .rating_company img {
  width: 120px;
}
.about-offer .offer-image {
  width: 100%;
  position: relative;
}
.about-offer .info {
  float: left;
  padding: 10px;
}
.about-offer .info h3 {
  text-transform: uppercase;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  color: #1A2542;
  font-weight: 900;
  margin: 0px;
}
.about-offer .info p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  color: #1A2542;
  padding: 0px;
}
.about-offer .info h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2em;
}
.write-review {
  padding: 5px 10px 15px 10px;
  margin-bottom: 30px;
}
.write-review a {
  background-color: #1A2542;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.write-review a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.write-review .left {
  float: left;
}
.write-review .right {
  float: right;
}
.itinerary {
  /* padding: 0px 15px;*/
}
.itinerary .day {
  border: 1px solid #e8e8e8;
  padding: 20px 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.itinerary .day h3 {
  color: #1A2542;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  margin-top: 0px;
}
.itinerary .day h4 {
  color: #1A2542;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.itinerary .day h5 {
  color: #1A2542;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.itinerary .day h5 span {
  font-weight: 600;
}
.itinerary .day p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #1A2542;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.itinerary .day p span {
  color: #15ABC8;
  font-weight: 700;
}
.single-offer-tabs .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
.single-offer-tabs .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
button.btn-abi {
  font-family: 'azo_sansmedium';
  font-weight: 700;
  letter-spacing: 0.2em;
  /*   margin-bottom: 30px;*/
  background-color: #5bc4d8;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 20px 30px 20px;
  background-image: url(/img/arr.png);
  background-position: center 80%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}
button.btn.btn-abi:focus,
button.btn.btn-abi:active,
button.btn.btn-abi:hover {
  color: white;
}
button.btn-blue {
  background-color: #15ABC8;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
form#formsearchtravel {
  text-align: left;
}
.emtooltip-content {
  border: 2px solid #e8e8e8;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 100%;
  z-index: 999999;
}
.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
#saved-cruises-banner {
  display: block;
  background-image: url(http://localhost/cruisetopicwww/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#saved-cruises-banner p {
  color: white;
  text-transform: uppercase;
}
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width: 1700px) {
  .about-offer .offer-image {
    max-height: 215px;
    object-fit: cover;
  }
  .listing li img {
    width: 53px;
  }
}
@media only screen and (max-width: 1912px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 66px;
  }
}
@media only screen and (max-width: 1847.5px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.815%;
  }
}
@media only screen and (max-width: 1800px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.810%;
  }
}
@media only screen and (max-width: 1803px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 60px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    padding: 9px;
  }
  .sidebar_search .radio-filter label {
    font-size: 12px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
  }
  .sidebar_search h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1753px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.800%;
  }
}
@media only screen and (max-width: 1730px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 56px;
  }
}
@media only screen and (max-width: 1672px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.700%;
  }
}
@media only screen and (max-width: 1680px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 1600px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 45px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1530px) {
  .search_offer .nav-pills > li > a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1470px) {
  .about-offer .info h4 {
    font-size: 12px;
  }
  .about-offer .banner-image .red {
    top: 134px;
  }
  .cd-products-comparison-table {
    padding: 0px;
  }
  .about-offer .info p {
    font-size: 14px;
  }
  .sidebar_search {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .single-offer-tabs ul.nav-single-offer li a,
  .single-offer-tabs ul.nav-single-offer li a:hover,
  .single-offer-tabs ul.nav-single-offer li.active a {
    background-image: none;
  }
}
@media only screen and (max-width: 1400px) {
  .single-offer-tabs ul.nav-single-offer li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1387px) {
  .single-offer-tabs ul.nav-single-offer li a i {
    display: block;
  }
  .about-offer .rating_company img {
    width: 80px;
  }
}
@media only screen and (max-width: 1250px) {
  /*.single-offer-tabs ul.nav-single-offer li a{
        padding: 9px 30px 9px 20px;
  }*/
}
@media only screen and (max-width: 1200px) {
  .prezzi .col-lg-8.col-md-12.remove-padding-right {
    padding-left: 0px;
    padding-top: 10px;
  }
  .search_offer .nav-pills > li > a {
    padding: 15px 35px;
  }
  .search_offer .nav-pills > li,
  .search_offer .nav-pills > li.active > a,
  .search_offer .nav-pills > li.active > a:focus,
  .search_offer .nav-pills > li.active > a:hover {
    background-size: 20px;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .single-offer-tabs ul.nav-single-offer {
    margin-top: 20px;
  }
  section.search_number {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .hide-mobile {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .single-offer-tabs ul.nav-single-offer span {
    display: none;
  }
  .single-offer-tabs ul.nav-single-offer li {
    background-color: #1A2542;
  }
  .single-offer-tabs ul.nav-single-offer {
    background-color: white;
  }
  /* .single-offer-tabs ul.nav-single-offer li a {
    padding: 9px 40px 10px 30px;
}*/
}
@media only screen and (max-width: 993px) {
  .conditions .block {
    display: block;
    vertical-align: top;
    float: none;
    width: 100%;
    padding: 20px;
  }
  .reviews .col-md-8.remove-padding-right {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 945px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.600%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 721px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.500%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
    margin: 5% auto;
  }
}
@media only screen and (max-width: 710px) {
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 12px;
    padding: 10px;
  }
  .sidebar_search h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .sidebar_search select {
    background-size: 15px;
    padding-left: 30px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sidebar_search .radio-filter {
    padding-bottom: 10px;
  }
  .sidebar_search .compagnia:before {
    background-image: url(http://localhost/cruisetopic/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .nave:before {
    background-image: url(http://localhost/cruisetopic/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .durata:before {
    background-image: url('http://localhost/cruisetopic/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .budget:before {
    background-image: url('http://localhost/cruisetopic/img//sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 586px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.400%;
  }
}
@media only screen and (max-width: 495px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.300%;
  }
}
@media only screen and (max-width: 450px) {
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.200%;
  }
}
@media only screen and (max-width: 385px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.100%;
  }
  .write-review a {
    padding: 10px;
  }
  .about-offer .rating_company img {
    width: 60px;
  }
  .about-offer .info {
    padding-right: 5px;
    display: block;
    width: 75%;
  }
  /*.about-offer .banner-image .red {
    top: 155px;
    width: 30px;
  }*/
}
@media only screen and (max-width: 368px) {
  .about-offer .info {
    width: 74%;
  }
}
@media only screen and (max-width: 350px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.0%;
  }
  .about-offer .rating_company img {
    width: 45px;
  }
}
@media only screen and (max-width: 342px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 18%;
    padding: 0px;
  }
  .about-offer .info {
    width: 70%;
  }
  .about-offer .banner-image .red {
    top: 156px;
  }
}


/******************************   News Feed Stylesheet ******************************/




/**************************************
01.News Feed
**************************************/
section.news_feed {
    padding-top: 60px;
}
.news_feed .div-padding {
    padding: 90px 0;
}
.news_feed .border-bottom {
    border-bottom: 1px solid #b6b6b6;
}
.news_feed h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2f3a56;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 35px;
}
.news_feed p {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 65px;
}
.news_feed .btn {
    border-radius: 0;
    color: #f7fdff;
    background-color: #1a2543;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.07em;
    padding: 20px 40px;
    border-color: #1a2543;
}



/**************************************
02.Media Queries
**************************************/

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .news_feed .div-padding {
        padding: 80px 0;
        }
       .news_feed h4 {
        margin-bottom: 25px;
       }
       .news_feed p {
        margin-bottom: 45px;
       }
    }
    @media only screen and (min-width : 768px) and (max-width : 1700px) {
       .news_feed img{
            display: block;
            height: 310px;
            object-fit: cover;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       section.news_feed {
        padding-top: 20px;
      }
      .news_feed .div-padding {
        padding: 60px 0;
      }
      .news_feed h4 {
        margin-bottom: 25px;
      }
      .news_feed p {
        margin-bottom: 45px;
      }
      .news_feed .margin-bottom {
        margin-bottom: 20px;
      }
      .news_feed img {
        width: 100%;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }