<app-inner-header-center [page_title]="'SHIP REVIEW'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<!-- Part0 TAO--> 
<section class="msc-armonia"  *ngIf="shipreviews">
		<div class="container">
	 		<div class="row text-center">
	 			<h1>Nave :{{shipreviews.ship}}</h1>
	 		</div>
		</div>
</section>

<!-- Part1 TAO--> 
<section class="part1-rec" *ngIf="shipreviews">
		<div class="container">
	 		<div class="row">

	 			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom">
	 				<img src="{{shipreviews.image}}" class="img-responsive" alt="Image">
	 			</div>
	 			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	 			  	<div class="col-md-12 col-sm-12 col-xs-12 div-color-block">
	   	 				<h3>{{shipreviews.title}}</h3>
	   	 				<p>{{shipreviews.description}}</p>
	                  	<div id="read-more0" class="collapse">
	                      <p>{{shipreviews.description_more}}</p>
	                  	</div>
	   	 				<div class="btn-000 margin-a1">
	               	 		<button href="#" type="button" data-toggle="collapse" data-target="#read-more0">Read More</button>
	               	 	 </div>
           	  	    </div>
	 			</div>

	 		</div>
		</div>
</section> 

<!-- Part2 TAO--> 
<section class="nostra-rec" *ngIf="shipreviews">
		<div class="container">
	 		<div class="row">
	 		  	<div class="skin-img text-center">
	 		  	    <img src="../assets/img/shirit.png">
	    			<h2 class="skin-title2">La Nostra Recensione</h2>
	    		</div>
          
           <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
                  <table class="table text-center">
                        <tbody>
                              <tr>
                                 <th class="color-td">Categoria</th> 
                                 <th>Cuisetopic</th>  
                                 <th>Utenti</th>
                              </tr>

                              <tr>
                                    
                                    <td class="color-td">Valutazione</td>
                                    <td>{{shipreviews.valutazione_c}}</td>
                                    <td>{{shipreviews.valutazione_u}}</td>
                              </tr>
                              <tr>
                                    
                                    <td class="color-td">Cabina</td>
                                    <td>{{shipreviews.cabina_c}}</td>
                                    <td>{{shipreviews.cabina_u}}</td>
                              </tr>
                              <tr>
                                    
                                    <td class="color-td">Fitness e attività organizzate</td>
                                    <td>{{shipreviews.fitness_c}}</td>
                                   <td>{{shipreviews.fitness_u}}</td>
                              </tr>
                              <tr>
                                    
                                    <td class="color-td">Cucina</td>
                                    <td>{{shipreviews.cucina_c}}</td>
                                    <td>{{shipreviews.cucina_u}}</td>
                              </tr>
                              <tr>
                                    
                                    <td class="color-td">Aree pubbliche</td>
                                    <td>{{shipreviews.aree_c}}</td>
                                    <td>{{shipreviews.aree_u}}</td>
                              </tr>
                              <tr>
                                    <td class="color-td">Imbarco</td>
                                    <td>{{shipreviews.imbarco_c}}</td>
                                    <td>{{shipreviews.imbarco_u}}</td>
                              </tr>
                              <tr>
                                    <td class="color-td">Servizio</td>
                                    <td>{{shipreviews.servizio_c}}</td>
                                    <td>{{shipreviews.servizio_u}}</td>
                              </tr>
                              <tr>
                                    <td class="color-td">Pulizia e servizio</td>
                                    <td>{{shipreviews.pulizia_c}}</td>
                                    <td>{{shipreviews.pulizia_u}}</td>
                              </tr>
                              <tr>
                                    <td class="color-td">Rapporto qualità prezzo</td>
                                    <td>{{shipreviews.rapporto_c}}</td>
                                    <td>{{shipreviews.raportto_u}}</td>
                              </tr>
                              <tr>
                                    <td class="color-td">Divertimento - attrazioni</td>
                                    <td>{{shipreviews.divertimento_c}}</td>
                                    <td>{{shipreviews.divertimento_u}}</td>
                              </tr>
                        </tbody>
                  </table>
            </div> 
              	 			
	 		</div>
		</div>
</section>

<!-- Part3 TAO--> 
<section class="client-rec" *ngIf="shipreviews">
		<div class="container">

	 		<div class="row">
            	<div class="skin-img text-center">
	 		  	    <img src="../assets/img/shirit.png">
	 				<h2 class="skin-title2">Recensioni Clienti</h2>
	 			</div>
	 		</div>  
	 		<div class="row"  *ngIf="shipreviews.single_user">	
	 			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let single of shipreviews.single_user">
	 			  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom div-padding">
	 					<div class="rating01">
	 				  		<img src="{{single.rating_img}}" class="img-responsive" alt="Image">
	 				  		<p class="rate01">{{single.rate_nr}}</p>
	 					</div>
	 					<div class="testimon-01">
	 				  		<div class="img-dimension">
	 				  			<img src="{{single.user_img}}" class="img-responsive" alt="Image">
	 				  		</div>
	 				  		<div class="testimon">
	 				  			<h4>{{single.user}}</h4>
	 				  			<p>{{single.comment}}</p>
	 				  			<div id="read-more1" class="collapse">
								<p>{{single.comment_more}}</p>
								</div>
	 				  			<button type="button" class="btn" data-toggle="collapse" data-target="#read-more1">Read More</button>
	 				  		</div>
	 					</div>
	 				</div>
	 			</div>	       
			</div> 
	 		
		</div>
</section>
