/*!
CUSTOM STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  /*  margin: 10px 1%;*/
  min-width: 300px;
  /*  max-width: 480px;*/
  max-height: 500px;
  width: 50%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  background: #13192C;
}
figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
  opacity: 0.4;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
figure.effect-bubba h2 {
  padding-top: 25%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.offer-category {
  padding: 0px;
}
.with-searchbar {
  min-height: 740px;
}
.inner-page.with-searchbar .page-title {
  padding-top: 200px;
}
.details_head {
  background-color: #EDEDED;
  color: #1A2542;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
}
.details_head h2 {
  letter-spacing: 0.2em;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.details_head p {
  font-size: 17px;
  font-style: italic;
}
.details_head h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px;
}
.details-title {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}
#details_preventiv {
  padding: 0px;
}
#details_preventiv a:hover {
  border: 5px solid #15ABC8;
}
#details_preventiv a {
  border: 5px solid white;
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 30px;
}
.form-fields input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
}
.form-fields .submit-input {
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.form-fields .submit-input:hover {
  background-color: #1f2644;
}
.submit-input {
  width: 100%;
  background-color: #EDEDED;
  border: none;
  color: #5C6477;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 10px 0px;
  background-color: #15ABC8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 20px;
}
.submit-input:hover {
  background-color: #1f2644;
}
#details_preventiv .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
#details_preventiv .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
#details_preventiv .listing,
#details_preventiv .gallery,
#details_preventiv .conditions,
#details_preventiv .itinerary {
  margin: 15px 0px;
}
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.cabin1 {
  background-image: url(/assets/img/kabin1.jpg);
}
.cabin2 {
  background-image: url(/assets/img/kabin.jpg);
}
.cabin3 {
  background-image: url(/assets/img/kabin2.jpg);
}
.cabin4 {
  background-image: url(/assets/img/kabin3.jpg);
}
.cc-selector input:active + .drinkcard-cc {
  opacity: .9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 400px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  margin-bottom: 0px;
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.price-tick {
  background-color: #1f2644;
  color: white;
  padding: 20px;
  margin-top: -5px;
}
.price-tick p {
  margin: 0px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.price-tick p.title {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
}
.price-tick p.title span {
  font-size: 30px;
}
.cabina-desc {
  padding-right: 145px;
}
.read-more {
  background-color: #15ABC8;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.map-img {
  width: 100%;
}
h3.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 14px;
  text-transform: uppercase;
  color: #1A2542;
}
.gm-style-iw {
  max-width: 250px;
}
h4.map-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  text-transform: uppercase;
  color: #1A2542;
}
#details_preventiv a.map-title {
  padding: 10px;
  text-align: center;
  background-color: #C90A0A;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 12px;
  border: none;
}
#details_preventiv a:hover.map-title {
  background-color: #1A2542;
}
.ItinerarioTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.ItinerarioTable tr,
.ItinerarioTable td,
.ItinerarioTable th {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.ItinerarioTable th {
  background-color: #D8CDBA;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-transform: uppercase;
}
.ItinerarioTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.ItinerarioImage img {
  width: 100%;
  min-height: 420px;
  object-fit: cover;
  /*    transition: all .2s ease-in-out; */
}
.ItinerarioImage img:hover {
  /*   transform: scale(1.1);*/
}
.ItinerarioImage .price-tick {
  background-color: #1F2644;
  margin-top: 0px;
}
.all-in-price {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.all-in-price tr,
.all-in-price td {
  /* border:1px solid black;*/
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.all-in-price tr img,
.all-in-price td img {
  width: 35px;
  padding-right: 10px;
}
.all-in-price .bg {
  background-color: #fbfaf8;
  text-align: center;
  color: #6D6D6D;
}
#preventiv .next-offer p {
  color: white;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
  display: block;
}
#preventiv .next-offer p strong {
  font-family: 'Open Sans', sans-serif;
}
#preventiv .next-offer {
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-background-image: url(/assets/img/iii.png);
  -webkit-background-size: contain;
  background-image: url(/assets/img/iii.png);
  background-size: contain;
  display: block;
  width: 345px;
  height: 100px;
  float: right;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 65px;
}
h2.blue-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.blue-title:before {
  content: "";
  background-image: url(/assets/img/shiritblu.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
h2.skin-title {
  color: #19204C;
  font-family: 'Quarto-Light';
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-left: 50px;
  position: relative;
  margin: 0px;
}
h2.skin-title:before {
  content: "";
  background-image: url(/assets/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 00px;
}
.TuoPreventivoTable {
  width: 100%;
  border: 2px solid #D8CDBA;
}
.TuoPreventivoTable th {
  background-color: #D8CDBA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.TuoPreventivoTable tr,
.TuoPreventivoTable td {
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1F2644;
}
.TuoPreventivoTable .PriceSpan {
  text-align: right;
}
.TuoPreventivoTable .bg {
  background-color: #fbfaf8;
  color: #6D6D6D;
}
.extra-padding {
  padding-top: 40px;
  padding-bottom: 20px;
}
.lil-extra-padding {
  padding-top: 30px;
  padding-bottom: 10px;
}
.extra-top {
  padding-top: 30px;
}
.extra-bottom {
  padding-bottom: 30px;
}
.padd-top-bott {
  padding: 50px 0px;
  margin: 10px 0px;
}
.termsandconditions p {
  font-size: 16px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px;
  font-weight: 600;
}
.accept-terms {
  margin: 0px 0px 00px 0px;
}
a.termsandconditions {
  color: #15ABC8;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
h4.PassengerNumber {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
#preventiv .form-control {
  border-radius: 0;
  border-color: #DBDBDB;
  box-shadow: none;
  height: 45px;
}
#preventiv label {
  font-family: 'Open Sans', sans-serif;
  color: #5D687C;
  font-size: 12px;
  font-weight: 400;
}
#preventiv label.img-label {
  font-size: 18px;
  color: #02012D;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#preventiv label.img-label img {
  width: 125px;
}
.text-muted {
  color: #15ABC8;
}
#map:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0001);
  content: '';
  z-index: 9;
}
.price-info {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 20px 0px;
  margin-bottom: 30px;
}
.price-info p {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.price-info h3 {
  font-size: 30px;
  letter-spacing: 0.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.blue {
  color: #15ABC8;
}
.skin {
  color: #D8CDBA;
}
.setwidth {
  height: 50px;
}
.payment-details input[type="text"],
.payment-details select {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  border: 1px solid #DBDBDB;
}
.payment-details p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  /*    padding-top: 30px;*/
}
.bill-info p {
  font-size: 14px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
}
.bank-info {
  padding: 30px 20px;
}
.bank-info h4 {
  font-size: 16px;
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 0px;
}
.bank-info p {
  margin-bottom: 0px;
  /*  font-weight: 700; */
}
.bank-info table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.bank-info tr,
.bank-info td,
.bank-info th {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1F2644;
  border: 1px solid rgba(119, 119, 119, 0.2);
}
.bill-image img {
  width: 100%;
}
.after-preventiv .after-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
.after-description {
  font-weight: 600;
}
.attention p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  margin: 0px;
}
.attention {
  padding: 20px;
  text-align: center;
}
.image-info {
  min-height: 340px;
  background-position: center;
}
.thanks-msg {
  padding: 20px;
}
.thanks-msg h4 {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.thanks-msg p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
}
@media only screen and (max-width: 1700px) {
  h2.skin-title,
  h2.blue-title {
    font-size: 30px;
    letter-spacing: 0.06em;
    padding-left: 40px;
  }
  .setwidth {
    height: 40px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .thanks-msg h4 {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 368px;
  }
  .image-info {
    min-height: 300px;
  }
  h2.skin-title:before,
  h2.blue-title:before {
    width: 30px;
    height: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .details_head h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .grid figure {
    width: 100%;
  }
  .image-info {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .details_head .text-left,
  .details_head .text-right {
    text-align: center;
  }
  .details_head h2 {
    margin-top: 0px;
  }
  .price-tick p.title {
    font-size: 20px;
  }
  .price-tick p {
    font-size: 14px;
  }
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td,
  .TuoPreventivoTable th,
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th {
    padding: 5px;
  }
  .bank-info {
    padding: 10px;
  }
  .padd-top-bott {
    padding: 10px 0px;
  }
  #preventiv label.img-label img {
    width: 100px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 14px;
  }
  .inner-page .page-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 580px) {
  .price-tick p span {
    font-size: 20px;
    font-weight: 900;
  }
  .drinkcard-cc {
    height: 300px;
  }
  .conditions ul {
    padding-left: 0px;
  }
  .price-tick p.title span {
    font-size: 16px;
  }
  .ItinerarioImage img {
    min-height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .all-in-price tr,
  .all-in-price td {
    padding: 10px;
  }
  section#preventiv {
    padding: 0px;
  }
  .price-tick p,
  .read-more {
    font-size: 12px;
  }
  .drinkcard-cc {
    height: 250px;
  }
  .conditions ul li,
  .submit-input,
  .form-fields .submit-input {
    font-size: 14px;
  }
  h2.skin-title,
  h2.blue-title {
    font-size: 26px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 12px;
  }
  .price-info {
    padding: 10px 0px;
    margin-bottom: 10px;
  }
  .price-info h3 {
    margin: 0px;
  }
  .price-info p {
    margin-bottom: 10px;
  }
  #preventiv .next-offer {
    width: 345px;
    height: 65px;
    padding-top: 15px;
    padding-left: 25px;
  }
  #preventiv .next-offer p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 420px) {
  .inner-page {
    padding-bottom: 50px;
  }
  .grid figure h2 {
    font-size: 25px;
  }
  .inner-page .page-title {
    font-size: 28px;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    padding: 5px;
    font-size: 10px;
  }
  .all-in-price tr,
  .all-in-price td {
    padding: 5px;
  }
  .ItinerarioTable tr,
  .ItinerarioTable td,
  .ItinerarioTable th,
  .all-in-price tr,
  .all-in-price td,
  .TuoPreventivoTable tr,
  .TuoPreventivoTable td {
    font-size: 10px;
  }
}
@media only screen and (max-width: 390px) {
  .price-tick p {
    letter-spacing: 0.06em;
  }
  .price-tick p span {
    font-size: 16px;
  }
  .conditions ul li {
    font-size: 12px;
  }
  #preventiv .next-offer {
    width: 100%;
    margin: 0px;
  }
  .attention {
    overflow: hidden;
  }
}
@media only screen and (max-width: 330px) {
  .grid figure h2 {
    font-size: 20px;
  }
  .offer-category {
    overflow-x: hidden;
  }
  .bank-info tr,
  .bank-info td,
  .bank-info th {
    font-size: 10px;
  }
}
/******************************   Single Blog Stylesheet ******************************/
/**************************************
01.Blog Part1
**************************************/
.blog-part1 {
  padding-top: 125px;
}
.blog-part1 img {
  width: 100%;
  display: block;
  height: 450px;
  object-fit: cover;
}
.blog-part1 .margin-bottom-div {
  margin-bottom: 85px;
}
/**************************************
02.Blog Part2
**************************************/
.skin-img img {
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 30px;
}
.skin-img h1 {
  display: inline-block;
}
.blog-part2 .owl-prev {
  position: absolute;
  right: 0;
  top: 42%;
}
.blog-part2 .owl-next {
  position: absolute;
  left: 0;
  top: 42%;
}
.blog-part2 .item img {
  width: 100%;
  display: block;
  height: 165px;
  object-fit: cover;
}
.blog-part2 h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2f3a56;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.blog-part2 p {
  margin-bottom: 40px;
      text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.blog-part2 .btn {
  border-radius: 0;
  color: #f7fdff;
  background-color: #1a2543;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  padding: 20px 40px;
  border-color: #1a2543;
}
/**************************************
03.General
**************************************/
.blog-part1 p,
.blog-part2 p {
  font-family: 'Open Sans', sans-serif;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  /*margin-bottom: 50px;*/
}
.blog-part1 h1,
.blog-part2 h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: #2f3a56;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 75px;
}
/**************************************
04.Media Queries
**************************************/
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog-part2 .margin-bottom {
    margin-bottom: 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 40px;
  }
  .skin-img img {
    margin-bottom: 25px;
  }
  .blog-part1 .margin-bottom {
    margin-bottom: 15px;
  }
  .blog-part2 .owl-prev {
    position: absolute;
    right: 0;
    top: 24%;
  }
  .blog-part2 .owl-next {
    position: absolute;
    left: 0;
    top: 24%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .blog-part1 {
    padding-top: 100px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .skin-img img {
    display: none !important;
  }
  .blog-part1 .margin-bottom-div {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .blog-part1 img {
    height: 400px;
  }
  .blog-part2 .item img {
    height: 280px;
  }
}
@media only screen and (max-width: 490px) {
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 26px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blog-part1 img {
    height: 360px;
  }
  .blog-part2 .item img {
    height: 250px;
  }
}
@media only screen and (max-width: 420px) {
  .blog-part1 img {
    height: 330px;
  }
  .blog-part1 {
    padding-top: 80px;
  }
  .blog-part1 h1,
  .blog-part2 h1 {
    font-size: 25px;
  }
  .blog-part2 .item img {
    height: 220px;
  }
}
@media only screen and (max-width: 360px) {
  .blog-part1 img {
    height: 300px;
  }
  .blog-part2 .item img {
    height: 190px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .blog-part1 img {
    height: 260px;
  }
}

/************************************
01. Company_List
*************************************/
.company_list {

    position: relative;
    padding-bottom: 0px;
    -webkit-background-image: url(/assets/img/companie-list-bg.png);
    -webkit-background-position: 100% 85%;
    -webkit-background-repeat: no-repeat;
    background-image: url(/assets/img/companie-list-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 70%;
    padding-top: 0px;
}
 .company_list.recensioni-filter{
    background-image: url(/assets/recensioni.png);
    background-size: 50%;
 }
.company_list figure.effect-bubba p {
    opacity: 1;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.06em;
}
.company_list figure.effect-bubba:hover h2, figure.effect-bubba:hover p {
  -webkit-transform: translate3d(0, 20px, 0) !important;
    transform: translate3d(0, 20px, 0) !important;
} 
.company_list figure.effect-bubba p img{
    opacity: 1;
}
figure.effect-bubba figcaption::before {
    border-top: none;
    border-bottom: none;
}
figure.effect-bubba figcaption::after {
    border-right: none;
    border-left: none;
}

/**************************************
04.Nave Recensioni / Part4
**************************************/
.div-bg-color {
    background-color: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 25px;
    border: 1px solid #f0f0f0;
}
.recensioni-slider {
   padding-bottom: 100px;
}
.recensioni-slider p{
   font-family: 'Open Sans', sans-serif;
   color: #101322;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   padding: 0 50px;
   margin: 0;
   margin-bottom: 55px;
}
.recensioni-slider .testimonial-user {
  margin-top: 0;
  margin-bottom: 30px;
}
.nave-comment {
  color: #0b0f1a;
  font-weight: bold;
  text-transform: uppercase;
}
.recensioni-slider .btn-000 {
   margin-top: 40px;
}
.rating {
    float: right;
}
.margin-a1 a {
    margin-left: -3px;
    margin-top: -4px;
}
.margin-a2 a {
    margin-left: -35px;
    margin-top: -4px;
}
.recensioni-slider .owl-prev {
    position: absolute;
    right: 0;
    top: 42%;
}
.recensioni-slider .owl-next {
    position: absolute;
    left: 0;
    top: 42%;
}

.martop30{
    margin-top: 30px;
}


/************************************
02. Media Queries
*************************************/

/*==========  Non-Mobile First Method  ==========*/
   
    /* Large Devices, Wide Screens */
    @media (max-width: 1920px) {
           .company_list figure.effect-bubba p {
        top: 35%;
        left: 30%;
      }
    }
    @media (max-width: 1300px) {
           .company_list figure.effect-bubba p {
          top: 24%;
        left: 16%;
      }  
    }
    @media (max-width: 1200px) {
           .company_list figure.effect-bubba p {
          top: 25%;
        left: 15%;
        }
        .company_list{
            background-size: 50%;
        }
    }
    @media (max-width: 1180px) {
      .company_list figure.effect-bubba p {
          top: 33%;
        left: 28%;
        }
         .company_list.recensioni-filter{
            background-size: 40%;
         }
    }
    
    /* Medium Devices, Desktops */
    @media (max-width: 992px) {
        .company_list figure.effect-bubba p {
          top: 27%;
        left: 21%;
        }
    }
    @media ( min-width: 992px) {

    }
    /* Small Devices, Tablets */
    @media (max-width: 768px) {
        .company_list.recensioni-filter{
            background-image: none;
         }
       .company_list figure.effect-bubba p {
             top: 35%;
         left: 28%;
       }
       .company_list figure.effect-bubba figcaption img {
         width: 250px;
     }
         .margin-b {
      margin-bottom: 15px;
     }
          .company_list{
            background-image: none;
        }
    }
    @media (min-width: 768px) {
      .company_list .company_list .col-md-4, .company_list .col-sm-6 {
            padding-left: 0;
            padding-right: 0;
    }
    }
    /* Extra Small Devices, Phones */ 
    @media (max-width: 480px) {
        .recensioni-slider p{
         padding: 0px 15px;  
        }
        .div-bg-color{
            padding: 15px 0px;
        }
         .company_list figure.effect-bubba p {      
            top: 23%;
        left: 18%;
       }
       .company_list figure.effect-bubba figcaption img {
         width: 220px;
     }
    }
    @media (max-width: 420px) {
    .company_list figure.effect-bubba p {
        top: 17%;
        left: 13%;
    }
  }
    @media (max-width: 400px) {
         .company_list figure.effect-bubba p {      
             top: 13%;
             left: 8%;
       }
    }
     @media (max-width: 350px) {
         .company_list figure.effect-bubba p {      
            top: 9%;
          left: 6%;
       }
       .company_list figure.effect-bubba figcaption img {
        width: 70%;
       }
    }
    /* Custom, iPhone Retina */ 
    @media (max-width: 320px) {
           .company_list figure.effect-bubba p {
              top: 14%;
          left: 0%;
       }
    }
    

/******************************   Recensioni Nave Stylesheet ******************************/


/**************************************
01.MSC
**************************************/
.msc-armonia {
  background-color: #ededed;
  padding: 110px 0;
}
.msc-armonia h1 {
 font-family: 'Open Sans', sans-serif;
 font-weight: 600;
 font-size: 35px;
 color: #12afd0;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 margin: 0;
}




/**************************************
02.Part1
**************************************/
.part1-rec {
  padding-top: 150px;
}
.part1-rec img {
    width: 100%;
    display: block;
    height: 515px;
    object-fit: cover;
}
.part1-rec .div-color-block {
    background-color: #f2f2f2;
    padding: 50px 60px 55px 60px;
}
.part1-rec h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #2f3a56;
    text-transform: uppercase;
    /*letter-spacing: 0.07em;*/
    margin-top: 0;
    margin-bottom: 50px;
}
.part1-rec p {
    margin-bottom: 90px;
    color: #101322;
    font-size: 18px;
}
.part1-rec .btn-000 {
    background-image: url(/assets/img/buton-red.png);
    background-size: contain;
    display: inline-block;
    width: 261px;
    height: 73px;
    background-repeat: no-repeat;
    padding-top: 28px;
    padding-left: 65px;
}
.part1-rec .btn-000 button {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    background-color: transparent;
    border: none;
    margin-left: -9px;
    margin-top: -3px;
}



/**************************************
03.Part2
**************************************/
.nostra-rec {

}
.nostra-rec h2 {
    color: #2f3a50;
}
.nostra-rec p {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.table>tbody>tr>td,
.table>tbody>tr>th {
    border: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #2f3a50;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}
.table>tbody>tr>th{
  font-weight: 700;
}
.table {
    border: 2px solid #e2dbd3;
}
.color-td {
    background-color: #ece5db;
    border-left: 2px solid #e8e5dc;
}



/**************************************
04.Part3
**************************************/
.client-rec {

}
.client-rec h2 {
  color: #2f3a50;
}
.client-rec .border-bottom {
  border-bottom: 1px solid #b6b6b6;
}
.client-rec .div-padding {
  padding: 60px 0;
}
.clinet-rec p {
    font-weight: 400;
    color: #656565;
}
.client-rec h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
}
p.rate01 {
    color: #c5cace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 25px;
}
.img-dimension {
    float: left;
}
.img-dimension img{
    height: 95px;
    width: 95px;
    object-fit: cover;
    border-radius: 50%;
}
.testimon {
    margin-left: 120px;
}
.testimon .btn {
   background-color: transparent;
   border-bottom: 1px solid #25253f;
   border-radius: 0;
   color: #6c6c6c;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   padding: 5px 0;
   text-transform: uppercase;
}
.testimon .btn:focus ,
.testimon .btn:hover {
    color: #25253f;
}


/**************************************
05.General Things
**************************************/
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #2f3a56;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 70px;
}
p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-weight: 400;
}
.skin-img img {
    display: inline-block !important;
    margin-right: 20px;
    margin-bottom: 25px;
  
}
.skin-img h2 {
    display: inline-block;
}



/************************************
06. Media Queries
*************************************/


 /*==========  Non-Mobile First Method  ==========*/
    
    @media only screen and (max-width : 1699px) {
      .part1-rec p  {
        margin-bottom: 42px;
      }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    }
    @media only screen and (max-width : 1199px) {
      .part1-rec img {
        height: 571px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .part1-rec {
        padding-top: 110px;
      }
      .part1-rec .margin-bottom {
        margin-bottom: 15px;
      }
      .part1-rec img {
        height: 500px;
      }
      .nostra-rec p {
        margin-bottom: 30px
      }
    }
    @media only screen and (max-width : 848px) {
       .skin-img img {
            display: none !important;
       }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
       .msc-armonia {
            padding: 75px 0;
        }
       .msc-armonia h1{
            font-size: 25px;
       }
       .part1-rec img {
            height: 450px;
        }
       .part1-rec h3 {
            font-size: 22px;
            margin-bottom: 35px;
        }
       .part1-rec .div-color-block {
            padding: 40px 60px 45px 60px;
        }
       .rating01 {
            margin-bottom: 15px;
       }
       .rating01 img, 
       .rating01 p{
           display: inline;
       }
       .rating01 p {
            vertical-align: middle;
            margin-left: 15px;
       }
       .img-dimension {
            float: none;
            margin-bottom: 20px;
       }
       .img-dimension img {
            margin: 0 auto;
       }
       .testimon {
            margin: 0;
       }
       .testimon h4 {
            text-align: center;
            margin-bottom: 25px;
       }
       .skin-img h2 {
            font-size: 32px;
            margin-bottom: 55px;
       }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .part1-rec img {
            height: 400px;
        }
        .part1-rec .div-color-block {
            padding: 40px 15px;
        }
        .part1-rec h3 {
            font-size: 18px;
            margin-bottom: 25px;
        }
        .skin-img h2 {
            font-size: 23px;
            margin-bottom: 40px;
        }
        .table>tbody>tr>td {
            font-size: 15px;
        }
    }
    @media only screen and (max-width : 420px) {
      .table>tbody>tr>td,
      .table>tbody>tr>th {
          font-size: 18px;
        }
       .msc-armonia {
            padding: 60px 0;
        }
       .msc-armonia h1{
            font-size: 21px;
       }
       .part1-rec {
            padding-top: 65px;
       }
       .part1-rec img {
            height: 360px;
       }

    }
    @media only screen and (max-width : 360px) {
        .skin-img h2 {
            font-size: 20px;
        }
        .table>tbody>tr>td {
            font-size: 13px;
        }
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
       
    }