/*!
INNER STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
.inner-page {
  background-image: url(/assets/img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.search_number h2 {
  color: #19204C;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
.search_number h2 span {
  font-weight: 800;
  border-bottom: 4px solid #15ABC8;
}
.sidebar_search {
  background-color: #1A2542;
  color: white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
}
.sidebar_search h3 {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar_search button,
.sidebar_search select,
.sidebar_search textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
}
.sidebar_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 45px;
}
.sidebar_search option,
.sidebar_search optgroup {
  background-color: #101523;
}
.sidebar_search .compagnia,
.sidebar_search .nave,
.sidebar_search .durata,
.sidebar_search .budget {
  position: relative;
}
.sidebar_search .compagnia:before {
  content: url('/img/sn.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .nave:before {
  content: url('/img/ss.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .durata:before {
  content: url('/img/sd.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .budget:before {
  content: url('/img/sb.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search input[type=checkbox]:not(old),
.sidebar_search input[type=radio]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.sidebar_search input[type=checkbox]:not(old) + label,
.sidebar_search input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('/img/checks.png') no-repeat 0 0;
  line-height: 24px;
}
.sidebar_search input[type=checkbox]:not(old):checked + label {
  background-position: 0 -24px;
}
.sidebar_search input[type=radio]:not(old):checked + label {
  background-position: 0 -48px;
}
.sidebar_search .radio-filter {
  padding-bottom: 30px;
}
.sidebar_search .radio-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .radio-filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.sidebar_search .link-filter {
  padding-bottom: 30px;
}
.sidebar_search .link-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .link-filter a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sidebar_search .link-filter a:hover {
  color: #D8CDBA;
}
.sidebar_search .link-filter .rouge {
  font-weight: 700;
}
.nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}
.single-offer-tabs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.single-offer-tabs ul.nav-single-offer {
  text-align: center;
  background-color: #1A2542;
  margin-bottom: 10px;
}
.single-offer-tabs ul.nav-single-offer li.active {
  background-color: #D8CDBA;
}
.single-offer-tabs ul.nav-single-offer li.active a {
  color: #1A2542;
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li {
  list-style: none;
  display: inline-block;
  background-position: 95% 52%;
  width: 19.82%;
}
.single-offer-tabs ul.nav-single-offer li a {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0;
  padding: 10px 35px;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 57%;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 100%;
  display: block;
}
.single-offer-tabs ul.nav-single-offer li a i {
  padding-right: 5px;
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.conditions {
  padding: 0px;
  /*  background-color: #F2F2F2;*/
}
.conditions h3 {
  color: #15ABC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 30px;
}
.conditions li {
  list-style: none;
}
.conditions .block {
  border: 1px solid #e8e8e8;
  padding: 10px 25px 30px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  display: table-cell;
  vertical-align: top;
  float: none;
}
.grey {
  background-color: #F2F2F2;
}
.border-grey {
  border: 1px solid #e8e8e8;
}
.listing {
  border: 1px solid #e8e8e8;
}
.listing ul {
  padding-left: 0px;
}
.listing li {
  list-style: none;
  margin: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.listing li img {
  width: 80px;
}
.listing li h4 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.listing li p {
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.listing li h5 {
  margin: 0px;
  float: right;
  font-size: 14px;
  color: black;
}
.about-offer {
  border: 1px solid #e8e8e8;
}
.about-offer .banner-image {
  position: relative;
}
.about-offer .banner-image .red {
  position: absolute;
  top: 143px;
  left: 20px;
  z-index: 99;
  width: auto;
  background-image: url(/assets/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 65px;
}
.about-offer .banner-image .red span {
  color: white;
  text-transform: uppercase;
  padding: 8px;
  font-size: 11px;
}
.about-offer .rating_company {
  float: right;
  padding: 10px;
}
.about-offer .rating_company img {
  width: 120px;
}
.about-offer .offer-image {
  width: 100%;
  position: relative;
}
.about-offer .info {
  float: left;
  padding: 10px;
}
.about-offer .info h3 {
  text-transform: uppercase;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  color: #1A2542;
  font-weight: 900;
  margin: 0px;
}
.about-offer .info p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  color: #1A2542;
  padding: 0px;
}
.about-offer .info h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2em;
}
.write-review {
  padding: 5px 10px 15px 10px;
  margin-bottom: 30px;
}
.write-review a {
  background-color: #1A2542;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.write-review a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.write-review .left {
  float: left;
}
.write-review .right {
  float: right;
}
.itinerary {
  /* padding: 0px 15px;*/
}
.itinerary .day {
  border: 1px solid #e8e8e8;
  padding: 20px 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.itinerary .day h3 {
  color: #1A2542;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  margin-top: 0px;
}
.itinerary .day h4 {
  color: #1A2542;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.itinerary .day h5 {
  color: #1A2542;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.itinerary .day h5 span {
  font-weight: 600;
}
.itinerary .day p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #1A2542;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.itinerary .day p span {
  color: #15ABC8;
  font-weight: 700;
}
.single-offer-tabs .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
.single-offer-tabs .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
button.btn-abi {
  font-family: 'azo_sansmedium';
  font-weight: 700;
  letter-spacing: 0.2em;
  /*   margin-bottom: 30px;*/
  background-color: #5bc4d8;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 20px 30px 20px;
  background-image: url(/assets/img/arr.png);
  background-position: center 80%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}
button.btn.btn-abi:focus,
button.btn.btn-abi:active,
button.btn.btn-abi:hover {
  color: white;
}
button.btn-blue {
  background-color: #15ABC8;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
form#formsearchtravel {
  text-align: left;
}
.emtooltip-content {
  border: 2px solid #e8e8e8;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 100%;
  z-index: 999999;
}
.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
#saved-cruises-banner {
  display: block;
  background-image: url(/assets/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#saved-cruises-banner p {
  color: white;
  text-transform: uppercase;
}
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width: 1700px) {
  .about-offer .offer-image {
    max-height: 215px;
    object-fit: cover;
  }
  .listing li img {
    width: 53px;
  }
}
@media only screen and (max-width: 1912px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 66px;
  }
}
@media only screen and (max-width: 1847.5px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.815%;
  }
}
@media only screen and (max-width: 1800px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.810%;
  }
}
@media only screen and (max-width: 1803px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 60px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    padding: 9px;
  }
  .sidebar_search .radio-filter label {
    font-size: 12px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
  }
  .sidebar_search h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1753px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.800%;
  }
}
@media only screen and (max-width: 1730px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 56px;
  }
}
@media only screen and (max-width: 1672px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.700%;
  }
}
@media only screen and (max-width: 1680px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 1600px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 45px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1530px) {
  .search_offer .nav-pills > li > a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1470px) {
  .about-offer .info h4 {
    font-size: 12px;
  }
  .about-offer .banner-image .red {
    top: 134px;
  }
  .cd-products-comparison-table {
    padding: 0px;
  }
  .about-offer .info p {
    font-size: 14px;
  }
  .sidebar_search {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .single-offer-tabs ul.nav-single-offer li a,
  .single-offer-tabs ul.nav-single-offer li a:hover,
  .single-offer-tabs ul.nav-single-offer li.active a {
    background-image: none;
  }
}
@media only screen and (max-width: 1400px) {
  .single-offer-tabs ul.nav-single-offer li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1387px) {
  .single-offer-tabs ul.nav-single-offer li a i {
    display: block;
  }
  .about-offer .rating_company img {
    width: 80px;
  }
}
@media only screen and (max-width: 1250px) {
  /*.single-offer-tabs ul.nav-single-offer li a{
        padding: 9px 30px 9px 20px;
  }*/
}
@media only screen and (max-width: 1200px) {
  .prezzi .col-lg-8.col-md-12.remove-padding-right {
    padding-left: 0px;
    padding-top: 10px;
  }
  .search_offer .nav-pills > li > a {
    padding: 15px 35px;
  }
  .search_offer .nav-pills > li,
  .search_offer .nav-pills > li.active > a,
  .search_offer .nav-pills > li.active > a:focus,
  .search_offer .nav-pills > li.active > a:hover {
    background-size: 20px;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .single-offer-tabs ul.nav-single-offer {
    margin-top: 20px;
  }
  section.search_number {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .hide-mobile {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .single-offer-tabs ul.nav-single-offer span {
    display: none;
  }
  .single-offer-tabs ul.nav-single-offer li {
    background-color: #1A2542;
  }
  .single-offer-tabs ul.nav-single-offer {
    background-color: white;
  }
  /* .single-offer-tabs ul.nav-single-offer li a {
    padding: 9px 40px 10px 30px;
}*/
}
@media only screen and (max-width: 993px) {
  .conditions .block {
    display: block;
    vertical-align: top;
    float: none;
    width: 100%;
    padding: 20px;
  }
  .reviews .col-md-8.remove-padding-right {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 945px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.600%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 721px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.500%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
    margin: 5% auto;
  }
}
@media only screen and (max-width: 710px) {
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 12px;
    padding: 10px;
  }
  .sidebar_search h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .sidebar_search select {
    background-size: 15px;
    padding-left: 30px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sidebar_search .radio-filter {
    padding-bottom: 10px;
  }
  .sidebar_search .compagnia:before {
    background-image: url(/assets/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .nave:before {
    background-image: url(/assets/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .durata:before {
    background-image: url('/assets/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .budget:before {
    background-image: url('/assets/img//sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 586px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.400%;
  }
}
@media only screen and (max-width: 495px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.300%;
  }
}
@media only screen and (max-width: 450px) {
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.200%;
  }
}
@media only screen and (max-width: 385px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.100%;
  }
  .write-review a {
    padding: 10px;
  }
  .about-offer .rating_company img {
    width: 60px;
  }
  .about-offer .info {
    padding-right: 5px;
    display: block;
    width: 75%;
  }
}
@media only screen and (max-width: 368px) {
  .about-offer .info {
    width: 74%;
  }
}
@media only screen and (max-width: 350px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.0%;
  }
  .about-offer .rating_company img {
    width: 45px;
  }
}
@media only screen and (max-width: 342px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 18%;
    padding: 0px;
  }
  .about-offer .info {
    width: 70%;
  }
  .about-offer .banner-image .red {
    top: 156px;
  }
}
/*!
NEW CSS
 * Start Bootstrap
 * Author, Abbybased.
 */
/*GENERAL STYLE*/
.martop30 {
  margin-top: 30px;
}
.page-description {
  font-size: 34px;
  color: white;
}
.grey-block {
  padding: 30px;
  background-color: #f2f2f2;
}
.grey-block h3 {
  font-family: 'Quarto-Light';
  color: #19204C;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.grey-block p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.grey-block p.mar50 {
  margin-bottom: 50px;
}
.grey-block .red-button {
  width: 230px;
  background-image: url(/assets/img/buton-red.png);
  background-color: rgba(201, 10, 10, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.grey-block .red-button button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: #c90a0a;
  border: none;
}
.red-button {
  width: auto;
  background-image: url(/assets/img/buton-red.jpg);
  background-size: contain;
  background-color: #c90a0a;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.red-button a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.cd-more-info .red-button {
  padding: 10px;
}
.cd-more-info .red-button a {
  font-size: 12px;
}
.category-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.category-title {
  font-size: 30px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
}
.list.single-related {
  border-bottom: 0px solid #d8cdba;
}
.list.single-related .content-id {
  border-bottom: 2px solid #d8cdba;
}
.skin-img h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
  margin-top: 0;
  display: inline-block;
}
.single-related {
  border: 2px solid #d8cdba;
}
.single-related .image-id {
  background-image: url(/assets/img/oferte.jpg);
  background-size: cover;
  color: white;
  min-height: 300px;
  padding: 120px 30px;
}
.single-related .image-id h3 {
  font-family: 'Quarto-Light';
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.single-related a .content-id {
  padding: 10px;
}
.single-related a .content-id h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 19px;
  text-transform: uppercase;
  color: #2d2d2c;
}
.single-related a .content-id .company {
  height: 45px;
  float: left;
}
.single-related a .content-id .icon {
  float: left;
  height: 32px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.single-related a .content-id h5 {
  text-align: right;
  color: #2D2D2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-right: 10px;
}
.single-related a .content-id p {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.add-margin-bottom-30 {
  margin-bottom: 30px;
}
.right {
  float: right;
}
/*SINGLE DESTINATION*/
.destination-info {
  padding: 120px 0px 70px 0px;
}
.related-offers .extra-padding,
.ports-on-destination .extra-padding,
.related-offers .extra-padding {
  padding-top: 0px;
  padding-bottom: 40px;
}
.company_list.no-bg {
  background-image: none;
}
@media only screen and (max-width: 1200px) {
  .inner-page.with-searchbar .page-title {
    padding-top: 135px;
  }
}
@media only screen and (max-width: 992px) {
  .single-related {
    margin-bottom: 20px;
  }
  .with-searchbar {
    min-height: 540px;
  }
  /*    .inner-page {
      display: none;
    }*/
  .destination-info {
    padding: 50px 0px 70px 0px;
  }
  .image-info {
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 380px) {
  .single-related .image-id h3 {
    font-size: 20px;
  }
  .grey-block {
    padding: 15px;
  }
  .grey-block p {
    font-size: 16px;
  }
  .single-related .image-id {
    min-height: 200px;
  }
}
/*page for destination-list*/
.background-section {
  background-image: url(/assets/img/head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.background-section h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
}
.background-section p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.background-section h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.absolute-title {
  position: absolute;
  width: 100%;
  z-index: 9;
}
.absolute-title h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
  letter-spacing: 0.2em;
  margin-top: 40px;
}
.absolute-title h1::before {
  content: "";
  background-image: url(/assets/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 22%;
}
.number {
  position: absolute;
  z-index: 9;
  right: 50px;
  top: 30px;
  height: 50px;
}
.number p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  letter-spacing: 0.06em;
  padding: 10px;
  margin: 0px;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  /*  width: 90%;
  max-width: 1170px;
  margin: 0 auto;*/
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}
.cd-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* -------------------------------- 

Main components 

-------------------------------- */
.cd-product {
  text-align: center;
  width: 100%;
}
.cd-product-wrapper {
  display: inline-block;
  position: relative;
  /*  margin: 0 auto;
  width: 100%;
  max-width: 100%;*/
  width: 100%;
}
.cd-product-wrapper > img {
  display: block;
  width: 100%;
}
.cd-single-point {
  position: absolute;
  border-radius: 50%;
}
.cd-single-point > a {
  position: relative;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background: #c90a0a
  ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-single-point > a::after,
.cd-single-point > a:before {
  /* rotating plus icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-single-point > a::after {
  height: 2px;
  width: 12px;
}
.cd-single-point > a::before {
  height: 12px;
  width: 2px;
}
.cd-single-point::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}
.cd-single-point:nth-of-type(1) {
  bottom: 40%;
  right: 30%;
}
.cd-single-point:nth-of-type(2) {
  bottom: 24%;
  right: 46%;
}
.cd-single-point:nth-of-type(3) {
  top: 28%;
  left: 20%;
}
.cd-single-point:nth-of-type(4) {
  top: 20%;
  right: 22%;
}
.cd-single-point.is-open > a {
  background-color: #475f74;
}
.cd-single-point.is-open > a::after,
.cd-single-point.is-open > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after {
  /* remove pulse effect */
  display: none;
}
.cd-single-point.is-open .cd-more-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point.visited > a {
  background-color: #475f74;
}
.cd-single-point.visited::after {
  /* pulse effect no more active on visited elements */
  display: none;
}
@media only screen and (min-width: 600px) {
  .cd-single-point.is-open .cd-more-info.cd-left {
    right: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-right {
    left: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-top {
    bottom: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-bottom {
    top: 140%;
  }
}
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
.cd-single-point .cd-more-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em 1em 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point .cd-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}
.cd-single-point .cd-more-info h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: .6em;
}
.cd-single-point .cd-more-info p {
  color: #758eb1;
}
@media only screen and (min-width: 600px) {
  .cd-single-point .cd-more-info {
    position: absolute;
    width: 220px;
    height: 240px;
    padding: 1em;
    overflow-y: visible;
    line-height: 1.4;
    border-radius: 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .cd-single-point .cd-more-info::before {
    display: block;
  }
  .cd-single-point .cd-more-info.cd-left,
  .cd-single-point .cd-more-info.cd-right {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left::before,
  .cd-single-point .cd-more-info.cd-right::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left {
    right: 160%;
    left: auto;
  }
  .cd-single-point .cd-more-info.cd-left::before {
    border-left-color: rgba(255, 255, 255, 0.95);
    left: 100%;
  }
  .cd-single-point .cd-more-info.cd-right {
    left: 160%;
  }
  .cd-single-point .cd-more-info.cd-right::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .cd-single-point .cd-more-info.cd-top,
  .cd-single-point .cd-more-info.cd-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top::before,
  .cd-single-point .cd-more-info.cd-bottom::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top {
    bottom: 160%;
    top: auto;
  }
  .cd-single-point .cd-more-info.cd-top::before {
    border-top-color: rgba(255, 255, 255, 0.95);
    top: 100%;
  }
  .cd-single-point .cd-more-info.cd-bottom {
    top: 160%;
  }
  .cd-single-point .cd-more-info.cd-bottom::before {
    border-bottom-color: rgba(255, 255, 255, 0.95);
    bottom: 100%;
  }
  .cd-single-point .cd-more-info h2 {
    font-size: 20px;
    /*    font-size: 1.25rem;*/
    margin-bottom: 0;
  }
  .cd-single-point .cd-more-info p {
    font-size: 13px;
    /*    font-size: 0.875rem;*/
  }
}
/* close the interest point description - only on mobile */
.cd-close-info {
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}
.cd-close-info::after,
.cd-close-info:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #475f74;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-close-info::after {
  height: 2px;
  width: 16px;
}
.cd-close-info::before {
  height: 16px;
  width: 2px;
}
@media only screen and (min-width: 600px) {
  .cd-close-info {
    display: none;
  }
}
#single-number {
  position: relative;
}
/*
SINGLE COMPANY*/
.info-company .campagnia-info {
  padding: 40px;
}
img.margin-image-head {
  margin-top: 30%;
}
/*LAST OFFER*/
.last-offer {
  margin-top: 30px;
}
.last-offer img {
  opacity: 0.7;
  margin-bottom: 30px;
}
.last-offer p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1740px) {
  .absolute-title h1::before {
    left: 19%;
  }
}
@media only screen and (max-width: 1550px) {
  .absolute-title h1::before {
    left: 17%;
  }
}
@media only screen and (max-width: 1470px) {
  .absolute-title h1::before {
    left: 15%;
  }
}
@media only screen and (max-width: 1370px) {
  .absolute-title h1::before {
    left: 14%;
  }
  .absolute-title h1 {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1::before {
    content: none;
  }
  #map-pins {
    padding-top: 100px;
    background-color: #27364b;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #single-number,
  .absolute-title h1 {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .skin-img h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  #map-pins {
    padding-top: 150px;
  }
  .background-section p {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/******************************   Nave Stylesheet ******************************/




/**************************************
01.Nave Description / Part1 
**************************************/
.nave-description {
  padding-top: 85px;
}

.div-bg-color {
    background-color: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 25px;
    border: 1px solid #f0f0f0;
}
.nave-description p{
   line-height: 1.5;
   padding: 0 25px;
   margin: 0;
   margin-bottom: 30px;
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.skin-img img {
    display: inline-block !important;
    margin-right: 17px;
    margin-bottom: 20px;
}


/**************************************
02.Nave Part2
**************************************/
.nave-part2 .image-nave {
  margin-bottom: 15px;
  position: relative;
}
.nave-part2 .image-nave img.main{
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: center;
}
.nave-part2 .image-nave .ct-rating{
  position: absolute;
  z-index: 9;
}
.nave-part2 .mrg-bottom2 {
  margin-bottom: 14px;
}
.image-nave h3 {
    color: #19204C;
    font-family: 'Quarto-Light';
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.image-nave img{
  width: 80px;
  margin-bottom: 10px;
}
.nave-part2 .owl-prev {
    position: absolute;
    right: 0px;
    top: 38%;
}
.nave-part2 .owl-next {
    position: absolute;
    left: 0px;
    top: 38%;
}
.padding-n2 {
  padding-left: 25px;
  padding-top: 15px;
}
/**************************************
03.Nave Part3
**************************************/
.nave-part3 {

}
.nave-part3 .single-offer-tabs ul.nav-single-offer li {
  width: 33.16%;
}
.info_nave a{
  color: #A9A9A9;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 600;
}
.info_nave .panel-default>.panel-heading  {
  background-color: #f5f5f5 !important; 
}
.info_nave i {
  float: right;
}
.info_nave .panel-group .panel {
  border-radius: 0;
  color: #A9A9A9;
}
.table-001 {
  width: 100%;
  margin-bottom: 20px;
}
.table-001 i {
  color: #1A2542 !important;
  /*color: #8ba8f9 !important; */ /* bojqielli */
}
.table-001 .float-r {
  float: right;
}
.table-001 tr {
  border-bottom: 1px solid #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}


/**************************************
04.Nave Recensioni / Part4
**************************************/
.nave-recensioni {
   padding-bottom: 100px;
}
.nave-recensioni p{
   font-family: 'Open Sans', sans-serif;
   color: #101322;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   padding: 0 50px;
   margin: 0;
   margin-bottom: 55px;
}
.nave-recensioni .testimonial-user {
  margin-top: 0;
  margin-bottom: 30px;
}
.nave-comment {
  color: #0b0f1a;
  font-weight: bold;
  text-transform: uppercase;
}
.nave-recensioni .btn-000 {
   margin-top: 40px;
}
.rating {
    float: right;
}
/*.owl-carousel img {
    width: 190px !important;
}*/
.margin-a1 a {
    margin-left: -3px;
    margin-top: -4px;
}
.margin-a2 a {
    margin-left: -35px;
    margin-top: -4px;
}
.nave-recensioni .owl-prev {
    position: absolute;
    right: 0;
    top: 42%;
}
.nave-recensioni .owl-next {
    position: absolute;
    left: 0;
    top: 42%;
}




/**************************************
06.General CSS
**************************************/
ul {
    list-style-type: none;
    padding: 0;
}

.skin-img {
    margin-bottom: 10px;
}
.skin-img h2 {
    font-size: 40px;
    font-family: 'Quarto-Light';
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #171e4a;
    margin-top: 0;
    display: inline-block;
}
.btn-000 {
    background-image: url(/assets/img/buton-red.png);
    background-size: contain;
    display: block;
    width: 261px;
    height: 73px;
    float: right;
    background-repeat: no-repeat;
    padding-top: 28px;
    padding-left: 65px;
}
.btn-000 a {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}


/**************************************
07.Media Queries
**************************************/

 /*==========  Non-Mobile First Method  ==========*/

    @media only screen and (max-width: 1699px) {
        .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 33.13%;
        }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
     
    }
    @media only screen and (max-width : 1199px) {
       .nave-part2 .image-nave img.main {
          height: 550px;
        }
       .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 33.09%;
        }
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .nave-description p {
          padding: 0 90px;
        }
        .nave-recensioni p {
          padding: 0 120px;
        }
    }
    @media only screen and (max-width : 992px) {
      /* .nave-description p {
        text-align: justify;
       }*/
       .div-bg-color {
          padding-top: 55px;
        }
       .nave-part2 .image-nave img.main {
          height: 450px;
        }
       .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 33%;
        }
        .nave-description p {
          margin-bottom: 50px;
        }
        .nave-recensioni p {
          margin-bottom: 45px;
        }
        .btn-000 {
          width: 250px;
        }
        .margin-a2 a {
          margin-left: -40px;
        }
    }


    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .skin-img h2 {
          font-size: 30px;
        }
        .skin-img img {
          margin-bottom: 16px;
        }
        .nave-description {
          padding-top: 70px;
        }
        .nave-description p {
          text-align: justify;
        }
        .nave-recensioni p {
          text-align: justify;
        }
    }
    @media only screen and (max-width : 701px) {
       .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 32.95%;
        }
    }
    @media only screen and (max-width : 614px) {
       .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 32.91%;
        }
    }
    @media only screen and (max-width : 599px) {
        .nave-part2 .image-nave img.main {
          height: 400px;
        }
    }
    @media only screen and (max-width : 560px) {
       .nave-part2 .image-nave img.main {
          height: 380px;
        }
       .nave-part3 .single-offer-tabs ul.nav-single-offer li {
           width: 32.7%;
        }
      .nave-description p {
        padding: 0;
      }
      .nave-recensioni p {
        padding: 0;
      }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
       .nave-part2 .image-nave img.main{
          height: 300px;
        }
       .skin-img h2 {
          font-size: 25px;
        }
       .skin-img img {
          display: none !important;
       }
       .div-bg-color { 
         padding-top: 45px;
       }
          
    }
 
    @media only screen and (max-width: 385px) {
        .nave-part3 .single-offer-tabs ul.nav-single-offer li {
            width: 32.5%;
        }
    }
    @media only screen and (max-width: 360px) {
        .skin-img h2 {
          font-size: 22px;
        }
        .nave-part2 .image-nave img.main {
          height: 270px;
        }
        .nave-part3 .single-offer-tabs ul.nav-single-offer li {
            width: 32.5%;
        }
        .image-nave h3  {
          font-size: 15px;
        }
        /*.nave-part2 img {
          width: 100px;
        }*/
    }
    @media only screen and (max-width: 350px) {
        .nave-part3 .single-offer-tabs ul.nav-single-offer li {
            width: 32.5%;
        }
        .nave-recensioni p {
            font-size: 14px;
        } 
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .nave-part2 .image-nave img.main {
            height: 250px;
        }
        
    }
    @media only screen and (max-width : 300px) {
        .nave-part3 .single-offer-tabs ul.nav-single-offer li {
            width: 32.4%;
        }
    }