<app-inner-header-center [page_title]="'single ship'"></app-inner-header-center>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>
<!-- Nave-Part1 Tao-->
<section class="nave-description" *ngIf="singleShip">
	<div class="container">
		<div class="row">
		   <div class="skin-img text-center">
		        <img src="../assets/img/shiritskin.png">
           		<h2 class="text-center skin-title2">Description</h2>
           </div>
		</div>	
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="grey-block">
					<p>{{singleShip.description}}</p>
					<p id="demo" class="collapse">{{singleShip.description_more}}</p>
					<div class="red-button ">
					<!-- 	<a href="">read more</a> -->
					<button type="button" data-toggle="collapse" data-target="#demo">read more</button>
					</div>			
								
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Nave-Part1 Tao-->


<!-- Nave-Part2 Tao-->
<section class="nave-part2"  *ngIf="singleShip">
	<div class="container">
		<div class="row">

		  <div class="col-md-12 col-sm-12 col-xs-12 mrg-bottom2">
				<div class="image-nave">
				    <div class="padding-n2 ct-rating">
						<h3>Cruisetopic Rating</h3>
						<img src="{{singleShip.ship_rating}}">
            <h3>Client Rating</h3>
            <img src="{{singleShip.client_rating}}">
					</div>
					<img class="main" src="{{singleShip.ship_img}}" alt="none">
				</div>
		  </div>

		
          <div class="col-md-12 col-sm-12 col-xs-12">
               <div role="tabpanel" class="tab-pane gallery" >
                <div  *ngIf="singleShip.cabins">
                  <owl-carousel [options]= "options">
      					    <div class="item"  *ngFor="let single_img of singleShip.cabins">
      							   <div class="kabin01">
								            <img src="{{single_img.picture}}" alt="{{single_img.title}}">
      							   </div>
                    </div>
                  </owl-carousel>
      					</div>
              </div>
          </div>

	    </div>	
	    
	</div>

</section>
<!-- End Nave-Part2 Tao-->


<!-- Nave-Part3 Tao-->
<section class="nave-part3"   *ngIf="singleShip">
	<div class="container">
	  <div class="row">
	  	<div class="col-md-12 col-sm-12 col-xs-12">
	  	   <div class="single-offer-tabs">
	  		  <div class="row">
	  			  <ul class="nav-single-offer" role="tablist">			  				 
	  			  	 <li role="presentation" class="active">
	  			  		<a href="#ponti" aria-controls="ponti" role="tab" data-toggle="tab" data-name="ponti">
	  			  		    <i class="fa fa-ship" aria-hidden="true"></i>
	  			  		    <span>Ponti</span>
	  			  		</a>
	  			  	 </li>
	  			  	 <li role="presentation">
	  			  		<a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab" data-name="gallery">
	  			  		    <i class="fa fa-camera" aria-hidden="true"></i>
	  			  		    <span>Gallery</span>
	  			  		</a>
	  			  	 </li>
	  			  	 <li role="presentation">
	  			  		<a href="#info_nave" aria-controls="info_nave" role="tab" data-toggle="tab">
	  			  		    <i class="fa fa-info-circle" aria-hidden="true"></i>
	  			  		    <span>Info Nave</span>	
	  			  		</a>
	  			  	 </li>
	  			  </ul>
	  		  </div>
	  		  <div class="row">
	  		  	<div class="tab-content">			  		  		
	  		  		<div role="tabpanel" class="tab-pane active" id="ponti">
	  		  			<div  *ngIf="singleShip.ponti">
                <owl-carousel [options]= "{ loop: true ,items : 1}">
	  		  				<div class="item" *ngFor="let single of singleShip.ponti">
    								<div class="ponti-img"><img src="{{single.pont}}" alt="{{single.title}}"></div>
    							</div>
                </owl-carousel>
	  		  			</div>
	  		  		</div>
	  		  		<div role="tabpanel" class="tab-pane gallery" id="gallery">
	  		  			<div  *ngIf="singleShip.gallery">
                <owl-carousel [options]= "options">
	  		  				<div class="item" *ngFor="let singleimg of singleShip.gallery">
    								<div class="offer-gall"><img src="{{singleimg.img}}" alt="{{singleimg.title}}"></div>
    							</div>
                </owl-carousel>
	  		  			</div>
	  		  		</div>

	  		  		<div role="tabpanel" class="tab-pane" id="info_nave">
	  		  			<div class="info_nave">
                          	<div class="panel-group"  id="accordion">
                          		<div class="panel panel-default">
                          		    <div class="panel-heading"> 
                          		    	<a href="#collapse1" data-toggle="collapse">                  		
                          					<h4 class="panel-title">
                          						Generale <i class="fa fa-list" aria-hidden="true"></i>
                          					</h4>
                          				</a>   
                          			</div>  
                          			<div id="collapse1" class="panel-collapse collapse in">
                          				<div  class="panel-body insider">
                          		 			<div class="row">

                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Anno Di Costruzione </td>
                          								<td class="float-r">2003</td>
                          							</tr>
                          							<tr>
                          								<td>Nº Cabine Esterne</td>
                          								<td class="float-r">857</td>
                          							</tr>
                          							<tr>
                          								<td>Nº Cabine Con Balcone </td>
                          								<td class="float-r">522 </td>
                          							</tr>
                          							<tr>
                          								<td>Bandiera E Nazionalità</td>
                          								<td class="float-r">102.587 tn.</td>
                          							</tr>
                          							<tr>
                          								<td>Stazza</td>
                          								<td class="float-r"></td>
                          							</tr>
                          							<tr>
                          								<td>N° Ponti</td>
                          								<td class="float-r">13</td>
                          							</tr>
                          							<tr>
                          								<td>N° Cabine Interne</td>
                          								<td class="float-r"></td>
                          							</tr>
                          							<tr>
                          								<td>Lunghezza</td>
                          								<td class="float-r">272 m.</td>
                          							</tr>
                          						</table>
                          					</div>
                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Vel. Di Navigazione</td>
                          								<td class="float-r">20 nodi</td>
                          							</tr>
                          							<tr>
                          								<td>Numero Passeggeri</td>
                          								<td class="float-r">3470</td>
                          							</tr>
                          							<tr>
                          								<td>Tipo Di Elettricità</td>
                          								<td class="float-r">220 W</td>
                          							</tr>
                          							<tr>
                          								<td>Tipo Di Presa Corrente</td>
                          								<td class="float-r">Europea</td>
                          							</tr>
                          							<tr>
                          								<td>Larghezza</td>
                          								<td class="float-r">36 m.</td>
                          							</tr>
                          							<tr>
                          								<td>Num. Equipaggio</td>
                          								<td class="float-r">1027</td>
                          							</tr>
                          							<tr>
                          								<td>N° Cabine</td>
                          								<td class="float-r">1358</td>
                          							</tr>
                          							<tr>
                          								<td>Costo Originale</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>

                          					</div>
                          				</div>
                          			</div>                    
                          		</div>

                          		<div class="panel panel-default">
                          		    <div class="panel-heading">
                          		        <a href="#collapse2" data-toggle="collapse">
                          					<h4 class="panel-title">
                          						Informazioni sui Servizi <i class="fa fa-list" aria-hidden="true"></i>
                          					</h4>
                          				</a>
                          			</div>
                          			<div id="collapse2" class="panel-collapse collapse">
                          				<div class="panel-body insider">
                          					<div class="row">

                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Capacità Massima Di Una</td>
                          								<td class="float-r">4</td>
                          							</tr>
                          							<tr>
                          								<td>Ristorante</td>
                          								<td class="float-r">4</td>
                          							</tr>
                          							<tr>
                          								<td>Ascensori</td>
                          								<td class="float-r">12</td>
                          							</tr>
                          							<tr>
                          								<td>Spa</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Galleria D'arte</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Casinò</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Negozi</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Sala Giochi</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Salone Di Bellezza</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>
                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Bar</td>
                          								<td class="float-r"></td>
                          							</tr>
                          							<tr>
                          								<td>Jacuzzì</td>
                          								<td class="float-r"></td>
                          							</tr>
                          							<tr>
                          								<td>Cinema</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Biblioteca</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Accesso Internet</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Teatro</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Lavanderia</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Cappella</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Discoteca</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>

                          					</div>
                          				</div>
                          			</div>
                          		</div>

                          		<div class="panel panel-default">
                          		    <div class="panel-heading">
                          		    	<a href="#collapse3" data-toggle="collapse">
                          					<h4 class="panel-title">
                          						Installazioni sportive <i class="fa fa-list" aria-hidden="true"></i>
                          					</h4>
                          				</a>
                          			</div>	
                          			<div id="collapse3" class="panel-collapse collapse">
                          				<div class="panel-body insider">
                          					<div class="row">

                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>N° Piscine Interne</td>
                          								<td class="float-r">1</td>
                          							</tr>
                          							<tr>
                          								<td>Campo Basket</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Campo Da Tennis</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Jogging</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>
                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>N° Piscine Esterne</td>
                          								<td class="float-r">3</td>
                          							</tr>
                          							<tr>
                          								<td>Piscine</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Palestra</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Simulatore F1</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>

                          					</div>
                          				</div>	
                          			</div>
                          		</div>

                          		<div class="panel panel-default">
                          		    <div class="panel-heading">
                          		    	<a href="#collapse4" data-toggle="collapse">
                          		    		<h4 class="panel-title">
                          						Servizi per i bambini <i class="fa fa-list" aria-hidden="true"></i>
                          					</h4>
                          				</a>	
                          			</div>
                          			<div id="collapse4" class="panel-collapse collapse">
                          				<div class="panel-body insider">
                          		  			<div class="row">

                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Cabina Disabili</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Zona Per Bambini</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Piscina Bambini</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>		
                          						</table>
                          					</div>
                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Mini Club</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Zona Per Ragazzi</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Programma Per Ragazzi</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>

                          					</div>
                          				</div>	
                          			</div>
                          		</div>

                          		<div class="panel panel-default">
                          		    <div class="panel-heading">
                          		    	<a href="#collapse5" data-toggle="collapse">
                          		    		<h4 class="panel-title">
                          						Informazioni sulle cabine <i class="fa fa-list" aria-hidden="true"></i>
                          					</h4>
                          				</a>	
                          			</div>
                          			<div id="collapse5" class="panel-collapse collapse">
                          				<div class="panel-body insider">
                          		    		<div class="row">

                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Cabine Comunicanti</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Telefono</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Internet In Cabina</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Cabine Singole</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          						</table>
                          					</div>
                          					<div class="col-md-6 col-sm-12 col-xs-12">
                          						<table class="table-001">
                          							<tr>
                          								<td>Servizio 24h</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Cassaforte</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td>Asciugacapelli</td>
                          								<td class="float-r"><i class="fa fa-check" aria-hidden="true"></i></td>
                          							</tr>
                          							<tr>
                          								<td></td>
                          								<td class="float-r"></td>
                          							</tr>
                          						</table>
                          					</div>

                          					</div>
                          				</div>	
                          			</div>
                          		</div>
                          	</div>
	  		  			</div>
	  		  		</div>

	  		  	</div>
	  		  </div>
	  	    </div>
	  	</div>
	  </div>
	  <div class="row">
	    	<div class="col-md-12 martop30">
				<div class="red-button right martop30">
						<a href="{{singleShip.readreview}}">leggi recensioni </a>
				</div>
			</div>
	    </div>
	</div>
</section>
<!-- End Nave-Part3 Tao-->


<!-- Ship Review Slider-->
<section class="nave-recensioni"  *ngIf="singleShip">
	<div class="container">
		<div class="row">
		    <div class="skin-img text-center">
		        <img src="../assets/img/shiritskin.png">
        		<h2 class="text-center skin-title2">Recensioni Nave</h2>
        	</div>
        	<div class="col-md-12 col-sm-12 col-xs-12">
        		<div id="testimonial-carousel" class="owl-carousel owl-theme"  *ngIf="singleShip.reviews">
	            	<div class="col-md-12 col-sm-12 col-xs-12 div-bg-color"  *ngFor="let comment of singleShip.reviews">
	            	  	<div class="item">
	                	   <p class="testimonial-user"><span class="nave-comment">{{comment.writer}}</span> : {{comment.date}}   {{comment.hour}}</p>
	                	   <p>{{comment.comment}}</p>
	                	   <div class="rating p1-000">
	                	   	 <img src="{{comment.rate_img}}" class="img-responsive" alt="Image">
	                	   </div>
	            	  	</div>
	            	</div>
        		</div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">		
        		<div class="btn-000 margin-a2">
        			<a href="{{singleShip.writereview}}">Scrivi Recensione</a>
        		</div>
        	</div>
		</div>	
	</div>
</section>
<!-- End Ship Review Slider-->