/* ANGULAR */
/*!
 * Start Bootstrap
 * Author, Abbybased.
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face {
  font-family: 'Quarto-Black';
  src: url('./assets/fonts/Quarto/Quarto-Black.eot');
  src: url('./assets/fonts/Quarto/Quarto-Black.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Quarto/Quarto-Black.woff') format('woff'), url('./assets/fonts/Quarto/Quarto-Black.ttf') format('truetype'), url('./assets/fonts/Quarto/Quarto-Black.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quarto-Light';
  src: url('./assets/fonts/Quarto/Quarto-Light.eot');
  src: url('./assets/fonts/Quarto/Quarto-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Quarto/Quarto-Light.woff') format('woff'), url('./assets/fonts/Quarto/Quarto-Light.ttf') format('truetype'), url('./assets/fonts/Quarto/Quarto-Light.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansblack';
  src: url('./assets/fonts/AzoSans/azosans-black-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-black-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-black-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-black-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-black-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-black-webfont.svg#azo_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansblack_italic';
  src: url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-blackitalic-webfont.svg#azo_sansblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansbold';
  src: url('./assets/fonts/AzoSans/azosans-bold-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-bold-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-bold-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-bold-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-bold-webfont.svg#azo_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansbold_italic';
  src: url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-bolditalic-webfont.svg#azo_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansitalic';
  src: url('./assets/fonts/AzoSans/azosans-italic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-italic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-italic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-italic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-italic-webfont.svg#azo_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sanslight';
  src: url('./assets/fonts/AzoSans/azosans-light-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-light-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-light-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-light-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-light-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-light-webfont.svg#azo_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sanslight_italic';
  src: url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-lightitalic-webfont.svg#azo_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansmedium';
  src: url('./assets/fonts/AzoSans/azosans-medium-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-medium-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-medium-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-medium-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-medium-webfont.svg#azo_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansmedium_italic';
  src: url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-mediumitalic-webfont.svg#azo_sansmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansregular';
  src: url('./assets/fonts/AzoSans/azosans-regular-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-regular-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-regular-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-regular-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-regular-webfont.svg#azo_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansthin';
  src: url('./assets/fonts/AzoSans/azosans-thin-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-thin-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-thin-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-thin-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-thin-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-thin-webfont.svg#azo_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'azo_sansthin_italic';
  src: url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.eot');
  src: url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.woff2') format('woff2'), url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.woff') format('woff'), url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.ttf') format('truetype'), url('./assets/fonts/AzoSans/azosans-thinitalic-webfont.svg#azo_sansthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  text-rendering: geometricPrecision !important;
  font-smooth: always !important;
  font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
body {
  padding: 0px !important;
  margin: 0px !important;
  text-rendering: optimizeLegibility;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'azo_sansregular';
}
hr {
  border-color: #f05f40;
  border-width: 3px;
}
hr.light {
  border-color: #fff;
}
hr.style-two {
  border: 0;
  height: 2px;
  border-color: #F9C3B6;
  background-image: linear-gradient(to right, rgba(249, 195, 182, 0), rgba(249, 195, 182, 0.75), rgba(249, 195, 182, 0));
}
a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0;
}
a:hover,
a:focus {
  color: #eb3812;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
}
/*Overwrite CSS*/
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[readonly="readonly"] {
  background-color: #fff !important;
  cursor: pointer;
}
/*Hide HTML5 Spinners*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-moz-focus-inner {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'azo_sansmedium';
}
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.bg-primary {
  background-color: #f05f40;
}
.bg-dark {
  color: #fff;
  background-color: #222;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 35px 0;
  background-color: white;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}
::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}
img::selection {
  color: #fff;
  background: 0 0;
}
img::-moz-selection {
  color: #fff;
  background: 0 0;
}
body {
  webkit-tap-highlight-color: #222;
}
/*Remove Padding*/
.remove-padding {
  padding: 0;
}
.remove-padding-top {
  padding-top: 0;
}
.remove-padding-right {
  padding-right: 0;
}
.remove-padding-bottom {
  padding-bottom: 0;
}
.remove-padding-left {
  padding-left: 0;
}
/*Add padding*/
.add-padding {
  padding: 5px;
}
.add-padding-top {
  padding-top: 5px;
}
.add-padding-right {
  padding-right: 5px;
}
.add-padding-bottom {
  padding-bottom: 5px;
}
.add-padding-left {
  padding-left: 5px;
}
/*Remove Margin*/
.remove-margin {
  margin: 0;
}
.remove-margin-top {
  margin-top: 0;
}
.remove-margin-right {
  margin-right: 0;
}
.remove-margin-bottom {
  margin-bottom: 0;
}
.remove-margin-left {
  margin-left: 0;
}
/*Add Margin*/
.add-margin {
  margin: 5px;
}
.add-margin-top {
  margin-top: 5px;
}
.add-margin-right {
  margin-right: 5px;
}
.add-margin-bottom {
  margin-bottom: 5px;
}
.add-margin-left {
  margin-left: 5px;
}
/*COLORS*/
/*PADDING*/
/*MARGIN*/
/*FONT*/
@media (min-width: 1700px) {
  .container {
    width: 1470px;
  }
}
/* Side Menu */
.logo {
  position: absolute;
  z-index: 9;
  left: 100px;
  top: 30px;
  height: 50px;
}
#sidebar-wrapper {
  z-index: 999999;
  position: fixed;
  left: -500px;
  width: 250px;
  height: 100%;
  transform: translateX(250px);
  overflow-y: auto;
  background-color: #101523;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
  color: white;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#menu-toggle {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
#sidebar-wrapper.active {
  left: -250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.toggle {
  margin: 5px 5px 0 0;
}
.fotorama__nav-wrap {
  display: none;
}
.fotorama__caption__wrap {
  background-color: rgba(16, 21, 35, 0);
  padding: 5px 10px;
  color: white;
  font-size: 65px;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 85px;
}
.fotorama__caption__wrap span ,
.fotorama__caption__wrap{
  padding: 10px 15px;
  background-color: rgba(16, 21, 35, 0.7);
}
.fotorama__caption {
  top: 30%;
  left: 12%;
}
#search_form {
  padding: 0px 20px;
  background-color: rgba(16, 21, 35, 0.7);
  position: absolute;
  z-index: 99;
  right: 12%;
  top: 0;
  width: 590px;
  height: 740px;
}
#search_form button,
#search_form select,
#search_form textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
 /* text-align: center;*/
}
#search_form #SubmitSearch {
  background-color: #D8CDBA;
  border: 1px solid #D8CDBA;
  color: #19204C;
  width: 100%;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Quarto-Light';
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 60px;
}
#search_form #SubmitSearch:hover {
  background-color: rgba(216, 205, 186, 0.75);
}
#search_form option,
#search_form optgroup {
  background-color: #101523;
}
#search_form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #101523;
  -webkit-background-image: url(./assets/img/arr.png);
  -webkit-background-position: 95% 52%;
  -webkit-background-repeat: no-repeat;
  background-image: url(./assets/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
}
#search_form #formsearchtravel {
  padding: 0px 20px 0px 20px;
}
.login-buttons {
  padding: 10px 0px;
  padding-top: 50px;
  text-align: right;
}
.login-buttons p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  letter-spacing: 0.06em;
  padding: 10px;
  margin: 0px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.login-buttons a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  letter-spacing: 0.06em;
  padding: 10px;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
}
.login-buttons a:hover {
  border-bottom: 4px solid #15AAC8;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  background: #13192C;
  text-align: center;
}
figure.effect-bubba img {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-bubba:hover img {
  opacity: 0.4;
}
figure.effect-bubba figcaption img {
  width: 200px;
}
figure.effect-bubba p {
  position: absolute;
  top: 40%;
  left: 34%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p,
figure.effect-bubba:hover p img {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.campagnia {
  padding-top: 50px;
  -webkit-background-image: url('./assets/img/companie.png');
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: 60%;
  -webkit-background-position: bottom left;
  background-image: url('./assets/img/companie.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: bottom left;
  position: relative;
}
.campagnia-info .full {
  width: 100%;
}
.campagnia-info h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #2D2D2C;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.campagnia-info hr {
  border-color: #D8CDBA;
  max-width: 70px;
  border-width: 3px;
}
.campagnia-info p {
  color: #4C4C4C;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/*each block on offerte */
.campaign-block {
  border: 2px solid #D8CDBA;
  padding: 10px;
  margin-top: 30px;
  display: block;
  background-color: white;
}
.campaign-block h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #2D2D2C;
  letter-spacing: 0.06em;
  margin: 0px;
  text-transform: uppercase;
  min-height: 50px;
}
.campaign-block p {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #2D2D2C;
  font-size: 14px;
  min-height: 50px;
  margin-bottom: 0px;
}
.campaign-block .offer-info-table ,
.campaign-block table {
 width: 100%;
}
.campaign-block td.title {
  font-size: 'Open Sans', sans-serif;
  color: #1F2644;
  font-size: 18px;
  font-weight: 400;
}
.campaign-block td.info {
  color: #6D6D6D;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.campaign-block td {
  padding: 10px;
}
.campaign-block .company-price {
  display: block;
  width: 100%;
  position: relative;
}
.campaign-block .company-logo {
  height: 50px;
  width: auto;
  padding: 5px;
  float: left;
}
.campaign-block .price {
  float: right;
  color: #2D2D2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-right: 10px;
}


.select-company {
  padding-bottom: 50px;
  padding-top:20px;
}
.companies {
  position: relative;
}
.companies img {
  height: 75px;
  object-fit: contain;
  border: 1px solid #D1D1D1;
  width: auto;
  background-color: white;
}
.companies .owl-prev {
  position: absolute;
  right: -30px;
  top: 15px;
}
.companies .owl-prev i {
  color: #304266;
  font-size: 40px;
}
.companies .owl-next {
  position: absolute;
  left: -30px;
  top: 15px;
}
.companies .owl-next i {
  color: #304266;
  font-size: 40px;
}
.recensioni {
  background-image: url('./assets/img/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-image: url('./assets/img/bg2.jpg');
  -webkit-background-position: center center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
  -webkit-background-size: cover;
  padding-top: 100px;
  padding-bottom: 0px;
  margin-top: 100px;
  position: relative;
}
.recensioni .translate-rec {
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
}
.recensioni .recension-block {
  background-color: white;
  padding: 20px;
}
.recensioni .recension-block .rating {
  display: inline-block;
}
.recensioni .recension-block .compani {
  display: inline-block;
  float: right;
}
.recensioni .recension-block .compani img {
  width: 120px;
}
.recensioni .recension-block .info {
  clear: both;
}
.recensioni .recension-block .info h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2D2D2C;
  letter-spacing: 0.06em;
  margin-top:8px;
}
.recensioni .recension-block .info p {
  color: #606060;
  font-size: 16;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.recensioni .recension-block .info a {
  color: #6D6D6D;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid #6D6D6D;
}
.recensioni .moved-img {
  -ms-transform: translateY(-200px);
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
}
.recensioni .moved-img img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.offerte {
  position: relative;
  padding-bottom: 70px;
  -webkit-background-image: url('./assets/img/offerte.png');
  -webkit-background-position: 81% 56%;
  -webkit-background-repeat: no-repeat;
  background-image: url('./assets/img/offerte.png');
  background-position: 80% 75%;
  background-repeat: no-repeat;
  padding-top: 60px;
}
.image-info {
  position: relative; 
  display: block; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  -webkit-background-repeat: no-repeat;
  background-repeat: no-repeat; 
  background-origin: border-box;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  background-attachment: scroll; 
  background-color: transparent; 
  /*background-image: url('');*/
  background-position: center center; 
  background-clip: border-box; 
  background-blend-mode: normal; /*normal|multiply|screen|overlay|darken|lighten|color-dodge|saturation|color|luminosity;*/
  color: white;
  padding: 70px 50px;
}
.image-info hr {
  border-color: white;
  max-width: 40px;
}
.image-info h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
}
.image-info p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.image-info img {
  margin-bottom: 20px;
}
.next-offer {
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-background-image: url('./assets/img/iii.png');
  -webkit-background-size: contain;
  background-image: url('./assets/img/iii.png');
  background-size: contain;
  display: block;
  width: 345px;
  height: 100px;
  float: right;
  background-repeat: no-repeat;
}
.next-offer a {
  color: white;
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.06em;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding: 28px 0;
}
.offer-carousel {
  padding-left: 15px;
  padding-right: 15px;
}
.offer-carousel img {
  width: 18px !important;
  display: inline-block !important;
  margin-right: 10px;
}
.offer-carousel h5 {
  display: inline-block;
  color: #2D2D2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
h3.offer-carousel {
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 33px;
  letter-spacing: 0.06em;
  color: #00133E;
}
div.offer-carousel {
  border: 2px solid #D8CDBA;
  padding: 20px 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.blog {
  /*  background-image: url('../img/blog.jpg');*/
  -webkit-background-image: url('./assets/img/news.png'), url('./assets/img/blog.jpg');
  -webkit-background-position: left bottom, center center;
  -webkit-background-repeat: no-repeat, no-repeat;
  -webkit-background-size: 42%, cover;
  -webkit-background-attachment: scroll, fixed;
  background-image: url('./assets/img/news.png'), url('./assets/img/blog.jpg');
  background-position: left bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 42%, cover;
  background-attachment: scroll, fixed;
  position: relative;
  padding: 100px 0px;
  color: white;
}
.blog .single-blog {
  border: 1px solid white;
  padding: 50px 10px 60px 10px;
  margin-bottom: 10px;
}
.blog img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  float: left;
  padding: 0px 10px;
}
.blog .author-time {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.blog .blog-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 29px;
}
.blog .blog-desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
}
.blog .blog-info a {
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
#footer {
/*  background-color: #313b56;*/
  -webkit-background-image: url('./assets/img/footer.jpg');
  -webkit-background-size: contain;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: top;
  background-image: url('./assets/img/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 200px;
  color: white;
}
#footer a {
  color: white;
}
#footer p {
  font-family: 'azo_sansregular';
  font-size: 17px;
}
#footer h4 {
  font-family: 'azo_sansmedium';
  font-size: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
#footer ul {
  padding-left: 0px;
}
#footer li {
  list-style: none;
  padding-bottom: 5px;
  font-family: 'azo_sansregular';
  font-size: 17px;
}
#footer li img {
  width: 18px;
}
#footer li a {
  font-family: 'azo_sansregular';
  font-size: 17px;
}
#footer li i {
  font-size: 20px;
  padding-right: 5px;
}
#footer input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 0;
  color: white;
}
#footer input::-webkit-input-placeholder,
#footer input:-moz-placeholder,
#footer input::-moz-placeholder,
#footer input:-ms-input-placeholder {
  color: white;
}
#footer input[type="submit"] {
  border: 1px solid white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
#footer .social-icons li {
  display: inline-block;
}
#footer .social-icons li i {
  background-color: #D8CDBA;
  border-radius: 50%;
  padding: 5px 7px;
  font-size: 12px;
}
#footer .social-icons li i.fa.fa-google-plus {
  padding: 5px 4px;
}
#footer #copyright {
  border-top: 1px solid white;
  padding-top: 10px;
  margin-top: 10px;
}
#footer #copyright .footer-copyright-el {
  font-size: 16px;
  opacity: 0.7;
  font-family: 'azo_sansregular';
  margin-bottom: 5px;
}
#footer h4:after {
  content: '';
  display: block;
  background: white;
  height: 3px;
  max-width: 25px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
}
#footer h4.social:after {
  margin-bottom: 10px;
  margin-top: 10px;
}
.perchenoi {
  padding: 120px 0px 150px 0px;
  position: relative;
}
h2.vertical-title {
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 65px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: -4%;
  top: 44%;
}
h2.vertical-right {
  font-family: 'Quarto-Light';
  text-transform: uppercase;
  font-size: 65px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  color: white;
  right: 2%;
  top: 44%;
}
.recensioni h2.vertical-right {
  top: 30%;
  right: -4%;
}
h2.vertical-title:before {
  content: url('./assets/img/shirit.png');
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -100px;
}
h2.vertical-right:after {
  content: url('./assets/img/shirit2.png');
  display: inline-block;
  opacity: 0.7;
  position: absolute;
  right: -50%;
  /*position: absolute;
    top: 5px;
    left: -100px;*/
}
.recensioni h2.vertical-right:after {
  right: -25%;
}
.icon-block {
  border: 2px solid #D8CDBA;
  padding: 50px 10px 10px 10px;
  margin: 10px auto;
}
.icon-block h4 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-block a {
  color: #868989;
  display: block;
}
.icon-block p {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 00px;
  min-height: 110px;
}
.icon-block img {
  width: 90px;
  padding: 10px;
}
.first a img {
  -webkit-background-image: url(./assets/img/1.png);
  background-image: url(./assets/img/1.png);
}
.second a img {
  -webkit-background-image: url(./assets/img/2.png);
  background-image: url(./assets/img/2.png);
}
.third a img {
  -webkit-background-image: url(./assets/img/3.png);
  background-image: url(./assets/img/3.png);
}
.fourth a img {
  -webkit-background-image: url(./assets/img/4.png);
  background-image: url(./assets/img/4.png);
}
.icon-block a img {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.first a:hover img {
  -webkit-background-image: url(./assets/img/11.png);
  background-image: url(./assets/img/11.png);
}
.second a:hover img {
  -webkit-background-image: url(./assets/img/21.png);
  background-image: url(./assets/img/21.png);
}
.third a:hover img {
  -webkit-background-image: url(./assets/img/31.png);
  background-image: url(./assets/img/31.png);
}
.fourth a:hover img {
  -webkit-background-image: url(./assets/img/41.png);
  background-image: url(./assets/img/41.png);
}
#link-bar {
  background-color: #1F2644;
  z-index: 99999;
  color: white;
  padding: 25px 0px;
  position: relative;
}
#link-bar .btn-nav {
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
  -webkit-background-image: url(./assets/img/arr.png);
  -webkit-background-position: 95% 52%;
  -webkit-background-repeat: no-repeat;
  background-image: url(./assets/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  padding: 10px 10px;
}
#link-bar .btn.focus,
#link-bar .btn:focus,
#link-bar .btn:hover,
#link-bar .btn:active {
  color: white;
  border-color: #D8CDBA;
}
#link-bar .btn .caret {
  display: none;
}
#link-bar .dropdown-menu {
  color: white;
  width: 100%;
  background-color: #1F2644;
}
#link-bar .dropdown-menu > li > a {
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#link-bar .dropdown-menu > li > a:hover {
  color: #1F2644;
}
#link-bar i {
  color: #D8CDBA;
  padding-right: 5px;
}
.read-all a {
    background-color: rgba(0, 19, 62, 0.28);
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 100%;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Quarto-Light';
    font-weight: 600;
    letter-spacing: 0.1em;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.read-all a:hover {
  background-color: #19204C;
  border-color:  #19204C;
}

.with-searchbar {
  min-height: 740px;
}
.inner-page.with-searchbar .page-title {
  padding-top: 200px;
}
.inner-page {
  background-image: url(./assets/img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.emtooltip-content {
  border: 2px solid #e8e8e8;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 100%;
  z-index: 999999;
}
.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}

.testimonial i.fa.fa-angle-right,
.testimonial i.fa.fa-angle-left{
    color: white;
    font-size: 40px;
}
.testimonial .owl-prev{
    position: absolute ;
    right: 0;
}

.single-related{
  position: relative;
}
.add-to-wishlist{
  position: absolute;
  right: 0;
  top:-10px;
}
label.add-wishlist {
    padding: 0;
    font-size: 35px;
    float: right;
    font-weight: 500;
}
label.add-wishlist:before {
    content: "\f097";
    font-family: FontAwesome;
    color:#C90A0A;
}
input.add-wishlist {
    display: none;
}
input.add-wishlist:checked ~ label.add-wishlist:before {
    content: "\f02e";
    color: #C90A0A;
}

.owl-carousel{
  z-index: 0;
}





































/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width: 1700px) {
  #footer {
    padding-top: 260px;
  }
}
@media only screen and (max-width: 1800px) {
  h2.vertical-title {
    left: -6%;
  }
  h2.vertical-right {
    right: 0px;
  }
  .offerte h2.vertical-title {
    left: -2%;
  }
}
@media only screen and (max-width: 1700px) {
  .icon-block p {
    min-height: 155px;
  }
  .campaign-block td.title {
    padding: 5px;
  }
  .campaign-block p {
    min-height: 60px;
  }
  .campaign-block td {
    padding: 5px;
  }
  h2.vertical-title {
    left: -8%;
  }
  .blog img {
    width: 100%;
    float: none;
  }
  .blog-info {
    padding: 10px;
  }
  .blog .single-blog {
    padding-bottom: 40px;
  }
  #link-bar .btn-nav {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1630px) {
  h2.vertical-title {
    left: -5%;
  }
  #search_form {
    width: 500px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1470px) {
  h2.vertical-title {
    left: -10%;
  }
  h2.vertical-right {
    right: -2%;
  }
  .offerte h2.vertical-title {
    left: -6%;
  }
  #search_form {
    right: 0px;
  }
  .fotorama__caption {
    left: 25px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1340px) {
  h2.vertical-title,
  h2.vertical-right {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: static;
    text-align: center;
  }
  h2.vertical-title:before {
    position: relative;
    float: left;
    left: 30%;
  }
  h2.vertical-right:after {
    right: 35%;
  }
  .recensioni .translate-rec,
  .recensioni .moved-img {
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .recensioni h2.vertical-right:after {
    right: 25%;
  }
  .recensioni {
    padding-bottom: 100px;
  }
  .recensioni .moved-img img {
    height: 350px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .icon-block p {
    min-height: 100px;
  }
  h2.vertical-title:before {
    left: 27%;
  }
  h2.vertical-right:after {
    right: 30%;
  }
  .recensioni h2.vertical-right:after {
    right: 22%;
  }
  .fotorama__caption__wrap {
    font-size: 55px;
  }
  .image-info {
    margin: 15px;
  }
  #link-bar .btn-nav {
    font-size: 16px;
  }
  .campagnia {
    overflow-x: hidden;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  figure.effect-bubba p {
    opacity: 1;
    left: 30%;
  }
  .icon-block p {
    min-height: 110px;
  }
  #link-bar {
    background-color: white;
  }
  #link-bar .btn-nav {
    border-color: #D8CDBA;
    color: #19204C;
    background-image: url(./assets/img/arrblue.png);
    background-size: 20px;
  }
  #link-bar .dropdown {
    margin-bottom: 10px;
  }
  #link-bar .btn.focus,
  #link-bar .btn:focus,
  #link-bar .btn:hover,
  #link-bar .btn:active {
    color: #19204C;
  }
  #menu-toggle {
    z-index: 99999;
  }
  .login-buttons {
    padding-top: 10px;
  }
  .fotorama {
    display: none;
  }
  #search_form {
    padding: 30px 20px;
    background-color: #1b243c;
    position: static;
    height: auto;
    width: 100%;
  }
  h2.vertical-title:before {
    left: 20%;
  }
  h2.vertical-right:after {
    right: 27%;
  }
  .blog .single-blog {
    margin-bottom: 30px;
  }
  .campagnia-info .full {
    width: 50%;
  }
  .recensioni h2.vertical-right:after {
    right: 18%;
  }
}
@media only screen and (max-width: 848px) {
  .recensioni h2.vertical-right:after {
    right: 15%;
  }
  h2.vertical-title,
  h2.vertical-right {
    font-size: 45px;
  }
  h2.vertical-title:before,
  h2.vertical-right:after,
  .recensioni h2.vertical-right:after {
    display: none;
  }
  .offerte {
    background-image: none;
  }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /*  h2.vertical-title:before {
    left: 17%;
  }
  h2.vertical-right:after{
    right: 25%;
  }*/
/*  .owl-controls {
    display: none;
  }*/
   #saved-cruises-banner {
    width: 45px !important;
    height: 55px !important;
  }
  .inner-page .page-title{
    font-size: 32px;
  }
  .image-info {
    margin: 0px;
  }
  .companies .owl-prev,
  .testimonial .owl-prev
  {
    right: 0;
    top: inherit;
  }

  .companies .owl-next {
    left:inherit;
    top: inherit;
  }
  .icon-block p {
    min-height: 110px;
  }
  .login-buttons a:hover {
    border-bottom-color: #1b243c;
  }
  .next-offer {
    float: none;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    display: block;
    width: 80%;
    right: auto;
    left: auto;
    height: auto;
    top: 10px;
  }
  #search_form #formsearchtravel {
    /*padding-top: 15px;*/
  }
  #menu-toggle {
    top: 100px;
  }
  .login-buttons {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 580px) {
  /*  h2.vertical-title:before {
    left: 7%;
  }*/
  #search_form select {
    font-size: 20px;
  }
  figure.effect-bubba p {
    left: 26%;
    top: 28%;
  }
}
@media only screen and (max-width: 580px) {
  .next-offer {
    width: 245px;
    height: 69px;
    padding-top: 17px;
    padding-left: 15px;
  }
  .next-offer a{
    padding: 0px;
  }
  div.offer-carousel {
    margin: 0px;
  }
  .offerte {
    padding-bottom: 0px;
  }
  .blog {
    padding: 65px 0px;
  }
  .perchenoi {
    padding-top: 50px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #search_form select,
  #search_form #SubmitSearch {
    font-size: 18px;
  }
}
@media only screen and (max-width: 450px) {
  #search_form select,
  #search_form #SubmitSearch {
    font-size: 15px;
  }
  .image-info h2 {
    font-size: 30px;
  }
  figure.effect-bubba p {
    left: 24%;
    top: 25%;
  }
  /*.login-buttons a{
    display: block;
  }*/
  .login-buttons {
    padding-top: 40px;
  }
  /* .login-buttons a:hover {
    border-bottom-width: 0px;
  }*/
}
@media only screen and (max-width: 380px) {
  #search_form select,
  #search_form #SubmitSearch {
    font-size: 12px;
  }
  .image-info h2 {
    font-size: 25px;
  }
  figure.effect-bubba p {
    left: 20%;
    top: 20%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 340px) {
  figure.effect-bubba p {
    left: 18%;
    top: 20%;
  }
}



.myslides {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100px;
  border-bottom: 1px solid gray;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.cd-products-columns .owl-nav{
  position: absolute;
  width:100%;
  top:50%;
}*/
.cd-products-wrapper .owl-prev{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 210px;
    transform: translateY(-24px) rotate(180deg);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.cd-products-wrapper .owl-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    right:0px;
    transform: translateY(-24px);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
@media only screen and (max-width: 1169px) {

.cd-products-wrapper .owl-prev{
  left: 120px;
}
}

.itinerary .owl-prev{
    position: absolute;
    z-index: 2;
    top: 33.5%;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.itinerary .owl-next{
    position: absolute;
    z-index: 2;
    top: 15%;
    right:2px;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.gallery .owl-prev{
    position: absolute;
    z-index: 2;
    top: 33.5%;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.gallery .owl-next{
    position: absolute;
    z-index: 2;
    top: 15%;
    right:2px;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.ponti-img{
  width:100%;
}
.offer-carousel .owl-prev{
  display: none;
}
.offer-carousel .owl-next{
  display: none;
}
.companies .owl-item img{
  width:181px;
}
.testimonial .owl-stage-outer{
      height: 235px;
}
.nave-part3 #ponti .owl-next {
  position: absolute;
    z-index: 2;
    top: 5%;
    right:2px;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.nave-part3 #ponti .owl-prev {
  position: absolute;
    z-index: 2;
    z-index: 2;
    top: 33.5%;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.nave-part2 .owl-prev {
    position: absolute;
    z-index: 2;
    top: 42%;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.nave-part2 .owl-next {
    position: absolute;
    z-index: 2;
    top: 23%;
    right: 1px;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 48px;
    width: 28px;
    background: rgba(26, 37, 66, 0.8) url(./assets/img/cd-arrow.svg) no-repeat center center;
    border-radius: 0px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.cd-products-wrapper{
  padding-left: 210px;
}
.top-info{
  width:100% !important;
}
.cd-features-list{
  text-align: center;
}
@media only screen and (max-width: 1169px) {
  .cd-products-wrapper{
    padding-left: 120px;
  }
}
.loading-container{
  position: fixed;
  width: 100%;
  height: 2000px;
  top:0;
  left:0; 
  background-color:#000;
  opacity: 0.7;
  z-index: 999999;
}
.loading-image{
  position: fixed;    
  top: 50%;    
  left: 50%;    
  opacity: 1;    
  margin-left: -215px;    
  margin-top: -80px;
}

@media only screen and (max-width: 425px) {
   .loading-image{
    max-width: 320px;
    margin-left : -160px;
  }
}
agm-map {
   width: 100%;
   height: 500px;
}
.select2-container--default .select2-selection--single{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: #101523 !important;
  -webkit-background-image: url(./assets/img/arr.png) !important;
  -webkit-background-position: 95% 52% !important;
  -webkit-background-repeat: no-repeat !important;
  background-image: url(./assets/img/arr.png) !important;
  background-position: 95% 52% !important;
  background-repeat: no-repeat !important;
  font-size: 23px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  letter-spacing: 0.06em !important;
  height: 65px !important;
  color:white !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-top: 30px;
  width: 100%;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color:white !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  display: none;
}
.selected-container{
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
}
.select2-container{
    z-index: 99999;
    min-width: 260px !important;
    width: 100% !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 700px !important;
    background-color: #101523 !important;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
/*    background-color: white !important;
    color: #101523 !important;*/
}
.modal{
  z-index: 99999 !important;
}


/*---     Bledi changes    ----*/
#search_form{
  overflow: hidden;
}
.login-buttons{
  padding-top: 0px;
}
form#login-form {
  padding: 25px 35px 0;
  background-color: rgba(255,255,255,.1);
  height: 100%;
  margin-top: 35px;
  text-align: center;
}
form#login-form .form-control{
  border-radius: 0px;
  margin-bottom: 20px;
  padding: 30px;
}
form#login-form .form-control::-webkit-input-placeholder {color: #48476A;}
form#login-form .form-control::-moz-placeholder {color: #48476A;}
form#login-form .form-control:-ms-input-placeholder {color: #48476A;}
form#login-form .form-control:-moz-placeholder {color: #48476A;}
form#login-form a{
  color: #fff;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 45px;
  font-weight: bold;
}
form#login-form h3 {
  margin-top: 55px;
}
form#login-form h3 a{
  text-decoration: none;
  margin-bottom: 0px;
}
form#login-form .btn-default{
  background-color: #D1C8B3 !important;
  border-radius: 0px;
  padding: 20px 35px;
  font-size: 24px;
  text-transform: uppercase;
  color: #48476A;
}
.login-buttons a.active{
  border-bottom: 4px solid #15AAC8;
  position: relative;
}
.login-buttons a.active:after{
  position: absolute;
  content: " ";
  display: block;
  background-color: rgba(255, 255, 255, .1);
  height: 37px;
  width: 100%;
  right: 0px;
  bottom: -36px;
}
form#login-form h3 a{
  font-family: 'Quarto-Light';
  font-size: 24px;
}
form#login-form .social-login{
  margin-top: 15px;
}
form#login-form .social-login img{width:auto;}
form#login-form .social-login>div:first-child{
  text-align: right;
}
form#login-form .social-login>div:last-child{
text-align: left;
}

form#login-form.register{
  overflow-y: scroll;
  padding-bottom: 150px;
}
form#login-form.register .form-control{
  padding: 20px 30px;
}
form#login-form.register{}
form#login-form.register{
  text-align: left;
  color: #D2D9EB;
}
form#login-form.register h2{
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
form#login-form.register p{
  font-size: 14px;
  line-height: 18px;
}
form#login-form.register ol{
  margin: 0px;
  padding-left: 0px;
  font-size: 22px;
}
form#login-form.register li{
  border-bottom: 1px solid  #D2D9EB;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
form#login-form.register li input{
  text-align: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
form#login-form.register li:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}
form#login-form.register .input-group{
  display: inline-block;
  padding: 0 30px;
}
form#login-form.register label{margin-left: 15px;cursor: pointer;}
form#login-form.register .btn-default{
  padding: 10px 20px;
  font-size: 24px;
}

section#offer-results{
  padding-top: 0px;
}
section#offer-results{}
section#offer-results .single-gallery{
  position: relative;
}
section#offer-results .single-gallery .owl-controls{
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 100%;
}
section#offer-results .single-gallery .owl-controls .owl-prev{
  float: right;
}
section#offer-results .single-gallery .owl-controls .owl-next{
  float: left;
}
section#offer-results .offer-dec{
  /*padding: 0px;*/
}
section#offer-results .offer-dec h2{
  margin: 0px;
  font-size: 36px;
  margin-bottom: 40px;
}
section#offer-results p{
  font-family: "Open Sans";
}

/*--     End of changes    --*/
@media only screen and (max-width: 768px) {
  /*========== Bledi changes ===============*/
form#login-form .social-login>div:first-child,
form#login-form .social-login>div:last-child{text-align: center;}
form#login-form .social-login>div:first-child a,
form#login-form .social-login>div:last-child a{margin-bottom: 10px;}
form#login-form h3{margin-top: 25px;}
form#login-form .form-control{padding: 25px 15px;}
form#login-form .btn-default{padding: 10px;}
form#login-form>a{margin-bottom: 25px;}
form#login-form.register{padding-bottom: 25px;}
form#login-form.register .input-group{padding: 0 10px;}
form#login-form.register label{margin-left: 5px;}
/*============ end of changes ===========*/
}