	<div *ngIf="loader" style="position: fixed;width: 100%;height: 1000px;top:0;left:0; background-color:#000;opacity: 0.7;z-index: 999999"><img src="/assets/img/loading.gif" style="position: fixed;top: 25%;left: 40%; opacity:1;"></div>
	<div id="link-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12"  *ngFor="let single_link_bar of link_bar">
				<div class="dropdown">
					<button class="btn btn-nav dropdown-toggle" type="button" data-toggle="dropdown">
						<i class="fa {{single_link_bar.i_class}}" aria-hidden="true"></i>
						<span>{{single_link_bar.title}}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" *ngIf="single_link_bar?.list">
						<li *ngFor="let single_link_bar_list of single_link_bar.list">
							<a href="#">{{single_link_bar_list.name}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>