<app-inner-header-left [page_title]="'LAST MINUTE OFFERS'"></app-inner-header-left>
<div *ngIf="loader" class="loading-container"><img src="/assets/img/loading.gif" class="loading-image"></div>

<div id="search_form" >
		<div class="login-buttons">
			<p><i class="fa fa-phone" aria-hidden="true"></i><strong> 893.444.93</strong></p>
			<br>
			<a href="javascript:;" (click)="openRegister()" [ngClass]="registerOpen ? 'active' : ''">iscriviti</a>
			<a href="javascript:;" (click)="openLogin()" [ngClass]="loginOpen ? 'active' : ''" >login</a>
		</div>
		<form *ngIf="!loginOpen && !registerOpen" id="formsearchtravel" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" >
			<select name="destinazione">
				<option value="ALL">Seleziona la destinazione</option>
				<optgroup label="AFRICA">
					<option value="1">Africa del Sud</option>
				</optgroup>
				<optgroup label="AMERICA">
					<option value="SUBAmerica del Nord">America del Nord</option>
					<option value="2">&nbsp;&nbsp;&nbsp;-Alaska</option>
					<option value="3">&nbsp;&nbsp;&nbsp;-America del Nord</option>
					<option value="6">&nbsp;&nbsp;&nbsp;-Canada - Bermuda</option>

					<option value="SUBCentro - Sud America">Centro - Sud America</option>
					<option value="4">&nbsp;&nbsp;&nbsp;-America del sud</option>
					<option value="5">&nbsp;&nbsp;&nbsp;-Brasile</option>
					<option value="7">&nbsp;&nbsp;&nbsp;-Canale di Panama</option>
				</optgroup>
				<optgroup label="CARAIBI">
					<option value="8">Caraibi - Antille</option>
					<option value="9">Caraibi - Bahamas</option>
					<option value="10">Caraibi - Messico - Giamaica</option>
				</optgroup>
				<optgroup label="EUROPA">
					<option value="SUBEuropa del Nord">Europa del Nord</option>
					<option value="12">&nbsp;&nbsp;&nbsp;-Europa del Nord</option>
					<option value="13">&nbsp;&nbsp;&nbsp;-Fiordi e Scandinavia</option>
					<option value="17">&nbsp;&nbsp;&nbsp;-Mar Baltico</option>
					<option value="SUBMediterraneo">Mediterraneo</option>
					<option value="14">&nbsp;&nbsp;&nbsp;-Isole Baleari - Spagna - Francia</option>
					<option value="16">&nbsp;&nbsp;&nbsp;-Isole Greche - Grecia - Turchia</option>
					<option value="SUBAtlantico">Atlantico</option>
					<option value="15">&nbsp;&nbsp;&nbsp;-Isole Canarie</option>
					<option value="11">&nbsp;&nbsp;&nbsp;-Portogallo - Azzore</option>
				</optgroup>
				<optgroup label="GIRO DEL MONDO">
					<option value="19">Giro del Mondo</option>
				</optgroup>
				<optgroup label="MARI ORIENTALI">
					<option value="20">Asia</option>
					<option value="21">Medio Oriente - Emirati</option>
					<option value="22">Oceano Indiano</option>
				</optgroup>
				<optgroup label="PACIFICO">
					<option value="23">Australia / Nuova Zelanda</option>
					<option value="24">Canale di Panama</option>
					<option value="25">Galapagos</option>
					<option value="26">Hawai - Isole del Pacifico - Gappone</option>
					<option value="27">Riviera Messicana</option>
				</optgroup>
				<optgroup label="TRANSOCEANICHE">
					<option value="28">Transatlantico</option>
					<option value="29">Transpacifico</option>
				</optgroup>
			</select>

			<select name="month">
				<option value="ALL" > Seleziona il mese</option>
				<optgroup label="2016">
					<option value="11_2016">Novembre</option>
					<option value="12_2016">Dicembre</option>
				</optgroup>
				<optgroup label="2017">
					<option value="1_2017">Gennaio</option>
					<option value="2_2017">Febbraio</option>
					<option value="3_2017">Marzo</option>
					<option value="4_2017">Aprile</option>
					<option value="5_2017">Maggio</option>
					<option value="6_2017">Giugno</option>
					<option value="7_2017">Luglio </option>
					<option value="8_2017">Agosto</option>
					<option value="9_2017">Settembre</option>
					<option value="10_2017">Ottobre</option>
					<option value="11_2017">Novembre</option>
					<option value="12_2017">Dicembre</option>
				</optgroup>
			</select>

			<select name="company" >
				<option value="ALL" selected="selected"> Seleziona la Compagnia </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<select name="port">
				<option value="ALL"> Seleziona il PORTO </option>
				<option value="COSTA"> Costa </option>
				<option value="MSC"> Msc </option>
				<option value="NCL"> Norwegian Cruise Line </option>
				<option value="HAL"> Holland America </option>
				<option value="CCL"> Carnival </option>
				<option value="RCCL"> Royal Caribbean </option>
			</select>

			<!-- <button type="submit" id="SubmitSearch" class="btn btn-default">Cerca la tua crociera</button> -->
			<input value="Cerca la tua crociera" type="submit" id="SubmitSearch">
		</form>
		<form *ngIf="loginOpen" id="login-form" (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <input type="email" name="email" ngModel  class="form-control" placeholder="Username">
            <input type="password" name="password" ngModel  class="form-control" placeholder="Password">
            <a href="#">Hai dimenticato la password?</a>
            <button type="submit"  class="btn btn-default btn-block">Entra</button>
            <h3><a href="#">or registrati</a></h3>
            <div class="row social-login">
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/facebook-login.png" alt=""></a></div>
                <div class="col-sm-6"><a href="#"><img src="./../../../assets/img/gplus-login.png" alt=""></a></div>
            </div>
        </form>
        <form *ngIf="registerOpen" id="login-form" class="register" (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
            <input type="email" name="email" ngModel class="form-control" placeholder="Username">
            <input type="text" name="name" ngModel class="form-control" placeholder="Name">
            <input type="text" name="surname" ngModel class="form-control" placeholder="Cognome">
            <h2>Politica di Privacy</h2>
            <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
            <ol>
                <li>
                    <p>DigitlTrend Srl sh.p.k è titolare di Cruisetopic.net e crede fermamente nella protezione dei dati personali e ritiene sia fondamentale informare i suoi utenti in merito alle modalità di gestione dei dati personali. Per dati personali s’intendono tutte quelle informazioni che possono essere utilizzate per identificare un individuo, compresi ma non limitati a: nome, cognome, indirizzo di domicilio o altro indirizzo, indirizzo e-mail, altri recapiti. DigitlTrend Srl garantisce la massima riservatezza sui dati personali e il trattamento degli stessi nel rispetto della legge nr. 9887, data 10.03.2008, modificato con la legge nr. 48/2012 “ PER LA PROTEZIONE DEI DATI PERSONALI” e con la legge nr. 10 128, data 11.05.2009, “ PER IL COMMERCIO ELETTRONICO”.. Di seguito sono riportate le modalità di utilizzo e di condivisione delle informazioni che DigitlTrend Srl adotterà.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio1" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Invio di questionari di soddisfazione, attività di customer care ed attività di profilazione nominativa per sviluppare, fornire e migliorare i servizi e renderli più rispondenti alle esigenze dei clienti, nonché per inviare informazioni e offerte più mirate e di maggior interesse.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio2" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
                <li>
                    <p>Comunicare i suoi dati a società del gruppo di Cruisetopic.net, per l’invio, da parte di questi, di materiale informativo e/o pubblicitario sui propri prodotti e servizi.</p>
                    <div class="text-center">
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-1" value="1"><label >Si</label></div>
                        <div class="input-group"><input type="radio" name="radio3" ngModel id="radio1-2" value="2"><label >No</label></div>
                    </div>
                </li>
            </ol>
            <button class="btn btn-default btn-block">Iscriviti</button>
        </form>
</div>

<app-link-bar></app-link-bar>


<section id="animated">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="skin-img text-center">
			        <img src="../assets/img/shiritskin.png">
            		<h2 class="text-center skin-title2">DESTINATION  BY SURPRISE</h2>
            	</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">												
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"  viewBox="0 -233.311 1920 861.689" enable-background="new 0 -233.311 1920 861.689" xml:space="preserve">

				<path id="ship-path" fill="none" stroke="#DBDBDB" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12" d="
					M259.611,269.438c9.324,0.419,29.436,3.141,71.669,30.57c40.935,40.617,66.568,45.03,123.22,56.681
					c60.811,12.507,117.92,9.414,170-24c51.356-32.951,132.72-35.715,182.346,7.838c55.596,14.991,77.476,9.854,139.654,4.162
					c85.564-21.776,108.809-44.379,184.625-77.642c66.727-29.275,135.612-6.218,203.636-6.84
					c67.596-0.618,167.857-13.776,215.739-31.518"/>	

				<g id="full-image">
					<path 
						id="speranca" 
						style="fill:#15ABC8;stroke:none;fill-rule:nonzero" > 
							<animate attributeName="d"
					        attributeType="XML"	
					       	from="M247.25,554.423c-0.199-0.195-0.451-0.294-0.755-0.294h-11.542c-0.48,0-0.805,0.218-0.984,0.659
									c-0.176,0.414-0.098,0.798,0.23,1.146l3.278,3.282c-1.463,1.985-3.534,3.661-6.212,5.03c-2.678,1.365-5.645,2.268-8.902,2.704
									v-21.216h6.295c0.565,0,1.061-0.203,1.476-0.622c0.417-0.414,0.621-0.905,0.621-1.471v-4.199c0-0.571-0.203-1.061-0.621-1.48
									c-0.414-0.413-0.911-0.619-1.476-0.619h-6.295v-5.343c1.268-0.742,2.284-1.754,3.049-3.035c0.764-1.278,1.148-2.681,1.148-4.213
									c0-2.313-0.821-4.294-2.458-5.932c-1.641-1.638-3.619-2.458-5.938-2.458c-2.316,0-4.292,0.82-5.934,2.458
									c-1.638,1.638-2.458,3.619-2.458,5.932c0,1.533,0.384,2.935,1.148,4.213c0.764,1.281,1.783,2.293,3.048,3.035v5.343h-6.295
									c-0.567,0-1.061,0.206-1.473,0.619c-0.416,0.419-0.624,0.909-0.624,1.48v4.199c0,0.567,0.208,1.057,0.624,1.471
									c0.411,0.419,0.906,0.622,1.473,0.622h6.295v21.216c-3.254-0.436-6.222-1.339-8.901-2.704c-2.676-1.372-4.749-3.045-6.213-5.039
									l3.276-3.273c0.331-0.35,0.406-0.732,0.233-1.146c-0.177-0.442-0.504-0.659-0.984-0.659h-11.543c-0.302,0-0.556,0.098-0.753,0.294
									c-0.196,0.196-0.296,0.451-0.296,0.755v11.545c0,0.476,0.218,0.802,0.657,0.981c0.174,0.044,0.306,0.064,0.391,0.064
									c0.309,0,0.561-0.1,0.757-0.296l3.049-3.049c2.6,3.126,6.08,5.601,10.441,7.427c4.361,1.826,9.056,2.741,14.081,2.741
									c5.027,0,9.724-0.915,14.085-2.741c4.361-1.826,7.842-4.298,10.443-7.427l3.049,3.049c0.218,0.196,0.467,0.296,0.754,0.296
									c0.086,0,0.217-0.023,0.392-0.064c0.439-0.179,0.657-0.505,0.657-0.981v-11.545C247.544,554.874,247.446,554.619,247.25,554.423z
									 M219.641,526.225c-0.414,0.419-0.906,0.625-1.477,0.625c-0.565,0-1.06-0.206-1.476-0.625c-0.413-0.411-0.622-0.906-0.622-1.474
									c0-0.567,0.209-1.058,0.622-1.473c0.419-0.419,0.911-0.627,1.476-0.627c0.571,0,1.063,0.208,1.477,0.627
									c0.414,0.414,0.625,0.906,0.625,1.473C220.266,525.319,220.055,525.814,219.641,526.225z" 
							to="M247.192,287.318c-0.199-0.195-0.451-0.294-0.755-0.294h-11.542c-0.48,0-0.805,0.218-0.984,0.659
								c-0.176,0.414-0.098,0.798,0.23,1.146l3.278,3.282c-1.463,1.985-3.534,3.661-6.212,5.03c-2.678,1.364-5.645,2.268-8.902,2.704
								v-21.216h6.295c0.565,0,1.061-0.203,1.476-0.622c0.417-0.414,0.621-0.905,0.621-1.471v-4.199c0-0.571-0.203-1.061-0.621-1.48
								c-0.414-0.413-0.911-0.619-1.476-0.619h-6.295v-5.343c1.268-0.742,2.284-1.754,3.049-3.035c0.764-1.278,1.148-2.681,1.148-4.213
								c0-2.313-0.821-4.294-2.458-5.932c-1.641-1.638-3.619-2.458-5.938-2.458c-2.316,0-4.292,0.82-5.934,2.458
								c-1.638,1.638-2.458,3.619-2.458,5.932c0,1.533,0.384,2.935,1.148,4.213c0.764,1.281,1.783,2.293,3.048,3.035v5.343h-6.295
								c-0.567,0-1.061,0.206-1.473,0.619c-0.416,0.419-0.624,0.909-0.624,1.48v4.199c0,0.567,0.208,1.057,0.624,1.471
								c0.411,0.419,0.906,0.622,1.473,0.622h6.295v21.216c-3.254-0.436-6.222-1.339-8.901-2.704c-2.676-1.372-4.749-3.045-6.213-5.039
								l3.276-3.273c0.331-0.35,0.406-0.732,0.233-1.146c-0.177-0.442-0.504-0.659-0.984-0.659h-11.543c-0.302,0-0.556,0.098-0.753,0.294
								c-0.196,0.196-0.296,0.451-0.296,0.755v11.545c0,0.476,0.218,0.802,0.657,0.981c0.174,0.044,0.306,0.064,0.391,0.064
								c0.309,0,0.561-0.1,0.757-0.296l3.049-3.049c2.6,3.126,6.08,5.601,10.441,7.427c4.361,1.826,9.056,2.741,14.081,2.741
								c5.027,0,9.724-0.915,14.085-2.741c4.361-1.826,7.842-4.298,10.443-7.427l3.049,3.049c0.218,0.196,0.467,0.296,0.754,0.296
								c0.086,0,0.217-0.023,0.392-0.064c0.439-0.179,0.657-0.505,0.657-0.981v-11.545C247.486,287.769,247.388,287.514,247.192,287.318z
								 M219.583,259.12c-0.414,0.419-0.906,0.625-1.477,0.625c-0.565,0-1.06-0.206-1.476-0.625c-0.413-0.411-0.622-0.906-0.622-1.474
								c0-0.566,0.209-1.058,0.622-1.473c0.419-0.419,0.911-0.627,1.476-0.627c0.571,0,1.063,0.208,1.477,0.627
								c0.414,0.414,0.625,0.906,0.625,1.473C220.208,258.214,219.997,258.709,219.583,259.12z" 
					             fill="freeze"
					             dur="2s"
					             begin="0s"
					            />
					            <animate attributeName="d"
						        attributeType="XML"	
						       	to="M247.25,554.423c-0.199-0.195-0.451-0.294-0.755-0.294h-11.542c-0.48,0-0.805,0.218-0.984,0.659
										c-0.176,0.414-0.098,0.798,0.23,1.146l3.278,3.282c-1.463,1.985-3.534,3.661-6.212,5.03c-2.678,1.365-5.645,2.268-8.902,2.704
										v-21.216h6.295c0.565,0,1.061-0.203,1.476-0.622c0.417-0.414,0.621-0.905,0.621-1.471v-4.199c0-0.571-0.203-1.061-0.621-1.48
										c-0.414-0.413-0.911-0.619-1.476-0.619h-6.295v-5.343c1.268-0.742,2.284-1.754,3.049-3.035c0.764-1.278,1.148-2.681,1.148-4.213
										c0-2.313-0.821-4.294-2.458-5.932c-1.641-1.638-3.619-2.458-5.938-2.458c-2.316,0-4.292,0.82-5.934,2.458
										c-1.638,1.638-2.458,3.619-2.458,5.932c0,1.533,0.384,2.935,1.148,4.213c0.764,1.281,1.783,2.293,3.048,3.035v5.343h-6.295
										c-0.567,0-1.061,0.206-1.473,0.619c-0.416,0.419-0.624,0.909-0.624,1.48v4.199c0,0.567,0.208,1.057,0.624,1.471
										c0.411,0.419,0.906,0.622,1.473,0.622h6.295v21.216c-3.254-0.436-6.222-1.339-8.901-2.704c-2.676-1.372-4.749-3.045-6.213-5.039
										l3.276-3.273c0.331-0.35,0.406-0.732,0.233-1.146c-0.177-0.442-0.504-0.659-0.984-0.659h-11.543c-0.302,0-0.556,0.098-0.753,0.294
										c-0.196,0.196-0.296,0.451-0.296,0.755v11.545c0,0.476,0.218,0.802,0.657,0.981c0.174,0.044,0.306,0.064,0.391,0.064
										c0.309,0,0.561-0.1,0.757-0.296l3.049-3.049c2.6,3.126,6.08,5.601,10.441,7.427c4.361,1.826,9.056,2.741,14.081,2.741
										c5.027,0,9.724-0.915,14.085-2.741c4.361-1.826,7.842-4.298,10.443-7.427l3.049,3.049c0.218,0.196,0.467,0.296,0.754,0.296
										c0.086,0,0.217-0.023,0.392-0.064c0.439-0.179,0.657-0.505,0.657-0.981v-11.545C247.544,554.874,247.446,554.619,247.25,554.423z
										 M219.641,526.225c-0.414,0.419-0.906,0.625-1.477,0.625c-0.565,0-1.06-0.206-1.476-0.625c-0.413-0.411-0.622-0.906-0.622-1.474
										c0-0.567,0.209-1.058,0.622-1.473c0.419-0.419,0.911-0.627,1.476-0.627c0.571,0,1.063,0.208,1.477,0.627
										c0.414,0.414,0.625,0.906,0.625,1.473C220.266,525.319,220.055,525.814,219.641,526.225z" 
								from="M247.192,287.318c-0.199-0.195-0.451-0.294-0.755-0.294h-11.542c-0.48,0-0.805,0.218-0.984,0.659
									c-0.176,0.414-0.098,0.798,0.23,1.146l3.278,3.282c-1.463,1.985-3.534,3.661-6.212,5.03c-2.678,1.364-5.645,2.268-8.902,2.704
									v-21.216h6.295c0.565,0,1.061-0.203,1.476-0.622c0.417-0.414,0.621-0.905,0.621-1.471v-4.199c0-0.571-0.203-1.061-0.621-1.48
									c-0.414-0.413-0.911-0.619-1.476-0.619h-6.295v-5.343c1.268-0.742,2.284-1.754,3.049-3.035c0.764-1.278,1.148-2.681,1.148-4.213
									c0-2.313-0.821-4.294-2.458-5.932c-1.641-1.638-3.619-2.458-5.938-2.458c-2.316,0-4.292,0.82-5.934,2.458
									c-1.638,1.638-2.458,3.619-2.458,5.932c0,1.533,0.384,2.935,1.148,4.213c0.764,1.281,1.783,2.293,3.048,3.035v5.343h-6.295
									c-0.567,0-1.061,0.206-1.473,0.619c-0.416,0.419-0.624,0.909-0.624,1.48v4.199c0,0.567,0.208,1.057,0.624,1.471
									c0.411,0.419,0.906,0.622,1.473,0.622h6.295v21.216c-3.254-0.436-6.222-1.339-8.901-2.704c-2.676-1.372-4.749-3.045-6.213-5.039
									l3.276-3.273c0.331-0.35,0.406-0.732,0.233-1.146c-0.177-0.442-0.504-0.659-0.984-0.659h-11.543c-0.302,0-0.556,0.098-0.753,0.294
									c-0.196,0.196-0.296,0.451-0.296,0.755v11.545c0,0.476,0.218,0.802,0.657,0.981c0.174,0.044,0.306,0.064,0.391,0.064
									c0.309,0,0.561-0.1,0.757-0.296l3.049-3.049c2.6,3.126,6.08,5.601,10.441,7.427c4.361,1.826,9.056,2.741,14.081,2.741
									c5.027,0,9.724-0.915,14.085-2.741c4.361-1.826,7.842-4.298,10.443-7.427l3.049,3.049c0.218,0.196,0.467,0.296,0.754,0.296
									c0.086,0,0.217-0.023,0.392-0.064c0.439-0.179,0.657-0.505,0.657-0.981v-11.545C247.486,287.769,247.388,287.514,247.192,287.318z
									 M219.583,259.12c-0.414,0.419-0.906,0.625-1.477,0.625c-0.565,0-1.06-0.206-1.476-0.625c-0.413-0.411-0.622-0.906-0.622-1.474
									c0-0.566,0.209-1.058,0.622-1.473c0.419-0.419,0.911-0.627,1.476-0.627c0.571,0,1.063,0.208,1.477,0.627
									c0.414,0.414,0.625,0.906,0.625,1.473C220.208,258.214,219.997,258.709,219.583,259.12z" 
						             fill="freeze"
						             dur="2s"
						             begin="6s"
						            />			
					</path>

					<line id="speranca-path" fill="none" stroke="#15ABC8" stroke-width="2" stroke-miterlimit="10" x1="219" y1="248.892" x2="219" y2="516.892">
						<animate 
							attributeName="y2" 
					        from="516.892" 
					        to="248.892" 
					        dur="2s" 
					        fill="freeze"
					        begin="0s"
						
					        />
					        <animate 
							attributeName="y2" 
					        from="248.892" 
					        to="516.892" 
					        dur="2s" 
					        fill="freeze"
					        begin="6s"
						
					        />
					</line>

					<g id="ship">
						<path fill="#15ABC8" d="M337.115,215.705c-0.717-2.033-2.512-3.351-4.664-3.351h-49.275l-8.374-19.853
							c-0.717-1.793-2.509-2.988-4.544-2.988h-8.014l-8.254-19.855c-0.717-1.793-2.512-2.992-4.544-2.992h-21.648l-9.927,0.12H185.22
							v-48.319c0-2.752-2.154-4.904-4.906-4.904h-28.108c-2.749,0-4.901,2.152-4.901,4.904v48.319h-9.208v-48.319
							c0-2.752-2.155-4.904-4.907-4.904h-28.104c-2.751,0-4.904,2.152-4.904,4.904v48.319H70.04c-2.272,0-4.306,1.555-4.783,3.828
							l-4.307,19.017h-2.512c-2.272,0-4.304,1.555-4.783,3.827l-4.307,19.017H26.982c-1.675,0-3.109,0.837-4.068,2.152
							c-0.954,1.316-1.073,3.111-0.476,4.547l20.452,51.19c0.717,1.913,2.512,3.109,4.544,3.109h218.516c1.078,0,2.154-0.359,2.99-1.076
							l66.5-51.191C337.115,219.892,337.832,217.738,337.115,215.705z M157.111,123.37h18.18v5.62h-18.18V123.37z M157.111,138.799h18.18
							v27.63h-18.18V138.799z M109.989,123.37h18.178v5.62h-18.178V123.37z M109.989,138.799h18.178v27.63h-18.178V138.799z
							 M73.985,176.593h172.111l5.382,12.798H71.117L73.985,176.593z M62.384,199.441h204.764l5.382,12.794H59.515L62.384,199.441z
							 M288.317,245.248h-53.942c-2.751,0-4.904,2.272-4.904,4.904c0,2.749,2.272,4.903,4.904,4.903h41.027l-11.006,8.49H50.784
							l-10.766-26.791h259.064L288.317,245.248z M312,226.947c-0.122,0-0.24,0-0.359,0H36.072l-1.913-4.664h283.819L312,226.947z"/>
						<path fill="#15ABC8" d="M93.119,178.747c-2.375,0-4.301,1.927-4.301,4.306c0,2.38,1.927,4.306,4.301,4.306
							c2.383,0,4.31-1.925,4.31-4.306C97.429,180.673,95.503,178.747,93.119,178.747z"/>
						<circle fill="#15ABC8" cx="114.651" cy="183.052" r="4.306"/>
						<path fill="#15ABC8" d="M136.181,178.747c-2.378,0-4.307,1.927-4.307,4.306c0,2.38,1.93,4.306,4.307,4.306
							c2.376,0,4.304-1.925,4.304-4.306C140.485,180.673,138.557,178.747,136.181,178.747z"/>
						<circle fill="#15ABC8" cx="157.83" cy="183.052" r="4.306"/>
						<circle fill="#15ABC8" cx="179.359" cy="183.052" r="4.306"/>
						<circle fill="#15ABC8" cx="200.886" cy="183.052" r="4.306"/>
						<circle fill="#15ABC8" cx="222.415" cy="183.052" r="4.306"/>
						<circle fill="#15ABC8" cx="93.839" cy="205.418" r="4.305"/>
						<path fill="#15ABC8" d="M70.878,201.113c-2.38,0-4.308,1.927-4.308,4.306c0,2.378,1.928,4.304,4.308,4.304
							c2.376,0,4.306-1.927,4.306-4.304C75.184,203.04,73.254,201.113,70.878,201.113z"/>
						<path fill="#15ABC8" d="M116.923,201.113c-2.378,0-4.304,1.927-4.304,4.306c0,2.378,1.927,4.304,4.304,4.304
							c2.38,0,4.304-1.927,4.304-4.304C121.228,203.04,119.304,201.113,116.923,201.113z"/>
						<path fill="#15ABC8" d="M140.007,201.113c-2.377,0-4.304,1.927-4.304,4.306c0,2.378,1.927,4.304,4.304,4.304
							c2.38,0,4.307-1.927,4.307-4.304C144.315,203.04,142.388,201.113,140.007,201.113z"/>
						<circle fill="#15ABC8" cx="163.093" cy="205.418" r="4.305"/>
						<circle fill="#15ABC8" cx="186.174" cy="205.418" r="4.305"/>
						<circle fill="#15ABC8" cx="209.139" cy="205.418" r="4.305"/>
						<circle fill="#15ABC8" cx="232.224" cy="205.418" r="4.305"/>
						<path fill="#15ABC8" d="M255.307,201.113c-2.378,0-4.307,1.927-4.307,4.306c0,2.378,1.93,4.304,4.307,4.304
							c2.375,0,4.304-1.927,4.304-4.304C259.612,203.04,257.682,201.113,255.307,201.113z"/>
						<path fill="#15ABC8" d="M218.108,255.055c1.318,0,2.632-0.48,3.47-1.436c0.957-0.955,1.435-2.154,1.435-3.467
							c0-1.318-0.477-2.632-1.435-3.471c-0.956-0.956-2.152-1.433-3.47-1.433c-1.315,0-2.629,0.477-3.467,1.433
							c-0.956,0.957-1.435,2.154-1.435,3.471c0,1.313,0.479,2.631,1.435,3.467C215.598,254.575,216.793,255.055,218.108,255.055z"/>
					</g>

					<path id="rejamadhe" fill="#ffffff" 
						d="M77.695,100.405c0,2.752,2.272,4.904,4.904,4.904h81.689c2.751,0,4.903-2.272,4.903-4.904
						c0-6.217-5.024-11.24-11.242-11.24c-0.48,0-0.956,0-1.436,0.119c-2.629-4.065-7.176-6.578-12.198-6.578
						c-1.438,0-2.872,0.239-4.186,0.597c-3.114-2.871-7.298-4.666-11.602-4.904c-3.947-7.892-12.081-12.917-21.171-12.917
						c-13.037,0-23.683,10.643-23.683,23.683c0,0.477,0,0.837,0,1.313C80.207,92.154,77.695,95.979,77.695,100.405z M107.475,75.289
						c6.102,0,11.363,3.828,13.158,9.689c0.717,2.394,3.109,3.828,5.5,3.468c3.351-0.477,6.818,0.959,8.733,3.708
						c0.717,1.076,1.912,1.793,3.23,2.034c1.318,0.239,2.629-0.12,3.707-0.839c0.717-0.597,1.675-0.834,2.631-0.834
						c1.913,0,3.588,1.194,4.307,2.868H94.32c0.237-0.837,0.237-1.793,0-2.631c-0.362-1.196-0.48-2.509-0.48-3.707
						C93.719,81.508,99.941,75.289,107.475,75.289z">
						<animate 
								attributeName="fill" 
						        from="#ffffff" 
						        to="#15ABC8" 
						        dur="2s" 
						        begin="2s" 
						        repeatCount="indefinite"
						        />
						<animate 
							attributeName="fill" 
					        from="#15ABC8" 
					        to="#ffffff" 
					        dur="2s" 
					        begin="4s" 
					        repeatCount="indefinite"
					        />
					</path>
					<path id="rejavogel" fill="#ffffff" d="M65.497,105.309c1.909,0,3.705-1.195,4.543-2.988l7.298-16.506
						c0.594-1.315,0.594-2.752,0-4.068c-0.6-1.315-1.678-2.272-3.109-2.629c-1.438-0.48-2.992-0.719-4.429-0.837
						c-3.945-7.774-12.076-12.917-21.168-12.917c-13.04,0-23.684,10.643-23.684,23.681c0,0.479,0,0.837,0,1.316
						c-3.707,1.793-6.219,5.619-6.219,10.044c0,2.752,2.275,4.904,4.904,4.904H65.497z M48.632,75.289c6.096,0,11.362,3.828,13.154,9.689
						c0.599,1.675,1.915,2.991,3.59,3.35l-3.109,7.175H35.473c0.24-0.836,0.24-1.793,0-2.631c-0.357-1.194-0.479-2.511-0.479-3.707
						C34.876,81.508,41.098,75.289,48.632,75.289z">
						<animate 
							attributeName="fill" 
					        from="#ffffff" 
					        to="#15ABC8" 
					        dur="3s" 
					        begin="2s" 					  
					        repeatCount="indefinite"
					        />
					    <animate 
							attributeName="fill" 
					        from="#15ABC8" 
					        to="#ffffff" 
					        dur="2s" 
					        begin="5s" 
					        repeatCount="indefinite"
					        />

					</path>
				</g>

				 <animateMotion 
				           xlink:href="#full-image"
				           dur="3s"
				           begin="3s"
				           fill="freeze"
				           path="M259.611,1.803c9.324,0.419,29.436,3.141,71.669,30.57c40.935,40.617,66.568,45.03,123.22,56.681c60.811,12.507,117.92,9.414,170-24
							c51.356-32.951,132.72-35.715,182.346,7.838c55.596,14.991,77.476,9.854,139.654,4.162c85.564-21.776,108.809-44.379,184.625-77.642
							c66.727-29.275,135.612-6.218,203.636-6.84c67.596-0.618,167.857-13.776,215.739-31.518"
				           />
				</svg>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="last-offer">
					<img src="../assets/img/blu-vertical.png">
					<p>Click the ship to find a surprise destination. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod. Lorem ipsum dolor       </p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="related-offers">
	<div class="container">		
		<div class="row add-margin-bottom-30">
			<div class="col-md-4"  *ngFor="let offer_single of offerBlock">				
				<div class="single-related">
					<div class="image-container">
						<img src="{{offer_single.background}}">
					</div>
					<a href="">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png">
							<p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>	
					</a>						
				</div>						
			</div>
		</div>
		<div class="row add-margin-bottom-30">
			<div class="col-md-4"  *ngFor="let offer_single of offerBlock">				
				<div class="single-related">
					<div class="image-container">
						<img src="{{offer_single.background}}">
					</div>
					<a href="">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png">
							<p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>	
					</a>						
				</div>						
			</div>
		</div>
	</div>
</section>


<section class="categorised-offers">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="category-title">COMPAGNIA</h3>
				<img class="category-img" src="../assets/img/kompani/bb2.png">
				<div class="list single-related">
					<a href=""   *ngFor="let offer_single of offerBlock">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png"><p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="category-title">DESTINATION</h3>
				<img class="category-img" src="../assets/img/kompani/bb1.png">
				<div class="list single-related">
					<a href=""   *ngFor="let offer_single of offerBlock">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png"><p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="category-title">PORTO</h3>
				<img class="category-img" src="../assets/img/kompani/bb3.png">
				<div class="list single-related">
					<a href=""   *ngFor="let offer_single of offerBlock">
						<div class="content-id">
							<h4>{{offer_single.title}}</h4>
							<img class="icon" src="../assets/img/icons/speranc.png"><p>{{offer_single.description}}</p>
							<img class="company" src="{{offer_single.company_img}}">
							<h5>{{offer_single.price}} €</h5>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>	
</section>
