<app-inner-header-center [page_title]="'add REVIEW'"></app-inner-header-center>

<!-- Add Reviews 1 Tao -->
<section class="add-reviews1">
      <div class="container">
            <div class="row">

                   <div class="col-md-12 col-sm-12 col-xs-12 skin-img">
                       <!--  <img src="img/shirit.png"> -->
                        <img src="../assets/img/shiritskin.png">
                        <h2>INFORMAZIONI DI BASE</h2>  
                   </div>
                   <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="row">
                               <div class="col-md-12 col-sm-12 col-xs-12">
                                     <h4>INFORMAZIONI DI BASE</h4>
                               </div>
                               <div class="col-md-12 col-sm-12 col-xs-12">
                                     <div class="row">

                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Con quale compagnia hai viaggiato ?</label>
                                                <select class="select-costum margin-bottom">
                                                       <option>Scegli la compagnia</option>
                                                       <option value="#">Carnival</option>
                                                       <option value="#">Celebrity Cruises</option>
                                                       <option value="#">Celestyal Cruises</option>
                                                       <option value="#">Compagnie du Ponant</option>
                                                       <option value="#">Costa Crociere</option>
                                                       <option value="#">Croise Europe</option>
                                                       <option value="#">Crucieros Australis</option>
                                                       <option value="#">Cunard</option>
                                                       <option value="#">Disney Cuise Line</option>
                                                       <option value="#">Holland America</option>
                                                       <option value="#">Hurigruten</option>
                                                       <option value="#">Msc</option>
                                                       <option value="#">Norwegian Cruise Line</option>
                                                       <option value="#">Princess Cruises</option>
                                                       <option value="#">Pullmantur</option>
                                                       <option value="#">Reagent Seven Seas Cruises</option>
                                                       <option value="#">Royal Caribbean</option>
                                                       <option value="#">Seaburn</option>
                                                       <option value="#">Star Clipper</option>
                                                </select>
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Porto d’imbarco</label>
                                                <select class="select-costum margin-bottom">
                                                       <option>Scegli il porto</option>
                                                       <option value="#">A CORUNA</option>
                                                       <option value="#">AALBORG</option>
                                                       <option value="#">AARHUS</option>
                                                       <option value="#">ABU DHABI</option>
                                                       <option value="#">ACAJUTLA - EL SALVADOR</option>
                                                       <option value="#">ACAPULCO</option>
                                                       <option value="#">ADELAIDE</option>
                                                       <option value="#">AGADIR</option>
                                                       <option value="#">AIRLIE BEACH</option>
                                                       <option value="#">AJACCIO</option>
                                                       <option value="#">AKAROA</option>
                                                       <option value="#">AKITA</option>
                                                       <option value="#">AKUREYRI</option>
                                                       <option value="#">AL AIN</option>
                                                       <option value="#">AL FUJAIRAH</option>
                                                       <option value="#">AL MANAMAH</option>
                                                       <option value="#">ALANYA</option>
                                                       <option value="#">ALASKA INSIDE PASSAGE</option>
                                                       <option value="#">ALBANY</option>
                                                </select>
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Su quale nave ?</label>
                                                <select class="select-costum margin-bottom">
                                                      <option>Choose a ship</option>
                                                      <optgroup label="Carnival">
                                                            <option value="#">Carnival Breeze</option>
                                                            <option value="#">Carnival Breeze</option>
                                                            <option value="#">Carnival Breeze</option>
                                                            <option value="#">Carnival Breeze</option>
                                                            <option value="#">Carnival Breeze</option>
                                                            <option value="#">Carnival Breeze</option>
                                                      </optgroup>
                                                      <optgroup label="Celebrity Cruises">
                                                            <option value="#">Celebrity Reflection</option>
                                                            <option value="#">Celebrity Reflection</option>
                                                            <option value="#">Celebrity Reflection</option>
                                                            <option value="#">Celebrity Reflection</option>
                                                            <option value="#">Celebrity Reflection</option>
                                                            <option value="#">Celebrity Reflection</option>
                                                      </optgroup>
                                                      <optgroup label="Celestyal Cruises">
                                                            <option value="#">Celestyal Cristal</option>
                                                            <option value="#">Celestyal Cristal</option>
                                                            <option value="#">Celestyal Cristal</option>
                                                            <option value="#">Celestyal Cristal</option>
                                                            <option value="#">Celestyal Cristal</option>
                                                            <option value="#">Celestyal Cristal</option>
                                                      </optgroup>
                                                      <optgroup label="Compagnie du Ponant">
                                                            <option value="#">L'Austral</option>
                                                            <option value="#">L'Austral</option>
                                                            <option value="#">L'Austral</option>
                                                            <option value="#">L'Austral</option>
                                                            <option value="#">L'Austral</option>
                                                            <option value="#">L'Austral</option>
                                                      </optgroup>
                                                </select>
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Dove sei andato ?</label>
                                                <select class="select-costum margin-bottom">
                                                       <option>Choose a destination</option>
                                                       <option value="#">Alaska</option>
                                                       <option value="#">Amazon River</option>
                                                       <option value="#">Antarctica</option>
                                                       <option value="#">Asia</option>
                                                       <option value="#">Asia River</option>
                                                       <option value="#">Australia</option>
                                                </select>
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Quanti giorni è durata la tua crociera?</label>
                                                <input class="input-costum margin-bottom" type="text" name="nights" data-filename="Quanti giorni è durata la tua crociera">
                                          </div>
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                                <label>Quando sei partito?</label>
                                                <input class="input-costum margin-bottom" type="date" name="date" data-filename="Quando sei partito?" placeholder="mm/dd/yyyy">
                                          </div>

                                     </div>
                               </div>
                         </div>
                   </div>

            </div>
      </div>
</section>
<!-- End Add Reviews 1 Tao -->


<!-- Add Reviews 2 Tao -->
<section class="add-reviews2">
      <div class="container">
            <div class="row">

                 <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>LA TUA RECENSIONE</h4>
                 </div>
                 <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom ">
                                  <label>Titolo della tua recensione</label>
                                  <input class="input-costum" type="text" name="" >
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div>
                                          <label>Dai un voto generale alla tua crociera</label>
                                    </div>
                                   <!-- Per Star Rating -->
                                   <div class="stars-comm stars0">
                                         <input class="star star5" id="star0-5" type="radio" value="5" name="cruise-raiting">
                                         <label class="star star5" for="star0-5"></label>
                                         <input class="star star4" id="star0-4" type="radio" value="5" name="cruise-raiting">
                                         <label class="star star4" for="star0-4"></label>
                                         <input class="star star3" id="star0-3" type="radio" value="5" name="cruise-raiting">
                                         <label class="star star3" for="star0-3"></label>
                                         <input class="star star2" id="star0-2" type="radio" value="5" name="cruise-raiting">
                                         <label class="star star2" for="star0-2"></label>
                                         <input class="star star1" id="star0-1" type="radio" value="5" name="cruise-raiting">
                                         <label class="star star1" for="star0-1"></label>
                                   </div>
                            </div>  
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                  <label>Scrivi qui la tua recensione</label>
                                  <textarea name="text" rows="5" placeholder="Message"></textarea>
                            </div>  
                        </div>
                 </div>

            </div>
      </div>
</section>
<!-- End Add Reviews 2 Tao -->


<!-- Add Reviews 3 Tao -->
<section class="add-reviews3">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>VALUTA LA TUA CROCIERA NEL DETTAGLIO</h4>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>Clicca sulle stelle per selezionarle</label>
                        <div class="row">
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Cabina</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star1-5" type="radio" value="5"
                                                name="cabin">
                                                      <label class="star star-5" for="star1-5"></label>
                                                      <input class="star star-4" id="star1-4" type="radio" value="4"
                                                name="cabin">
                                                      <label class="star star-4" for="star1-4"></label>
                                                      <input class="star star-3" id="star1-3" type="radio" value="3"
                                                name="cabin">
                                                      <label class="star star-3" for="star1-3"></label>
                                                      <input class="star star-2" id="star1-2" type="radio" value="2"
                                                name="cabin">
                                                      <label class="star star-2" for="star1-2"></label>
                                                      <input class="star star-1" id="star1-1" type="radio" value="1"
                                                name="cabin">
                                                      <label class="star star-1" for="star1-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Fitness e attività organizzate</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star2-5" type="radio" value="5"
                                                name="fitness">
                                                      <label class="star star-5" for="star2-5"></label>
                                                      <input class="star star-4" id="star2-4" type="radio" value="4"
                                                name="fitness">
                                                      <label class="star star-4" for="star2-4"></label>
                                                      <input class="star star-3" id="star2-3" type="radio" value="3"
                                                name="fitness">
                                                      <label class="star star-3" for="star2-3"></label>
                                                      <input class="star star-2" id="star2-2" type="radio" value="2"
                                                name="fitness">
                                                      <label class="star star-2" for="star2-2"></label>
                                                      <input class="star star-1" id="star2-1" type="radio" value="1"
                                                name="fitness">
                                                      <label class="star star-1" for="star1-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Cucina</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star3-5" type="radio" value="5"
                                                name="cucina">
                                                      <label class="star star-5" for="star3-5"></label>
                                                      <input class="star star-4" id="star3-4" type="radio" value="4"
                                                name="cucina">
                                                      <label class="star star-4" for="star3-4"></label>
                                                      <input class="star star-3" id="star3-3" type="radio" value="3"
                                                name="cucina">
                                                      <label class="star star-3" for="star3-3"></label>
                                                      <input class="star star-2" id="star3-2" type="radio" value="2"
                                                name="cucin">
                                                      <label class="star star-2" for="star3-2"></label>
                                                      <input class="star star-1" id="star3-1" type="radio" value="1"
                                                name="cucina">
                                                      <label class="star star-1" for="star3-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Aree pubbliche</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star4-5" type="radio" value="5"
                                                name="aree-pubbliche">
                                                      <label class="star star-5" for="star4-5"></label>
                                                      <input class="star star-4" id="star4-4" type="radio" value="4"
                                                name="aree-pubbliche">
                                                      <label class="star star-4" for="star4-4"></label>
                                                      <input class="star star-3" id="star4-3" type="radio" value="3"
                                                name="aree-pubbliche">
                                                      <label class="star star-3" for="star4-3"></label>
                                                      <input class="star star-2" id="star4-2" type="radio" value="2"
                                                name="aree-pubbliche">
                                                      <label class="star star-2" for="star4-2"></label>
                                                      <input class="star star-1" id="star4-1" type="radio" value="1"
                                                name="aree-pubbliche">
                                                      <label class="star star-1" for="star4-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Scegli il porto</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star5-5" type="radio" value="5"
                                                name="scegli-porto">
                                                      <label class="star star-5" for="star5-5"></label>
                                                      <input class="star star-4" id="star5-4" type="radio" value="4"
                                                name="scegli-porto">
                                                      <label class="star star-4" for="star5-4"></label>
                                                      <input class="star star-3" id="star5-3" type="radio" value="3"
                                                name="scegli-porto">
                                                      <label class="star star-3" for="star5-3"></label>
                                                      <input class="star star-2" id="star5-2" type="radio" value="2"
                                                name="scegli-porto">
                                                      <label class="star star-2" for="star5-2"></label>
                                                      <input class="star star-1" id="star5-1" type="radio" value="1"
                                                name="scegli-porto">
                                                      <label class="star star-1" for="star5-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Servizio</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star6-5" type="radio" value="5"
                                                name="servizio">
                                                      <label class="star star-5" for="star6-5"></label>
                                                      <input class="star star-4" id="star6-4" type="radio" value="4"
                                                name="servizio">
                                                      <label class="star star-4" for="star6-4"></label>
                                                      <input class="star star-3" id="star6-3" type="radio" value="3"
                                                name="servizio">
                                                      <label class="star star-3" for="star6-3"></label>
                                                      <input class="star star-2" id="star6-2" type="radio" value="2"
                                                name="servizio">
                                                      <label class="star star-2" for="star6-2"></label>
                                                      <input class="star star-1" id="star6-1" type="radio" value="1"
                                                name="servizio">
                                                      <label class="star star-1" for="star6-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Pulizia e servizio</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star7-5" type="radio" value="5"
                                                name="pulizia">
                                                      <label class="star star-5" for="star7-5"></label>
                                                      <input class="star star-4" id="star7-4" type="radio" value="4"
                                                name="pulizia">
                                                      <label class="star star-4" for="star7-4"></label>
                                                      <input class="star star-3" id="star7-3" type="radio" value="3"
                                                name="pulizia">
                                                      <label class="star star-3" for="star7-3"></label>
                                                      <input class="star star-2" id="star7-2" type="radio" value="2"
                                                name="pulizia">
                                                      <label class="star star-2" for="star7-2"></label>
                                                      <input class="star star-1" id="star7-1" type="radio" value="1"
                                                name="pulizia">
                                                      <label class="star star-1" for="star7-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Rapporto qualità prezzo</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star8-5" type="radio" value="5"
                                                name="qualita">
                                                      <label class="star star-5" for="star8-5"></label>
                                                      <input class="star star-4" id="star8-4" type="radio" value="4"
                                                name="qualita">
                                                      <label class="star star-4" for="star8-4"></label>
                                                      <input class="star star-3" id="star8-3" type="radio" value="3"
                                                name="qualita">
                                                      <label class="star star-3" for="star8-3"></label>
                                                      <input class="star star-2" id="star8-2" type="radio" value="2"
                                                name="qualita">
                                                      <label class="star star-2" for="star8-2"></label>
                                                      <input class="star star-1" id="star8-1" type="radio" value="1"
                                                name="qualita">
                                                      <label class="star star-1" for="star8-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 padding-class margin-top">
                                  <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                              <label class="font-size">Divertimento - attrazioni</label>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="stars-comm1 stars1">
                                                      <input class="star star-5" id="star9-5" type="radio" value="5"
                                                name="divertimento">
                                                      <label class="star star-5" for="star9-5"></label>
                                                      <input class="star star-4" id="star9-4" type="radio" value="4"
                                                name="divertimento">
                                                      <label class="star star-4" for="star9-4"></label>
                                                      <input class="star star-3" id="star9-3" type="radio" value="3"
                                                name="divertimento">
                                                      <label class="star star-3" for="star9-3"></label>
                                                      <input class="star star-2" id="star9-2" type="radio" value="2"
                                                name="divertimento">
                                                      <label class="star star-2" for="star9-2"></label>
                                                      <input class="star star-1" id="star9-1" type="radio" value="1"
                                                name="divertimento">
                                                      <label class="star star-1" for="star9-1"></label>
                                                </div> 
                                        </div>
                                  </div>
                              </div>
                        </div>
                  </div>   
            </div>
      </div>
</section>
<!-- End Add Reviews 3 Tao -->


<!-- Add Reviews 4 Tao -->
<section class="add-reviews4">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>RECENSIONE DELLA CABINA (OPTIONAL)</h4>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                  <label>N° Cabina:</label>
                                  <input class="input-costum margin-bottom " type="text" name="" >
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label>Categoria Cabina:</label>
                                   <input class="input-costum margin-bottom " type="text" name="" >
                            </div>  
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                  <label>Scrivi la tua recensione sulla cabina:</label>
                                  <textarea name="text" rows="5" placeholder="Scrivi qui ..."></textarea>
                            </div>  
                        </div>
                  </div>   
            </div>
      </div>
</section>
<!-- End Add Reviews 4 Tao -->


<!-- Add Reviews 5 Tao -->
<section class="add-reviews5">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h4>E’ STATA LA TUA PRIMA CROCIERA?</h4>
                                          </div>
                                          <div class="col-md-12 col-sm-12 col-xs-12 padding-class">
                                                <div class="row">
                                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <input id="yes1" type="radio" name="prima-crociera" value="1">
                                                            <label for="yes1" class="font-size">Si</label>
                                                      </div>
                                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <input id="no1" type="radio" name="prima-crociera" value="2">
                                                            <label for="no1" class="font-size">No</label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                          <div class="col-md-12 col-sm-12 col-xs-12">
                                                <h4>HAI VIAGGIATO CON BAMBINI?</h4>
                                          </div>
                                          <div class="col-md-12 col-sm-12 col-xs-12 padding-class">
                                                <div class="row">
                                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <input id="yes2" type="radio" name="bambin" value="1">
                                                            <label for="yes2" class="font-size">Si</label>
                                                      </div>
                                                      <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <input id="no2" type="radio" name="bambin" value="2">
                                                            <label for="no2" class="font-size">No</label>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>   
                  </div>    
            </div>
      </div>
</section>
<!-- End Add Reviews 5 Tao -->


<!-- Add Reviews 6 Tao -->
<section class="add-reviews6">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4>QUALI CATEGORIE PENSI SIANO ADATTE A DESCRIVERE LA TUA CROCIERA?</h4>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 padding-class">
                        <div class="row">
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check1" type="checkbox" name="checkbox">
                                    <label for="check1" class="font-size">Crociera per famiglie</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check2" type="checkbox" name="checkbox">
                                    <label for="check2" class="font-size">Crociera per il fitness</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check3" type="checkbox" name="checkbox">
                                    <label for="check3" class="font-size">Crociera di lusso</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check4" type="checkbox" name="checkbox">
                                    <label for="check4" class="font-size">Crociera a tema</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check5" type="checkbox" name="checkbox">
                                    <label for="check5" class="font-size">Crociera romantica</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check6" type="checkbox" name="checkbox">
                                    <label for="check6" class="font-size">Crociera per anziani</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check7" type="checkbox" name="checkbox">
                                    <label for="check7" class="font-size">Crociera per single</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check8" type="checkbox" name="checkbox">
                                    <label for="check8" class="font-size">Crociera per Viaggi di nozze</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check9" type="checkbox" name="checkbox">
                                    <label for="check9" class="font-size">Crociera per giovani</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check10" type="checkbox" name="checkbox">
                                    <label for="check10" class="font-size">Crociera per gay</label>
                              </div>
                              <div class="col-md-2 col-sm-3 col-xs-12 margin-top">
                                    <input id="check11" type="checkbox" name="checkbox">
                                    <label for="check11" class="font-size">Crociera Culturale</label>
                              </div>
                        </div> 
                  </div>
            </div>       
      </div>
</section>
<!-- End Add Reviews 6 Tao -->


<!-- Add Reviews 7 Tao -->
<section class="add-reviews7">
      <div class="container">
            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="row">
                             <div class="col-md-12 col-sm-12 col-xs-12">
                                 <h4>E’ STATA LA TUA PRIMA CROCIERA?</h4>  
                             </div>
                             <div class="col-md-12 col-sm-12 col-xs-12 padding-class margin-bottom">
                                    <input type="checkbox" name="privacy" id="terms">
                                    <label for="terms" class="font-size label-width">Certifico che questa recensione sulla mia vacanza in crociera è sincera e genuina. Non ho alcun accordo commerciale con nessuna interesse economico con qualsiasi organizzazione correlata alle compagnie di crociera o al sito Cruisetopic.net.</label>
                             </div>
                       </div>
                  </div>                             
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Invia</button>
                  </div>    
            </div>
      </div>
</section>
<!-- End Add Reviews 7 Tao -->


<!-- Modal Tao -->
<div class="modal-section">
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                  <!-- Modal Content -->
                  <div class="modal-content">
                     <div class="modal-header">
                          <h3>BENVENUTO SU CRUISETOPIC. PER POTER SCRIVERE UNA RECENSIONE DEVI ESSERE REGISTRATO</h3> 
                     </div>
                     <div class="box-border">
                        <ul id="login-switcher" class="nav nav-tabs">
                              <li class="active">
                                    <a href="#accedi" data-toggle="tab">ACCEDI</a>
                              </li>
                              <li class="registrati1">
                                    <a href="#registrati" data-toggle="tab">REGISTRATI</a>
                              </li>
                        </ul>
                        <div class="tab-content">
                              <div id="accedi" class="tab-pane fade in active">
                                    <form class="#">
                                          <div class="form-group">
                                                <input type="text" class="form-control" id="username" placeholder="Username">
                                                <input type="password" class="form-control" id="password" placeholder="Password">
                                          </div>
                                          <button type="submit" class="btn btn-primary btn-block">Invia</button>
                                    </form>
                              </div>
                              <div id="registrati" class="tab-pane fade">
                                    <form class="#">
                                          <div class="form-group">
                                                <input type="text" class="form-control" id="reg-name" placeholder="Nome">
                                                <input type="text" class="form-control" id="reg-surname" placeholder="Cognome">
                                                <input type="text" class="form-control" id="reg-username" placeholder="Username">
                                                <input type="password" class="form-control" id="reg_password" placeholder="Password">
                                                <input type="password" class="form-control" id="rereg-password" placeholder="Conferma la Password">
                                                <input type="email" class="form-control" id="reg-email" placeholder="Email">
                                                <div class="margin-bottom"> 
                                                      <input type="checkbox" id="accept-terms" class="input-size">
                                                      <label for="accept-terms">Accetto termini e condizioni</label>
                                                </div>
                                          </div>
                                          <button type="submit" class="btn btn-primary btn-block">Crea Account</button>
                                    </form>
                              </div>
                        </div>
                     </div>
                  </div>
            </div>
      </div>
</div>
