/*!
INNER STYLE
 * Start Bootstrap
 * Author, Abbybased.
 */
/*FONT*/
.inner-page {
  background-image: url(/assets/img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.search_number h2 {
  color: #19204C;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
.search_number h2 span {
  font-weight: 800;
  border-bottom: 4px solid #15ABC8;
}
.sidebar_search {
  background-color: #1A2542;
  color: white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
}
.sidebar_search h3 {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar_search button,
.sidebar_search select,
.sidebar_search textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
}
.sidebar_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 45px;
}
.sidebar_search option,
.sidebar_search optgroup {
  background-color: #101523;
}
.sidebar_search .compagnia,
.sidebar_search .nave,
.sidebar_search .durata,
.sidebar_search .budget {
  position: relative;
}
.sidebar_search .compagnia:before {
  content: url('/img/sn.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .nave:before {
  content: url('/img/ss.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .durata:before {
  content: url('/img/sd.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .budget:before {
  content: url('/img/sb.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search input[type=checkbox]:not(old),
.sidebar_search input[type=radio]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.sidebar_search input[type=checkbox]:not(old) + label,
.sidebar_search input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('/img/checks.png') no-repeat 0 0;
  line-height: 24px;
}
.sidebar_search input[type=checkbox]:not(old):checked + label {
  background-position: 0 -24px;
}
.sidebar_search input[type=radio]:not(old):checked + label {
  background-position: 0 -48px;
}
.sidebar_search .radio-filter {
  padding-bottom: 30px;
}
.sidebar_search .radio-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .radio-filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.sidebar_search .link-filter {
  padding-bottom: 30px;
}
.sidebar_search .link-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .link-filter a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sidebar_search .link-filter a:hover {
  color: #D8CDBA;
}
.sidebar_search .link-filter .rouge {
  font-weight: 700;
}
.nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}
.single-offer-tabs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.single-offer-tabs ul.nav-single-offer {
  text-align: center;
  background-color: #1A2542;
  margin-bottom: 10px;
}
.single-offer-tabs ul.nav-single-offer li.active {
  background-color: #D8CDBA;
}
.single-offer-tabs ul.nav-single-offer li.active a {
  color: #1A2542;
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li {
  list-style: none;
  display: inline-block;
  background-position: 95% 52%;
  width: 19.82%;
}
.single-offer-tabs ul.nav-single-offer li a {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0;
  padding: 10px 35px;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 57%;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 100%;
  display: block;
}
.single-offer-tabs ul.nav-single-offer li a i {
  padding-right: 5px;
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.conditions {
  padding: 0px;
  /*  background-color: #F2F2F2;*/
}
.conditions h3 {
  color: #15ABC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 30px;
}
.conditions li {
  list-style: none;
}
.conditions .block {
  border: 1px solid #e8e8e8;
  padding: 10px 25px 30px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  display: table-cell;
  vertical-align: top;
  float: none;
}
.grey {
  background-color: #F2F2F2;
}
.border-grey {
  border: 1px solid #e8e8e8;
}
.listing {
  border: 1px solid #e8e8e8;
}
.listing ul {
  padding-left: 0px;
}
.listing li {
  list-style: none;
  margin: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.listing li img {
  width: 80px;
}
.listing li h4 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.listing li p {
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.listing li h5 {
  margin: 0px;
  float: right;
  font-size: 14px;
  color: black;
}
.about-offer {
  border: 1px solid #e8e8e8;
}
.about-offer .banner-image {
  position: relative;
}
.about-offer .banner-image .red {
  position: absolute;
  top: 143px;
  left: 20px;
  z-index: 99;
  width: auto;
  background-image: url(/assets/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 65px;
}
.about-offer .banner-image .red span {
  color: white;
  text-transform: uppercase;
  padding: 8px;
  font-size: 11px;
}
.about-offer .rating_company {
  float: right;
  padding: 10px;
}
.about-offer .rating_company img {
  width: 120px;
}
.about-offer .offer-image {
  width: 100%;
  position: relative;
}
.about-offer .info {
  float: left;
  padding: 10px;
}
.about-offer .info h3 {
  text-transform: uppercase;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  color: #1A2542;
  font-weight: 900;
  margin: 0px;
}
.about-offer .info p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  color: #1A2542;
  padding: 0px;
}
.about-offer .info h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2em;
}
.write-review {
  padding: 5px 10px 15px 10px;
  margin-bottom: 30px;
}
.write-review a {
  background-color: #1A2542;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.write-review a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.write-review .left {
  float: left;
}
.write-review .right {
  float: right;
}
.itinerary {
  /* padding: 0px 15px;*/
}
.itinerary .day {
  border: 1px solid #e8e8e8;
  padding: 20px 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.itinerary .day h3 {
  color: #1A2542;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  margin-top: 0px;
}
.itinerary .day h4 {
  color: #1A2542;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.itinerary .day h5 {
  color: #1A2542;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.itinerary .day h5 span {
  font-weight: 600;
}
.itinerary .day p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #1A2542;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.itinerary .day p span {
  color: #15ABC8;
  font-weight: 700;
}
.single-offer-tabs .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
.single-offer-tabs .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
button.btn-abi {
  font-family: 'azo_sansmedium';
  font-weight: 700;
  letter-spacing: 0.2em;
  /*   margin-bottom: 30px;*/
  background-color: #5bc4d8;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 20px 30px 20px;
  background-image: url(/assets/img/arr.png);
  background-position: center 80%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}
button.btn.btn-abi:focus,
button.btn.btn-abi:active,
button.btn.btn-abi:hover {
  color: white;
}
button.btn-blue {
  background-color: #15ABC8;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
form#formsearchtravel {
  text-align: left;
}
.emtooltip-content {
  border: 2px solid #e8e8e8;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 100%;
  z-index: 999999;
}
.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
#saved-cruises-banner {
  display: block;
  background-image: url(/assets/img/red.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
}
#saved-cruises-banner p {
  color: white;
  text-transform: uppercase;
}
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width: 1700px) {
  .about-offer .offer-image {
    max-height: 215px;
    object-fit: cover;
  }
  .listing li img {
    width: 53px;
  }
}
@media only screen and (max-width: 1912px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 66px;
  }
}
@media only screen and (max-width: 1847.5px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.815%;
  }
}
@media only screen and (max-width: 1800px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.810%;
  }
}
@media only screen and (max-width: 1803px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 60px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    padding: 9px;
  }
  .sidebar_search .radio-filter label {
    font-size: 12px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
  }
  .sidebar_search h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1753px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.800%;
  }
}
@media only screen and (max-width: 1730px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 56px;
  }
}
@media only screen and (max-width: 1672px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.700%;
  }
}
@media only screen and (max-width: 1680px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 1600px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 45px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1530px) {
  .search_offer .nav-pills > li > a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1470px) {
  .about-offer .info h4 {
    font-size: 12px;
  }
  .about-offer .banner-image .red {
    top: 134px;
  }
  .cd-products-comparison-table {
    padding: 0px;
  }
  .about-offer .info p {
    font-size: 14px;
  }
  .sidebar_search {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .single-offer-tabs ul.nav-single-offer li a,
  .single-offer-tabs ul.nav-single-offer li a:hover,
  .single-offer-tabs ul.nav-single-offer li.active a {
    background-image: none;
  }
}
@media only screen and (max-width: 1400px) {
  .single-offer-tabs ul.nav-single-offer li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1387px) {
  .single-offer-tabs ul.nav-single-offer li a i {
    display: block;
  }
  .about-offer .rating_company img {
    width: 80px;
  }
}
@media only screen and (max-width: 1250px) {
  /*.single-offer-tabs ul.nav-single-offer li a{
        padding: 9px 30px 9px 20px;
  }*/
}
@media only screen and (max-width: 1200px) {
  .prezzi .col-lg-8.col-md-12.remove-padding-right {
    padding-left: 0px;
    padding-top: 10px;
  }
  .search_offer .nav-pills > li > a {
    padding: 15px 35px;
  }
  .search_offer .nav-pills > li,
  .search_offer .nav-pills > li.active > a,
  .search_offer .nav-pills > li.active > a:focus,
  .search_offer .nav-pills > li.active > a:hover {
    background-size: 20px;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .single-offer-tabs ul.nav-single-offer {
    margin-top: 20px;
  }
  section.search_number {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .hide-mobile {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .single-offer-tabs ul.nav-single-offer span {
    display: none;
  }
  .single-offer-tabs ul.nav-single-offer li {
    background-color: #1A2542;
  }
  .single-offer-tabs ul.nav-single-offer {
    background-color: white;
  }
  /* .single-offer-tabs ul.nav-single-offer li a {
    padding: 9px 40px 10px 30px;
}*/
}
@media only screen and (max-width: 993px) {
  .conditions .block {
    display: block;
    vertical-align: top;
    float: none;
    width: 100%;
    padding: 20px;
  }
  .reviews .col-md-8.remove-padding-right {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 945px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.600%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 721px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.500%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
    margin: 5% auto;
  }
}
@media only screen and (max-width: 710px) {
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 12px;
    padding: 10px;
  }
  .sidebar_search h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .sidebar_search select {
    background-size: 15px;
    padding-left: 30px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sidebar_search .radio-filter {
    padding-bottom: 10px;
  }
  .sidebar_search .compagnia:before {
    background-image: url(/assets/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .nave:before {
    background-image: url(/assets/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .durata:before {
    background-image: url('/assets/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .budget:before {
    background-image: url('/assets/img/sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 586px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.400%;
  }
}
@media only screen and (max-width: 495px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.300%;
  }
}
@media only screen and (max-width: 450px) {
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.200%;
  }
}
@media only screen and (max-width: 385px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.100%;
  }
  .write-review a {
    padding: 10px;
  }
  .about-offer .rating_company img {
    width: 60px;
  }
  .about-offer .info {
    padding-right: 5px;
    display: block;
    width: 75%;
  }
  /*.about-offer .banner-image .red {
    top: 155px;
    width: 30px;
  }*/
}
@media only screen and (max-width: 368px) {
  .about-offer .info {
    width: 74%;
  }
}
@media only screen and (max-width: 350px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.0%;
  }
  .about-offer .rating_company img {
    width: 45px;
  }
}
@media only screen and (max-width: 342px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 18%;
    padding: 0px;
  }
  .about-offer .info {
    width: 70%;
  }
  .about-offer .banner-image .red {
    top: 156px;
  }
}


/******************************   Add Reviews Stylesheet ******************************/


/**************************************
01.Add Review 1 
**************************************/
section.add-reviews1 {
   padding-top: 60px;
}
.add-reviews1 .skin-img img {
   display: inline-block;
   float: left;
   margin-top: 5px;
   margin-right: 20px;
}
.add-reviews1 h2{
   font-family: 'Open Sans', sans-serif;
   font-size: 40px;
   margin-top: 0;
   margin-bottom: 75px;
   color: #19204C;
}
.add-reviews1 .margin-bottom {
  margin-bottom: 20px;
}


/**************************************
02.Add Review 2
**************************************/
.add-reviews2 .margin-bottom {
  margin-bottom: 20px;
}


/**************************************
03.Add Review 3
**************************************/
.add-reviews3 .margin-top {
  margin-top: 15px;
}



/**************************************
04.Add Review 4
**************************************/
.add-reviews4 {
}



/**************************************
05.Add Review 5
**************************************/
.add-reviews5 .margin-bottom {
  margin-bottom: 20px;
}



/**************************************
06.Add Review 6
**************************************/
.add-reviews6 .margin-top {
   margin-top: 12px;
}



/**************************************
07.Add Review 7
**************************************/
.add-reviews7 .btn {
  color: #fff;
  background-color: #15ABC8;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid #15ABC8;
}
.add-reviews7 .margin-bottom {
  margin-bottom: 35px;
}

/**************************************
08.General Things
**************************************/
.add-reviews1 h4, 
.add-reviews2 h4, 
.add-reviews3 h4, 
.add-reviews4 h4,
.add-reviews5 h4,
.add-reviews6 h4,
.add-reviews7 h4 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   margin-top: 0;
   margin-bottom: 30px;
   color: #02012D;
   letter-spacing: 0.02em;
}
.add-reviews1 select, 
.add-reviews2 select, 
.add-reviews3 select, 
.add-reviews4 select,
.add-reviews5 select,
.add-reviews6 select,
.add-reviews7 select {
  width: 100%;
  padding: 10px;
  color: #5c6477;
}
.add-reviews1 label, 
.add-reviews2 label, 
.add-reviews3 label, 
.add-reviews4 label,
.add-reviews5 label,
.add-reviews6 label,
.add-reviews7 label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400 !important;
  margin-bottom: 5px;
  color: #5c6477;
}
label.font-size {
  font-size: 14px;
}
.add-reviews1 input, 
.add-reviews2 input, 
.add-reviews3 input, 
.add-reviews4 input {
  width: 100%;
  padding: 10px;
  color: #5c6477;
}
.add-reviews1 textarea, 
.add-reviews2 textarea, 
.add-reviews3 textarea, 
.add-reviews4 textarea,
.add-reviews5 textarea,
.add-reviews6 textarea,
.add-reviews7 textarea {
  width: 100%;
  padding: 10px;
  color: #5c6477;
}
.select-costum {
  height: 45px;
}
.input-costum {
  height: 45px;
}
input.star {
  display: none;
}
label.star {
  float: left;
  color: #15ABC8;
  transition: all 0.2s;
  cursor: pointer;
}

input.star:checked ~ label.star:before {
    content: "\f02e";
    color: #15ABC8;
}
label.star:before {
/*  content: "\f02e";*/
  content: "\f097";
  font-family: FontAwesome;
}
.stars0 label.star {
  padding: 0 12px 0 0;
  font-size: 45px;
  float: right;
}
.stars-comm {
/*  width: 100%;*/
  margin-top: -10px;
  float: left;
}
.stars1 label.star {
  padding: 0 12px 0 0;
  font-size: 25px;
  float: right;
}
.stars-comm1 {
  width: 100%;
  margin-top: -5px;
}
.padding-class {
  padding-right: 30px;
  padding-left: 30px;
}
.label-width {
  width: 90%;
}
.add-reviews5 input {
  float: left;
  margin-right: 8px;
}
.add-reviews6 input {
  float: left;
  margin-right: 8px;
}
.add-reviews7 input {
  float: left;
  margin-right: 8px;
}






/****** Modal *******/
.modal {
  background-color: rgba(26, 37, 66, 0.8) !important;
}
.modal-content {
  -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}
.modal-content {
  padding: 50px 65px;
}
.modal-content h3 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 33px;
  text-transform: uppercase;
  color: #02012D;
}
.modal-header {
  padding: 0;
  border: none;
}
.modal-dialog{
  border-radius: 0;
}
.modal-section .btn {
  color: #fff;
  height: 60px;
  background-color: #15ABC8;
  font-size: 33px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid #15ABC8;
}
.modal-section input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 0;
}
.modal-content ul li {
  width: 50%;
  text-align: center;
  float: left;
  border: none;
}
.modal-content ul li a {
  background-color: #DBDBDB;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #02012D;
  
  text-transform: uppercase;
}
.modal-content ul li.active a {
   background-color: #fff;
}
.modal-content .box-border {
  border: 1px solid #DBDBDB;
}
.modal-content ul {
 /* border-bottom: 1px solid #DBDBDB;*/
}
.modal-content form {
  padding: 40px 45px;
}
.modal-content .nav-tabs>li>a  {
  margin: 0;
  border-radius: 0;
  border: none;
}
.modal-content .nav>li>a  {
  padding: 25px 15px;
}
.modal-content .nav-tabs>li.active>a,
.modal-content .nav-tabs>li.active>a:focus,
.modal-content .nav-tabs>li.active>a:hover {
  border: none !important;
 /* color: #02012D;*/
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.modal-content .input-size {
  height: auto;
  width: auto;
  float: left;
  margin-bottom: 0;
  padding: 0;
  margin-right: 10px;
}
.modal-content .margin-bottom {
  margin-bottom: 25px;
}
.modal-content .margin-bottom label {
  color: #02012D;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}



/************************************
09. Media Queries
*************************************/


 /*==========  Non-Mobile First Method  ==========*/
    
   
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
     
    }
    @media only screen and (max-width : 848px) {
        .add-reviews1 .skin-img img {
            display: none;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .modal-content {
            padding: 30px 35px;
        }
        .add-reviews1 h2{
            font-size: 30px;
            margin-bottom: 60px;
        } 
        section {
            padding: 25px 0;
        }
        .add-reviews7 .btn {
          font-size: 30px;
        }
        .modal-section .btn {
          font-size: 30px;
        }
        /*.add-reviews1 .container, 
        .add-reviews2 .container, 
        .add-reviews3 .container, 
        .add-reviews4 .container, 
        .add-reviews5 .container,
        .add-reviews6 .container, 
        .add-reviews7 .container {
            width: 480px;
            margin: 0 auto;
        }*/
    }
    @media only screen and (max-width: 600px) {
         .modal-content h3{
            font-size: 12px;
        }
        .modal-content .nav>li>a {
            padding: 15px 15px;
        }
        .modal-content ul li a {
            font-size: 14px;
        }
        .modal-section input {
          height: 50px;
        }
        .modal-section .btn {
          height: 50px;
        }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .modal-content {
            padding: 30px 15px;
        }
        .modal-content form {
            padding: 30px 20px;
        }
        .modal-section .btn {
            font-size: 25px;
        }
        .modal-content h3 {
           margin-bottom: 20px;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 20px;
        }
    }
    @media only screen and (max-width : 420px) {
        .add-reviews1 h2{
            font-size: 25px;
            margin-bottom: 50px;
        } 
        section.add-reviews1 {
            padding-top: 50px;
        }
        .add-reviews7 .btn {
            font-size: 25px;
        }
        .modal-section .btn {
          font-size: 22px;
        }
    }
    @media only screen and (max-width : 412px) {
        .modal-content {
            padding: 20px;
        }
        .modal-content form {
            padding: 20px;
        }
        .modal-content h3 {
            font-size: 10px;
        }
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
       
    }

