<form class="form-horizontal" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
	   <div class="form-group">
	        <div class="btn-group-justified">
	            <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Inscriviti con Facebook</a>
	        </div>
	    </div>
	    <div class="form-group">
	        <div class="btn-group-justified">
	            <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Inscriviti con Google</a>
	        </div>
	    </div>
	    <div class="signOr">Oppure</div>
	    <div class="form-group">
	        <input type="text" name="name" ngModel placeholder="Nome" class="form-control">
	    </div>
	    <div class="form-group">
	        <input type="text" name="surname" ngModel placeholder="Cognome" class="form-control">
	    </div>
	    <div class="form-group">
	        <input type="email" name="email" ngModel placeholder="Indirizzo email" class="form-control">
	    </div>
	    <div class="form-group">
	        <input type="password" name="password" ngModel placeholder="Password" class="form-control">
	    </div>
	    <div class="form-group">
	        <input type="password" name="confirm_password" ngModel placeholder="Conferma Password" class="form-control">
	    </div>
	    <div class="form-group">
	        <div class="btn-group-justified">
	            <button  class="btn btn-lg btn-green">Inscriviti</button>
	        </div>
	    </div>
	    <p class="help-block">Sei gia iscrito? <a href="javascript:;"  data-dismiss="modal"  data-toggle="modal" data-target="#login-modal" class="text-green">Login</a></p>
</form>
