	<div *ngIf="loader" style="position: fixed;width: 100%;height: 1000px;top:0;left:0; background-color:#000;opacity: 0.7;z-index: 999999"><img src="/assets/img/loading.gif" style="position: fixed;top: 25%;left: 40%; opacity:1;"></div>
	<section id="single-number" class="remove-padding">
	<div class="number">
    	<p><i class="fa fa-phone" aria-hidden="true"></i><strong> 893.444.93</strong></p>
    </div>
</section>	    

<section id="map-pins" class="remove-padding">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="absolute-title text-center">
					<h1>destinations</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 remove-padding">
				
				<div class="cd-product cd-container">
					<div class="cd-product-wrapper">
						<img src="./../../assets/img/cd-app-image.jpg" alt="Preview image">
						<ul >

							<li class="cd-single-point"  *ngFor="let single_pin of destination_pin" >
								<a class="cd-img-replace" href="javascript:;">More</a>
								<div class="cd-more-info cd-top">
									<h2>{{single_pin.title}}</h2>
									<p>
										{{single_pin.description}}
									</p>
									<div class="red-button right ">
											<a href="{{single_pin.link}}">vedi destinazione</a>
									</div>
									<a href="#0" class="cd-close-info cd-img-replace">Close</a>
								</div>
							</li>
						</ul>
					</div> <!-- .cd-product-wrapper -->
				</div>
			</div>
		</div>
	</div>
</section>	