/*!
NEW CSS
 * Start Bootstrap
 * Author, Abbybased.
 */
/*GENERAL STYLE*/
.martop30 {
  margin-top: 30px;
}
.page-description {
  font-size: 34px;
  color: white;
}
.grey-block {
  padding: 30px;
  background-color: #f2f2f2;
}
.grey-block h3 {
  font-family: 'Quarto-Light';
  color: #19204C;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.grey-block p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.grey-block p.mar50 {
  margin-bottom: 50px;
}
.grey-block .red-button {
  width: 230px;
  background-image: url(/assets/img/buton-red.png);
  background-color: rgba(201, 10, 10, 0);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.grey-block .red-button button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: #c90a0a;
  border: none;
}
.red-button {
  width: auto;
  background-image: url(/assets/img/buton-red.jpg);
  background-size: contain;
  background-color: #c90a0a;
  background-position: right center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
}
.red-button a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.cd-more-info .red-button {
  padding: 10px;
}
.cd-more-info .red-button a {
  font-size: 12px;
}
.category-img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.category-title {
  font-size: 30px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
}
.list.single-related {
  border-bottom: 0px solid #d8cdba;
}
.list.single-related .content-id {
  border-bottom: 2px solid #d8cdba;
}
.skin-img h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #171e4a;
  margin-top: 0;
  display: inline-block;
}
.single-related {
  border: 2px solid #d8cdba;
}
.single-related .image-id {
  background-image: url(/assets/img/oferte.jpg);
  background-size: cover;
  color: white;
  min-height: 300px;
  padding: 120px 30px;
}
.single-related .image-id h3 {
  font-family: 'Quarto-Light';
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.single-related a .content-id {
  padding: 10px;
}
.single-related a .content-id h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 19px;
  text-transform: uppercase;
  color: #2d2d2c;
}
.single-related a .content-id .company {
  height: 45px;
  float: left;
}
.single-related a .content-id .icon {
  float: left;
  height: 32px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.single-related a .content-id h5 {
  text-align: right;
  color: #2D2D2C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-right: 10px;
}
.single-related a .content-id p {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.add-margin-bottom-30 {
  margin-bottom: 30px;
}
.right {
  float: right;
}
/*SINGLE DESTINATION*/
.destination-info {
  padding: 120px 0px 70px 0px;
}
.related-offers .extra-padding,
.ports-on-destination .extra-padding,
.related-offers .extra-padding {
  padding-top: 0px;
  padding-bottom: 40px;
}
.company_list.no-bg {
  background-image: none;
}
@media only screen and (max-width: 1200px) {
  .inner-page.with-searchbar .page-title {
    padding-top: 135px;
  }
}
@media only screen and (max-width: 992px) {
  .single-related {
    margin-bottom: 20px;
  }
  .with-searchbar {
    min-height: 540px;
  }
  /*    .inner-page {
      display: none;
    }*/
  .destination-info {
    padding: 50px 0px 70px 0px;
  }
  .image-info {
    margin: 15px 0px;
  }
}
@media only screen and (max-width: 380px) {
  .single-related .image-id h3 {
    font-size: 20px;
  }
  .grey-block {
    padding: 15px;
  }
  .grey-block p {
    font-size: 16px;
  }
  .single-related .image-id {
    min-height: 200px;
  }
}
/*page for destination-list*/
.background-section {
  background-image: url(/assets/img/head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.background-section h2 {
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
}
.background-section p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.background-section h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.absolute-title {
  position: absolute;
  width: 100%;
  z-index: 9;
}
.absolute-title h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Quarto-Light';
  opacity: 0.8;
  letter-spacing: 0.2em;
  margin-top: 40px;
}
.absolute-title h1::before {
  content: "";
  background-image: url(/assets/img/shiritskin.png);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 22%;
}
.number {
  position: absolute;
  z-index: 9;
  right: 50px;
  top: 30px;
  height: 50px;
}
.number p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  letter-spacing: 0.06em;
  padding: 10px;
  margin: 0px;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  /*  width: 90%;
  max-width: 1170px;
  margin: 0 auto;*/
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}
.cd-img-replace {
  /* replace text with background images */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* -------------------------------- 

Main components 

-------------------------------- */
.cd-product {
  text-align: center;
  width: 100%;
}
.cd-product-wrapper {
  display: inline-block;
  position: relative;
  /*  margin: 0 auto;
  width: 100%;
  max-width: 100%;*/
  width: 100%;
}
.cd-product-wrapper > img {
  display: block;
  width: 100%;
}
.cd-single-point {
  position: absolute;
  border-radius: 50%;
}
.cd-single-point > a {
  position: relative;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: inherit;
  background: #c90a0a
  ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-single-point > a::after,
.cd-single-point > a:before {
  /* rotating plus icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-single-point > a::after {
  height: 2px;
  width: 12px;
}
.cd-single-point > a::before {
  height: 12px;
  width: 2px;
}
.cd-single-point::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background-color: transparent;
  -webkit-animation: cd-pulse 2s infinite;
  -moz-animation: cd-pulse 2s infinite;
  animation: cd-pulse 2s infinite;
}
.cd-single-point:nth-of-type(1) {
  bottom: 40%;
  right: 30%;
}
.cd-single-point:nth-of-type(2) {
  bottom: 24%;
  right: 46%;
}
.cd-single-point:nth-of-type(3) {
  top: 48%;
  left: 20%;
}
.cd-single-point:nth-of-type(4) {
  top: 30%;
  right: 22%;
}
.cd-single-point.is-open > a {
  background-color: #475f74;
}
.cd-single-point.is-open > a::after,
.cd-single-point.is-open > a::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after {
  /* remove pulse effect */
  display: none;
}
.cd-single-point.is-open .cd-more-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point.visited > a {
  background-color: #475f74;
}
.cd-single-point.visited::after {
  /* pulse effect no more active on visited elements */
  display: none;
}
@media only screen and (min-width: 600px) {
  .cd-single-point.is-open .cd-more-info.cd-left {
    right: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-right {
    left: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-top {
    bottom: 140%;
  }
  .cd-single-point.is-open .cd-more-info.cd-bottom {
    top: 140%;
  }
}
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -moz-transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  50% {
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
  }
  100% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
  }
}
.cd-single-point .cd-more-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em 1em 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point .cd-more-info::before {
  /* triangle next to the interest point description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: none;
  border: 8px solid transparent;
}
.cd-single-point .cd-more-info h2 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: .6em;
}
.cd-single-point .cd-more-info p {
  color: #758eb1;
}
@media only screen and (min-width: 600px) {
  .cd-single-point .cd-more-info {
    position: absolute;
    width: 220px;
    height: 240px;
    padding: 1em;
    overflow-y: visible;
    line-height: 1.4;
    border-radius: 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .cd-single-point .cd-more-info::before {
    display: block;
  }
  .cd-single-point .cd-more-info.cd-left,
  .cd-single-point .cd-more-info.cd-right {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left::before,
  .cd-single-point .cd-more-info.cd-right::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-single-point .cd-more-info.cd-left {
    right: 160%;
    left: auto;
  }
  .cd-single-point .cd-more-info.cd-left::before {
    border-left-color: rgba(255, 255, 255, 0.95);
    left: 100%;
  }
  .cd-single-point .cd-more-info.cd-right {
    left: 160%;
  }
  .cd-single-point .cd-more-info.cd-right::before {
    border-right-color: rgba(255, 255, 255, 0.95);
    right: 100%;
  }
  .cd-single-point .cd-more-info.cd-top,
  .cd-single-point .cd-more-info.cd-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top::before,
  .cd-single-point .cd-more-info.cd-bottom::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .cd-single-point .cd-more-info.cd-top {
    bottom: 160%;
    top: auto;
  }
  .cd-single-point .cd-more-info.cd-top::before {
    border-top-color: rgba(255, 255, 255, 0.95);
    top: 100%;
  }
  .cd-single-point .cd-more-info.cd-bottom {
    top: 160%;
  }
  .cd-single-point .cd-more-info.cd-bottom::before {
    border-bottom-color: rgba(255, 255, 255, 0.95);
    bottom: 100%;
  }
  .cd-single-point .cd-more-info h2 {
    font-size: 20px;
    /*    font-size: 1.25rem;*/
    margin-bottom: 0;
  }
  .cd-single-point .cd-more-info p {
    font-size: 13px;
    /*    font-size: 0.875rem;*/
  }
}
/* close the interest point description - only on mobile */
.cd-close-info {
  position: fixed;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
}
.cd-close-info::after,
.cd-close-info:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background-color: #475f74;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-close-info::after {
  height: 2px;
  width: 16px;
}
.cd-close-info::before {
  height: 16px;
  width: 2px;
}
@media only screen and (min-width: 600px) {
  .cd-close-info {
    display: none;
  }
}
#single-number {
  position: relative;
}
/*
SINGLE COMPANY*/
.info-company .campagnia-info {
  padding: 40px;
}
img.margin-image-head {
  margin-top: 30%;
}
/*LAST OFFER*/
.last-offer {
  margin-top: 30px;
}
.last-offer img {
  opacity: 0.7;
  margin-bottom: 30px;
}
.last-offer p {
  color: #101523;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
}
@media only screen and (max-width: 1740px) {
  .absolute-title h1::before {
    left: 19%;
  }
}
@media only screen and (max-width: 1550px) {
  .absolute-title h1::before {
    left: 17%;
  }
}
@media only screen and (max-width: 1470px) {
  .absolute-title h1::before {
    left: 15%;
  }
}
@media only screen and (max-width: 1370px) {
  .absolute-title h1::before {
    left: 14%;
  }
  .absolute-title h1 {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1::before {
    content: none;
  }
  #map-pins {
    padding-top: 100px;
    background-color: #27364b;
  }
}
@media only screen and (max-width: 1230px) {
  .absolute-title h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #single-number,
  .absolute-title h1 {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .skin-img h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 400px) {
  #map-pins {
    padding-top: 150px;
  }
  .background-section p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
