/*!
 * Start Bootstrap
 * Author, Abbybased.
 */

/* -------------------------------- 

Main Components 

-------------------------------- */
li.product, li{
  list-style: none;
}
ul{
padding-left: 0px;
margin-bottom: 0px;
}
.cd-products-comparison-table {
  margin-bottom: 0;
  padding: 30px 0px;
}
.cd-products-comparison-table::after {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-products-comparison-table header {
  padding: 0 5% 25px;
}
.cd-products-comparison-table header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-products-comparison-table h2 {
  float: left;
  font-weight: bold;
}
.cd-products-comparison-table .actions {
  float: right;
}
.cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
  font-size: 1.4rem;
}
.cd-products-comparison-table .reset {
  color: #404042;
  text-decoration: underline;
}
.cd-products-comparison-table .filter {
  padding: .6em 1.5em;
  color: #ffffff;
  background-color: #cccccc;
  border-radius: 3px;
  margin-left: 1em;
  cursor: not-allowed;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-products-comparison-table .filter.active {
  cursor: pointer;
  background-color: #9dc997;
}
.no-touch .cd-products-comparison-table .filter.active:hover {
  background-color: #a7cea1;
}
@media only screen and (min-width: 1170px) {
  /*.cd-products-comparison-table {
    margin-bottom: 8em;
  }*/
  .cd-products-comparison-table::after {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-products-comparison-table header {
    padding: 0 5% 40px;
  }
  .cd-products-comparison-table h2 {
    font-size: 2.4rem;
  }
  .cd-products-comparison-table .reset, .cd-products-comparison-table .filter {
    font-size: 1.6rem;
  }
  .cd-products-comparison-table .filter {
    padding: .6em 2em;
    margin-left: 1.6em;
  }
}

.cd-products-table {
  position: relative;
  overflow: hidden;
}

.cd-products-table .features {
  /* fixed left column - product properties list */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 120px;
/*  border-style: solid;
  border-color: #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #fafafa;*/
  opacity: 1;
}
.cd-products-table .features::after {
  /* color gradient on the right of .features -  visible while scrolling inside the .cd-products-table */
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .features {
    width: 210px;
    background-color: white;
  }
}

.cd-products-table.scrolling .features::after {
  opacity: 1;
}

.cd-products-wrapper {
  overflow-x: hidden;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
/*  border-style: solid;
  border-color: #e6e6e6;
  border-top-width: 1px;
  border-bottom-width: 1px;*/
}

.cd-products-columns {
  /* products list wrapper */
  width: 1200px;
  margin-left: 120px;
}
.cd-products-columns::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 1170px) {
  .cd-products-columns {
    width: 2480px;
    margin-left: 210px;
  }
}

.cd-products-columns .product {
  position: relative;
  float: left;
  width: 150px;
  text-align: center;
  -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.filtering .cd-products-columns .product:not(.selected) {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.no-product-transition .cd-products-columns .product.selected {
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.filtered .cd-products-columns .product:not(.selected) {
  position: absolute;
}
@media only screen and (min-width: 1170px) {
  .cd-products-columns .product {
    width: 150px;
  }
}

.cd-features-list li {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 22px 40px;
  /*border-color: #e6e6e6;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;*/
  border:1px solid #e6e6e6;
  list-style: none;
}
.cd-features-list li.lower-price{
border-color:#15ABC8;
}
.cd-features-list li a {
 color:#15ABC8;
}

.cd-features-list li.rate span {
  display: inline-block;
  height: 22px;
  width: 110px;
  background: url(/assets/img/cd-star.svg);
  color: transparent;
  list-style: none;
}
@media only screen and (min-width: 1170px) {
  .cd-features-list li {
    font-size: 1.6rem;
  }
  .cd-features-list li.rate {
    padding: 22px 0;
  }
}

.features .cd-features-list li,
.cd-products-table .features .top-info {
  /* fixed left column - items */
  font-size: 1.2rem;
  font-weight: bold;
  /* set line-height value equal to font-size of text inside product cells */
  line-height: 14px;
  padding: 25px 10px;
  color:#1A2542;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (min-width: 1170px) {
  .features .cd-features-list li,
  .cd-products-table .features .top-info {
    text-transform: uppercase;
    line-height: 16px;
    padding: 25px 20px;
    letter-spacing: 1px;
  }
}

.features .cd-features-list li {
  /* truncate text with dots */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  list-style: none;
  background-color: white;
  cursor:pointer;

}

.cd-products-table .top-info {
  position: relative;
/*  height: 177px;*/
  width: 150px;
  text-align: center;
  padding: 1.25em 0em;
 /* border-color: #e6e6e6;
  border-style: solid;
  border-right-width: 1px;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  cursor: pointer;
  background: #ffffff;
   border: 1px solid #e6e6e6;
}
.cd-products-table .top-info::after {
  /* color gradient below .top-info -  visible when .top-info is fixed */
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 4px;
  width: 100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), transparent);
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.06), transparent);
  opacity: 0;
}
.cd-products-table .top-info h3 {
  /*padding: 1.25em 0 0.625em;*/
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0px;
  margin-top: 18px;
}
.cd-products-table .top-info img {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-products-table .top-info h3, .cd-products-table .top-info img {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-products-table .top-info .check {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 auto 1em;
}
.cd-products-table .top-info .check::after, .cd-products-table .top-info .check::before {
  /* used to create the check icon and green circle dot - visible when product is selected */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.cd-products-table .top-info .check::before {
  /* green circle dot */
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background: #ffffff;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, -moz-transform 0.3s, border-color 0.3s;
  transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}
.cd-products-table .top-info .check::after {
  /* check icon */
  background: url(/assets/img/cd-check.svg) no-repeat center center;
  background-size: 24px 24px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .top-info {
  /*  height: 280px;*/
    width: 150px;
  }
  .cd-products-table .top-info h3 {
    padding-top: 4px;
    font-size: 1.6rem;
    margin:0px;
  }
  .cd-products-table .top-info .check {
    margin-bottom: 1.5em;
  }
}

.cd-products-table .features .top-info {
  /* models */
  width: 120px;
  cursor: auto;
  background: #fafafa;
}
@media only screen and (min-width: 1170px) {
  .cd-products-table .features .top-info {
    width: 210px;
    padding: 20px;
  }
}

.cd-products-table .selected .top-info .check::before {
  /* green circle dot */
  background: #9dc997;
  border-color: #9dc997;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
  }
}
@-moz-keyframes cd-bounce {
  0% {
    -moz-transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.6);
  }
  100% {
    -moz-transform: scale(1.5);
  }
}
@keyframes cd-bounce {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.cd-products-table .selected .top-info .check::after {
  /* check icon */
  opacity: 1;
}

@media only screen and (min-width: 1170px) {
  .cd-products-table.top-fixed .cd-products-columns > li,
  .cd-products-table.top-scrolling .cd-products-columns > li,
  .cd-products-table.top-fixed .features,
  .cd-products-table.top-scrolling .features {
 /*   padding-top: 160px;*/
  }

  .cd-products-table.top-fixed .top-info,
  .cd-products-table.top-scrolling .top-info {
   /* height: 160px;
    position: fixed;
    top: 0;*/
  }
  .no-cssgradients .cd-products-table.top-fixed .top-info, .no-cssgradients
  .cd-products-table.top-scrolling .top-info {
 /*   border-bottom: 1px solid #e6e6e6;*/
  }
  .cd-products-table.top-fixed .top-info::after,
  .cd-products-table.top-scrolling .top-info::after {
 /*   opacity: 1;*/
  }
  .cd-products-table.top-fixed .top-info h3,
  .cd-products-table.top-scrolling .top-info h3 {
   /* -webkit-transform: translateY(-116px);
    -moz-transform: translateY(-116px);
    -ms-transform: translateY(-116px);
    -o-transform: translateY(-116px);
    transform: translateY(-116px);*/
  }
  .cd-products-table.top-fixed .top-info img,
  .cd-products-table.top-scrolling .top-info img {
/*    -webkit-transform: translateY(-62px) scale(0.4);
    -moz-transform: translateY(-62px) scale(0.4);
    -ms-transform: translateY(-62px) scale(0.4);
    -o-transform: translateY(-62px) scale(0.4);
    transform: translateY(-62px) scale(0.4);*/
  }

  .cd-products-table.top-scrolling .top-info {
    position: absolute;
  }
}
.cd-table-navigation a {
  position: absolute;
  z-index: 2;
  top: 15%;
  right: 0px;
  -webkit-transform: translateY(55px);
  -moz-transform: translateY(55px);
  -ms-transform: translateY(55px);
  -o-transform: translateY(55px);
  transform: translateY(55px);
  /* replace text with image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  height: 48px;
  width: 28px;
  background: rgba(26, 37, 66, 0.8) url("/assets/img/cd-arrow.svg") no-repeat center center;
  border-radius: 0px;
  -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
  -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.cd-table-navigation a.inactive {
  opacity: 0;
  visibility: hidden;
}
.cd-table-navigation a.prev {
  left: 120px;
  right: auto;
  -webkit-transform: translateY(55px) translateX(15px) rotate(180deg);
  -moz-transform: translateY(55px) translateX(15px) rotate(180deg);
  -ms-transform: translateY(55px) translateX(15px) rotate(180deg);
  -o-transform: translateY(55px) translateX(15px) rotate(180deg);
  transform: translateY(55px) translateX(15px) rotate(180deg);
}
.no-touch .cd-table-navigation a:hover {
  background-color: rgba(26, 37, 66, 1)
}
@media only screen and (min-width: 1170px) {
  .cd-table-navigation a {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
  }
  .cd-table-navigation a.prev {
    left: 210px;
    -webkit-transform: translateY(100px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(100px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(100px) translateX(15px) rotate(180deg);
    -o-transform: translateY(100px) translateX(15px) rotate(180deg);
    transform: translateY(100px) translateX(15px) rotate(180deg);
  }
  .top-fixed .cd-table-navigation a {
    position: fixed;
  }
  .top-fixed .cd-table-navigation a, .top-scrolling .cd-table-navigation a {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px);
  }
  .top-fixed .cd-table-navigation a.prev, .top-scrolling .cd-table-navigation a.prev {
    -webkit-transform: translateY(45px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(45px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(45px) translateX(15px) rotate(180deg);
    -o-transform: translateY(45px) translateX(15px) rotate(180deg);
    transform: translateY(45px) translateX(15px) rotate(180deg);
  }
}

/* -------------------------------- 

No JS

-------------------------------- */
.no-js .actions {
  display: none;
}

.no-js .cd-products-table .top-info {
  height: 145px;
}
@media only screen and (min-width: 1170px) {
  .no-js .cd-products-table .top-info {
    height: 248px;
  }
}

.no-js .cd-products-columns .check {
  display: none;
}

.inner-page {
  background-image: url(/assets/img/head.jpg);
  padding: 155px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.inner-page .page-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.inner-page hr.white {
  border-color: white;
  max-width: 100px;
}
.search_number h2 {
  color: #19204C;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  opacity: 0.7;
}
.search_number h2 span {
  font-weight: 800;
  border-bottom: 4px solid #15ABC8;
}
.sidebar_search {
  background-color: #1A2542;
  color: white;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 500px;
}
.sidebar_search h3 {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sidebar_search button,
.sidebar_search select,
.sidebar_search textarea {
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px solid white;
  color: white;
  padding: 15px 10px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-align: center;
}
.sidebar_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 52%;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 45px;
}
.sidebar_search option,
.sidebar_search optgroup {
  background-color: #101523;
}
.sidebar_search .compagnia,
.sidebar_search .nave,
.sidebar_search .durata,
.sidebar_search .budget,
.sidebar_search .mese,
.sidebar_search .destination {
  position: relative;
}
.sidebar_search .compagnia:before {
  content: url('/assets/img/sn.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .nave:before {
  content: url('/assets/img/ss.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .durata:before {
  content: url('/assets/img/sd.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .budget:before {
  content: url('/assets/img/sb.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .mese:before {
  content: url('/assets/img/sm.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search .destination:before {
  content: url('/assets/img/sp.png');
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
}
.sidebar_search input[type=checkbox]:not(old),
.sidebar_search input[type=radio]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.sidebar_search input[type=checkbox]:not(old) + label,
.sidebar_search input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url('/img/checks.png') no-repeat 0 0;
  line-height: 24px;
}
.sidebar_search input[type=checkbox]:not(old):checked + label {
  background-position: 0 -24px;
}
.sidebar_search input[type=radio]:not(old):checked + label {
  background-position: 0 -48px;
}
.sidebar_search .radio-filter {
  padding-bottom: 30px;
}
.sidebar_search .radio-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .radio-filter label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.sidebar_search .link-filter {
  padding-bottom: 30px;
}
.sidebar_search .link-filter h4 {
  font-weight: 600;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sidebar_search .link-filter a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sidebar_search .link-filter a:hover {
  color: #D8CDBA;
}
.sidebar_search .link-filter .rouge {
  font-weight: 700;
}
.nav-tabs > li {
  float: none;
  margin-bottom: -1px;
  display: inline-block;
}
.single-offer-tabs {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}
.single-offer-tabs ul.nav-single-offer {
  text-align: center;
  background-color: #1A2542;
  margin-bottom: 10px;
  padding-left: 0px;
}
.single-offer-tabs ul.nav-single-offer li.active {
  background-color: #D8CDBA;
}
.single-offer-tabs ul.nav-single-offer li.active a {
  color: #1A2542;
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li {
  list-style: none;
  display: inline-block;
  background-position: 95% 52%;
  width: 19.82%;
}
.single-offer-tabs ul.nav-single-offer li a {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-radius: 0;
  padding: 10px 35px;
  background-image: url(/assets/img/arr.png);
  background-position: 95% 57%;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 100%;
  display: block;
}
.single-offer-tabs ul.nav-single-offer li a i {
  padding-right: 5px;
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-image: url(/assets/img/arrblue.png);
}
.single-offer-tabs ul.nav-single-offer li a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.conditions {
  padding: 0px;
  /*  background-color: #F2F2F2;*/
}
.conditions h3 {
  color: #15ABC8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 30px;
}
.conditions li {
  list-style: none;
}
.conditions .block {
  border: 1px solid #e8e8e8;
  padding: 10px 25px 30px 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #606060;
  display: table-cell;
  vertical-align: top;
  float: none;
}
.grey {
  background-color: #F2F2F2;
}
.border-grey {
  border: 1px solid #e8e8e8;
}
.listing {
  border: 1px solid #e8e8e8;
}
.listing ul {
  padding-left: 0px;
}
.listing li {
  list-style: none;
  margin: 5px 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.listing li img {
  width: 80px;
}
.listing li h4 {
  margin-top: 0px;
  color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 5px;
}
.listing li p {
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.listing li h5 {
  margin: 0px;
  float: right;
  font-size: 14px;
  color: black;
}
.about-offer {
  border: 1px solid #e8e8e8;
}
.about-offer .banner-image {
  position: relative;
}
.about-offer .banner-image .red {
  position: absolute;
  top: 136px;
  left: 20px;
  z-index: 99;
  width: auto;
}
.about-offer .rating_company {
  float: right;
  padding: 10px;
}
.about-offer .rating_company img {
  width: 120px;
}
.about-offer .offer-image {
  width: 100%;
  position: relative;
}
.about-offer .info {
  float: left;
  padding: 10px;
      width: 68%;
}
.about-offer .info h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  color: #1A2542;
  font-weight: 900;
  margin: 0px;
}
.about-offer .info p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
  color: #1A2542;
  padding: 0px;
}
.about-offer .info h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.2em;
}
.write-review {
  padding: 5px 10px 15px 10px;
  margin-bottom: 30px;
}
.write-review a {
  background-color: #1A2542;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding: 10px 20px;
}
.write-review a:hover {
  background-color: #D8CDBA;
  color: #1A2542;
}
.write-review .left {
  float: left;
}
.write-review .right {
  float: right;
}
.itinerary {
  /* padding: 0px 15px;*/
}
.itinerary .day {
  border: 1px solid #e8e8e8;
  padding: 20px 0px;
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.itinerary .day h3 {
  color: #1A2542;
  font-weight: 900;
  font-size: 33px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  margin-top: 0px;
}
.itinerary .day h4 {
  color: #1A2542;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.itinerary .day h5 {
  color: #1A2542;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
}
.itinerary .day h5 span {
  font-weight: 600;
}
.itinerary .day p {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #1A2542;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 5px;
}
.itinerary .day p span {
  color: #15ABC8;
  font-weight: 700;
}
.single-offer-tabs .owl-next {
  position: absolute;
  left: 0px;
  top: 45%;
}
.single-offer-tabs .owl-prev {
  position: absolute;
  right: 0px;
  top: 45%;
}
button.btn-abi {
  font-family: 'azo_sansmedium';
  font-weight: 700;
  letter-spacing: 0.2em;
  /*   margin-bottom: 30px;*/
  background-color: #5bc4d8;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 20px 30px 20px;
  background-image: url(/assets/img/arr.png);
  background-position: center 80%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}
button.btn.btn-abi:focus,
button.btn.btn-abi:active,
button.btn.btn-abi:hover {
  color: white;
}
button.btn-blue {
  background-color: #15ABC8;
  width: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
form#formsearchtravel {
  text-align: left;
}
.emtooltip-content {
  border: 2px solid #e8e8e8;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 58px;
  left: 100%;
  z-index: 999999;
}
.emtooltip-content > .emtooltip-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  height: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (min-width: 1700px) {
  .about-offer .offer-image {
    max-height: 215px;
    object-fit: cover;
  }
  .listing li img {
    width: 53px;
  }
}
@media only screen and (max-width: 1912px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 66px;
  }
}
@media only screen and (max-width: 1847.5px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.815%;
  }
}
@media only screen and (max-width: 1800px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.810%;
  }
}
@media only screen and (max-width: 1803px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 60px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    padding: 9px;
  }
  .sidebar_search .radio-filter label {
    font-size: 12px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
  }
  .sidebar_search h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1753px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.800%;
  }
}
@media only screen and (max-width: 1730px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 56px;
  }
}
@media only screen and (max-width: 1672px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.700%;
  }
}
@media only screen and (max-width: 1680px) {
  .search_offer .nav-pills > li > a {
    padding: 20px 50px;
  }
}
@media only screen and (max-width: 1600px) {
  .search_offer .nav-pills > li > a {
    padding: 15px 45px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    letter-spacing: 0.06em;
  }
}
@media only screen and (max-width: 1530px) {
  .search_offer .nav-pills > li > a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 426px) {
  .about-offer .info h3 {
    font-size: 21px !important;
  }
  .about-offer .info h4 {
    font-size: 9px !important;
  }
  .about-offer .info p {
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 1470px) {
  .about-offer .info h4 {
    font-size: 12px;
  }
  .about-offer .banner-image .red {
    top: 134px;
  }
  .cd-products-comparison-table {
    padding: 0px;
  }
  .about-offer .info p {
    font-size: 14px;
  }
  .sidebar_search {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .sidebar_search h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.06em;
  }
  .single-offer-tabs ul.nav-single-offer li a,
  .single-offer-tabs ul.nav-single-offer li a:hover,
  .single-offer-tabs ul.nav-single-offer li.active a {
    background-image: none;
  }
}
@media only screen and (max-width: 1400px) {
  .single-offer-tabs ul.nav-single-offer li a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1387px) {
  .single-offer-tabs ul.nav-single-offer li a i {
    display: block;
  }
  .about-offer .rating_company img {
    width: 80px;
  }
}
@media only screen and (max-width: 1250px) {
  /*.single-offer-tabs ul.nav-single-offer li a{
        padding: 9px 30px 9px 20px;
  }*/
}
@media only screen and (max-width: 1200px) {
  .prezzi .col-lg-8.col-md-12.remove-padding-right {
    padding-left: 0px;
    padding-top: 10px;
  }
  .search_offer .nav-pills > li > a {
    padding: 15px 35px;
  }
  .search_offer .nav-pills > li,
  .search_offer .nav-pills > li.active > a,
  .search_offer .nav-pills > li.active > a:focus,
  .search_offer .nav-pills > li.active > a:hover {
    background-size: 20px;
  }
  .search_offer .nav-pills > li > a {
    padding: 10px 35px;
  }
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .single-offer-tabs ul.nav-single-offer {
    margin-top: 20px;
  }
  section.search_number {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .hide-mobile {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}
@media only screen and (max-width: 996px) {
  .single-offer-tabs ul.nav-single-offer span {
    display: none;
  }
  .single-offer-tabs ul.nav-single-offer li {
    background-color: #1A2542;
  }
  .single-offer-tabs ul.nav-single-offer {
    background-color: white;
  }
  /* .single-offer-tabs ul.nav-single-offer li a {
    padding: 9px 40px 10px 30px;
}*/
}
@media only screen and (max-width: 993px) {
  .conditions .block {
    display: block;
    vertical-align: top;
    float: none;
    width: 100%;
    padding: 20px;
  }
  .reviews .col-md-8.remove-padding-right {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 945px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.600%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 721px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.500%;
  }
  .single-offer-tabs ul.nav-single-offer li a i {
    padding-right: 0px;
  }
  .single-offer-tabs ul.nav-single-offer li a {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
    margin: 5% auto;
  }
}
@media only screen and (max-width: 710px) {
  .inner-page .page-title {
    font-size: 36px;
  }
  .sidebar_search button,
  .sidebar_search select,
  .sidebar_search textarea {
    font-size: 12px;
    padding: 10px;
  }
  .sidebar_search h3 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .sidebar_search select {
    background-size: 15px;
    padding-left: 30px;
  }
  .sidebar_search .radio-filter h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .sidebar_search .radio-filter {
    padding-bottom: 10px;
  }
  .sidebar_search .compagnia:before {
    background-image: url(/assets/img/sn.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .nave:before {
    background-image: url(/assets/img/ss.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .durata:before {
    background-image: url('/assets/img/sd.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .budget:before {
    background-image: url('/assets/img/sb.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .mese:before {
    background-image: url('/assets/img/sm.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
  .sidebar_search .destination:before {
    background-image: url('/assets/img/sp.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 586px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.400%;
  }

}
@media only screen and (max-width: 495px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.300%;
  }
}
@media only screen and (max-width: 450px) {
  .search_offer .nav-pills > li > a {
    font-size: 12px;
    padding: 5px 35px;
  }
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.200%;
  }
}
@media only screen and (max-width: 385px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.100%;
  }
  .write-review a {
    padding: 10px;
  }
  .about-offer .info {
    padding-right: 5px;
    display: block;
    width: 70%;
  }
  .about-offer .banner-image .red {
    top: 155px;
    width: 30px;
  }
  .about-offer .rating_company img {
    width: 60px;
  }
}
@media only screen and (max-width: 350px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 19.0%;
  }
  .about-offer .rating_company img {
    width: 45px;
  }
}
@media only screen and (max-width: 340px) {
  .single-offer-tabs ul.nav-single-offer li {
    width: 18%;
    padding: 0px;
  }
  .about-offer .banner-image .red {
    top: auto;
    width: 30px;
    bottom: 33%;
    left: 0px;
  }
}
