<app-inner-header-center [page_title]="'search results'"></app-inner-header-center>

<!-- search result SECTION -->
<section class="search_number">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>LE    CROCIERE   TROVATE <span>12 </span></h2>
			</div>
		</div>
	</div>
</section>

<section id="offer-results">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-12 col-sm-12 remove-padding">
				<app-sidebar-search></app-sidebar-search>
			</div>			
			<app-offer-single-search></app-offer-single-search>	
		</div>
	</div>	    
</section>
 	